[2015-01-05 18:57] bryo5363 opened #1 "Sliders do not function properly"
I am currently testing on OSX 10.9.5. The sliders corresponding to indices of refraction does not function properly. When grabbing the slider node and lifting the cursor above the slider bar, the slider node will slide between the minimum and maximum values. After the node slides between 1.00 and 1.60 I noticed that if you click a position on the slider bar, the value of the index of refraction wi

[2015-01-05 19:29] bryo5363 opened #2 "Wave view of light does not run properly"
On the intro tab, click the wave view of light and access the intensity meter. Notice that every time you move the intensity meter, the wave of light will not render properly.

[2015-01-05 19:35] bryo5363 opened #3 "Vertical boundaries are not stable"
I noticed that when finely selecting the wavelength of the light the borders between the two mediums will shift up vertically by a pixel or two. Look at the screenshot for proper setup.
![screen shot 2015-01-05 at 12 33 22 pm](https://cloud.githubusercontent.com/assets/7717368/5618553/512899b8-94d7-11e4-9df0-19cfd453e7e1.png)

[2015-01-05 19:41] samreid commented on #2
Can you please provide a screenshot?

[2015-01-05 19:48] bryo5363 commented on #2
![bendinglight1](https://cloud.githubusercontent.com/assets/7717368/5618741/15d61cda-94d9-11e4-8ef4-b09939a7c182.gif)

[2015-01-14 18:36] phet-steele opened #4 "Wave emitter can't go horizontal"
Don't know if this is intentional or not, but I noticed that when wave is selected for the laser view, the laser is not able to be dragged to 0 degrees from horizontal. It's stuck here:
![wave](https://cloud.githubusercontent.com/assets/5863899/5744793/fae34bbe-9be0-11e4-904f-b6f248a9dfd6.png)
 As opposed to where it should be able to go:
![ray](https://cloud.githubusercontent.com/assets/5863899/5

[2015-01-14 19:08] phet-steele opened #5 "Wave still moves while sim is paused"
Starting on the More Tools tab:
1. Click the wave option for the laser view.
2. Turn on the laser.
3. Pause the sim.
4. Switch to either of the two other tabs.
5. Go back to the More Tools tab, and the wave will start moving while the sim is still paused.

I'm using Windows 8.1

[2015-01-15 16:45] orejolaphet opened #6 "Prisms screen performance is abysmal"
Tested on Windows 8 on Chrome

The sim becomes unusable after adding a few objects for the light to be refracted off, turning on settings i,e:
show normal
white light
show reflections
multiply rays

Performance becomes extremely poor and any interaction takes a minute for any response to be shown.
.

[2015-01-15 16:58] orejolaphet opened #7 "No limit for the amount of prisms a user can place on screen in "Prism Break""
I imagine we would like to place some limit on the amount of prisms of any given type the user can place on the screen? Otherwise I suspect there would be some performance issues. Related to https://github.com/phetsims/bending-light/issues/6

![bendinglightjava](https://cloud.githubusercontent.com/assets/5631059/5762050/a4f05e60-9c9c-11e4-970f-41a1a1bc33f2.PNG)

![bendinglightjava2](https://cloud.

[2015-01-15 17:06] orejolaphet opened #8 "There are no boundaries for movable objects."
It is fairly easy to remove objects  from the screen in view by the dragging of the object and re-sizing of window. This includes the prisms, tools, and laser pointer in the "Prism Break" scene.
![prismbrek](https://cloud.githubusercontent.com/assets/5631059/5762254/278a6338-9c9e-11e4-8194-de720c3e0050.PNG)
![moretool](https://cloud.githubusercontent.com/assets/5631059/5762258/2df966ec-9c9e-11e4-9

[2015-01-28 18:21] ariel-phet commented on #4
I believe this is intended functionality for the wave mode, since the wave representation would look odd at 90 degrees

[2015-01-28 18:21] #4 closed

[2015-01-28 18:27] ariel-phet commented on #5
@phet-steele can you try to produce this on a Win 7 or Mac?

[2015-01-28 18:51] phet-steele opened #9 "Sim speed slider not resetting"
The reset all does not return the sim speed during wave emission to its default setting.

Seen on Win 7 and 8.1

[2015-01-28 19:22] phet-steele commented on #5
I can't, and I also can't get it to reproduce on my computer where I first saw it. I must have missed something in the original set up when writing this issue and didn't include it. I would think to tentatively close this because I know for sure it was happening but haven't been able to get it to happen in the past hour. I'll let @ariel-phet decide if more time should be spent on this or if it sho

[2015-02-11 13:15] samreid opened #10 "The simulation should launch with ?ea query parameter"
?ea enables the assertion testing. Currently the simulation fails with this assertion error:

[code]

[2015-02-12 02:50] jonathanolson opened #11 "Should this sim be removed from the active-sims file for now?"
I was building all sims, and the lint (auto-Java-ported bits) filled my scrollback.

[2015-02-12 09:17] jonathanolson commented on #11
Removed for now.

[2015-02-12 13:21] samreid commented on #11
I'd rather keep it in active-repos and just comment out the offending code (will be several files).  @ChandrashekarBemagoni or @notsiddhartha can you take care of this?

[2015-02-12 16:29] jonathanolson commented on #11
It is still in active-repos. Do you mean active-sims?

[2015-02-12 16:29] samreid commented on #11
Yes.

[2015-02-12 21:07] samreid commented on #11
@notsiddhartha after you have completed the work, can you make a comment in this issue or email me or @jonathanolson, so we can update the active-sims list?  Thanks!

[2015-02-13 13:50] ChandrashekarBemagoni commented on #11
Fixed all grunt issues.

[2015-02-13 20:52] #11 closed

[2015-02-18 19:31] pixelzoom opened #12 "incorrect method of accessing properties in IntensityMeterNode"
While making a common-code refactor in IntensityMeterNode, I noticed this buggy code:

[code]
intensityMeter is a PropertySet, and properties can't be accessed this way.  If this code is reached, it will cause this error:

The correct code should be:

[code]

[2015-02-19 04:19] notsiddhartha opened #13 "What is the equivalent of a repeating linear gradient in scenery?"
I am trying to port the LightWaveNode to javascript. In the Java version, a cyclic GradientPaint is used for the alternating color pattern. What is the equivalent for this in Scenery?

[2015-02-19 04:20] samreid commented on #13
@jonathanolson can you answer this?

[2015-02-19 04:21] jonathanolson commented on #13
There's no way to directly do this using just LinearGradient. It will need to be transformed into an image and then used with Pattern.

[2015-02-19 04:22] samreid commented on #13
Thanks @jonathanolson.  @notsiddhartha let us know if you have further questions.

[2015-02-19 04:28] notsiddhartha commented on #13
Thanks @jonathanolson @samreid. Will try that.

I see that SVG has spreadMethod=repeat for linearGradient, is the lack of similar support in Canvas the reason for using Pattern?

[2015-02-19 04:34] jonathanolson commented on #13
Lack of support in Canvas is an obstacle since we use rendering to Canvas for screenshots in sims, and it would be fairly clunky to render it to Canvas nicely (would require including Canvg and working around a few issues, or writing our own support).

I'm not opposed to adding SVG-specific options to Scenery, however I doubt we'd want to use them in a simulation.

I'd like to hear @samreid's opin

[2015-02-19 04:41] samreid commented on #13
To answer @notsiddhartha's question: yes, we are using Pattern instead of SVG.spreadMethod=repeat so that it can be drawn in different renderers.

[2015-02-19 12:38] notsiddhartha commented on #13
Thanks @samreid. Closing.

[2015-02-19 12:38] #13 closed

[2015-03-08 17:46] pixelzoom opened #14 "Properties should have `Property` suffix"
See https://github.com/phetsims/beers-law-lab/issues/86

Examples of anti pattern (not exhaustive):

IntensityMeter: this.value = new Property( NaN )
BendingLightView: var showRotationDragHandles = new Property( false );
BendingLightView: var showTranslationDragHandles = new Property( false );
LaserView: var wavelength = new Property( model.wavelengthPropertyProperty.value * 1E9 );

[2015-03-11 15:10] samreid opened #15 "Cursor arrow should turn into a hand when over the protractor in the control panel"
Cursor arrow should turn into a hand when over the protractor in the control panel.  Observed during our March 11 meeting.

[2015-03-18 14:48] samreid opened #16 "Error when using Wave Mode"
When selecting wave mode with the chrome dev tools open, I see this error
`TypeError: undefined is not a function`

[code]

[2015-03-18 14:50] samreid opened #17 ""Normal" and "Environment" not internationalized"
I launched the sim with this query parameter `stringTest=x` and noticed a few strings that are not yet internationalized.

[2015-03-31 05:54] kmsravindra opened #18 "Slow and Fast buttons to be made functional"
Slow and Fast buttons currently seem to be non-functional.

[2015-03-31 05:58] kmsravindra opened #19 "Protractor z-order should be on top of all the rays"
Protractor z-order should be on top of all the rays

[2015-03-31 06:00] kmsravindra opened #20 "Reset should reset the angle of the torch as well"
Reset functionality should reset the angle of the torch to a default initial angle as per the java sim

[2015-03-31 06:09] kmsravindra opened #21 "Laser view - Wave mode - Issue1"
1. For large angles of incidence ( > 60 degrees or so), the incident light wave is broken at the medium separation line.

[2015-03-31 06:47] kmsravindra opened #22 "Wave mode performance on iPad2"
The performance in the Ray mode seems ok but the performance in wave mode needs to be improved.

[2015-03-31 13:53] ChandrashekarBemagoni commented on #20
Fixed in above commit. Assigning to @kmsravindra for verification

[2015-03-31 13:54] ChandrashekarBemagoni commented on #19
Fixed in above commit. Assigning to @kmsravindra  for verification

[2015-03-31 13:55] ChandrashekarBemagoni commented on #18
Fixed in above commit. Assigning to @kmsravindra for verification

[2015-03-31 14:54] kmsravindra commented on #18
Looks good. Closing.

[2015-03-31 14:54] #18 closed

[2015-03-31 14:55] kmsravindra commented on #20
Looks good. Closing.

[2015-03-31 14:55] #20 closed

[2015-03-31 14:55] kmsravindra commented on #19
Looks good. Closing.

[2015-03-31 14:55] #19 closed

[2015-03-31 20:17] pixelzoom opened #23 "branch: webgl"
Please describe this branch and what the plans are for it.

[2015-04-01 16:40] kmsravindra commented on #21
Looks good. Closing.

[2015-04-01 16:40] #21 closed

[2015-04-01 16:41] kmsravindra opened #24 "Laser view - Wave mode - Issue2"
1. Frequently there appears a sharp crest which is unlike the other crests in all the waves - incident wave, reflected wave and refracted wave.
2. In reflected wave, white and red lines appear occasionally

[2015-04-02 04:48] samreid opened #25 "Performance optimization for Wave View"
I discussed wave view performance with @jonathanolson today and we concluded:

The approach that would yield the best performance would be to use WebGLNode and use a fragment shader that looks up the color for the pixel.
Then there would be 6 webgl triangles, 2 for each of the beams.
We could use charges-and-fields as an example (though it is doing double buffering, so it is a bit more complex)
Si

[2015-04-08 10:29] kmsravindra commented on #25
@ariel-phet, need your direction on this performance issue where we are currently stuck.

We have tried quite a few alternative approaches to address this performance issue – 1. Having particles on a canvas, 2. using scenery pattern , 3. moving images on a canvas, 4. moving a single large image on a canvas. None of the above options have yielded a successful result so far in terms of performance o

[2015-04-21 09:17] kmsravindra commented on #25
We did a some prototyping on WebGL node, relevant to the Bending light sim. Based on the initial set of results, the performance of the prototype turned out to be promising. So as per the direction from Ariel, WebGL implementation will be done on wave view node across 2 screens where it occurs viz., “Intro” screen and “More tools” screen.

[2015-04-30 04:51] kmsravindra opened #26 "Prisms - The white light ray thickness"
The red light ray thickness matches but for the white light ray, the thickness in the Javascript ported sim looks 1px thicker than the Java sim. Perhaps this could also be the reason for a more diffused dispersion  - the rays suffering dispersion are not sharp unlike Java sim.

[2015-04-30 04:54] kmsravindra opened #27 "Mouse cursor to change to hand while hovering on Prisms shapes / Torch"
In Java sim the mouse cursor changes to hand while hovering on 1. Shapes, 2. Torch.

Need to replicate this in javascript sim as well

[2015-04-30 05:00] kmsravindra opened #28 "Rotation / Translation green arrows"
1. The two arrows representing rotation are thicker and shorter in Java sim
2. The four arrows representing x-y translation in Java sim are -
A. shorter,  B. thinner and C. and origin of all the four arrows is centered on the torch

Please refer Java sim.

[2015-04-30 05:27] kmsravindra opened #29 "Performance with white light, multiple rays"
As expected and similar to the Java sim, the performance with white light mode decreases significantly compared to the single color mode. It starts getting degraded more and more as more shapes, reflections, normal, multiple rays options are loaded. @ariel-phet, Request your direction on this.

[2015-04-30 05:34] kmsravindra opened #30 "Introducing a prism in White light, multiple ray mode distorts the middle white ray"
To replicate the issue -
1. Choose white light, multiple ray mode
2. Switch on the torch
3. Introducing any prism shape into the white light rays.

Notice the distortion of the middle white ray that happens somewhere in between the torch and prism.

[2015-04-30 05:57] kmsravindra opened #31 "Speed sensor read out"
The speed sensor read out be 1.00 c like in Java sim. Currently it shows 1 c

[2015-04-30 06:08] kmsravindra opened #32 "Speed sensor z-order should be above torch"
Speed sensor z-order to be above the torch but below the time-graph plotter.

[2015-04-30 06:18] kmsravindra opened #33 "Speed sensor boundaries for read out"
Speed sensor boundaries to be adjusted for read out in wave mode. Please see image below.

![image](https://cloud.githubusercontent.com/assets/3147499/7407357/c047dafa-ef2e-11e4-8151-263619615148.png)

[2015-04-30 06:23] kmsravindra opened #34 ""Time - graph plotter" sensor boundaries to be adjusted"
Time - graph plotter sensor boundaries to be adjusted for read out in wave mode. Please see image below.
The black probe is reading the wave although its outside wave and white probe is not reading the wave although its inside the wave.

![image](https://cloud.githubusercontent.com/assets/3147499/7407426/6f15f634-ef2f-11e4-9041-e884dfc2ff6d.png)

[2015-04-30 06:40] kmsravindra opened #35 "Testing with mock-up overlay"
There are several positional changes and size changes to be done across all three sims to replicate the mock-ups. Please refer to the attached images.

Intro sim -
![image](https://cloud.githubusercontent.com/assets/3147499/7407580/ae029ae4-ef31-11e4-9f4c-a312ef535406.png)

Prisms sim -
![image](https://cloud.githubusercontent.com/assets/3147499/7407584/b9c0f2c2-ef31-11e4-870b-675345b4df71.png)

M

[2015-04-30 06:48] kmsravindra opened #36 "Single ray switch shows extended length of ray in firefox"
In Firefox browser, the single ray switch shows extended length of ray. Please see image below

![image](https://cloud.githubusercontent.com/assets/3147499/7407744/da207776-ef32-11e4-9b66-9fc8ea1ca718.png)

[2015-04-30 06:51] kmsravindra opened #37 "Single light mode - Ray doesn't change color - firefox specific issue"
Single light mode - Ray doesn't change color on firefox. It only changes at the tip of the torch. Pls see image below -

![image](https://cloud.githubusercontent.com/assets/3147499/7407827/767c09b4-ef33-11e4-92dc-1a055a296339.png)

[2015-04-30 06:55] kmsravindra opened #38 "Rotating/Translating prism shapes in firefox"
While rotating the prisms under light rays, the rays seem to get broken or distorted at times. Some of the broken light rays are permanent on the screen (doesnt get reset as in second image below).

Please see images below for example -
![image](https://cloud.githubusercontent.com/assets/3147499/7407867/f5cf47b2-ef33-11e4-87f1-d388dd1745be.png)

![image](https://cloud.githubusercontent.com/assets/

[2015-04-30 06:59] kmsravindra opened #39 "Intensity sensor read out boundaries to be adjusted"
Please see images below -

![image](https://cloud.githubusercontent.com/assets/3147499/7407895/6807ded4-ef34-11e4-9ade-5c6a239298c8.png)

![image](https://cloud.githubusercontent.com/assets/3147499/7407900/7ca7fcfc-ef34-11e4-906e-4101f9a4fde8.png)

[2015-04-30 07:05] kmsravindra opened #40 "Color of the medium not appearing properly - firefox"
Please see the image below. The purple color doesnt fill up the entire medium space on firefox.

![image](https://cloud.githubusercontent.com/assets/3147499/7407966/4f4a420a-ef35-11e4-91b0-f82f1d42c06a.png)

[2015-04-30 07:10] kmsravindra opened #41 "Dragging the Intensity sensor on firefox causes color rending issues (specific to firefox)."
Dragging the Intensity sensor on firefox causes color rending issues. Once this dragging is done, then
other related issues seem to appear - This white distortion doesnt get reset, Switching on the torch produces broken rays etc.,

Please see image below.
![image](https://cloud.githubusercontent.com/assets/3147499/7408053/2ab2fe5e-ef36-11e4-9d8a-f87efefc909a.png)

[2015-04-30 07:13] kmsravindra opened #42 "The medium boundaries doesnt seem properly aligned on firefox"
Pls see image below
![image](https://cloud.githubusercontent.com/assets/3147499/7408065/666ae45c-ef36-11e4-8854-ca0e13c7b234.png)

[2015-04-30 07:50] kmsravindra opened #43 "Dragging "Time-Graph" plotter in Safari browser makes the torch disappear for a moment"
The torch disappears for a moment while dragging the Time-Graph plotter in safari bowser on Mac.

[2015-04-30 11:15] ChandrashekarBemagoni commented on #31
Fixed in above commit .Assigning to @kmsravindra for verification

[2015-04-30 11:16] ChandrashekarBemagoni commented on #27
Fixed in above commit. Assigning to @kmsravindra for verification

[2015-04-30 16:24] ariel-phet commented on #29
@kmsravindra - lets focus on just a single ray for white light mode. I think the multiple rays are not necessary for the white light mode. It would be good to get performance that matches the Java version for white light mode and a single ray.

[2015-05-01 18:57] samreid opened #44 "code review"
Even though the simulation has not been fully completed or QA tested, we wanted to start the code review early, so that @samreid will be able to work on it before his leave begins.  This will be the central issue for the code review, with sub-issues created and linked to this one or labeled with the "code-review" label.  Also, in order to increase the efficiency, quality and standardization of our

[2015-05-01 19:01] samreid commented on #44
63 files, lint free.  Builds properly, runs properly in requirejs mode and built mode.  No assertion errors noted when running under ?ea.

[2015-05-01 19:14] samreid opened #45 "The intensity sensor gets bigger when pressing "reset all""
The intensity sensor gets bigger when pressing "reset all", even if it had not been moved previously.  It should remain the same size when reset all is pressed in that case.  Here's a movie:

![bigger-sensor](https://cloud.githubusercontent.com/assets/679486/7435774/ed1a9128-f003-11e4-8975-5c1a82278c60.gif)

[2015-05-04 06:01] ChandrashekarBemagoni commented on #16
Fixed in  latest code. Assigning to @samreid  for review.

[2015-05-04 06:09] ChandrashekarBemagoni commented on #17
Fixed in above commit. Assigning to @samreid for verification.

[2015-05-04 06:11] ChandrashekarBemagoni commented on #15
Fixed in latest code. Assigning to @samreid for verification.

[2015-05-04 06:12] ChandrashekarBemagoni commented on #10
Fixed in above commit. Assigning to @samreid for verification

[2015-05-04 06:13] ChandrashekarBemagoni commented on #12
Fixed in above commit. Assigning to @pixelzoom for review.

[2015-05-04 06:14] ChandrashekarBemagoni commented on #14
Fixed in above commits. Assigning to @pixelzoom for review

[2015-05-04 06:38] ChandrashekarBemagoni commented on #45
Fixed in above commit .Assigning to @samreid for verification

[2015-05-04 13:38] ChandrashekarBemagoni commented on #32
Fixed in above commit . Assigning to @kmsravindra for verification

[2015-05-04 13:39] ChandrashekarBemagoni commented on #35
Fixed in above commits. Assigning to @kmsravindra for verification

[2015-05-04 22:22] pixelzoom commented on #14
Looks good, closing.

[2015-05-04 22:22] #14 closed

[2015-05-04 22:29] pixelzoom commented on #12
IntensityMeter.resetAll was changed to this:

[code]

Calling a supertype function like this is typically only done when you're overriding the supertype function and want to make sure that it's called.  For example, if your function was called `reset` and your subtype had additional thing to reset, then you'd do this:

[code]

Since the supertype (PropertySet) has no resetAll function, you should

[2015-05-05 10:37] ChandrashekarBemagoni commented on #28
Fixed in above commits. Assigning to @kmsravindra for verification

[2015-05-06 07:09] ChandrashekarBemagoni commented on #39
Intensity meter intersect with ray only not with the wave shape. A similar issue exists in the Java version as well.

[2015-05-06 07:12] ChandrashekarBemagoni commented on #12
Fixed in above commit. Assigning to @pixelzoom for review

[2015-05-06 09:15] ChandrashekarBemagoni commented on #33
Fixed in above commit. Assigning to @kmsravindra for verification

[2015-05-06 09:16] ChandrashekarBemagoni commented on #34
Fixed in above commit. Assigning to @kmsravindra for verification

[2015-05-06 09:17] ChandrashekarBemagoni commented on #26
Fixed in above commit. Assigning to @kmsravindra for verification

[2015-05-07 16:27] pixelzoom commented on #12
Getting closer... In IntensityMeter, you now have this:

[code]

This function can be removed entirely, since all that it's doing is calling the supertype function.  Ditto for Laser.reset and ProtractorModel.reset.

One more minor point in BendingLightModel.reset, currently implemented like this:

[code]

When overriding a supertype function, the supertype function is typically called first, follo

[2015-05-07 16:29] pixelzoom commented on #12
Note also the use of the JSdoc `@override` annotation when you override a supertype function.

[2015-05-08 04:46] kmsravindra commented on #39
@ChandrashekarBemagoni, you are correct. Closing this issue as the behavior is same as in Java version.

[2015-05-08 04:46] #39 closed

[2015-05-08 04:55] kmsravindra commented on #34
Looks good. Closing.

[2015-05-08 04:55] #34 closed

[2015-05-08 04:56] kmsravindra commented on #33
Looks good. Closing

[2015-05-08 04:56] #33 closed

[2015-05-08 04:56] kmsravindra commented on #32
Looks good. Closing

[2015-05-08 04:56] #32 closed

[2015-05-08 04:57] kmsravindra commented on #31
Looks good. Closing

[2015-05-08 04:57] #31 closed

[2015-05-08 04:58] kmsravindra commented on #28
Looks good. Closing

[2015-05-08 04:58] #28 closed

[2015-05-08 04:59] kmsravindra commented on #27
Looks good. Closing.

[2015-05-08 04:59] #27 closed

[2015-05-08 05:00] kmsravindra commented on #26
Looks good. Closing

[2015-05-08 05:00] #26 closed

[2015-05-08 05:03] kmsravindra opened #46 "White light ray appears broken before hitting the prism shape"
Pls refere the highlighted box to see what this broken affect looks like.

![scr3](https://cloud.githubusercontent.com/assets/3147499/7530858/a2dadb4e-f56d-11e4-9031-3c3fd0380b5c.png)

[2015-05-08 05:07] notsiddhartha commented on #42
The colors are also incorrect.

[2015-05-08 05:10] notsiddhartha commented on #23
This was an experimental branch created to implement a webgl node for wave and test its performance on iPad. This is not needed any more and can be deleted.

[2015-05-08 05:32] notsiddhartha commented on #22
The performance has improved after we implemented the webgl wave node. Assiging to @kmsravindra  for verification.

[2015-05-08 05:37] kmsravindra commented on #25
This has been implemented as planned and there has been a significant improvement in performance. So closing this issue.

[2015-05-08 05:37] #25 closed

[2015-05-08 05:38] kmsravindra commented on #22
The performance on iPad has significantly improved post WebGL implementation. So closing this issue.

[2015-05-08 05:38] #22 closed

[2015-05-08 05:45] kmsravindra opened #47 "Sometimes it is noticed that the rotation of prism gets stuck"
Sometimes it is noticed that the rotation of the prism gets stuck for no specific reason even if there was a single prism. I couldn't find a step by step method to re-generate the scenario. Seems to happen more frequently for white light mode (although it happens in one color mode as well but less frequently). Please check.

[2015-05-08 06:07] ChandrashekarBemagoni commented on #47
It's because of protractor node covering the prism ,in this case the protractor is in visible mode .

[2015-05-08 11:20] kmsravindra commented on #35
There are still some minor issues that need to be corrected. Please try to match them as closely as possible.

[2015-05-08 11:23] kmsravindra commented on #29
Performance in Single ray white light mode matches that of Java version post WebGL enabling. Closing this issue for now.

[2015-05-08 11:23] #29 closed

[2015-05-08 12:38] ChandrashekarBemagoni commented on #47
Fixed in above commit . Assigning to @kmsravindra for verification

[2015-05-08 12:39] ChandrashekarBemagoni commented on #46
Fixed in above commit. Assigning to @kmsravindra for verification

[2015-05-08 12:41] ChandrashekarBemagoni commented on #35
Fixed in above commit. Assigning to @kmsravindra for verification

[2015-05-08 12:56] ChandrashekarBemagoni commented on #12
Fixed in above commit. Assigning to @pixelzoom for review.

[2015-05-08 13:15] ChandrashekarBemagoni commented on #23
Deleted branch :webgl . Assigning to @pixelzoom for review.

[2015-05-08 13:22] ChandrashekarBemagoni commented on #30
It's same in  the Java version as well.

[2015-05-08 15:58] kmsravindra commented on #35
Looks good. Closing.

[2015-05-08 15:58] #35 closed

[2015-05-08 16:00] kmsravindra commented on #46
Looks good. Closing

[2015-05-08 16:00] #46 closed

[2015-05-08 16:00] kmsravindra commented on #47
Looks good. Closing

[2015-05-08 16:00] #47 closed

[2015-05-08 16:05] kmsravindra commented on #30
Now the issue looks fixed after implementing the fix for. Closing.

[2015-05-08 16:05] #30 closed

[2015-05-08 16:37] pixelzoom commented on #12
Looks good, closing.

[2015-05-08 16:37] #12 closed

[2015-05-08 16:37] #23 closed

[2015-05-09 14:10] samreid commented on #45
Can @pixelzoom or @jbphet review this?

[2015-05-09 14:11] samreid commented on #45
Or we can save this testing until QA test time.

[2015-05-09 14:11] samreid commented on #44
Since I am on leave, another developer such as @pixelzoom will be handling the review when it is time.

[2015-05-11 17:56] pixelzoom commented on #45
Looks like the fix was effective, and I see where the proper scale is now being set in the rest function. Closing.

[2015-05-11 17:56] #45 closed

[2015-05-14 07:08] ChandrashekarBemagoni opened #48 "Wave WebGL rendering in intro Screen is also appearing in MoreTools screen and vice versa"
WaveWebGL rendering in Intro screen and MoreTools screen are one affecting others. Even though in both screens WaveWebGLNode instance is different .
![webgl](https://cloud.githubusercontent.com/assets/7919831/7627472/58425bee-fa35-11e4-9e15-7f0c049301a0.gif)

[2015-05-14 08:00] ChandrashekarBemagoni commented on #43
Not able to replicate the issue with the latest code. Assigning to @kmsravindra for verification

[2015-05-14 12:57] ChandrashekarBemagoni commented on #24
Fixed  here :https://github.com/phetsims/bending-light/commit/c6842e667c58205423f8374e396f99db6e652440  .  Assigning to @kmsravindra for verification
To Test canvas version  : http://localhost:63342/PhetSimulations/bending-light/bending-light_en.html?webgl=false.

[2015-05-15 20:22] samreid commented on #16
I no longer see that error in the console, closing.

[2015-05-15 20:22] #16 closed

[2015-05-15 20:23] samreid commented on #15
Looks great, nice work.  Closing.

[2015-05-15 20:23] #15 closed

[2015-05-15 20:26] samreid commented on #10
All screens now launch with ?ea.  Closing.

[2015-05-15 20:26] #10 closed

[2015-05-22 06:23] ChandrashekarBemagoni commented on #48
This  issue  not there in current master version.

[2015-05-22 06:23] #48 closed

[2015-05-22 20:48] aaronsamuel137 opened #49 "constrainBounds is deprecated"
We decided in https://github.com/phetsims/charges-and-fields/issues/39 to deprecate constrainBounds and add a method to Bounds2 "closestPointTo".

This should be used in the future instead of ```ConstraintBounds.constrainLocation``` and eventually we should get rid of the file ConstraintBounds altogether.

[2015-05-23 12:33] ChandrashekarBemagoni commented on #49
Fixed in above commit. Assigning to @ @aaronsamuel137 for review

[2015-05-23 21:06] aaronsamuel137 commented on #49
Looks great! Closing

[2015-05-23 21:06] #49 closed

[2015-05-30 11:44] kmsravindra commented on #24
Closing.

[2015-05-30 11:44] #24 closed

[2015-05-30 11:50] kmsravindra commented on #43
This is not appearing for me as well in the latest code that I tested with. Closing.

[2015-05-30 11:50] #43 closed

[2015-05-31 01:34] ariel-phet opened #50 "Bending Light Master Checklist"
## Design
- [x] **Design doc created** (Date: 01/13/2015)
  - [x] Make phethelp@gmail.com owner, share with phet-team
  - [x] Add to [Master Doc List](https://docs.google.com/document/d/1yjT1oE95JG_evwob9LB_De-brD7JpfFM6iIL6pF812k/edit#)
- [x] **Legacy sim docs/info gathered**
- [x] **Learning goals and standards identified** (Date: 01/16/2015)
- [x] **Design concept complete**  (Date: 01/17/2015)

[2015-06-01 16:04] bryo5363 opened #51 "Normal for white light should be a single line centered within the distribution"
Steps to reproduce

1) open sim
2) open prisms
3) drag a few prisms into the light boundaries; try to transmit as much light as possible through the prisms
4) turn on normal and reflected
5) turn on white light

Here is a picture of the sim without white light

![bendinglightscreenshot1](https://cloud.githubusercontent.com/assets/7717368/7917116/29022922-0845-11e5-9c65-922a135b1868.png)

Here is a

[2015-06-01 16:16] orejolaphet opened #52 "Environment Dropdown selection covered by white/color light choice"
The dropdown environment selection on the Prisms Screen is covered by the tool box for white/color light choice.
![screen shot 2015-06-01 at 10 14 51 am](https://cloud.githubusercontent.com/assets/5631059/7917386/4a7bbeb8-0847-11e5-8094-da48d052d7e6.png)

Troubleshooting information (do not edit):
Name: Bending Light
URL: http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.3/bend

[2015-06-01 16:17] orejolaphet commented on #52
Seen on OSX 10.10.1 Chrome 42 & Safari 8

[2015-06-01 16:22] bryo5363 opened #53 "Render white light with WebGL"
I noticed this issue on Chrome 43.0.2357.81 m on Windows 7

When enabling the white light feature on the Prisms portion of the simulation, the performance of the simulation is slowed down tremendously.

[2015-06-01 16:25] bryo5363 commented on #53
In addition to this, I noticed the simulation will run slow if many prisms are dragged into the boundary and multiple rays of light are selected. This does not need white light to be enabled

[2015-06-01 16:33] orejolaphet opened #54 "Laser can be vertically removed from display on Prisms Screen"
The Laser can be removed from play area on Prisms Screen.

To reproduce:
Open sim
Select Prisms Screen
Rotate Laser such that it stands vertically
Drag Laser to the top of the screen

![screen shot 2015-06-01 at 10 28 50 am](https://cloud.githubusercontent.com/assets/5631059/7917726/88390128-0849-11e5-9414-96c80928012c.png)
![screen shot 2015-06-01 at 10 29 02 am](https://cloud.githubusercontent.c

[2015-06-01 16:37] bryo5363 commented on #54
I could not reproduce this issue on Chrome 43 Windows 7

[2015-06-01 16:48] bryo5363 opened #55 "Why is there not a value reading slider for index of refraction in 'Prism' mode?"
I am not sure if this was intentional or not but the 'Into' and 'More Tools' tabs both have value reading sliders as shown below while the 'Prisms' tab does not

![bendinglightscreenshot3](https://cloud.githubusercontent.com/assets/7717368/7918025/b9050642-084b-11e5-8674-eb2672695d93.png)

This is on the Prisms tab

![bendlinglightscreenshot4](https://cloud.githubusercontent.com/assets/7717368/791

[2015-06-01 16:56] bryo5363 opened #56 "Laser boundaries for ray vs wave are not consistent with one another"
I noticed that the laser can be tilted fully horizontally when ray is selected while the laser will not reach its full horizontal position when in wave mode

Ray
![bendinglightscreenshot5](https://cloud.githubusercontent.com/assets/7717368/7918189/cb3aa276-084c-11e5-89f7-907e754100c6.png)

Wave
![bendinglightscreenshot6](https://cloud.githubusercontent.com/assets/7717368/7918195/d0ae0e96-084c-11e5

[2015-06-01 17:03] phet-steele commented on #9
Fixed

[2015-06-01 17:03] #9 closed

[2015-06-01 17:08] phet-steele commented on #8
The intensity meter could have a better lower bound, and the velocity meter needs a better upper bound. Everything else stays in the bounds.

[2015-06-01 17:10] phet-steele commented on #7
To keep this up to date, still no limit in HTML5 1.0.0-dev.3

[2015-06-01 17:13] phet-steele commented on #6
Performance is still in issue in 1.0.0-dev.3 as per #53

[2015-06-01 17:15] phet-steele commented on #5
I don't believe this is an issue in 1.0.0-dev.3.

[2015-06-01 17:15] #5 closed

[2015-06-01 17:19] phet-steele commented on #3
Do you see this any more @bryo5363? I don't.

[2015-06-01 17:24] phet-steele commented on #2
I do remember seeing this in the past, and I no longer do in 1.0.0-dev.3. Closing.

[2015-06-01 17:24] #2 closed

[2015-06-01 17:35] phet-steele opened #57 "Dragging index sliders has different min/max values than clicking the index arrows"
Currently on the More Tools screen, I can drag the sliders for the index of refraction to farther mins and maxes than I can by just clicking the right and left arrows.

Sliding I reach 1.000 and 1.606:
![slide values](https://cloud.githubusercontent.com/assets/5863899/7918813/5eb2412c-0851-11e5-8357-b11ff03136a5.PNG)

Clicking I reach 1.005 and 1.602
![click values](https://cloud.githubusercontent

[2015-06-01 21:22] arnabp commented on #54
I could not reproduce this issue on Safari 8 Mac Yosemite 10.10

[2015-06-01 21:30] arnabp commented on #51
My understanding of this was that there is a normal line for each color of light that's split, so the normal lines multiply and the effect is intentional, right?

[2015-06-01 21:43] arnabp opened #58 "Time tool does not reflect wave speed?"
The "Time" tool that shows the waveforms for the different light waves shows two waves, which are said to have different speed by the Speed tool, traveling at the same speed with the same wavelength (only amplitude and phase shift are different).

![wave speed](https://cloud.githubusercontent.com/assets/8583364/7924002/1f0927e2-0875-11e5-9a50-fa7db0bf9318.png)

[2015-06-01 21:52] arnabp opened #59 "Wave view causes time graph to slow down"
When measuring the light using the "Time" tool, the graph is much faster when selecting a ray than when selecting a wave, even though the two light types are the same and the speed tool does not indicate any change in speed.

Troubleshooting information (do not edit):
Name: Bending Light
URL: http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.3/bending-light_en.html
Version: 1.0

[2015-06-02 16:15] bryo5363 opened #60 "Laser and beam are not in same plane"
When dragging the laser towards the environment and light selection boxes I noticed that the laser will be placed on top of the boxes while the beam will be behind the boxes.

![screen shot 2015-06-02 at 10 15 05 am](https://cloud.githubusercontent.com/assets/7717368/7940775/4988efe8-0910-11e5-913c-30f95b2fa42f.png)

[2015-06-02 16:34] bryo5363 opened #61 "Different amount of significant digits for intro and more tools"
For indices of refraction, the Intro tab has one less significant digit than the 'More Tools' tab. Not sure if this was intentional or not.

[2015-06-02 16:35] orejolaphet opened #62 "Laser behaves as if the source was enclosed in prisms"
On the Prisms Screen if you bring a prism close enough to the diode the laser behaves as if it was completely enclosed in the medium.

Normal Distance:
![screen shot 2015-06-02 at 10 32 25 am](https://cloud.githubusercontent.com/assets/5631059/7941230/110c8960-0913-11e5-85b9-fffc71dd9e45.png)

Critical Distance:
![screen shot 2015-06-02 at 10 32 17 am](https://cloud.githubusercontent.com/assets/56

[2015-06-02 16:36] bryo5363 commented on #3
@phet-steele I do not notice this anymore. Closing

[2015-06-02 16:36] #3 closed

[2015-06-02 16:44] orejolaphet opened #63 "White light is not rendered the extent of the entire screen"
The white light laser is not rendered for the length of the screen as opposed to any other color laser

Normal Red laser:
![screen shot 2015-06-02 at 10 41 42 am](https://cloud.githubusercontent.com/assets/5631059/7941394/378a7a6a-0914-11e5-98ac-88a232031537.png)

White light laser:
![screen shot 2015-06-02 at 10 41 53 am](https://cloud.githubusercontent.com/assets/5631059/7941403/3cb85c46-0914-11

[2015-06-02 16:44] bryo5363 commented on #54
I reproduced this issue on OSX 10.9.5 Safari 7.1 but with a different method

1) enlarge screen as wide as you can
2) open prisms
3) rotate laser to its minimum position
4) drag the laser downwards

[2015-06-02 16:51] bryo5363 commented on #63
We also noticed that the white line comes out quite pixelated
![screen shot 2015-06-02 at 10 51 16 am](https://cloud.githubusercontent.com/assets/7717368/7941557/52f3d5f2-0915-11e5-94ce-bf4e4ea4dd78.png)

[2015-06-02 16:51] arouinfar commented on #52
Also seen on OSX 10.9.5 and Chrome 43. The drop down should be layered above the panel.

[2015-06-02 17:09] bryo5363 commented on #63
Here is a picture of dispersed white light

![screen shot 2015-06-02 at 11 07 51 am](https://cloud.githubusercontent.com/assets/7717368/7941908/b09da1f4-0917-11e5-8f3b-79ce574e0271.png)

Here is the same setup with red light

![screen shot 2015-06-02 at 11 08 37 am](https://cloud.githubusercontent.com/assets/7717368/7941918/bfc619f4-0917-11e5-96a2-deedd3c0cbab.png)

[2015-06-02 17:13] orejolaphet opened #64 "Should Environment, Object, and Material drop down menus match the slider location?"
For these options
![screen shot 2015-06-02 at 11 08 50 am](https://cloud.githubusercontent.com/assets/5631059/7941963/08783696-0918-11e5-91a5-0a12bd02251e.png)
![screen shot 2015-06-02 at 11 08 54 am](https://cloud.githubusercontent.com/assets/5631059/7941964/09be3438-0918-11e5-9419-35b8621161a9.png)
![screen shot 2015-06-02 at 11 08 36 am](https://cloud.githubusercontent.com/assets/5631059/794196

[2015-06-02 17:41] arouinfar commented on #61
Nice catch, @bryo5363! Having an additional decimal place on the More Tools screen was an intentional design decision, since it functions as a Lab screen. I'll close this issue once I'm added as a collaborator to this repo.

[2015-06-02 17:46] arouinfar commented on #56
This behavior is also present in the Java sim. In wave mode the beam is much thicker. I think it would be problematic to allow the beam to sit so that half of it was above the surface and half of it below, which is what would happen if the laser was allowed to be fully horizontal. This situation is also not something that is addressed by the learning goals, so I think this behavior is fine as is.

[2015-06-02 17:48] #61 closed

[2015-06-02 17:48] #56 closed

[2015-06-02 17:59] arouinfar commented on #58
Great observation, @arnabp!

The wavelength of light is affected by the index of refraction of the medium, but the frequency is not, resulting in a changing speed. The spacing of the bright and dark spots (corresponding to peaks and valleys of the wave) are more closely spaced with a higher n, indicating a shorter wavelength. However, this change in wavelength is minute (for example, red light wil

[2015-06-02 17:59] #58 closed

[2015-06-02 19:26] arouinfar commented on #54
I reproduced this issue on OSX 10.9.5 in Chrome 43 using the method @orejolaphet described. I found that the laser was still retrievable if I hovered over the edge of the browser window where the laser was dragged out.
![image](https://cloud.githubusercontent.com/assets/8419308/7944916/ccf0272e-092a-11e5-8f7b-e00daeb48657.png)

[2015-06-02 19:45] arouinfar commented on #53
I also noticed this while using OSX 10.9.5 and Chrome 43. Even with a single prism, the performance is unacceptably sluggish when using White Light.

[2015-06-02 19:58] arouinfar commented on #64
Good observation, @orejolaphet. This behavior is intentional and consistent with the Java sim. The drop down menu will always display "Custom" if the slider and/or tweakers are used to change the index of refraction (even if located at Air, etc.). We thought it would be distracting to have the drop down menu change its display while sliding through the values of the drop-down menu options.

[2015-06-02 19:58] #64 closed

[2015-06-02 20:07] arouinfar commented on #51
@arnabp is correct, though I don't find the thicker lines to be all that useful. Without being able to zoom in, it is impossible to resolve groups of normal lines.
![image](https://cloud.githubusercontent.com/assets/8419308/7945557/c6615d84-092e-11e5-98dc-6c79215bebb5.png)

@bryo5363's screenshots also demonstrate #63. The white light does not propagate beyond the dev boundaries, but monochromatic

[2015-06-02 20:08] arouinfar commented on #55
This was an intentional design decision, @bryo5363. Instructors may wish to have their students calculate n, or work more qualitatively on this screen.

[2015-06-02 20:08] #55 closed

[2015-06-02 20:28] arouinfar commented on #63
It looks like white light is restricted to the dev boundary, but it should extend to the viewable area of the screen. I suspect this may be related to performance issues related to white light (#53), but the behavior should be consistent with monochromatic light.

[2015-06-02 21:41] arnabp opened #65 "Intensity meter only works on small section of wave"
When the light hits a strong dense medium at a sharp angle, the total area covered by the wave is larger, but the area where the intensity meters works is not, making it so that you can cover the entire intensity meter in the wave and still have it detect nothing. This is not true for the speed and time meters.

![wave intensity measurement](https://cloud.githubusercontent.com/assets/8583364/79479

[2015-06-02 23:48] arouinfar commented on #51
This issue should be brought to the design team for discussion. There are a few options:
- Keep the normal lines as they are now
- A single normal line that falls in the middle of the distribution
- A single normal line for a single color at the edge of the distribution (i.e. red or violet)

Self-assigning for now.

[2015-06-02 23:53] arouinfar commented on #60
This behavior is present in the Java sim.

While it makes sense for the laser and beams to live the same layer, I think it's best if beams stay behind the panels. For example, this would look pretty messy if the beams were layered above the panel:

![image](https://cloud.githubusercontent.com/assets/8419308/7945303/1c4fbc60-092d-11e5-8dc5-56c8279281d7.png)

I also prefer that the laser is layered

[2015-06-03 00:03] arouinfar commented on #57
At first I was unable to reproduce this issue, because I had the wavelength at the default of 650nm. If I set the value of n to 1.600 and then reduce the wavelength to 380 nm, the index of refraction will become 1.622. This behavior exists because the index of refraction of depends on the wavelength (inversely related). The Java sim also behaves similarly.

[2015-06-03 13:22] ChandrashekarBemagoni commented on #52
Fixed in above commit. Assigning to @orejolaphet for verification

[2015-06-03 13:23] ChandrashekarBemagoni commented on #8
Fixed in above commit. Assigning to @phet-steele  for verification

[2015-06-03 13:24] ChandrashekarBemagoni commented on #57
Fixed in above commit. Assigning to @phet-steele for verification

[2015-06-03 15:39] arouinfar commented on #8
The tools should never be able to completely leave the visible area of the screen. Some tools are able to leave dev boundaries even if those areas of the screen are not visible. There are also some tools with inconsistent behavior when comparing left vs. right, top vs. bottom dev boundaries. Specifically:
- [ ] The body of the intensity meter can leave the right and bottom dev borders (even when t

[2015-06-03 15:40] arouinfar commented on #8
I didn't see @ChandrashekarBemagoni's comment when making this list, sorry about that. @phet-steele  please use the checklist I created when verifying the the issue.

[2015-06-03 15:48] arouinfar commented on #65
It looks like the intensity meter is pickier about being more centrally located in the beam. These screenshots show closet the meter can get to the edge of the beam before it ceases to work:
![image](https://cloud.githubusercontent.com/assets/8419308/7964518/5ce1c900-09d5-11e5-9fce-9732663a8ca6.png) ![image](https://cloud.githubusercontent.com/assets/8419308/7964532/6e00e4be-09d5-11e5-80f3-d655758

[2015-06-03 15:52] arouinfar opened #66 "Tools should be layered above panels"
On the Intro and More Tools screens, the intensity meter and protractor should be layered above the panels like the speed and wave detector tools. They can currently go behind the panels:
![image](https://cloud.githubusercontent.com/assets/8419308/7964614/e4fe4868-09d5-11e5-848b-dae62dc5c18a.png)

[2015-06-03 15:55] arouinfar opened #67 "Laser button looks depressed when turned off"
The button on the laser looks depressed even when the laser is turned off:
![image](https://cloud.githubusercontent.com/assets/8419308/7964682/4e6431c8-09d6-11e5-8cf1-739123b6844c.png)

Color Vision uses a similar button on the flashlight and the button:
![image](https://cloud.githubusercontent.com/assets/8419308/7964704/6830c5e4-09d6-11e5-806f-64f67b12fdbb.png)

The button from Color Vision shoul

[2015-06-03 16:04] arouinfar opened #68 "Spacing between Reflections, Normal, Protractor checkboxes does not match mockup"
On the Prisms screen, the checkboxes for Reflections, Normal, and Protractor should be equally spaced.

dev. 3:
![image](https://cloud.githubusercontent.com/assets/8419308/7964816/14de7dd6-09d7-11e5-8eb2-67928e482c58.png)

Mockup:
![image](https://cloud.githubusercontent.com/assets/8419308/7964949/a43075ca-09d7-11e5-9209-2b11635c0ad7.png)

[2015-06-03 16:07] arouinfar opened #69 "Laser in single/multi beam scene selection buttons does not match mockup"
The artwork for the laser in the single/multi beam scene selection buttons does not match the mockup.It looks like all four corners of both rectangles have been rounded, but only those on the right side should be rounded.

dev.3:
![image](https://cloud.githubusercontent.com/assets/8419308/7965028/14d95c1a-09d8-11e5-8d9f-8df5caebbb05.png)

Mockup:
![image](https://cloud.githubusercontent.com/assets

[2015-06-03 17:36] arouinfar opened #70 "Environment combo box opens outside of dev"
On the Prisms screen, the Objects drop down menu opens out of the dev boundary.
![image](https://cloud.githubusercontent.com/assets/8419308/7966864/012516c6-09e4-11e5-89a7-2947e547ca95.png)

This issue is also present in the Java version.  The menu opens outside of the window:
![image](https://cloud.githubusercontent.com/assets/8419308/7966884/204c0bea-09e4-11e5-8972-a9ed360c6d21.png)

This menu s

[2015-06-03 17:40] arouinfar opened #71 "Prisms can be lost behind the panels"
On the prisms screen, it is possible to drag prisms behind the panels and lose them.

Dragging a prism behind the panel (but not yet hiding):
![image](https://cloud.githubusercontent.com/assets/8419308/7965126/c335b2e0-09d8-11e5-8ef3-ab1a3f262142.png)
In the screenshot below, the prism has been dragged completely behind the panel, but a lens has been dragged into the playspace. If you are unaware

[2015-06-03 17:52] arouinfar opened #72 "Touch areas do not match spec"
There are a few issues with the touch areas in dev.3.

- [x] There are overlapping touch areas on the wavelength sliders on the Prisms and More Tools screens. The touch areas on the tweakers should be reduced in height so they do not overlap the slider bar.

dev.3 (left) and Mockup (right):
![image](https://cloud.githubusercontent.com/assets/8419308/7967129/89c4a3d8-09e5-11e5-98ba-778b21c32945.png

[2015-06-03 19:02] bryo5363 commented on #66
Tools are also layered underneath the wave

![screen shot 2015-06-03 at 1 00 59 pm](https://cloud.githubusercontent.com/assets/7717368/7968912/d09e43bc-09f0-11e5-8b48-a41d423458ba.png)

[2015-06-03 19:19] arouinfar commented on #66
It looks like only the Intensity meter is layered beneath the wave. This probe should remain behind the  wave, but the body of the tool would be more visible above the wave. If the probe and body can live is different layers, it would be best to move the <i>body</i> of the intensity meter on top of the wave.

[2015-06-03 19:30] bryo5363 opened #73 "When wave is perpendicular to boundary, can measure different vectors for velocity"
This is a recurring issue on many other sims that have the ability to drag some sort of "hose".

![screen shot 2015-06-03 at 1 26 14 pm](https://cloud.githubusercontent.com/assets/7717368/7969455/2dceb424-09f4-11e5-9a90-e9d37ecb3d69.png)

when dragging the meter downwards, the vector will flip up

![screen shot 2015-06-03 at 1 26 23 pm](https://cloud.githubusercontent.com/assets/7717368/7969491/69

[2015-06-03 19:58] arouinfar commented on #57
@phet-steele and I confirmed that the issue has been fixed. Closing.

[2015-06-03 19:58] #57 closed

[2015-06-04 13:59] ChandrashekarBemagoni commented on #69
Fixed in above commit. Assigning to @arouinfar  for verification

[2015-06-04 14:03] ChandrashekarBemagoni commented on #68
Spacing between Reflections, Normal, Protractor check boxes is different , it's because protractor check box height includes icon  dimensions also. So Reduced protractor icon scale  to maintain equal space between.

[2015-06-04 14:03] ChandrashekarBemagoni commented on #68
Fixed in above commit. Assigning to @arouinfar for verification

[2015-06-04 14:08] ChandrashekarBemagoni commented on #67
Now  laser button as same as color vision

[2015-06-04 14:11] ChandrashekarBemagoni commented on #66
Present tools layering order is  matching java version.

[2015-06-04 14:14] ChandrashekarBemagoni commented on #65
Currently it's matching java version.Assigning to @arouinfar for verification

[2015-06-04 17:01] arouinfar commented on #65
@ChandrashekarBemagoni is correct. The behavior currently matches the Java sim.

@ariel-phet, is this something we would like to address when PhET takes over the development?

[2015-06-04 17:06] arouinfar commented on #66
I've confirmed that the layering matches the Java version, @ChandrashekarBemagoni.

I've also found that the intensity meter is layered behind the normal. All other meters are layered on top of the normal.
![image](https://cloud.githubusercontent.com/assets/8419308/7989820/739dd7ae-0aa9-11e5-9efe-92c1032b7436.png)

@ariel-phet, I think we should address the layering before release.

[2015-06-04 17:12] arouinfar commented on #67
Thanks, @ChandrashekarBemagoni. The button now matches Color Vision, but it appears to be upside down. At the default position, the highlight should be in the upper left corner.

The laser in the latest pull has the white highlight on the bottom.
![image](https://cloud.githubusercontent.com/assets/8419308/7989902/40022b74-0aaa-11e5-9b5b-ded05dceec54.png)

Color vision has the highlight in the uppe

[2015-06-04 17:13] arouinfar commented on #68
Thanks, @ChandrashekarBemagoni! Closing.

[2015-06-04 17:13] #68 closed

[2015-06-04 17:14] arouinfar commented on #69
Looks great, @ChandrashekarBemagoni! Closing.

[2015-06-04 17:14] #69 closed

[2015-06-04 17:45] phet-steele commented on #8
All the tools are correctly bound now, but there's an inconsistency in that they used to be bound at the side of the tool itself but now appear to be bound at their centers'. The intensity meter as an example:
The new behavior:
![git-boundaries](https://cloud.githubusercontent.com/assets/5863899/7990241/f57ee878-0aac-11e5-9b98-c1f712c5b7f4.PNG)

As opposed to the old behavior of the meter being bo

[2015-06-04 18:02] phet-steele commented on #67
Also, as a thought for @ariel-phet, how important would it be to introduce a way for the highlight on the button to be dynamic when, for instance on the prism screen, the user can flip the laser a full 180 degrees? This would mean the highlight on the button would have to rotate around too and always be pointing towards the top left.

[2015-06-05 15:07] ChandrashekarBemagoni commented on #67
Fixed in above commit. Assigning to @arouinfar for verification

[2015-06-05 20:36] arouinfar commented on #67
Looks great @ChandrashekarBemagoni! Closing.

[2015-06-05 20:36] #67 closed

[2015-06-05 21:13] arouinfar commented on #8
I think that should work @phet-steele. Closing.

[2015-06-05 21:13] #8 closed

[2015-06-05 21:13] elisemorgan commented on #53
I also noticed this while use the iPad 2 with iOS8. The entire screen freezes almost immediately.

[2015-06-05 21:41] elisemorgan opened #74 "Multiple rays on prisms screen has poor performance"
Test device: iPad2

Operating System: iOS 8.3

Browser: Safari

Problem description: When the laser has multiple rays it becomes a little slow to move even with no prisms. It lags even more when one prism is introduced and has significant lag when there are multiple prisms. When I tried to move the prisms out of the screen they lagged too. I also noticed that when there are multiple prisms, the En

[2015-06-05 22:01] elisemorgan opened #75 "Intensity Tool gets stuck under protractor"
Test device: iPad2

Operating System: iOS 8.3

Browser: Safari

Problem description: The intensity tool can be placed under the protractor, but then is stuck. The protractor must be moved out of the way.

Steps to reproduce: Drag protractor into window then drag intensity meter. The intensity tool will be layered underneath it. Now the intensity tool in undraggable, even the parts that are not dir

[2015-06-08 16:00] bryo5363 opened #76 "Clicking on index of refraction arrows do not change the value of the index"
I noticed this issue on Windows 7 w/ Chrome 43

I set the index of refraction to glass on the 'More Tools' section of the simulation. I pressed the right arrow one time and noticed that the value of the refraction did not change but the settings immediately changed to custom rather than glass.

[2015-06-08 16:06] bryo5363 opened #77 "Why is there the option for protractor enlargement on one tab but not the other?"
Why does the user have the option to enlarge the protractor in 'More Tools' but not in intro?

[2015-06-08 16:07] bryo5363 commented on #77
Also why is there a button to access the protractor on Prisms but not on any other sim tab?

[2015-06-08 16:35] orejolaphet opened #78 "Down arrow shouldn't be displayed when "wave" light at minimum location?"
I was just curious as the "ray" light (on the intro screen) does not display a lowering arrow when the light is located at its minimum.
![screen shot 2015-06-08 at 10 29 40 am](https://cloud.githubusercontent.com/assets/5631059/8039867/bf35c1d6-0dc9-11e5-9266-d5502bb0a47e.png)
But this behavior does not occur for the "wave" light. Should the two be consistent?
![screen shot 2015-06-08 at 10 28 54

[2015-06-08 18:08] phet-steele opened #79 "Invisible Prisms"
To my knowledge this would only be possible on touch screens:
1. Go to the Prisms screen, turn on the laser (single or multiple beam, doesn't matter).
2. Place out some prisms that bend the light.
3. Drag out another prism (not the circle) and place it anywhere. Now with two fingers, use one finger to grab the shape like you are going to translate it and use another finger to grab the knob like yo

[2015-06-08 18:09] phet-steele commented on #79
Report a Problem

Please copy and paste the information below into an email to phethelp@colorado.edu, and then fill in the blanks.

Test device:

Operating System:

Browser:

Problem description:

Steps to reproduce:

Severity:

Screenshots:

Troubleshooting information:
Name: Bending Light
URL: http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.3/bending-light_en.html
Version:

[2015-06-08 18:55] arouinfar commented on #78
Great observation, @orejolaphet! I agree that the lower arrow should not be present when the laser is at its minimum position in Wave mode. The current behavior matches the Java sim, so we should handle this internally.

[2015-06-08 19:03] arouinfar commented on #75
This also happens in OSX 10.9.5/Chrome 43. In the Java version, the Intensity meter can be clicked through either of the protractor's openings. This behavior should also exist in the HTML5 version.

The intensity meter should be able to be clicked on anywhere that the meter is not obscured by the protractor.
![image](https://cloud.githubusercontent.com/assets/8419308/8042746/845c3724-0dde-11e5-97e

[2015-06-08 19:10] arouinfar commented on #77
These features all match the original Java sim. The More Tools screen is meant to serve as a laboratory with additional features. The larger protractor facilitates easier/more precise measurement of the angle, which is less important on earlier screens. The protractor is the only tool available on the Prisms screen so it was given a checkbox rather than its own toolbox. This also leaves more room

[2015-06-08 19:10] #77 closed

[2015-06-08 19:23] phet-steele opened #80 "Terminating light"
In some cases, the light on the Prisms screen will terminate early I'm assuming in order to save performance during large amounts of internal reflection. @arouinfar has volunteered to make a note of this in teacher tips if this is not a bug.

![terminating light arrow](https://cloud.githubusercontent.com/assets/5863899/8043185/847fe676-0de1-11e5-93b7-97f1ac552124.png)

![terminating light](https:/

[2015-06-08 20:47] elisemorgan opened #81 "Speed is not read in intensity meter for waves"
Test device: iPad2

Operating System: iOS 8.3

Browser: Safari

Problem description: The speed cannot be read in some parts of the light wave when there is also an intensity meter. I'm mentioning this because you can measure the speed in every part of a light ray with the intensity meter, so there is an inconsistency.

Steps to reproduce: Take out intensity meter, place in light wave. Take out spe

[2015-06-08 20:56] arouinfar commented on #81
This is also present in OSX 10.9.5/Chrome 43:
![image](https://cloud.githubusercontent.com/assets/8419308/8045121/7286da4e-0dee-11e5-892a-d87929b1c44c.png)

However, the issue does not exist in the Java version:
![image](https://cloud.githubusercontent.com/assets/8419308/8045130/7e93590c-0dee-11e5-8277-677e744eb495.png)

[2015-06-08 20:57] arouinfar commented on #79
Hey @phet-steele, can you update the video link to the sharable version? I am unable to access the video.

[2015-06-08 21:07] arouinfar opened #82 "Panels should expand up to 50px before resizing text for translations"
The design doc specifies that the Material panels on the Intro and More Tools screens should expand by 50px (on the left side) to accommodate long strings before decreasing the font size. When doubling the string length, it looks like the panels are not expanding.

![image](https://cloud.githubusercontent.com/assets/8419308/8045190/ec7c7bd8-0dee-11e5-8d5b-38b1d3cdadf6.png)

[2015-06-08 21:13] elisemorgan commented on #59
I also noticed this issue on an iPad2 with iOS 8.3

[2015-06-08 21:23] arouinfar opened #83 "Tools do not gracefully handle long strings"
When doubling the string length, the Speed and Intensity labels expand beyond the tool boundaries. The strings on all tools should shrink to fit within the body of the tool.

![image](https://cloud.githubusercontent.com/assets/8419308/8045502/012eb288-0df1-11e5-8ae4-b5d6033baf09.png)

While we typically shrink long strings to fit by default, this behavior was not specified in the design doc. I'm n

[2015-06-08 22:43] phet-steele commented on #79
Officially shared.

[2015-06-08 23:15] arouinfar commented on #80
I don't think it is a bug. It looks like there is a maximum allowable optical path length at which the beam will terminate. I was able to generate a terminating beam by using several prisms, but it is perhaps more noticeable if you are able to generate total internal reflection as @phet-steele did in his original post.

![image](https://cloud.githubusercontent.com/assets/8419308/8047332/17fa2a6e-0

[2015-06-09 14:20] ChandrashekarBemagoni commented on #83
Fixed in above commit. Assigning to @arouinfar for verification

[2015-06-09 14:22] ChandrashekarBemagoni commented on #75
Fixed in above commit. Assigning to @arouinfar for verification

[2015-06-09 14:23] ChandrashekarBemagoni commented on #76
Fixed in above commit. Assigning to @bryo5363 for verification

[2015-06-09 14:25] ChandrashekarBemagoni commented on #79
Fixed in above commit. Assigning to @phet-steele for verification

[2015-06-09 16:10] ChandrashekarBemagoni commented on #72
Fixed in above commits. Assigning to @arouinfar for verification

[2015-06-09 16:23] arouinfar commented on #83
Looks great! Closing.

[2015-06-09 16:23] #83 closed

[2015-06-09 16:23] arouinfar commented on #75
Fixed! Thanks, @ChandrashekarBemagoni. Closing.

[2015-06-09 16:23] #75 closed

[2015-06-09 16:46] arouinfar commented on #72
The first and third issues appear to have been addressed; however, I'm still unable to retrieve the Wave Detector (Time) and Intensity tools if I click anywhere other than the tool body or probes.

The boxes representing the touch areas have been appropriately updated, but it does not appear that the touch areas themselves have actually been changed. When testing on an iPad, the tools do not expan

[2015-06-10 05:30] ChandrashekarBemagoni commented on #40
Fixed in above  commits.Assigning to @kmsravindra for verification

[2015-06-10 05:31] ChandrashekarBemagoni commented on #36
Fixed in latest code. Assigning to @kmsravindra for verification

[2015-06-10 05:31] ChandrashekarBemagoni commented on #37
Fixed in latest code. Assigning to @kmsravindra for verification

[2015-06-10 05:32] ChandrashekarBemagoni commented on #38
Fixed in latest code. Assigning to @kmsravindra for verification

[2015-06-10 05:33] ChandrashekarBemagoni commented on #40
Fixed in latest code.Assigning to @kmsravindra for verification

[2015-06-10 05:34] ChandrashekarBemagoni commented on #42
Fixed in latest code.Assigning to @kmsravindra forr verification

[2015-06-10 05:35] ChandrashekarBemagoni commented on #41
Fixed in latest code. Assigning to @kmsravindra for verification

[2015-06-10 05:36] ChandrashekarBemagoni commented on #1
Fixed in HTML . Assigning to @arouinfar for verification

[2015-06-10 13:44] ChandrashekarBemagoni commented on #82
Fixed in above commit. Assigning to @arouinfar for verification

[2015-06-10 14:11] ChandrashekarBemagoni commented on #81
In kite/js/segments/Line.js at line 155  s is distance of intersection point from the ray position. s has to be more accurate if we dealing with small values. for more information See https://github.com/phetsims/kite/issues/47.
On resolved https://github.com/phetsims/kite/issues/47  issue can fix bending light issues  https://github.com/phetsims/bending-light/issues/73 , https://github.com/phetsim

[2015-06-10 15:04] ChandrashekarBemagoni commented on #62
Fixed with  https://github.com/phetsims/kite/commit/0d61997d59a020553e367cbe0e936b53ffb35f9c commit. Assigning to @orejolaphet for verification

[2015-06-10 15:06] ChandrashekarBemagoni commented on #81
Fixed here https://github.com/phetsims/kite/commit/0d61997d59a020553e367cbe0e936b53ffb35f9c . Assigning to @arouinfar for verification

[2015-06-10 15:08] ChandrashekarBemagoni commented on #73
Fixed here https://github.com/phetsims/kite/commit/0d61997d59a020553e367cbe0e936b53ffb35f9c. Assigning to @bryo5363 for verification

[2015-06-10 16:51] arouinfar commented on #81
Looks great! Closing.

[2015-06-10 17:07] arouinfar commented on #81
I accidentally I was responding to #82, so reopening the issue. The problem still persists.

Even if the speed sensor is at the exact location of the ray (center of the wave), it does will not read the speed in wave mode. In ray mode:
![image](https://cloud.githubusercontent.com/assets/8419308/8088670/5709d79e-0f60-11e5-9ec6-1437798ba65d.png)

Switching to wave, but leaving sensors in place:
![ima

[2015-06-10 17:07] arouinfar commented on #82
Looks great! Closing.

[2015-06-10 17:19] arouinfar commented on #62
There still appears to be a critical distance at which the laser behaves like it is in the "Material" and not the "Environment".
![image](https://cloud.githubusercontent.com/assets/8419308/8088845/7c30745a-0f61-11e5-9bcc-35528cd18901.png)

In the Java version, the laser behaves as though it is in the "Environment" so long as part of the beam is outside of the prism.
![image](https://cloud.githubus

[2015-06-10 17:22] arouinfar commented on #1
Looks good, closing.

[2015-06-10 17:22] #1 closed

[2015-06-10 17:24] phet-steele commented on #79
:+1:

[2015-06-10 17:24] #79 closed

[2015-06-11 12:52] ChandrashekarBemagoni commented on #81
These issue no longer there in latest code. please see attached gif file.
![moretoolsissue](https://cloud.githubusercontent.com/assets/7919831/8107375/5f1cc534-1066-11e5-8f0d-df1d94401792.gif)

[2015-06-11 12:52] ChandrashekarBemagoni commented on #81
Assigning to @arouinfar for verification

[2015-06-11 12:55] ChandrashekarBemagoni commented on #62
This issue is no longer there in latest code. see  attached file
![prisms](https://cloud.githubusercontent.com/assets/7919831/8107490/2cf643e0-1067-11e5-9506-692cf20d059e.gif)

[2015-06-11 12:57] ChandrashekarBemagoni commented on #62
Please take latest code of https://github.com/phetsims/kite before test. Assigning to @arouinfar for verification

[2015-06-11 17:09] arouinfar commented on #62
Sorry about that, @ChandrashekarBemagoni. I had pulled bending-light but had forgotten to pull kite. It looks great! Closing.

[2015-06-11 17:09] #62 closed

[2015-06-11 17:09] arouinfar commented on #81
Thanks, @ChandrashekarBemagoni! Everything looks good. Closing.

[2015-06-11 17:09] #81 closed

[2015-06-12 04:59] ChandrashekarBemagoni commented on #54
Fixed in latest code . Assigning to @arouinfar for verification

[2015-06-12 05:32] ChandrashekarBemagoni commented on #72
Fixed in above commit. Assigning to @arouinfar for verification

[2015-06-12 05:34] ChandrashekarBemagoni commented on #63
Present behavior matching java version

[2015-06-12 19:21] arouinfar commented on #63
The behavior is present in the Java sim, but I think that we should address this before publicaiton, so assigning to @ariel-phet. To summarize this thread, there are two issues:
- [ ] White light is very pixelated compared to the monochromatic beam.
![image](https://cloud.githubusercontent.com/assets/8419308/8138165/9f684772-1105-11e5-81ac-b1266ee35f49.png)    ![image](https://cloud.githubusercont

[2015-06-17 06:02] kmsravindra commented on #36
I am still seeing this issue in firefox.

[2015-06-17 06:04] kmsravindra commented on #37
Looks good. Closing

[2015-06-17 06:04] #37 closed

[2015-06-17 06:05] kmsravindra commented on #38
Looks good. Closing.

[2015-06-17 06:05] #38 closed

[2015-06-17 06:06] kmsravindra commented on #40
Looks good. Closing.

[2015-06-17 06:06] #40 closed

[2015-06-17 06:06] kmsravindra commented on #41
Looks good. Closing

[2015-06-17 06:06] #41 closed

[2015-06-17 06:07] kmsravindra commented on #42
Looks good. Closing.

[2015-06-17 06:07] #42 closed

[2015-06-17 13:02] kmsravindra commented on #36
Updated comment - This issue #36 seems to be happen only on Windows8.1 - firefox combination and doesn't happen on other OS platforms.

[2015-06-17 13:47] ChandrashekarBemagoni commented on #36
This commit will fix the issue: https://github.com/phetsims/bending-light/commit/02dd3b20e2455dbb40071a63574e98c2084dfe3d. Assigning to  @kmsravindra  for verification

[2015-06-17 19:46] arouinfar commented on #72
Thanks! Looks good, so closing.

[2015-06-17 19:46] #72 closed

[2015-06-17 19:48] arouinfar commented on #54
Looks good! Closing.

[2015-06-17 19:48] #54 closed

[2015-06-18 06:08] kmsravindra commented on #36
Looks good. Closing.

[2015-06-18 06:08] #36 closed

[2015-06-18 18:26] pixelzoom commented on #44
6/18/15 dev meeting notes:

• KP: ok if we start review by 7/1/15.
• SR: There will be additional modifications done by PhET, makes sense for person doing modifications to do the review.
• CW interested in this sim for "black box" feature.
• KP: Maybe worth spending a couple of hours to add "black box" to Java version?
• SR: Recommended to put effort into HTML5 version for "black box" feature.
• A

[2015-06-18 20:15] samreid commented on #44
6/18/15 additional dev meeting notes:

* SR suggested to work at 20% time on the code review starting right away, and AP agreed to proceed with this plan, and re-evaluate time allocations as we go.

[2015-06-19 16:17] samreid commented on #44
I ran the sim with ?fuzzMouse for >1 minute on my OS X and didn't see any problems.

[2015-06-19 16:21] samreid opened #84 "Some text is very tiny with ?stringTest=double"
During code review #44 I tested with ?stringTest=double at full screen in presentation mode (to maximize window size) on my 11" Macbook Air, and some of the text was very difficult to see, particularly the tick mark labels on the slider.  @ariel-phet can you suggest a solution?

![image](https://cloud.githubusercontent.com/assets/679486/8257699/df2855d4-166c-11e5-8806-89dfb4138604.png)

[2015-06-19 16:22] samreid commented on #84
@ariel-phet do you want me to assign design question issues for Bending Light review to you or someone else?

[2015-06-19 16:27] samreid opened #85 "Very little leeway in units readout layout"
During #44 when I tested with ?stringTest=double I noticed there is not much layout leeway for the nm readout.  @ariel-phet do you think this will need to accommodate longer strings in other languages?  Do you want me to look through our Java translations for translations of "nm" and see how long they get?

![image](https://cloud.githubusercontent.com/assets/679486/8257789/5fcf5f8e-166d-11e5-8996-

[2015-06-19 16:29] ariel-phet commented on #84
@samreid - assign them to @arouinfar - she will consult me if she wants another opinion/advice

[2015-06-19 16:30] ariel-phet commented on #85
@samreid - can the box be scaled to allow longer strings? This readout could grow quite a bit before it is a problem.

[2015-06-19 18:24] arouinfar commented on #85
I opened a dozen or so translations (including those with non-Latin characters), and it looks like the "nm" is not translated. I second @ariel-phet's suggestion, but I doubt that long strings will be an issue in this case.

[2015-06-19 18:46] arouinfar commented on #84
The Material panels on the Intro and More Tools screens expand up to 50px to allow for longer strings. We could do the same for all panels on the Prisms Screen. Expanding all panels by 50px still allows for plenty of room in the playspace.
![image](https://cloud.githubusercontent.com/assets/8419308/8260239/76c598ae-167f-11e5-99aa-7ca3ad153acd.png)

I've noticed that the text on the slider in the M

[2015-06-20 01:20] samreid commented on #85
I didn't see "nm" in the Java bending light sim strings--perhaps it is coming from common code.  The Bound States Java translation for 'nm' is: نانومتر

In `kk` locale, it is: ננומטר

In `tk` it is: nanometr

In zh_tw it is: nm[奈米]

So perhaps we should just increase the width of the box a bit to accommodate the longest of these strings (or hedge our bets and go slightly wider).

[2015-06-22 18:59] samreid opened #86 "The reset all button is a different size on different screens"
While I was reviewing the simulation for the code review for #44, I noticed the reset all button is different sizes on the different screens.  @kmsravindra can your team resolve this?  Also, for future issues like this, would you like me to assign them to @kmsravindra @notsiddhartha @ChandrashekarBemagoni or someone else?

[2015-06-22 23:49] samreid opened #87 "Different fonts within the combo box"
At a recent Developer Meeting, we discussed the problems with shrinking individual UI elements by using minWidth or equivalent.  Ultimately, we decided that the strategy for coping with i18n layout must be decided on a case by case basis.  With this in mind, I saw this ComboBox in Bending light during code review #44

![image](https://cloud.githubusercontent.com/assets/679486/8295915/e187d47a-1906

[2015-06-23 19:14] arouinfar commented on #87
I'm not sure I understand your question, @samreid. In the design doc,  we specified that the Material panels on the Intro/More Tools screens and the Environment panel on the Prisms screen should expand up to 50px before shrinking the font to fit. It looks like the Environment panel isn't expanding as specified.

For example, here is a screenshot of the appropriately-expanded Materials panel. The d

[2015-06-23 19:19] arouinfar commented on #82
The design doc also specified that the Environment panel on the Prisms screen should also expand by 50px to allow for long strings. It appears that the panel is not expanding appropriately.
![image](https://cloud.githubusercontent.com/assets/8419308/8314929/05d9e720-19aa-11e5-855f-d41144abf6b1.png)

Re-opening and assigning to @ChandrashekarBemagoni.

[2015-06-23 21:33] samreid commented on #44
I tested this and reported issues above.  I'll put a check mark but just wanted to indicate this means I've done the review, not that all work is done.

[2015-06-23 21:38] samreid opened #88 "Add homescreen & navbar icons"
The simulation is just using mockups for the homescreen & navbar icons.  These mockups should be replaced with custom icons.  When the custom icons have been added, we can delete the mockup-images from the images/ directory (they are currently weighing in around 600kb).

[2015-06-23 21:38] samreid commented on #88
I noticed this during #44 review.

[2015-06-23 21:45] samreid opened #89 "Add vector artwork"
During #44 I noticed there is no vector artwork checked in for this simulation.  We either need to track it down or create new.  @arouinfar can you discuss with @ariel-phet how to proceed?

Here are the images:
knob.png author=phet notes=NP, taken from laser_knob.png
laser.png author=phet notes=NP
laser_knob.png author=phet notes=NP
protractor.png author=phet notes=SR generated with software
wave_

[2015-06-23 21:57] samreid opened #90 "Add Credits"
@arouinfar can you help me write up the credits for this sim?  I need entries for:

leadDesign
softwareDevelopment
team
qualityAssurance
graphicArts
thanks

[2015-06-23 21:57] samreid commented on #90
Linking back to #44, where I discovered this issue.

[2015-06-23 23:13] arouinfar commented on #89
I was able to find asset files for the original Java sim on Unfuddle. I've emailed them @samreid.

[2015-06-24 14:48] samreid commented on #89
Thanks, I added those AI files in the commit above.  I also noted that @arouinfar provided AI files for intensity-meter-box and intensity-meter-probe, but it looks like those are actually being drawn in code now.  Therefore I will leave the AI files out of github, unless @pixelzoom or @ariel-phet suggests otherwise.

[2015-06-24 15:51] ChandrashekarBemagoni commented on #86
Fixed in above commit. Assigning to @samreid  for verification

[2015-06-24 15:53] ChandrashekarBemagoni commented on #86
Sam u  can assign the future issues to @ChandrashekarBemagoni

[2015-06-24 15:54] ChandrashekarBemagoni commented on #82
Fixed in above commit.Assigning to @arouinfar for verification

[2015-06-24 16:05] arouinfar commented on #82
Thanks, @ChandrashekarBemagoni. Looks great! Closing.

[2015-06-24 16:05] #82 closed

[2015-06-24 16:21] samreid commented on #86
Will do, thanks!

[2015-06-24 16:22] arouinfar commented on #84
It looks like @ChandrashekarBemagoni has addressed these issues in #82. I think the text is now more readable on an iPad. What do you think, @samreid?
![image](https://cloud.githubusercontent.com/assets/8419308/8335370/734387e8-1a5a-11e5-89d1-e63a0677efa7.jpg)

[2015-06-24 16:23] samreid commented on #86
Looks great, nice work @ChandrashekarBemagoni.  Closing.

[2015-06-24 16:23] #86 closed

[2015-06-24 16:47] samreid commented on #84
I compared before and after 1c99e1fe13373f86923dac2cb559b22d048ab3da and the tick mark labels and other texts are much more legible.  Closing.

[2015-06-24 16:47] #84 closed

[2015-06-24 16:50] samreid opened #91 "Unlabeled tick mark seems odd"
@arouinfar I noticed the unlabeled tick mark on the right seems odd (kind of out of place and clutter-y) here:

![image](https://cloud.githubusercontent.com/assets/679486/8336005/9775c12c-1a5e-11e5-8381-2b992066acf8.png)

What do you think?

[2015-06-24 18:48] arouinfar commented on #91
I originally included the tick mark on the end to make the slider look more balanced. Here's an example of what it would look like without the extra tick mark.
![image](https://cloud.githubusercontent.com/assets/8419308/8338516/b47915c0-1a6e-11e5-9a46-bbecba6f563b.png)

I don't mind the look without the tick mark. @ariel-phet, what do you think?

[2015-06-24 18:50] samreid commented on #91
Thanks for that mock-up.  It also seems pretty unbalanced to me.  I'm not sure what the best solution is here.

[2015-06-24 20:25] ariel-phet commented on #91
The unlabelled tick mark is a bit odd, but I think it is fine, and not a concern. Closing.

[2015-06-24 20:25] #91 closed

[2015-06-25 03:06] pixelzoom commented on #89
I don't have a strong opinion on whether AI files that are used as reference for programmatic drawing should be included in the assets/ directory.  @ariel-phet's call.

[2015-06-25 14:21] ariel-phet commented on #89
Seems unnecessary if being drawn in code

[2015-06-25 14:21] #89 closed

[2015-06-25 14:54] pixelzoom opened #92 "replace toFixed with dot.Util.toFixed"
This sim uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Use dot.Util.toFixed, see its doc for details.

Assigning to @samreid since he's the developer liaison.

[2015-06-25 23:24] arouinfar commented on #90
I've emailed the credits to @samreid to implement.

[2015-06-26 16:55] ChandrashekarBemagoni commented on #92
Fixed in above commit. Assigning to @pixelzoom for verification

[2015-06-29 15:33] pixelzoom commented on #92
Looks good. I took the liberty of renaming @param format to decimalPlaces in MediumControlPane, since that's more descriptive and matches the parameter name in dot.Util.fixed.

Closing.

[2015-06-29 15:33] #92 closed

[2015-07-03 21:46] samreid opened #93 "Add the correct @author annotations"
As I was working on the code review for #44 I saw the file BendingLightModel.js listed the author as `@author Sam Reid`.  It is okay to leave that name there since he developed the original Java file, but you should also add the primary developer name and affiliation, like so:

[code]

I actually saw that attribution in 35/61 source files, but with differing whitespace (sometimes 0 or 2 whitespace

[2015-07-04 02:56] samreid opened #94 "Documentation for @param in JSDoc"
Discovered in code review #44.  There are 381 `@param` annotations in the sim JSDoc and many of them need a description (or additional description).  For instance, the BendingLightModel.js looks like:

[code]

These parameters need more explanation.  For the laserAngle, what is it relative to?  Is it in radians?  What is the allowed range?  For the topLeftQuadrant param, why is that important to t

[2015-07-04 03:03] samreid opened #95 "Word order in internationalization, use StringUtils.format"
During #44 I noticed this line of code:

[code]

This should be internationalized using a pattern with {0} and {1} substitutions so that translators can specify the ordering of the number and the text, and the whitespace.  See StringUtils.format for documentation.

[2015-07-04 03:05] samreid commented on #95
Also, once this is fixed, there should no longer be any " characters (formerly used for the whitespace).

[2015-07-04 03:14] samreid opened #96 "Check for webgl support before assigning allowWebGL=false in the model"
In #44 I saw this in the model:

[code]

then this in the view:

[code]

Why not put the webgl check in the model or before the model is created so that it isn't always defaulted to false and sometimes overriden?

[2015-07-04 03:16] samreid opened #97 "Why is float texture required?"
During #44 I saw this code:

[code]

Can you add some explanation about *why* floating point texture is required and how it is used?

[2015-07-04 03:21] samreid opened #98 "Factor out model.width in IntensityMeter call"
During #44 I saw some code that would look a little simpler if model.width were factored out.  I'll commit shortly and reassign to @ChandrashekarBemagoni to verify.

[2015-07-04 03:22] samreid commented on #98
Fixed above, @ChandrashekarBemagoni can you double check that I've done this properly?

[2015-07-04 03:27] samreid opened #99 "Improvements for LaserColor"
During #44 I saw LaserColor.js:

[code]

I'm confused because (a) I don't see anywhere that white is defined/used in the enum pattern and (b) why this is nested as LaserColor.OneColor and not just a top-level instance like LaserColor or LaserColorOneColor or OneColor, etc.

[2015-07-04 03:32] samreid opened #100 "Convert laser color property to a derived property and improve its place for initialization."
During #44 I saw the last few lines of the BendingLightModel constructor

[code]

What do you think about creating the laser color property as a DerivedProperty and passing it to the laser in its constructor call?  Or possibly passing the wavelengthProperty to the laser and letting it create its own DerivedProperty?

[2015-07-04 03:34] samreid opened #101 "Remove extraneous getters"
During #44 I saw several extraneous getters in BendingLightModel.js.  For instance:

[code]

What is the reason for providing these getters instead of just accessing the variables such as model.intensityMeter directly?  Can these getters be removed?  Are there other places where extraneous getters can/should be eliminated?

[2015-07-04 03:38] samreid opened #102 "getTransmittedPower and getReflectedPower should be static"
It appears that getTransmittedPower and getReflectedPower do not use any of the model instance state and hence should be moved to static functions so that it is clear they do not depend on any of the model instance state (unless they are overriden somewhere):

[code]

Discovered during #44

[2015-07-04 03:38] samreid commented on #102
I searched through the code and it appears these methods are not overriden anywhere, so it should be good to move them to static methods.

[2015-07-06 13:45] ChandrashekarBemagoni commented on #102
Fixed in above commit. Assigning to @samreid  for review

[2015-07-06 13:46] ChandrashekarBemagoni commented on #97
Fixed in above commit. Assigning to @samreid for review

[2015-07-06 13:46] ChandrashekarBemagoni commented on #95
Fixed in above commit. Assigning to @samreid for review

[2015-07-06 13:47] ChandrashekarBemagoni commented on #96
Fixed in above commit. Assigning to @samreid for review

[2015-07-06 13:48] ChandrashekarBemagoni commented on #98
looks good
closing #98

[2015-07-06 13:48] #98 closed

[2015-07-07 12:42] ChandrashekarBemagoni commented on #101
Fixed in above commit. Assigning to @samreid for review

[2015-07-07 12:43] ChandrashekarBemagoni commented on #93
Fixed in above commit. Assigning to @samreid for review

[2015-07-07 12:44] ChandrashekarBemagoni commented on #99
Fixed in above commit. Assigning to @samreid for review

[2015-07-07 12:45] ChandrashekarBemagoni commented on #94
Fixed in  above commit. Assigning to @samreid for review

[2015-07-07 14:19] ChandrashekarBemagoni commented on #100
Followed second suggestion. Assigning to @samreid for review

[2015-07-07 21:30] samreid commented on #90
I added the credits above, closing.

[2015-07-07 21:30] #90 closed

[2015-07-14 04:07] samreid commented on #17
Looks perfect, nice work.  Closing.

[2015-07-14 04:07] #17 closed

[2015-07-14 04:10] samreid commented on #87
This is looking better to me after @ChandrashekarBemagoni's changes above.  @arouinfar it now looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/8666245/f5caea48-29ab-11e5-8309-03eb523760e5.png)

Does that seem good to you?

[2015-07-14 04:13] samreid commented on #93
Looks much better, thanks!  I made a few minor fixes in the above commit as well.  Closing.

[2015-07-14 04:13] #93 closed

[2015-07-14 04:17] samreid opened #103 "How should we format percentages?"
I saw this code during bending light review #44:

[code]

@pixelzoom is this how we normally i18nize percentages, or should this be done with a StringUtils.format?

[2015-07-14 04:29] samreid commented on #94
This is looking much better, but I still saw a few cases that could use some help.

For IntroModel.js, getWaveValue has an `@return` value attribution like this:

[code]
But it is unclear what the values of the returned array are.  Also, I think we annotate arrays like `@returns array.<number>`

Also what does `reference` mean in this phrase?
[code]

In LightRay.js
[code]
what is the trapezium?

I

[2015-07-14 14:35] arouinfar commented on #87
Looks good to me, @samreid. Closing.

[2015-07-14 14:35] #87 closed

[2015-07-14 14:41] pixelzoom commented on #103
This should be done with a pattern.  The something like:

[code]

[2015-07-14 19:26] samreid commented on #103
Thanks @pixelzoom.  @ChandrashekarBemagoni can you implement this as @pixelzoom has described?

[2015-07-16 05:51] ChandrashekarBemagoni commented on #103
Followed above suggestion . Assigning to @samreid for review

[2015-07-16 05:53] ChandrashekarBemagoni commented on #94
Fixed in above commits. Assigning to @samreid for review

[2015-07-18 22:19] samreid commented on #103
Looks great, thanks!  Closing.

[2015-07-18 22:19] #103 closed

[2015-07-18 22:21] samreid opened #104 "We need homescreen & navbar icons"
Until now, we have been using the simulation mock-ups as the homescreen & navbar icons.  However, because they do not have the same dimensions as required for the homescreen/navbar icons the simulation is erroring out during startup.

@arouinfar can you work on getting the homescreen & navbar icons?

Until we have them, I'll substitute colored rectangles so the simulation will be able to launch wi

[2015-07-18 22:24] samreid commented on #104
In the above commit, I switched to colored rectangles.  Reassigning to @arouinfar to work on the icons.

[2015-07-18 22:25] samreid commented on #104
A reminder of the dimensions for each:

  HOME_SCREEN_ICON_SIZE = 548 x 373
  NAVBAR_ICON_SIZE = 147 x 100

And in some cases, the home screen icon can also substitute as the navbar icon (if it looks OK at the smaller size).

[2015-07-18 22:36] samreid opened #105 "DivergingLens.containsPoint is expensive"
I noticed this implementation of containsPoint:

[code]

if this is called frequently, toShape() will be called many times.  I'm wondering if this pattern is used elsewhere, or if the shape should be cached.

I'll assign to @samreid to see how frequently this function is being called.

[2015-07-18 22:37] samreid opened #106 "What is DivergingLens.getArea for?"
I saw this method but it is not documented.  What is it for?  Please describe in the docs.

[code]

[2015-07-29 04:03] samreid commented on #106
The new documentation reads:

[code]

It looks like this is using a geometric algorithm such as http://www.mathopenref.com/coordpolygonarea2.html for computing the area of a polygon.

I'll add this to the docs.

[2015-07-29 04:07] samreid commented on #106
I updated the docs in the above commits.  It now reads:

[code]

Closing.

[2015-07-29 04:09] samreid opened #107 "DivergingLens and Polygon duplicate a lot of code"
DivergingLens and Polygon only have about 20 differences over 200 lines of code--there are several duplicated methods and some methods that only differ by some added logic.  Can/should these files be unified?

[2015-07-29 04:17] samreid commented on #94
The occurrences I mentioned above have been addressed nicely, with the exception of the init() functions.  But I'm seeing the init() pattern across many files and I'm going to create a separate issue for it.  So I think the general issue of documenting `@param` is looking much nicer and I'll create separate new issues if I see any other problems as I continue the review.

[2015-07-29 04:17] #94 closed

[2015-07-29 04:24] samreid opened #108 "Understanding/improving the init() pattern"
IntensityMeterNode.js has `setIntensityMeterScaleAnimation` which calls this init function:

[code]

ProtractorNode has this method `setProtractorScaleAnimation` which calls init:

[code]

VelocitySensorNode.js has `setScaleAnimation` which calls this init:

[code]

WaveSensorNode has `setWaveSensorNodeScaleAnimation` which calls this init:
[code]

Would there be any benefit in factoring out some

[2015-07-29 04:27] samreid commented on #95
The fix above looks good.  I'm still seeing two occurrences of string concatenation that should be changed to use StringUtils.format.

LaserView.js has this line:
[code]
and LaserControlPanelNode has this line:
[code]

Both of those should also be generalized using StringUtils.format.

[2015-07-29 04:29] samreid commented on #96
This looks perfect, thanks, closing.

[2015-07-29 04:29] #96 closed

[2015-07-29 04:31] samreid commented on #97
I can see that the floating point texture requirement and references were removed.  Thanks!  Closing.

[2015-07-29 04:31] #97 closed

[2015-07-29 04:34] samreid commented on #99
LaserColor.js seems much simpler now.  I've also fixed a naming error in the above commit.  Closing.

[2015-07-29 04:34] #99 closed

[2015-07-29 04:36] samreid commented on #100
Putting wavelength as a BendingLightModel property and passing it to the laser seems reasonable, closing.

[2015-07-29 04:36] #100 closed

[2015-07-29 04:37] samreid commented on #101
I can see that ~30 lines of getters are gone.  Looks good, closing.

[2015-07-29 04:37] #101 closed

[2015-07-29 04:37] samreid commented on #102
I can see that they are static now, closing.

[2015-07-29 04:37] #102 closed

[2015-07-29 04:40] samreid opened #109 "TODOs marked in the code"
I'm seeing a few TODO's marked in the code.  @ChandrashekarBemagoni what is the status of these?

[code]

[2015-07-29 04:44] samreid commented on #105
The implementation is now

[code]
so unanticipated expense of toShape() is no longer a concern.  Looks like it was changed in 3ce7ea3ab06cb15be869002824d886887d52d76b.  Closing.

[2015-07-29 04:44] #105 closed

[2015-07-29 05:23] ChandrashekarBemagoni commented on #106
looks good . closing #106

[2015-07-29 05:23] #106 closed

[2015-07-29 13:24] samreid opened #110 "Duplicated code in IntensityMeterNode"
I saw very similar code for the bodyNode and sensorNode in IntensityMeterNode.  Not sure of the best way to show a diff here, but I'll try with a PNG (click to enlarge photo):

![image](https://cloud.githubusercontent.com/assets/679486/8958558/d056f022-35c2-11e5-88d1-dab19b1de386.png)

Should these input listeners be unified?  If not, why not?

[2015-07-29 13:29] samreid commented on #107
Linking back so it will appear in the code review parent issue #44

[2015-07-29 13:30] samreid commented on #108
Linking back so it will appear in the code review parent issue #44

[2015-07-29 13:30] samreid commented on #109
Linking back so it will appear in the code review parent issue #44

[2015-07-29 13:30] samreid commented on #110
Linking back so it will appear in the code review parent issue #44

[2015-07-29 15:58] samreid commented on #44
Fixed a naming issue above in https://github.com/phetsims/bending-light/commit/087140d7dca05137c15d6052000742a032242b5d, @ChandrashekarBemagoni can you verify that nothing was disturbed?

[2015-07-29 19:25] samreid opened #111 "Missing implementation-notes.md"
doc/implementation-notes.md was empty and I removed it.  However, I realized we should actually add content to that file.  It would be great if @ChandrashekarBemagoni could review 4-5 of the implementation-notes.md files from other PhET repositories and document bending-light accordingly.  This is an important file to help us understand the overall implementation of the simulation and would be dif

[2015-07-29 19:27] samreid commented on #111
I restored the blank file above, reassigning to @ChandrashekarBemagoni

[2015-07-29 19:40] samreid opened #112 "In IntroModel.js should getN1() and getN2() be derived properties?"
I noticed this implementation of getN1() and getN2() in IntroModel.js as part of #44

[code]

This has the effect that when the laser is being dragged, each of these values are computed in every frame, even if they are unchanged.  I'm wondering what @ChandrashekarBemagoni thinks about converting each of these to an axon derived property, which would update eagerly when the medium or wavelength cha

[2015-07-29 19:40] samreid commented on #111
Linking back to the parent review issue #44

[2015-07-29 19:44] samreid opened #113 "laser.png is loaded from several places"
During #44 I saw that laser.png is loaded in 3 places: LaserNode.js, RotationDragHandle.js and TranslationDragHandle.js.  It would be better to just load it once and pass it in to the appropriate places.  Loading the same image 3 independent times could cause confusion or maintenance problems--for instance, say the filename is changed, then the code would have to be updated in several places inste

[2015-07-29 19:46] samreid opened #114 "What is EPSILON and why is it 0.6?"
During #44 I saw this code in RotationDragHandle.js

[code]

Can you please document EPSILON, what the value is, what the units are and why that is a good value?  Also, for local vars like this we should use lowercase, even if they are constant.

[2015-07-29 19:48] samreid opened #115 "Change LightRayNode.js to use scenery.Line instead of scenery.Path"
During #44 I observed that LightRayNode is using scenery.Path like so:

[code]

It is my understanding that creating Shapes like so is much more CPU and memory intensive than creating a Line.  Can we use a Line in this context?

[2015-07-29 19:54] samreid opened #116 "Change LightRayNode from composition to inheritance"
During the review #44 I noticed that LightRayNode extends node and contains a Path node (see also #115 for converting this to Line).  But would it be possible and good for LightRayNode to extend Line instead of adding one through composition?  Adding more Nodes in the hierarchy is sometimes necessary to create additional independent transforms but increases overhead.  I'm not sure if the additiona

[2015-07-29 21:58] samreid opened #117 "Light wave is out of phase on retina iPad"
While reviewing the code for #44 I observed that the light wave is out of phase on the retina iPad:

![image](https://cloud.githubusercontent.com/assets/679486/8971001/34477f9c-360a-11e5-889e-af0b48f781a4.png)

When I tested on Desktop Chrome on a non-retina device, I only saw cases with the waves in-phase, like so:

![image](https://cloud.githubusercontent.com/assets/679486/8971020/5abd10d8-360a-

[2015-07-29 22:05] samreid opened #118 "Wavelength is different on iPad vs Mac Chrome"
During the code review #44 I noticed discrepancies between the wave view on retina iPad vs Mac Chrome (see #117).  I also observed that on the retina iPad the wavelength is much shorter than on Mac Chrome.  Here is a screenshot of the default settings for the simulation, simply enabling "wave" mode and turning the laser on:

![image](https://cloud.githubusercontent.com/assets/679486/8971134/1db4ac

[2015-07-29 22:10] samreid opened #119 "Wave view gets disassociated from laser"
When dragging on iPad 3, the wave view lags behind the laser position, like so:

![image](https://cloud.githubusercontent.com/assets/679486/8971256/0aba63e0-360c-11e5-8770-7a2eab61e98f.png)

It may be that addressing other performance concerns helps with this.

[2015-07-29 22:14] samreid opened #120 "TranslationDragHandle & RotationDragHandle are being updated when not used"
During #44 I observed that the translation drag handles don't appear on screen 1 "Intro" yet that shape shows up in the profiler and it is consuming CPU time.  The code in TranslationDragHandle could check whether showDragHandlesProperty is true before running the Property multilink update.  It would also need to add the showDragHandlesProperty in the multilink so that it can update & redraw when

[2015-07-29 22:25] samreid opened #121 "A lot of empty space between the word "Protractor" and the icon"
During #44 I observed there is a lot of empty space between the word "Protractor" and the icon.  This is on the "Prisms" screen on iPad3.  It makes it difficult to know that they are associated with one another.

![image](https://cloud.githubusercontent.com/assets/679486/8971515/402fdc88-360e-11e5-99f9-388600e7f428.png)

[2015-07-29 22:35] samreid opened #122 "Update the look of the speedometer to address occlusion issues"
During the code review #44 I observed that several of the objects which can be dragged out of the toolbox are occluded by default on touch devices.  The intensity meter, speedometer and chart all have this problem.

![image](https://cloud.githubusercontent.com/assets/679486/8971638/82a2834e-360f-11e5-815f-99e3c840226b.png)

![image](https://cloud.githubusercontent.com/assets/679486/8971642/8930cdf

[2015-07-29 23:25] samreid opened #123 "Duplicated code in LaserView.js and LaserControlPanelNode.js"
During the code review #44 I observed a lot of duplicated code between LaserView.js and LaserControlPanelNode.js

![image](https://cloud.githubusercontent.com/assets/679486/8972369/b015f0f2-3616-11e5-9cd5-1cc61fef222d.png)
(click to enlarge photo)

How can this code most efficiently be factored out?  Inheritance/composition/functions, etc?

[2015-07-29 23:28] samreid opened #124 "Does the wave shape need to be closed?"
During code review #44 I saw this code for the wave shape in LightRay.js

[code]

Does this Shape need to be closed?  Why or why not?

[2015-07-30 17:16] samreid opened #125 "Why is _notifyObservers used?"
During #44 I observed that there are 11 occurrences of `_notifyObservers`.  This is a primarily internal method which should usually not be used by simulation code.  For instance, in IntensityMeter.js:

[code]

Why not set the property by:

[code]

It should automatically notify observers.

[2015-07-30 18:18] samreid opened #126 "Minor cleanup for color blend"
Color blend currently looks like this:

[code]

I would like to tidy this up a bit.

[2015-07-30 18:20] samreid commented on #126
I pushed minor tidying in the above commit.  Also backlinking to #44.  Can @ChandrashekarBemagoni review this minor change and make sure I got it right?

[2015-07-30 19:02] samreid opened #127 "Better way to check bounds in LightRayNode"
During #44 I saw this code in LightRayNode:

[code]

It is expensive to create a throwaway scenery Rectangle for each Light Ray, would be much better to create a dot rectangle or use another way for checking bounds.

[2015-07-30 19:10] arouinfar commented on #88
I've noticed that I have two homescreen/navbar icon issues currently assigned to me. Looks like this is a duplicate of #104, which has more information regarding icon size, so closing this issue.

[2015-07-30 19:10] #88 closed

[2015-07-30 19:11] arouinfar commented on #104
I closed #88 which seemed to be a duplicate, but noticed that this issue does not reference the code review issue #44, so tagging it here.

I've been working on the icons some this week, and will consult with @ariel-phet to finish them up next week.

[2015-07-30 21:01] samreid opened #128 "Return an object instead of an array for the time/magnitude."
During #44 code review I observed this code in IntroModel.getWaveValue:

[code]

This is returning an array where the 0th element is the time and the 1th element is the magnitude.  It would be simpler if this code returned an object instead of an array, for instance:

[code]

Unless there was a specific reason why arrays are required here, we should use the object as described above.

[2015-07-30 21:06] samreid opened #129 "totalPhaseOffsetInNumberOfWavelengths % 1"
During code review #44 I observed this code in IntroModel.js

[code]

I think any number %1 is equal to itself.  Is this left over from debugging?  Should we leave it in and make 1 a constant and document that it can be used for debugging?  Or should this be removed?

[2015-07-30 21:10] samreid opened #130 "Rename stepInternal"
I noticed that the stepInternal methods are marked as public (and in one case protected) and called from outside of the file.  Can they be given a different name since "internal" suggests for private intra-file use only?

[2015-07-30 21:10] samreid commented on #130
Discovered during review in #44

[2015-07-30 21:15] samreid opened #131 "Change x.yProperty.get() to x.y"
During #44 I observed many occurrences in the code with the pattern of `x.yProperty().get()` when in many cases it looks like `x.y` would work equally well.  Were there circumstances where `x.y`was too performance intensive?  Can most of these be converted to the simpler form?

[2015-07-30 21:18] samreid opened #132 "Can gridPoints use [{x,y},{x,y}] instead of [x,y,x,y]?"
During the review #44 I noticed that gridPoints is using an interleaved array like [x,y,x,y] instead of a structured array like [{x,y},{x,y}] (an array of Vector2), and this was not documented.  Can it be converted to use the structured array?  If this decreases performance too much, please document (a) the approach taken and (b) how much performance is improved by using the flat array vs the stru

[2015-07-30 21:30] samreid opened #133 "Rename ChartNode.series to ChartNode.seriesArray"
During #44 I noticed that ChartNode.series is of type {array.<Series>}, so it is not just one series but an array of series.

This is also leading to confusing code like this loop where a series element shadows the array of serieses:
[code]

I recommend to rename series to seriesArray (parameter and property).  Then we could also rename s=>series in this part:

[code]

[2015-07-30 21:31] samreid commented on #133
My mistake, there is no shadowing happening in the first example above, since it is not in the constructor.   Still, it would be an improvement to rename series to seriesArray where it is referring to the array of serieses and just use the word "series" for a single series.

[2015-07-30 21:32] samreid commented on #129
There are two other occurrences of %1 in the code as well.

[2015-07-30 21:41] samreid opened #134 "Cleanup in Series.js"
During #44 I noticed that Series has a pathProperty, which is the "path of series" and an ObservableArray of points.  What is the difference between these?  Why does it need both?  Can one be deleted?  Here's a snapshot of the file for reference:

[code]

[2015-07-30 21:45] samreid opened #135 "Better documentation in GridCanvasNode"
During #44 I saw this documentation in GridCanvasNode:

[code]

I recommend documentation be added to describe everything that is drawn in the GridCanvasNode as well as its relationship to other components in the simulation. "It is used by the ... in order to ..."

It should also be described why it is important that this be a canvas node instead of a regular node.

[2015-07-30 21:47] samreid opened #136 "Inline the methods"
During #44 I saw these 2 methods:

[code]

Since these are 1-line methods that are only called once from the constructor, perhaps we should just inline them in the constructor.

[2015-07-31 01:44] samreid opened #137 "Why is the vector being negated?"
During the code review #44, in Circle.getIntersections I saw this code:

[code]

However, there is no explanation as to why the normal vector is negated in this circumstance. Please add documentation.

[2015-07-31 01:46] samreid opened #138 "Why is there a Circle.getRotatedInstance() function?"
During the code review #44 I saw this method in Circle.js

[code]

Shouldn't a rotated circle be itself?  Also in the user interface, I didn't see a rotation handle on the Circrle, so I'm wondering if this gets called at all?

![image](https://cloud.githubusercontent.com/assets/679486/8999158/b236a358-36f3-11e5-9327-576289c8c98f.png)

[2015-07-31 01:51] samreid opened #139 "Duplicated code in getIntersections"
In Circle, Polygon and Semicircle the getIntersections implementations are very similar.  I saw this during #44 code review.  For instance:

![image](https://cloud.githubusercontent.com/assets/679486/8999213/4c44c1d2-36f4-11e5-8ed0-58dcf27d59de.png)

This seems like a good opportunity to factor out duplicated code.

[2015-07-31 01:53] samreid opened #140 "Change IntersectionNode to use Line instead of Path"
During #44 I observed that IntersectionNode has the following code:

[code]

Scenery's Line has better performance and memory characteristics that scenery's Path, and it should be preferred where possible.  I noticed something similar in See also https://github.com/phetsims/bending-light/issues/115

[2015-07-31 02:29] samreid opened #141 "Some functions need more documentation"
During the review #44 I have come across several functions that lack sufficient documentation.  Good documentation will briefly explain what is happening in the code, its importance (what would happen differently without it? how does that code influence in the running simulation?) and relationship to other code.

Many places in this code are very well documented, such as DispersionFunction.getInde

[2015-07-31 02:34] samreid commented on #44
Just a note: I will be checking off items in the check list above after I have reviewed them, though issues may have been raised for them.  For instance, in:

I checked it off and added "Issue in #111" to indicate that I have reviewed this and created an issue for it.

[2015-07-31 02:39] samreid opened #142 "Create a screenshot"
From the code review:

This cannot be completed until #104 is complete and all pixel polishing is complete.  I'll assign this issue to @arouinfar since #104 is assigned to her.

[2015-07-31 02:45] samreid opened #143 "Improvements for model.md?"
@arouinfar I could use your help with the model.md.  From the code review:

Can you review this file and let me know if you can think of other parts in the simulation that should be discussed in the model.md?   Here's a link:
https://github.com/phetsims/bending-light/blob/master/doc/model.md

It may be helpful for you to review other model.md files as you are considering this, such as:
https://git

[2015-07-31 02:48] samreid commented on #143
Maybe we should describe the dispersion function?  In the code this is documented as:

[code]

[2015-07-31 02:49] samreid commented on #143
We are displaying light rays with a width of 1.5992063492063494E-7 meters, should we note that in the model.md?

[2015-07-31 02:50] samreid commented on #143
The wave is propagated according to the usual wave equation: cos(k * x - omega * t + phase)

[2015-07-31 13:35] ChandrashekarBemagoni commented on #140
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:36] ChandrashekarBemagoni commented on #138
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:37] ChandrashekarBemagoni commented on #137
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:37] ChandrashekarBemagoni commented on #136
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:38] ChandrashekarBemagoni commented on #133
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:39] ChandrashekarBemagoni commented on #134
Cleaned up in above commit. Assigning to @samreid for review

[2015-07-31 13:41] ChandrashekarBemagoni commented on #132
Used object instead of array for simplification. Assigning to @samreid for review

[2015-07-31 13:42] ChandrashekarBemagoni commented on #130
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:45] ChandrashekarBemagoni commented on #129
In this case %  used to find the delta or phase diff (decimal points).
        - eg: 12.1%1 == 0.1

[2015-07-31 13:47] ChandrashekarBemagoni commented on #124
Fixed in above. Assigning to @samreid for review

[2015-07-31 13:48] ChandrashekarBemagoni commented on #123
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:50] ChandrashekarBemagoni commented on #121
Fixed in above commit. Assigning to @samreid for verification

[2015-07-31 13:50] ChandrashekarBemagoni commented on #120
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:52] ChandrashekarBemagoni commented on #116
Fixed here https://github.com/phetsims/bending-light/commit/8df18c49ea15d6f9e631b117723c507bcd898299. Assigning to @samreid for review

[2015-07-31 13:53] ChandrashekarBemagoni commented on #115
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:53] ChandrashekarBemagoni commented on #114
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:54] ChandrashekarBemagoni commented on #113
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:55] ChandrashekarBemagoni commented on #112
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:55] ChandrashekarBemagoni commented on #108
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:56] ChandrashekarBemagoni commented on #107
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 13:56] ChandrashekarBemagoni commented on #95
Fixed in above commit. Assigning to @samreid for review

[2015-07-31 14:44] samreid commented on #95
Looks great, thanks.  Closing.

[2015-07-31 14:44] #95 closed

[2015-07-31 14:47] samreid commented on #107
I added a little bit of commenting above.  Looks great, thanks.  Closing.

[2015-07-31 14:47] #107 closed

[2015-07-31 14:57] samreid commented on #108
In the above commit, I observed that the init() functions were inlined.  This solves part of the problem, thanks!

The rest of the issue is that there are important constants and logic duplicated in 4 places.  For instance, if we wanted to change the animation time from 100 to something else and change the easing, we would have to do that in 4 different places.

I recommend creating common/view/Tw

[2015-07-31 18:19] samreid commented on #112
This seems much better, thanks.  I think another improvement would be to use PropertySet.addDerivedProperty.  I'll do that shortly.

[2015-07-31 18:20] samreid commented on #112
Fixed above, @ChandrashekarBemagoni can you please review my change and make sure it is OK?

[2015-07-31 18:22] samreid opened #144 "The light should deflect when the wavelength is changed"
During #44 I noticed that changing the wavelength does not deflect the light ray.  The index of refraction is a function of the wavelength (this is correct in the code) but it looks like the index of refraction is not updated when the wavelength is changed.  I'll look at adding this dependency shortly.

[2015-07-31 18:31] samreid commented on #144
Fixed above, @ChandrashekarBemagoni please review my change.

[2015-07-31 18:32] samreid commented on #112
I had to bail on using addDerivedProperty in order to solve #144, so I think this issue is complete.  Closing.

[2015-07-31 18:32] #112 closed

[2015-07-31 18:34] samreid commented on #113
Nice work @ChandrashekarBemagoni, closing.

[2015-07-31 18:34] #113 closed

[2015-07-31 18:38] samreid commented on #114
I'm not sure where EPSILON went in the diff, but it looks much simpler.  Closing.

[2015-07-31 18:38] #114 closed

[2015-07-31 18:45] samreid commented on #115
Looks great @ChandrashekarBemagoni, closing.

[2015-07-31 18:45] #115 closed

[2015-07-31 18:46] samreid commented on #116
Looks great, closing.

[2015-07-31 18:46] #116 closed

[2015-07-31 18:48] samreid commented on #120
Perfect, thanks.  Closing.

[2015-07-31 18:48] #120 closed

[2015-07-31 18:49] samreid commented on #121
This looks much better:

![image](https://cloud.githubusercontent.com/assets/679486/9014910/9645ef2a-3782-11e5-9456-866169eea395.png)

Closing.

[2015-07-31 18:49] #121 closed

[2015-07-31 18:53] samreid commented on #123
It's a bit difficult for me to understand everything that happened in this change set, but I no longer see the problem.  Closing.

[2015-07-31 18:53] #123 closed

[2015-07-31 18:53] samreid commented on #124
Looks good, closing.

[2015-07-31 18:53] #124 closed

[2015-07-31 19:47] samreid commented on #129
Ah thanks for explaining that.  I added some docs to help in the future.  Closing.

[2015-07-31 19:47] #129 closed

[2015-07-31 19:51] samreid commented on #130
This is much better, thanks!  I also renamed one in PrismsView above, can you check that it is OK and close if so?

[2015-07-31 19:53] samreid commented on #132
Looks much better and I also noticed gridPoints became gridLines.  This seems good. Closing.

[2015-07-31 19:53] #132 closed

[2015-07-31 19:54] samreid commented on #133
Excellent, thanks.  Closing.

[2015-07-31 19:54] #133 closed

[2015-07-31 19:55] samreid commented on #134
It looks like points was deleted, closing.

[2015-07-31 19:55] #134 closed

[2015-07-31 19:56] samreid commented on #136
Looks great, thanks.

[2015-07-31 19:56] #136 closed

[2015-07-31 21:17] samreid commented on #137
That documentation explains it well, thanks.  Closing.

[2015-07-31 21:17] #137 closed

[2015-07-31 21:17] samreid commented on #138
The method was removed in the change set above.  Closing.

[2015-07-31 21:17] #138 closed

[2015-07-31 21:29] samreid commented on #140
Looks great, thanks.  Closing.

[2015-07-31 21:29] #140 closed

[2015-07-31 21:29] samreid commented on #85
@ChandrashekarBemagoni I saw you committed on this issue above.  Is it ready for review?

[2015-08-01 05:03] samreid opened #145 "Add @private @public annotations for member variables"
The Bending Light code has good `@private/@public` annotations for methods, but I don't see them for the member variables.  For instance, in IntensityMeter.js the constructor concludes like so:

[code]

It would be very helpful to know whether each of these is private (use by the file only) or public (part of the public external API).  I think every file would benefit from these annotations. Each

[2015-08-01 05:04] samreid commented on #145
Linking back to #44

[2015-08-01 14:55] ChandrashekarBemagoni commented on #130
looks good . thanks
closing

[2015-08-01 14:55] #130 closed

[2015-08-01 20:05] samreid opened #146 "Can/should MISS be inlined?"
From #44, MISS looks like a private inner class that is only used to create a single static MISS instance.  I'm wondering if we should make that more clear by changing Reading.js to read:

[code]

@ChandrashekarBemagoni do you think this would work?

[2015-08-02 02:08] samreid opened #147 "Add documentation for the webgl layout code"
During #44 I saw this code in the WebGL layout:

[code]

Can you please elaborate on what is happening here in a comment?

[2015-08-02 02:23] samreid opened #148 "Pass beforeLightLayer and beforeLightLayer2 to IntensityMeterNode instead of the bendingLightView"
During #44 I observed that the IntensityMeterNode takes the bendingLightView as an argument.  However, passing the entire view into the IntensityMeterNode breaks modularity to some degree.  What the IntensityMeterNode actually uses is the bendingLightView.beforeLightLayer and bendingLightView.beforeLightLayer2.  I recommend passing these 2 layers into the IntensityMeterNode instead of the entire v

[2015-08-02 02:26] samreid opened #149 "Pass layers instead of the entire view to ProtractorNode"
Same as #148 but for the ProtractorNode.  See #44

[2015-08-02 02:26] samreid commented on #149
Same issue for ExpandableProtractorNode

[2015-08-02 02:27] samreid commented on #149
Same issue for VelocitySensorNode

[2015-08-02 02:27] samreid commented on #149
Same issue for WaveSensorNode

[2015-08-02 02:28] samreid commented on #149
Same issue for PrismToolboxNode

[2015-08-02 02:33] samreid commented on #44
I took a snapshot of lines of code counts, everything seems distributed well.

$ find . -name '*.js' | xargs wc -l
      47 ./bending-light-config.js
      35 ./bending-light-main.js
      34 ./common/BendingLightConstants.js
     178 ./common/model/BendingLightModel.js
      94 ./common/model/DispersionFunction.js
     149 ./common/model/IntensityMeter.js
     147 ./common/model/Laser.js
     278

[2015-08-02 02:43] samreid opened #150 "ProtractorNode layout is difficult to read"
During the review #44 I saw this code in the ProtractNode constructor:

[code]

Typically it is best to use the full variable names such as protractorImageHeight.  However, in this case it makes the layout code particularly dense and difficult to read.  Perhaps this would be a good case to make an exception to the rule and use `w` and `h`.  Then it could read something like this:

[code]

@Chandra

[2015-08-02 02:46] samreid opened #151 "Is there anything that should be generalized and migrated to common code?"
From the review in #44, one of the items asks:

I'm unfamiliar with the roadmap for our upcoming sims as well as the design of Optics Lab, which is under development.  @ariel-phet can you take a look at Bending Light and let me know if you recommend generalizing any of the components?  Particularly, the protractor and intensity meter, but if you see anything else, please let me know.

[2015-08-02 02:51] samreid opened #152 "Should sensors be draggable when behind the control panels?"
In this screenshot, the intensity meter readout is behind a control panel:

![image](https://cloud.githubusercontent.com/assets/679486/9024489/e128447c-388e-11e5-9f96-917b45244dee.png)

However, I can still grab + drag it with the mouse (say, if I click through the word "material").  Should the control panel intercept these mouse events, or is this by design?  Or is this bug a feature?

[2015-08-02 20:14] samreid opened #153 "Performance issues for various scenarios on iPad3"
During #44 I was reviewing the performance.  There are a number of specific performance issues such as #53 #29 #22 etc but I am seeing more general performance problems in the user interface on iPad3 running iOS8.

* Intro screen, dragging the laser pointer back and forth (with it off): 10fps
* Intro screen, dragging the laser pointer back and forth (with it on): 5fps
* Intro screen, dragging the

[2015-08-02 20:21] samreid opened #154 "Wave mode with webgl=false is 4fps on iPad3"
During #44 I tried running with ?webgl=false and &profiler I am seeing 4fps.  So I'm not sure this canvas fallback is speedy enough.  @ariel-phet let's discuss what should be done here, if anything.  Some options:

a) require webgl for the wave view for this sim
b) create a lower resolution version of the wave view when running in canvas
c) something else???

[2015-08-02 20:31] samreid opened #155 "Check for memory leaks"
#44 suggested we check for memory leaks.  I used the timeline view in chrome and dragged the activated laser on the intro screen and saw this result:

![image](https://cloud.githubusercontent.com/assets/679486/9027870/0a9e6be4-3923-11e5-8323-6804a51eac06.png)

So it looks like there is a memory problem--the js heap is tracking with the number of nodes created.  What are all these nodes?  Why aren'

[2015-08-02 20:39] samreid commented on #155
I did a heap comparison after dragging the activated laser for 20+ seconds and saw this result:

![image](https://cloud.githubusercontent.com/assets/679486/9027888/cf2d8698-3923-11e5-9703-7dadb659e0a9.png)

According to https://groups.google.com/forum/#!topic/google-chrome-developer-tools/517M_CIytbA the values are in bytes, so this just adds up to around 10kb--doesn't seem like that much of a pro

[2015-08-02 20:47] samreid opened #156 "PrismNode Listeners need to be unlinked"
During #44 I looked through the link calls in the simulation and the only one for dynamic components seemed to be in PrismNode.  In PrismNode, there are two links calls for dynamically created Prism model elements.  The link calls should be unlinked when the node is destroyed, otherwise memory will leak.

[2015-08-02 20:50] samreid commented on #44
I think all the majority of the links/multilnks in the simulation are for the life of the sim and hence do not require unlinks.  The exception is in PrismNode, which is noted in #156.  @pixelzoom I'm not sure if it would really be best to put documentation about why unlink is necessary at all of the 43 sites in the simulation--can this somehow be "factored out" such as being placed in implementati

[2015-08-02 21:08] samreid commented on #44
@kmsravindra @notsiddhartha @ChandrashekarBemagoni and @ariel-phet I have finished my initial review.  This simulation is in excellent shape and has been a job very well done so far.  @ChandrashekarBemagoni has been addressing newly created issues promptly as they are discovered.

The issues I created during the review are marked above.  Rather than marking everything with "code review" labels thi

[2015-08-03 14:17] ChandrashekarBemagoni commented on #148
Fixed in  above commit. Assigning to @samreid for review

[2015-08-03 14:19] ChandrashekarBemagoni commented on #150
Followed @samreid suggestion . Assigning to @samreid for review

[2015-08-03 14:21] ChandrashekarBemagoni commented on #146
Now MISS is  inlined. Assigning to @samreid for review

[2015-08-03 14:23] ChandrashekarBemagoni commented on #144
Thanks @samreid . it's good

[2015-08-03 14:23] ChandrashekarBemagoni commented on #144
closing #144

[2015-08-03 14:23] #144 closed

[2015-08-03 14:24] ChandrashekarBemagoni commented on #128
Fixed in above commit.Assigning to @samreid for review

[2015-08-03 14:25] ChandrashekarBemagoni commented on #126
It's more simple now. Thanks @samreid
closing #126

[2015-08-03 14:25] ChandrashekarBemagoni commented on #126
closing #126

[2015-08-03 14:25] #126 closed

[2015-08-03 14:26] ChandrashekarBemagoni commented on #108
Fixed in above commit. Assigning to @samreid for review

[2015-08-03 14:27] ChandrashekarBemagoni commented on #85
It's Fixed . Assigning to @samreid for verification

[2015-08-03 14:33] ChandrashekarBemagoni commented on #131
Non-PropertySet objects  can get the value
`x.yProperty().get()` or  `'x.yProperty.value`

PropertySet objects we can get the value
`x.y`
see https://github.com/phetsims/axon/issues/42

[2015-08-03 14:35] ChandrashekarBemagoni commented on #131
Followed Property.addProperty( this, 'visible', true ); pattern. Assigning to @samreid for review

[2015-08-03 14:37] ChandrashekarBemagoni commented on #149
Fixed in above commit. Assigning to @samreid for review

[2015-08-03 14:44] ChandrashekarBemagoni commented on #127
Actually we no need to check bounds of LightRay.
 Restricted the light ray view coordinates (start and end )within the specific window(rectangle) area to support in firefox browser.
@samreid please can you  see it's once

[2015-08-03 16:19] jonathanolson commented on #155
The 'nodes' part of the chart indicates the count of DOM nodes is steadily increasing, and might explain the missing (significant) gap. I can help look into it.

[2015-08-04 00:38] samreid commented on #155
@jonathanolson I'd love your help on this.  Let me know when it's a good time for you.

[2015-08-04 00:40] samreid commented on #150
That is much nicer, thanks.  Closing.

[2015-08-04 00:40] #150 closed

[2015-08-04 01:05] samreid commented on #149
Looks great, thanks.  Closing.

[2015-08-04 01:05] #149 closed

[2015-08-04 01:05] samreid commented on #148
Looks great, thanks.  Closing.

[2015-08-04 01:05] #148 closed

[2015-08-04 01:06] samreid commented on #146
This seems good, thanks.  Closing.

[2015-08-04 01:06] #146 closed

[2015-08-04 01:12] samreid commented on #131
It is difficult to see all of the specific changes directly related to this issue since https://github.com/phetsims/bending-light/commit/8e28ce98d18c8d5c0e7689f23c46f79c4cb92e24 was a more extensive commit. Still, I reviewed existing cases of *Property.get* and found they are all warranted.  I looked through the change set and found a case where this pattern was being properly applied.  Closing.

[2015-08-04 01:12] #131 closed

[2015-08-04 01:13] samreid commented on #128
Thanks, that is much nicer.  Closing.

[2015-08-04 01:13] #128 closed

[2015-08-04 01:15] samreid commented on #108
Looks great, I added docs and will close.

[2015-08-04 01:15] #108 closed

[2015-08-04 05:01] samreid commented on #85
It seems like there is a bit more room now:

![image](https://cloud.githubusercontent.com/assets/679486/9053548/85f4f932-3a33-11e5-9dc5-cdbc84fc8b87.png)

I'll leave it up to @arouinfar to decide if this is good enough.

[2015-08-04 13:40] ChandrashekarBemagoni commented on #145
Fixed in above commit. Assigning to @samreid  for review

[2015-08-04 13:41] ChandrashekarBemagoni commented on #110
Fixed in above commit. Assigning to @samreid for review

[2015-08-04 13:42] ChandrashekarBemagoni commented on #139
Fixed in above commit. Assigning to @samreid for review

[2015-08-04 13:53] ChandrashekarBemagoni commented on #125
Property listeners are notifying automatically only when we set it with a new value.Some cases _notifyObservers is used because we are using single vector to reduce Vector2 allocations. We used set method to change property value because it does not change initial value.
See more :https://github.com/phetsims/fluid-pressure-and-flow/issues/46

[2015-08-04 13:56] ChandrashekarBemagoni commented on #127
In dot rectangle there is no option to find out the intersection between bounds and ray.

[2015-08-04 14:06] ChandrashekarBemagoni commented on #135
Fixed in above  commit. Assigning to @samreid for review

[2015-08-04 14:08] ChandrashekarBemagoni commented on #156
Fixed in above commit. Assigning to @samreid for review

[2015-08-04 15:45] arouinfar commented on #85
It looks sufficiently large to me. Thanks, @ChandrashekarBemagoni! Closing.

[2015-08-04 15:45] #85 closed

[2015-08-04 20:27] jonathanolson commented on #155
Skype me sometime tomorrow during normal hours, or recommend a time tomorrow?

[2015-08-04 22:43] samreid opened #157 "<after code review> QA Testing"
Numerous beneficial changes to the Bending Light code are being made as part of the code review.  I would recommend once the review is complete or nearing completion, we assign a single QA tester to test a single platform to make sure no new bugs have been introduced during review changes, before AC invoices (as part of a "confirming that the review changes are good" step).

Still several days unt

[2015-08-05 01:41] samreid commented on #155
Does 9:30am Wednesday work for you?

[2015-08-05 04:34] samreid commented on #110
Looks great, thanks.  Closing.

[2015-08-05 04:34] #110 closed

[2015-08-05 04:37] samreid commented on #125
If you are reusing the same instance, do you need to call `set` again?  For instance, IntensityMeter.js has this code:

[code]

But wouldn't it behave exactly the same if you removed the line:
[code]

?

But perhaps I didn't completely understand what you said here:

My recommendation: try removing the `set` calls for cases like this and see if the sim behaves properly.  If it does, then comment e

[2015-08-05 04:46] samreid commented on #127
It looks like kite's rectangle will work well here, @ChandrashekarBemagoni can you review the change set above?  I'll create a separate issue for looking into the firefox issue.

[2015-08-05 04:47] samreid opened #158 "Get rid of LightRayNode.js workaround for firefox if possible"
See #127.

[2015-08-05 04:48] samreid commented on #135
Thanks, that is much clearer.  Closing.

[2015-08-05 04:48] #135 closed

[2015-08-05 04:51] samreid commented on #139
This looks great, thanks for factoring out this code.  In PrismIntersection.js can you rename the var in this line?

[code]

Something like `intersection` or `prismIntersection` or `thisIntersection` seems like it would be better.

[2015-08-05 04:52] samreid commented on #145
Skimming through the change set above, this looks excellent.  Closing.

[2015-08-05 04:52] #145 closed

[2015-08-05 05:01] samreid commented on #156
I think the listener at the end of the constructor needs to be unlinked too.

[code]

[2015-08-05 05:04] samreid commented on #158
I tried disabling the bounds check and firefox gives:

![image](https://cloud.githubusercontent.com/assets/679486/9078538/018a843a-3afd-11e5-8696-51793f123835.png)

But now so does Chrome.  Is this the firefox error you were referring to?

[2015-08-05 05:44] ChandrashekarBemagoni commented on #139
Fixed in above commit. Assigning to @samreid for review

[2015-08-05 05:55] samreid commented on #139
Looks great, thanks.  Closing.

[2015-08-05 05:55] #139 closed

[2015-08-05 05:55] ChandrashekarBemagoni commented on #127
after Using kite's rectangle It's  working  fine

[2015-08-05 05:59] ChandrashekarBemagoni commented on #109
Removed all  TODO's  statement .In that some them carried from java simulation and some are already addressed

[2015-08-05 06:02] ChandrashekarBemagoni commented on #109
Fixed in above commits. Assigning to @samreid for review

[2015-08-05 14:14] ChandrashekarBemagoni commented on #156
Fixed in above commit. Assigning to @samreid for review

[2015-08-05 14:14] ChandrashekarBemagoni commented on #147
Fixed in above commit. Assigning to @samreid for review

[2015-08-05 14:17] ChandrashekarBemagoni commented on #125
if we remove the`set` calls  in this cases then sim not working properly

[2015-08-05 15:30] samreid commented on #127
Thanks for checking, closing.

[2015-08-05 15:30] #127 closed

[2015-08-05 15:31] samreid commented on #109
Looks good, thanks. Closing.

[2015-08-05 15:31] #109 closed

[2015-08-05 15:39] samreid commented on #125
I suspect this is because the Property must be given the newVector value at least once.  Can you try constructing the Properties with the newVector value and see if the set calls can be omitted then?

[2015-08-05 15:43] samreid commented on #147
Thanks, this is much clearer.  My only question is about the navbar: I thought the webgl canvas was fitted to the area above the navbar, so I'm not sure why you have to subtract off the 40 here.  Is my assumption incorrect or is something else going on here?

[2015-08-05 15:47] samreid commented on #156
Thanks, this is unlinked properly now.   My only remaining recommendation for PrismNode is to change the listeners from
 `this.updatePrismColor` and `this.updatePrismShape`

to
`var updatePrismColor` and `var updatePrismShape`

Since everything is happening in the constructor, I think these can just be safe closure variables instead of exposed publicly as instance variables.

[2015-08-05 18:50] jonathanolson commented on #155
After testing for a longer time:
![bending-light-gc](https://cloud.githubusercontent.com/assets/480878/9094694/8d5a7aa6-3b70-11e5-93a0-0395836d8963.PNG)

Looks like we aren't permanently leaking, it's just that the nodes hadn't been collected yet.

[2015-08-05 18:50] #155 closed

[2015-08-05 18:52] samreid opened #159 "Mutate the LightRayNode instances instead of destroy/create in Screen 1 and Screen 3"
The First screen of Bending Light would go much faster if the LightRayNodes were mutated instead of destroyed/created at each frame.  There is a call to set the start and end in one call: setLine.  The create/destroy pattern is a direct port from the original Java but now this needs to be improved to have higher performance.

@ariel-phet who would you like to work on this?

[2015-08-05 18:55] samreid opened #160 "The green drag rotation/translation handles should be mutated instead of destroy/create each frame"
I believe but not 100% sure that the green drag rotation/translation handles are being created and destroyed in each drag frame.  If so, they should simply be translated/rotated.  This will speed things up immensely.

@ariel-phet who should work on this?

[2015-08-05 19:06] jonathanolson opened #161 "White rays should be drawn with canvas to improve performance"
The performance for the Prisms screen for white light is abysmal, and I'd recommend modeling it after http://www.colorado.edu/physics/phet/dev/old-html5-tests-2011-2012/prism-break.html (which achieves much greater performance with many more rays).

It's possible to just draw rays directly with Canvas stroke() calls, using the blending mode:
[code]
so that when rays are drawn to the canvas, they o

[2015-08-05 19:15] jonathanolson opened #162 "Solid rays should be rendered with canvas on the Prisms screen to improve performance"
For Prisms screen, it would probably be a major performance gain, and potentially be a bit simpler.

For the Intro/More Tools screens, leaving 3 SVG lines is probably best.

@ariel-phet, who should potentially work on this?

[2015-08-05 22:12] ariel-phet commented on #159
Hey @samreid why don't you go for this improvement

[2015-08-06 05:02] ariel-phet commented on #154
@samreid - lets talk in person Thursday or skype on Friday

[2015-08-06 16:29] arouinfar commented on #152
@samreid, the tools should be layered above the panels. The current layering matches the Java version, but we've decided to address it internally before publication. This will be taken care of in #66, so closing this issue.

[2015-08-06 16:29] #152 closed

[2015-08-06 17:09] arouinfar commented on #143
@samreid, please add the wave equation to model.md. The dispersion equation and ray width seem like an unnecessary amount of detail when comparing to other sims. I don't have a strong opinion about whether or not they are included in model.md, so I'll defer to your judgement.

[2015-08-06 17:16] arouinfar commented on #65
@ariel-phet, do you think this is something worth assigning to @samreid to handle before publication?

[2015-08-06 23:14] arouinfar commented on #80
According to model.md:

[2015-08-07 16:59] samreid commented on #159
I reviewed the original specification given to Actual Concepts and noted that it said:

1. scenery Line node instances should be pooled and reused (mutated) to avoid overhead in recreating and garbage collecting them.
2. scenery Line node instances should be created and garbage collected for each change in lines
The above strategies should be compared for performance on at least iPad/Safari (on iO

[2015-08-07 17:08] samreid opened #163 "Compare iPad2 performance to iPad3"
@samreid will need to create an issue asking someone to test iPad2 performance to iPad3 performance so that we can know if it is suitable to test & iterate on iPad3 in order to gauge performance on iPad2.  When @samreid gets back to this project after licensing and branding, he can create a tasks issue.

[2015-08-08 20:04] samreid commented on #7
@arouinfar can you please suggest a design for the limit on prisms?  Should it be limited by type (say, 5 of each)?  What happens when the user runs out? Etc. etc.

[2015-08-08 20:06] samreid commented on #52
Looks fixed, thanks:

![image](https://cloud.githubusercontent.com/assets/679486/9152033/9f525022-3dd6-11e5-97dd-22521899e372.png)

Closing.

[2015-08-08 20:06] #52 closed

[2015-08-08 20:10] samreid commented on #65
@arouinfar are you thinking that it would be best for the beam to be intercepted if *any part of it* hits the intensity meter?  What do you recommend specifically?

[2015-08-08 20:29] samreid commented on #159
Actually, from https://github.com/phetsims/bending-light/issues/162 it seems like it would be even better to use canvasnode/webglnode to show all of the light rays in the Prisms screen.

So for this issue please focus on recommendation (1) from above, which is:

[2015-08-08 20:33] samreid commented on #163
I created a tasks issue and linked it back to #153, we can close this one.

[2015-08-08 20:33] #163 closed

[2015-08-08 20:35] samreid commented on #76
@ariel-phet is @bryo5363 available to verify these issues?  If not, can you suggest someone else?

[2015-08-08 20:35] samreid commented on #73
@ariel-phet is @bryo5363 available to verify these issues?  If not, can you suggest someone else?

[2015-08-08 20:36] samreid commented on #151
@ariel-phet can you comment on the above issue?

[2015-08-08 20:45] samreid commented on #6
I am getting 1474 ms/frame on my OS X Chrome, which is normally very speedy.  This is 0.7 frames per second and unusable.

[2015-08-08 20:56] samreid commented on #160
Blah.  The solution above works great on screens 1-3 but has the wrong location on screen 2.

[2015-08-08 21:00] samreid commented on #160
Translation handles working well above.  The last case to consider is the rotation handles on the prism screen.

[2015-08-08 21:18] samreid commented on #160
Rotation arrows in prism screen are fixed.  I guess the last thing is that the translation arrows center is also a function of the laser rotation.

[2015-08-08 21:23] samreid commented on #160
Fixed above.  Last things I would like to do here are:
a) check performance on iPad3
b) compare against previous version and make sure arrow behavior is identical (except for better performance)

[2015-08-08 22:13] samreid commented on #153
After fixing #160 (and several other things) the performance on iPad3 is:

* Intro screen, dragging the laser pointer back and forth (with it off): 22fps
* Intro screen, dragging the laser pointer back and forth (with it on): 16fps
* Intro screen, dragging the protractor with the laser off: 30fps
* Intro screen, dragging the material slider back and forth: 16fps
* Prisms screen, dragging the circl

[2015-08-08 22:15] samreid commented on #160
Performance reported in #153. Behavior looks identical to http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.5/bending-light_en.html

Closing.

[2015-08-08 22:15] #160 closed

[2015-08-08 22:20] samreid commented on #59
I cannot reproduce this problem on my Macbook air using chrome and dev.3 as above.  But I do see the problem on iPad3--looks like it is related to the processing time of the wave mode (despite it being WebGL).

[2015-08-08 22:22] samreid commented on #63
Hopefully we can fix the pixellation with #161, we will have to change the size of the canvas to match the screen bounds to make sure it doesn't truncate.

[2015-08-08 22:26] samreid commented on #66
@arouinfar I have this comment from the bending light Java code:

[code]

Can you please review Kathy's suggestion and provide a complete list of what you recommend for the HTML version?

[2015-08-08 22:33] samreid commented on #70
Fixed in this version:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.6/bending-light_en.html

@arouinfar there is currently one implementation for these combo boxes and I just changed the setting in one place and hence all of the combo boxes open "up" instead of down now.  This increases consistency between the 1st and 2nd screens, but I wasn't sure if we should take the ex

[2015-08-08 22:35] samreid commented on #66
When providing a list of the rendering order (the z-order), please also include prisms, see #71

[2015-08-08 22:42] samreid commented on #66
Oh, I guess it would be weird if prisms went in front of control panels but light went behind control panels.  But we should still include prisms in the z-ordering list.

[2015-08-08 23:05] samreid commented on #78
Fixed above.  The only corner case I can think of is if using multitouch on a touch device and holding the laser while tapping on the "wave" radio button--it wouldn't hide the arrow in this case.  Hm... I actually tested this on iPad and it worked properly.  Oh, this is because the angle gets changed so the function gets re-evaluated.  That's perfect.  Closing.

[2015-08-08 23:05] #78 closed

[2015-08-08 23:11] samreid commented on #53
Let's track the "multiple rays performance issue" in #74.

[2015-08-08 23:14] samreid commented on #161
It looks like that version is canvas and not webgl.  Seems like a reasonable idea to try canvas first and see if performance is good enough.  Here's a copy of the source code for safe keeping:

[code]

[2015-08-09 01:32] samreid commented on #143
I added a few notes to the model.md in 72db2dd9be211a04ce817924db93e87b8f9035d2

Closing.

[2015-08-09 01:32] #143 closed

[2015-08-09 01:34] samreid commented on #71
Just revealing a tiny part of the edge doesn't seem sufficient.  I would recommend having 30+ pixels pop out to the side of the control panel, so it is clear what is happening and easy to grab.

[2015-08-09 01:47] samreid commented on #154
Trying to understand the performance of the canvas wave node, I console.logged the number of waveParticles and saw this:

frameStarted
17
17
17
151
151
151
frameCompleted

That is to say, each frame, the canvas node paint loop is hit 504 times, across 6 paint calls.

[2015-08-09 01:52] samreid commented on #154
Something that might be easy to try.  3 gradients with many color stops instead of many gradients each with 3 color stops.

[2015-08-09 01:52] samreid commented on #154
Also, instead of moveTo/lineTo/lineTo/lineTo/close, try a rectangle?

[2015-08-09 01:56] samreid commented on #154
In the Java version, it appears this is just 3 shapes (incoming ray, reflected ray, and transmitted ray) each with a single gradient.  In Java you can do a cyclic gradient which is not possible in JavaScript, but in JavaScript, we could add more colorstops.

[2015-08-10 01:21] samreid commented on #154
@ariel-phet it is unclear how much effort we should put into the canvas implementation here.  If we leave it as-is, it will likely have good enough performance on laptops and desktops with blacklisted GPUs (and hence no WebGL).  The only place it would be slow would be on mobile devices without WebGL.  It could be very time consuming to improve performance here.  Just guessing about possible strat

[2015-08-10 02:41] samreid commented on #74
Testing one circle prism with a 5-ray, and dragging the circle in the 5-ray, I see 7fps on iPad3 running iOS 8.4.  Commenting out the rays ObservableArray only bumps this up to 12fps, so there is surely something else at play here.

[2015-08-10 15:40] bryo5363 commented on #73
@samreid This issue seems to be resolved in the latest version of bending light

[2015-08-10 15:42] samreid commented on #73
Thanks @bryo5363, I'll close the issue.

[2015-08-10 15:42] #73 closed

[2015-08-10 15:42] bryo5363 commented on #76
@samreid I will test this issue today when I get my hands on a Windows device.

[2015-08-10 16:03] samreid opened #164 "Simpler creation of circle shapes"
Circles are currently created like;

[code]

But perhaps it would be better to create them like so:
[code]

I tested that in my working copy and it seemed to behave properly.  I'll commit then reassign to @ChandrashekarBemagoni to verify.

[2015-08-10 16:04] samreid commented on #164
Fixed above, @ChandrashekarBemagoni can you verify?

[2015-08-10 16:29] bryo5363 commented on #76
@samreid This issue is fixed in the latest release

[2015-08-10 16:30] bryo5363 commented on #76
Tested on Windows 7 w/ Chrome 44.0.2403.130 m

[2015-08-10 18:18] arouinfar commented on #65
Yes, I was thinking along those lines @samreid. The current behavior isn't sensitive enough, and users may think the sim is buggy in the scenario shown in @arnabp's screenshot.

[2015-08-10 20:22] phet-steele commented on #153
iPad 2, iOS 8.3 (Witten). 1.0.0-dev.5 --> 1.0.0-dev.6
    Intro screen, dragging the laser pointer back and forth (with it off): 27fps --> 27fps
    Intro screen, dragging the laser pointer back and forth (with it on): 15fps --> 16fps
    Intro screen, dragging the protractor with the laser off: 40fps --> 45fps
    Intro screen, dragging the material slider back and forth: 25fps --> 25fps
    Pris

[2015-08-10 22:01] arouinfar commented on #7
@samreid, I discussed this issue with @ariel-phet and we decided that allowing 5 of each type of prism seems sufficient. If a user drags out all five of a given object, it will disappear from the panel:

![image](https://cloud.githubusercontent.com/assets/8419308/9185418/ef2f0f42-3f78-11e5-88c2-d9b23d102f2a.png)

[2015-08-10 22:04] arouinfar commented on #51
After discussing with @ariel-phet, we've decided that a single normal line that falls within the center of the dispersion is the best option. Assigning to @samreid to implement.

[2015-08-10 22:15] arouinfar commented on #70
Thanks @samreid! Having all combo boxes open up looks good to me. Closing.

[2015-08-11 00:26] ariel-phet commented on #76
Closing since reported as fixed.

[2015-08-11 00:26] #76 closed

[2015-08-11 00:33] ariel-phet commented on #154
@samreid - could we have the wave mode in canvas just be simple lines, no gradient? (corresponding to the peaks of the wave)

![refraction-water-waves](https://cloud.githubusercontent.com/assets/4051174/9187459/04717916-3f8e-11e5-9077-0ffb6281106b.gif)

This is a very common representation in physics classes. Would that sort of simple rendering be possible in canvas with decent performance?

If no

[2015-08-11 00:38] ariel-phet commented on #151
@samreid - a protractor will likely be needed for some math sims...however, it probably makes more sense to generalize this element once we know the requirements of a protractor for math (for instance people might want a translucent/not translucent option). I do not think it makes sense to migrate this element to common code yet since we will not know the requirements until later.

The intensity m

[2015-08-11 02:03] samreid commented on #154
Using lines is something we could try (could take 20 hours or so, if it works), but I can think of a couple of options that might work to show the full gradient, such as using a pattern fill or a gradient with multiple stops.  504 paint calls per frame (the current approach) leaves open lots of room for improvement.

[2015-08-11 02:06] samreid commented on #151
The laser pointer is a custom implementation (not generalized) and the intensity meter is also a custom implementation (not generalized).  I'll create an issue for the latter.  What other sims will need the LaserNode?

[2015-08-11 02:07] samreid opened #165 "Generalize the IntensityMeter"
From #151, @ariel-phet said:

[2015-08-11 02:26] samreid commented on #153
After reimplementing the circle prism node from immutable->mutable, using deltas for translation, tested on iPad3 with a built version
Prisms screen, dragging the circle prism with the laser off: 12fps

[2015-08-11 02:33] samreid opened #166 "Unify prisms in toolbox with prisms dragged out of toolbox"
The prism icons in the toolbox have a completely different icon and input listener than the prism nodes dragged in the play area.  I noticed this when I changed the renderer for play area prism nodes to scenery.Circle, and the icons didn't change.  These should be unified.  Note this relates significantly to #7

[2015-08-11 02:35] samreid opened #167 "Performance dragging a single prism is abysmal"
When just dragging a single prism (tests done with Circle), the performance on iPad3 is abysmal, coming in at <15fps.  I tried converting to a mutable pattern, see notes #153 and even changing the renderer from Path(circle) to Circle() and it still was <15fps on iPad3.  This is all with the laser off and will need to be much faster.

[2015-08-11 03:31] samreid commented on #167
I'm wondering if we could drag these with WebGL, and what performance that would give.  Note: the objects currently have an outline, which is a bit harder to do with WebGL at the moment.

[2015-08-11 04:17] ariel-phet commented on #154
@samreid Seems worthy of a skype call.

[2015-08-11 14:53] samreid commented on #6
@ariel-phet suggested that we could reduce from 5 to 3 rays when using white light.

@samreid asked if the radio button icon should change, and @ariel-phet said no.

[2015-08-11 15:06] samreid commented on #167
@ariel-phet suggested just creating a Circle node all by itself (in the context of the sim) and seeing what dragging performance it gets.  Maybe try opaque vs transparent.

[2015-08-11 15:10] samreid commented on #165
@ariel-phet suggested making it a developer-meeting topic for whether this should be factored out.

It looks like Beers Law Lab uses ATDetectorNode.js which appears pretty similar.

Differences:
1. The body has a different readout
2. BLL body not draggable

[2015-08-11 15:53] samreid commented on #154
@ariel-phet and I discussed this today.  It was approved to send some "couple of hours" investigating each proposed approach to see what seems like it might work.

[2015-08-11 17:15] pixelzoom commented on #165
The piece that looks worth generalizing is the probe.  The rest is sim-specific.  Note that bending-light draws the probe programmatically (IntensiteMeterNode.js), beers-law-lab uses an image (at-detector-probe.png).

[2015-08-11 17:16] samreid commented on #165
@samreid will work on factoring out the code that draws the probe shape and reusing it for beers law lab.

[2015-08-11 17:16] samreid commented on #165
It belongs in scenery-phet.

[2015-08-12 21:04] samreid opened #168 "Use PropertySet.addProperty instead of Proprety.addProperty"
PrismsScreenModel subclasses PropertySet but it is adding the properties through Property.addProperty(this,....).  I wonder if it would be possible to use this.addProperty(....).  I'll take a look and if it seems like it is working properly I'll reassign to @ChandrashekarBemagoni to verify my work.

[2015-08-12 21:07] samreid commented on #168
Fixed above, @ChandrashekarBemagoni can you take a look at my change and let me know if you suspect any issues?  Close if everything seems ok.

[2015-08-13 05:51] ChandrashekarBemagoni commented on #168
Reviewed , no issues with latest changes.

[2015-08-13 05:51] ChandrashekarBemagoni commented on #168
closing #168

[2015-08-13 05:51] #168 closed

[2015-08-13 05:52] ChandrashekarBemagoni commented on #164
Now it's much simpler.

[2015-08-13 05:52] ChandrashekarBemagoni commented on #164
Thanks
Closing #164

[2015-08-13 05:52] #164 closed

[2015-08-13 17:41] samreid opened #169 "Annotate all properties as @private @public or @protected"
See https://github.com/phetsims/tasks/issues/307

[2015-08-13 19:12] bryo5363 commented on #153
iPad 2 iOS 8.4.1 (Lave) 1.0.0-dev.7

Intro screen, dragging the laser pointer back and forth (with it off): 41fps
Intro screen, dragging the laser pointer back and forth (with it on): 18fps
Intro screen, dragging the protractor with the laser off: 33fps
Intro screen, dragging the material slider back and forth: 26fps
Prisms screen, dragging the circle prism with the laser off: 29fps

[2015-08-13 20:11] samreid opened #170 "Move the laser position north by 30% or so"
WYFIGAR

[2015-08-13 20:19] samreid opened #171 "Float the control panels to the sides"
For all 3 screens.

[2015-08-13 20:23] samreid opened #172 "See if the white light can go "boundless" based on the shape of the window"
If not, then solid light should have same "bounds" as the white light.

[2015-08-13 20:36] samreid opened #173 "Prisms should move to front when dragged"
... so they aren't obscured by other prisms.

[2015-08-13 20:54] samreid opened #174 "Add a new checkbox for showing the angles on the "more tools" screen"
@arouinfar will create a mockup

[2015-08-14 19:05] samreid commented on #161
I am testing the link on my iPad3 running iOS8 and with the default setting of quality "medium", the performance is also abysmal.  I'm estimating it at a little more than 1 frame/second when dragging a prism through light.  This seems a little bit slower than the strategy used in bending light.  @jonathanolson can you discuss this with me?

[2015-08-14 19:14] samreid commented on #167
Performance dragging a single opaque rectangle in front of everything is great on iPad3:

[code]

[2015-08-14 19:15] samreid commented on #167
Performance still great (for iPad3) with opacity:0.5

[2015-08-14 19:51] samreid commented on #167
Changing the PrismNode translate to just setTranslation() on the view (skip model step) and moving it to the front layer still has pretty bad performance (worse than the rectangle above).  Not sure what is going on here.

[2015-08-14 20:18] jonathanolson commented on #161
I recall it being significantly faster on the iPad 3. I'll be charging and testing with mine today for a few things, I'll add this to the list.

That would suggest a WebGL view may be necessary for white light.

[2015-08-14 20:21] samreid commented on #161
If I recall correctly, canvas performance dropped in iOS8.

[2015-08-14 20:24] jonathanolson commented on #161
If it's iOS 8, then Canvas fallback with WebGL main may still be sufficient.

[2015-08-14 20:32] samreid opened #175 "Modularize BendingLightView"
BendingLightView is the parent class for PrismsView and IntroView.  However, it adds the wave layer node and white light node and *many* other nodes.  Each of these nodes is only used by one of the screens, and since performance is a serious problem in this sim, we should (a) prune down what is happening in BendingLightView or refactor things so that each screen gets only what it needs.

@Chandras

[2015-08-14 20:34] samreid commented on #161
Any suggestions how to render the light rays with WebGL?  I'm not sure where I'd start with this.

[2015-08-14 20:35] samreid commented on #161
Use a strategy like canvas, and see if there is a similar blending mode, then just render each ray=2 triangles?

[2015-08-14 20:59] samreid commented on #167
I tried setting renderer:webgl and things are very smooth, but there are the following issues:
1. Regenerating the prism shapes when color changes is unusably slow
2. There is a long 4-5 second lag when dragging the first object.  Perhaps WebGL is "warming up"?

[2015-08-14 21:15] samreid commented on #167
Changing to renderer:canvas and removing the stroke seems like somewhat of an improvement.  I'm really wondering if we can discuss scheduling time to work on scenery's WebGL renderer for Paths to get this to work.  The prisms are opaque, and many of them are just 2 triangles.  Using renderer:webgl for this would mean (a) no separate implementations for non-webgl platform and very smooth performanc

[2015-08-14 21:20] jonathanolson commented on #161
Yup. Lots of blending modes available, it's very customizable.

[2015-08-14 21:21] jonathanolson commented on #161
Also note that you could use lines instead of the two triangles (line strip for each ray that bounces), not sure if that would help.

[2015-08-14 21:27] samreid opened #176 "Dragging the laser is sluggish on the prisms screen"
Dragging the laser is sluggish on the prisms screen.

[2015-08-14 21:30] samreid opened #177 "The laser gets away from the mouse cursor"
After dragging against the edge of the window, the laser gets disassociated from the cursor.  Discovered in https://github.com/phetsims/bending-light/issues/176.

This is not a problem in the Java version and should be resolved.

[2015-08-14 21:31] samreid commented on #176
It looks like there are always 2 translate calls instead of 1.

[code]

[2015-08-14 21:32] samreid commented on #176
I culled one of the translate calls (unless the laser is against the edge of the screen).  It seems like it helps a little bit, and the behavior is the same.

[2015-08-14 21:38] samreid commented on #176
And there are this many calls in the view callback:

[code]

[2015-08-14 22:41] jonathanolson commented on #161
It is also not antialiased properly anymore on the iPad 3 (it used to be nicely antialiased and fast). Is it worth looking into details of what's going on?

[2015-08-15 02:44] samreid commented on #176
cssTransform:true is a miracle-worker on iPad3.  I tried applying it to the laser, its translation handles and the prisms and everything is much much faster (publishable).  When I additionally disable the light ray view (for multiple solid rays) the do not bog down the simulation.  So I think that means we must optimize the light ray view.

[2015-08-15 02:45] samreid commented on #176
cssTransform:true is clipping things oddly on firefox

[2015-08-15 12:13] samreid commented on #167
See my notes in #176 about using cssTransform:true.  It is a miracle worker for the prisms on the iPad3 as well.

[2015-08-15 12:16] samreid opened #178 "Prisms, laser and light should go behind the top-right control panels"
At this week's design meeting, we decided that the prisms, laser and light should go behind every control panel, and we'll use a rule like #71 for bumping objects to the side if they are dropped entirely behind a control panel.

[2015-08-15 12:19] samreid commented on #178
I just realized why prisms go in front of the south control panel.  It is so when you try to drag them back to the control panel, they go in front of it (which is good).  Likewise, when you drag them out of the control panel, they don't immediately pop behind it (if they did, they would be invisible for a moment while dragging out).  @arouinfar can you discuss these issues with me?  Should we try

[2015-08-15 12:33] samreid opened #179 "White light is doing extra work"
I noticed extra beginPath/fill/closePath commands in WhiteLightNode.js.  Can these be removed?

[2015-08-15 12:34] samreid commented on #179
Fixed above and the rendering seems the same.  Can @ChandrashekarBemagoni take a look and see if he sees any problems with this solution?

[2015-08-16 16:06] samreid commented on #63
I'm going to separate checkbox 1 from https://github.com/phetsims/bending-light/issues/63#issuecomment-111593777 into a separate issue, and let this issue be specifically about the canvas bounds.

[2015-08-16 16:07] samreid opened #180 "Decide if White light pixelation is acceptable in Canvas version"
From #63, @arouinfar said:

![image](https://cloud.githubusercontent.com/assets/8419308/8138165/9f684772-1105-11e5-81ac-b1266ee35f49.png)    ![image](https://cloud.githubusercontent.com/assets/8419308/8138168/a8b3f484-1105-11e5-86aa-2dab00c01982.png)

[2015-08-17 03:50] samreid commented on #159
It looks like the canvas node solution I'm developing for #162 will work well here.  I'll reassign the issue to me.

[2015-08-17 03:51] samreid commented on #158
If we can complete #162 then this may be unnecessary.

[2015-08-17 15:53] samreid commented on #162
The CanvasNode implementation appears above.  It is working remarkably well on iPad3.  After other performance optimizations, we will have to decide if canvas is good enough or if we need a webgl variant as well.  The webgl implementation would not be complicated here, just drawing lines or pairs of triangles.  Line caps may make things a bit more complicated, if necessary.

[2015-08-17 15:55] samreid commented on #159
Since we are using canvas to render all the solid light rays from #162, I have removed LightRayNode.js and will close this issue.

[2015-08-17 15:55] #159 closed

[2015-08-17 15:56] samreid commented on #63
I converted single color rays to use canvas in #162 and also demonstrated how to fit the canvas to the visible bounds in that implementation.  We can reuse that strategy for white light as well.

[2015-08-17 15:57] samreid commented on #158
I converted to use Canvas for the single color rays, and this workaround is no longer necessary.  Closing.

[2015-08-17 15:57] #158 closed

[2015-08-17 16:03] samreid commented on #176
After other performance improvements, dragging the laser is significantly better on the prisms screen, even with the cssTransform:false.  Turning cssTransform to true no longer seems to significantly impact it.

[2015-08-17 16:04] samreid commented on #176
Based on the above remarks, I'll close this issue.

[2015-08-17 16:04] #176 closed

[2015-08-17 16:30] samreid commented on #170
WYFIGAR = What you feel is good and right.

Before:

![image](https://cloud.githubusercontent.com/assets/679486/9310077/ca7c275a-44ca-11e5-998f-e67071ec0981.png)

After:

![image](https://cloud.githubusercontent.com/assets/679486/9310083/d7b926c0-44ca-11e5-9310-24595e1f4476.png)

I had to balance the space with making sure the laser didn't crowd the radio buttons in the top left.  This seemed good

[2015-08-17 16:30] #170 closed

[2015-08-17 16:31] samreid commented on #162
I'll retitle this issue to be about canvas, and open a new one about WebGL.

[2015-08-17 16:32] samreid opened #181 "Should we invest in WebGL for solid rays?"
See https://github.com/phetsims/bending-light/issues/162

It is a question of whether the solid rays are fast enough at the moment using CanvasNode, or if we must add time/effort/complexity to reimplementing as webgl for webgl-enabled platforms.

[2015-08-17 16:32] #162 closed

[2015-08-17 16:34] samreid commented on #170
Commit appears above.

[2015-08-17 16:38] samreid commented on #74
Putting cssTransform:true on the prisms rockets this up to 15fps, which somehow feels fast enough.  (Maybe my standards have been lowered?)

[2015-08-17 16:40] samreid commented on #172
I demonstrated in SingleColorLightCanvasNode how to fit the canvas to the visible bounds, we should use that strategy for white light too.

[2015-08-17 16:42] samreid commented on #173
Fixed above, closing.

[2015-08-17 16:42] #173 closed

[2015-08-17 16:45] samreid commented on #74
Multiple rays are much faster on iPad3.  I'll move the above comments (specifically about prisms) into #167.

[2015-08-17 16:45] #74 closed

[2015-08-17 16:45] samreid commented on #167
From #74:

[2015-08-17 16:47] samreid commented on #166
Unifying these into the same node would also mean that prisms need a flag for enabled/disabled and the ability to change size.  One option (perhaps the best option?) would be just to unify their renderers (same function, different instance).

[2015-08-17 17:09] samreid commented on #7
I'm still deciding whether to do #166 or not.  That decision will determine how we implement this limit.

[2015-08-17 18:22] arouinfar commented on #178
@samreid, I think it's fine for prisms to go above the bottom panel, since that is their home location. It seems natural to me that they would go above the bottom panel, but behind the side panels.  It is also impossible to lose prisms behind the bottom panel, since they will instead be removed from the playspace. Laser light, however, does not originate in either panel, so its behavior in the bot

[2015-08-17 18:26] samreid commented on #7
How did @ariel-phet and @arouinfar decide on "5 of each type"?  I just tried dragging 5 of each type into the play area and it looked like so:

![image](https://cloud.githubusercontent.com/assets/679486/9312648/2e1e110a-44db-11e5-8aa1-284cc561b7a4.png)

Isn't that still a bit too many?

[2015-08-17 18:32] samreid commented on #178
The laser is currently always in front of the prisms.  If we keep that as a constraint, then with the additional constraint that prisms are in front of the prism toolbox, the laser must also be in front of the prism toolbox.  Should we change one of these assumptions, or leave the laser in front of the prism toolbox?

[2015-08-17 18:35] arouinfar commented on #178
@samreid I think we can leave the laser in front of the prism toolbox. It's currently layered above all panels.

[2015-08-17 18:42] arouinfar commented on #7
That seems a bit crowded to me. Perhaps a better solution would be to limit the total number of prisms to say, 15 or so (the max should still be a large number). If that's the case, the user can have 15 of the same object, or a mixture. Once the limit is reached, all prisms must disappear from the panel. When one object is returned, all five options will reappear.

Something similar is done in the

[2015-08-17 18:48] ariel-phet commented on #7
@arouinfar I think 5 of each type is an easy rule. If someone really wants to drag this many things out, so be it. and if performance lags under those circumstances, I don't think user should be particularly surprised.

In addition the 5 of each type allows a very simple feedback, the moment you drag the 5th out, no more are available. I think the 15 max objects could get strange if someone is nea

[2015-08-17 18:48] ariel-phet commented on #7
And back to you @arouinfar

[2015-08-17 19:15] samreid commented on #178
Ok, I'll retitle the issue as such.

[2015-08-17 19:25] samreid opened #182 "Investigate layerSplit instead of cssTransform"
@jonathanolson suggested trying layerSplit instead of cssTransform to attain better performance.

[2015-08-17 19:52] arouinfar commented on #178
@samreid, to make sure we're on the same page, here's a summary of the layering decisions:
- [ ] Prisms, laser, and light behind top-right (side) control panels
- [ ] Laser above prisms, and both above bottom control panel (for usability)
- [ ] Light behind the bottom control panel (for consistency)

[2015-08-17 19:52] arouinfar commented on #60
This issue is being addressed in #178. Closing.

[2015-08-17 19:52] #60 closed

[2015-08-17 19:57] arouinfar commented on #7
@ariel-phet makes an excellent point. For ease of implementation, let's stick with 5 of each type of object. The only thing I see missing from @samreid's screenshot is

[2015-08-17 20:13] arouinfar commented on #174
Here's an updated mockup showing the Angles checkbox. The dimensions of the toolbox have not been altered.
![image](https://cloud.githubusercontent.com/assets/8419308/9315029/e85e9194-44e9-11e5-9f3f-99540324cf03.png)

Toolbox:
![image](https://cloud.githubusercontent.com/assets/8419308/9315023/d9d47c06-44e9-11e5-81c6-a45c8c89a515.png)

What do you think @samreid @ariel-phet?

[2015-08-17 20:22] arouinfar commented on #122
When discussing this issue with @ariel-phet, we felt that the speedometer was the only really problematic tool. A few possible options for a redesigned speedometer were discussed at the 8/13 meeting and it was concluded that

I've mocked up a new version of the speedometer:
![image](https://cloud.githubusercontent.com/assets/8419308/9315231/3c71f806-44eb-11e5-9aca-5f3384c77c84.png)

What do you th

[2015-08-17 20:35] arouinfar commented on #142
What about something along these lines, @samreid?

![image](https://cloud.githubusercontent.com/assets/8419308/9315592/37dbf218-44ed-11e5-9ba8-bf4fa1b71a64.png)

[2015-08-17 20:54] samreid commented on #178
With the light behind the bottom control panel, and the laser in front of the bottom control panel, it would look like this:

![image](https://cloud.githubusercontent.com/assets/679486/9315999/bbafe2e6-44ef-11e5-903f-9181ed9cf7ca.png)

Is that really what you intended?  Why not put the light in the same layer as the laser?  I think the light must technically be in front of the prisms so that it wo

[2015-08-17 20:59] samreid commented on #174
The checkbox seems reasonable, but I have some questions about how the feature will work:

1. when showing the angles, will it just show numbers, or arcs, or arc'ed arrows?
2. will it show angles in degrees or radians (or user-selectable)?
3. can you show angles (from the normal) without showing the normal itself?
4. do you want to show an icon for the checkbox?  If not, why not?

[2015-08-17 21:02] samreid commented on #142
This looks like a good scenario for the screenshot.  Before capturing the final screenshot, we will need to (a) provide the screen icons and (b) fix the logo to be the colorized version.

[2015-08-17 21:05] arouinfar commented on #142
Thanks for your input @samreid. We'll also need to take care of #122 and #174 since they have implications for the look of the toolbox.

[2015-08-17 22:22] arouinfar commented on #104
What about these, @samreid?
![image](https://cloud.githubusercontent.com/assets/8419308/9316932/8971d0c2-44f5-11e5-96ef-4ebb21c418e0.png)

Currently, these icons are a combination of illustrator and screenshots. Are these something that can be instead drawn in code?

[2015-08-17 22:46] arouinfar commented on #70
Reopening this issue, as I've just noticed some problematic behavior. Now that all combo boxes open up, the Environment menu on the Prisms screen opens out of the dev boundary. Can you make this combo box be a drop down, @samreid? All other combo boxes can continue to drop "up".

[2015-08-17 22:57] arouinfar opened #183 "Lag in updating index of refraction on Intro and More Tools screens"
Playing with dev.7 in OSX 10.9.5/latest Chrome, I found a bug on the Intro and More Tools screens. There appears to be a lag in updating the index of refraction. For example:

Open More Tools Screen, turn on the laser. Light is correctly refracted to 28*.
![image](https://cloud.githubusercontent.com/assets/8419308/9318343/0d5b5520-4500-11e5-8ef9-e3a83e142cde.png)

Choose Air. Light remains at 28*

[2015-08-17 23:57] ariel-phet commented on #174
I will chime in on 3 of these:

2. Just degrees (radians are almost never used in optics reflection/refraction)
3. The angles are definitely always measured from the normal. General practice is to draw the normal when measuring the angles, but it could work without the normal. My preference would be angles includes the normal.
4. I think an icon would be fine, but not necessary

[2015-08-17 23:58] ariel-phet commented on #122
@arouinfar - that works for me!

[2015-08-18 00:20] arouinfar commented on #122
@samreid, please let me know if you need an asset file for the speedometer. I'm not sure if you will end up drawing it in code or not.

[2015-08-18 01:51] samreid commented on #104
I'd recommend PNG and AI files for these.  These seem like a good start but I have some recommendations to further improve them:

1. The blue medium on the 1st and 3rd icon should look exactly the same.  They are currently at different heights and the one on the right has an outline while the leftmost one does not.
2. For that matter, why not make the laser angle and laser size exactly the same be

[2015-08-18 02:02] arouinfar commented on #174
Great questions, @samreid.

1. I've mocked up a few different options. I personally like the last option best.
2. Let's stick with just degrees. The mockup doesn't show it, but we should probably show at least one decimal place.
3. I think it looks a little strange without the normal, but it could work. More detail follows.
4. I don't think an icon is necessary. I think it would add additional vis

[2015-08-18 02:18] arouinfar commented on #104
Thanks for the feedback, @samreid.

I can definitely take care of 1, 2, and 4.

As for the prism, I drew a quick dispersion in Illustrator. I'm not sure how to make a more realistic looking version (I was thinking this would be something done in code). I will shrink it down and see how it looks.

The icon for the More Tools screen is a screenshot taken directly from the sim, as there are no design

[2015-08-18 03:38] ariel-phet commented on #174
@arouinfar I think the small tick mark is a really nice compromise. The double headed arrows feel cluttered and unecessary (and well look bad for small angles)...so I think the simple arcs are the way to go. I would also choose a point after which the numerical angle indicator jumps "outside" for very small angles (or ask @samreid to do so). I am not sure how I feel about the number intersecting t

[2015-08-18 03:39] ariel-phet commented on #174
And looking at your mockup, if you move the arcs and numbers further from the interface, you will have more room to work with, no need to cramp them so close.

[2015-08-18 14:50] samreid opened #184 "BendingLightView.js calls clear N-1 too many times"
Clear is called each time any ray is removed.   This means clear is called N-1 too many times, which can be large.  Not sure if this would show up in the profiler, but perhaps there is a better abstraction to be used here.

Look for a comment like:
[code]

[2015-08-18 15:48] samreid commented on #71
In the above commit, I added the following rule:

if the center of the laser or prism is dropped behind the enviornment control panel or laser control panel (on the prism screen), then translate it to the left until its center is no longer obscured.

This does permit corner cases like the following, but that may be acceptable since you can still see and grab the object.
![image](https://cloud.gith

[2015-08-18 15:53] samreid commented on #71
Also, here is a "worst case scenario" for releasing the prism shapes:

![image](https://cloud.githubusercontent.com/assets/679486/9335013/f759913a-458e-11e5-9702-58c17974f149.png)

@arouinfar can you review http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.8/bending-light_en.html and let me know if it is sufficient, or if you would recommend a change in the rules for handling o

[2015-08-18 19:48] arouinfar commented on #71
This looks good to me @samreid. I was always able to retrieve the prisms, even in the edge cases you pointed out. I'll go ahead and close this issue. Thanks!

[2015-08-18 19:48] #71 closed

[2015-08-19 21:14] samreid commented on #7
Fixed in http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.9/bending-light_en.html
@arouinfar can you take a look and let me know if this issue is good to go?  Also, note that in #167 the prisms are now getting cut off on the sides of the play area--that is a separate issue.

[2015-08-19 21:15] samreid commented on #167
We are using cssTransform:true for prisms at the moment and the prisms are getting truncated on the top and left of the play area, see https://github.com/phetsims/scenery/issues/454

[2015-08-19 21:21] arouinfar commented on #7
Looks good! Thanks, @samreid. Closing.

[2015-08-19 21:21] #7 closed

[2015-08-19 21:50] samreid commented on #70
Fixed in http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.10/bending-light_en.html
 please review.

[2015-08-19 22:28] arouinfar commented on #70
Looks good, closing.

[2015-08-19 22:28] #70 closed

[2015-08-19 22:28] samreid opened #185 "Use scenery support for mouse/touch areas."
Many extra nodes are being added solely for the sake of touch/mouse events.  I think scenery has a specific feature for this that doesn't require creating invisible nodes.  I've seen this several places.

[2015-08-19 22:35] samreid commented on #122
This will be drawn in code.

[2015-08-19 22:49] samreid commented on #122
Partial progress above, but there are many confusing parts to VelocitySensorNode that will have to be figured out to finish this.

[2015-08-19 22:52] samreid commented on #172
Duplicated in #63

[2015-08-19 22:52] #172 closed

[2015-08-19 23:14] samreid commented on #183
Fixed in this version: http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.11/bending-light_en.html

Please verify.

[2015-08-19 23:21] samreid commented on #59
This problem no longer occurs on the iPad3.  I do see a brief transient burst when changing from ray->wave, but it doesn't seem significant to me.  @arnabp can you test on your platform and report back?

http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.11/bending-light_en.html

[2015-08-19 23:23] samreid commented on #157
I'm going to assign this to @ChandrashekarBemagoni.  @ChandrashekarBemagoni after you have finished working on the review issues from #44 can you let me know and I will request QA testing once more?

[2015-08-19 23:23] arouinfar commented on #183
All fixed! Thanks @samreid. Closing.

[2015-08-19 23:23] #183 closed

[2015-08-20 05:30] samreid commented on #171
Fixed above, but I will need to test more broadly and post a dev version for review.

[2015-08-20 05:38] samreid commented on #171
I used 1.5 of the layout bounds as the max for the rightmost edge of the control panels, so this is as far as they will get away:

![image](https://cloud.githubusercontent.com/assets/679486/9376516/57708cc6-46cb-11e5-97d2-d5899180df6b.png)

Here is a version for testing:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.12/bending-light_en.html

@arouinfar please test and let m

[2015-08-20 13:21] samreid commented on #182
With a layerSplit on the prismLayer node, dragging a single circle, I see 17fps.  With cssTransform:true on every prismnode, I see 18fps.  Since this is not significantly higher and cssTransform:true has this problem: https://github.com/phetsims/scenery/issues/454 I'm going to switch to using layersplit.  Thanks @jonathanolson!

[2015-08-20 13:23] samreid commented on #182
Fixed above, closing.

[2015-08-20 13:23] #182 closed

[2015-08-20 13:36] ChandrashekarBemagoni commented on #147
In sim.js (in resize() ) initially scale is taken with out considering the navigation bar.
 After finding the scale navigation bar height    is
```var navBarHeight = scale * NavigationBar.NAVIGATION_BAR_SIZE.height;```

  Now the screen hight becomes
 ``` var screenHeight = height - sim.navigationBar.height;```
  with this new screen height new scale is calculated in screenview(for each screen).

[2015-08-20 13:40] ChandrashekarBemagoni commented on #179
There is no problem with the above solutions.

[2015-08-20 13:42] ChandrashekarBemagoni commented on #156
`this.updatePrismColor` and `this.updatePrismShape`  are also used in the prismToolboxNode. So these are declared as instance variables

[2015-08-20 13:43] ChandrashekarBemagoni commented on #118
Fixed in above commit. Assigning to @samreid for verification

[2015-08-20 17:40] samreid commented on #154
I'm not sure why @ariel-phet added the `bug` label.  I'll remove it.

[2015-08-20 19:53] samreid commented on #118
I confirmed that the changes above give the same wavelength on iPad as on non-retina OS X.  However, now on retina devices the wave crests don't match at the interface, see this screenshot from the iPad3:

![image](https://cloud.githubusercontent.com/assets/679486/9393973/a1261d3c-4742-11e5-9960-e99336ced08e.png)

I did not observe this problem on my non-retina OS X chrome, but this is problematic

[2015-08-20 20:11] samreid commented on #156
I added docs to indicate that these variables are used in prismToolboxNode.  Closing.

[2015-08-20 20:11] #156 closed

[2015-08-20 20:37] samreid commented on #184
I discovered that a separate ObservableArray of white rays was being created and passed to WhiteLightNode, but it seems like using the bendingLightModel.rays will work just as well since WhiteLightNode doesn't do any work when it is invisible.  I tested with this and didn't see any issues, will commit shortly.

[2015-08-20 20:38] samreid commented on #184
Committed above, and this cleans up the clear() calls a bit.  @ChandrashekarBemagoni are you aware of any problems with the above change?

[2015-08-20 20:48] samreid commented on #175
It looks like a WaveWebGLNode is created even for the Prisms screen, which shouldn't have a WaveWebGLNode

[2015-08-20 20:48] samreid commented on #175
[code]

[2015-08-20 21:07] samreid commented on #175
I moved the wave view to the intro view above.

[2015-08-20 21:30] samreid opened #186 "The translation arrows should move with the laser"
I think the laser and its translation arrows are currently updated independently.  Performance would be better if they were all in the same layer and translated together (if possible).

[2015-08-20 21:36] samreid commented on #175
Across the above changes, BendingLightView is much more modular.  Reassigning to @ChandrashekarBemagoni to make him aware of the changes and to review if desired.

[2015-08-20 21:39] samreid commented on #147
In the code, I tried setting `var navigationBarHeight = 0;` and did not see any differences.  Am I missing something?

[2015-08-20 22:22] samreid commented on #167
We are up to around 19-20fps for dragging the circle on iPad3, on iPad2 it will likely be 20-30% faster faster based on https://github.com/phetsims/bending-light/issues/153  In my opinion this is good enough to publish for iPad3.  If others think this is too slow, the next optimization step would be working on Shape support for WebGL in scenery.

[2015-08-20 22:33] samreid commented on #167
@arouinfar and/or @ariel-phet can you review performance dragging a single prism with the laser off in this version and let me know if we can close this issue or if we should open discussions about integrating Shape support in WebGL (the latter would be a long process that heavily involves @jonathanolson)?

http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.13/bending-light_en.h

[2015-08-20 22:53] samreid commented on #122
Putting the hot spot at (0,0) is working great here, I just need to reposition the other things around it. Thanks to @pixelzoom and @jonathanolson for suggesting this strategy (though in some other context) earlier today.

[2015-08-20 23:14] pixelzoom commented on #122
I use that strategy a lot to make it easy to position things. If you haven't already, highly recommend to note where the (non-standard) origin is in your Node's jsdoc.

[2015-08-21 00:15] samreid commented on #122
Thanks I documented the origin in the jsdoc.

[2015-08-21 00:52] samreid commented on #122
Fixed here, @arouinfar can you take it for a test drive? http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.15/bending-light_en.html

[2015-08-21 01:50] samreid commented on #181
Showing reflections on prisms screen can be sluggish on the iPad3, and working on this may be a good first step towards getting white light into webgl, so I'm going to tinker with it.

[2015-08-21 01:58] samreid commented on #181
I tested commenting out the render phase of the canvas renderer, and it was still just about as sluggish as with the canvas render enabled.  So I think the main issue is in the model, and it is unclear how beneficial the webgl (instead of canvas) will be for the solid rays, if at all.

[2015-08-21 05:25] samreid opened #187 "Propagate rays is called twice as much as necessary"
I have seen this pattern multiple times in the profiler, where it looks like propagate rays is called twice instead of once per frame.  This is the bottleneck in the sim when reflections are on and there are a few prisms:

![image](https://cloud.githubusercontent.com/assets/679486/9401834/b681ad90-4792-11e5-85f4-d5b341ec951a.png)

[2015-08-21 05:55] samreid commented on #181
This is working pretty well in the last couple of commits.  Using WebGL on screen 1 causes an exception, and we need to test performance (in conjunction with solving #187).  Also needs performance testing on iPad.

[2015-08-21 08:23] arouinfar commented on #171
The 1.5 rule seems good to me, though only floating the menus on the right feels a little unbalanced. Can you chime in @ariel-phet?

[2015-08-21 08:24] arouinfar commented on #167
@ariel-phet can you test this (or reassign to the appropriate QA tester)? I won't have access to an iPad while out of town.

[2015-08-21 08:25] arouinfar commented on #122
It's working great! Thanks @samreid. The only comment I have is a bit pixel-polishy. The readout window seems larger than necessary (and larger than the mockup). Is it possible to reduce the size a bit? If the padding (amount of orange) on the top of the readout window matched the amount on the sides, it would feel more balanced to me.

[2015-08-21 08:29] arouinfar commented on #174
How about this, @ariel-phet?
![image](https://cloud.githubusercontent.com/assets/8419308/9404381/50c647a8-47ac-11e5-977b-68ab29cd3447.png)

[2015-08-21 08:34] arouinfar commented on #178
I think the current layering (dev.15) will do. The prisms need to be layered above the bottom panel for usability reasons, which then requires the laser and beam to also be layered above the bottom panel. I don't think we thought about this issue when deciding that the beam should be layered behind both the bottom and side panels. I'm going to go ahead and close this issue.

[2015-08-21 13:02] samreid commented on #178
I thought we were still going to move the laser behind the top-right control panels, so we don't see this issue in that case:

![image](https://cloud.githubusercontent.com/assets/679486/9408745/86bdcd10-47d2-11e5-8672-caf356f89d13.png)

Should we still do this, or not?

[2015-08-21 15:30] samreid commented on #6
This is mostly covered in other issues, so I'm going to unassign it.  Still, to remind me to look into it after other work is done, I'm going to leave this issue open.

[2015-08-21 15:39] samreid commented on #66
Is this a duplicate of #178 ?

[2015-08-21 15:40] samreid commented on #178
Reassigned to @ariel-phet for feedback.

[2015-08-21 15:40] samreid commented on #66
Reassigned to @ariel-phet to see if there is anything else to do here, or if it is all covered in #178.

[2015-08-21 15:48] ariel-phet commented on #174
Looks great! Assigning to @samreid

[2015-08-21 15:49] ariel-phet commented on #174
@samreid if you would like an icon with the angles, feel free to add a simple one (the classic angle symbol)

[2015-08-21 15:49] samreid commented on #187
Duplicate calls confirmed with console.log statements:

PM.propagateRays
PM.propagateRays
frameStarted

[2015-08-21 15:52] ariel-phet commented on #171
Agreed, @samreid lets float the left control panels to the left as well for balance.

[2015-08-21 15:56] samreid commented on #187
Here's the problem.  Two calls to translate in PrismNode drag handler:

[code]

[2015-08-21 16:13] samreid opened #188 "Prisms get away from the cursor"
Similar to #177, the prism gets away from the cursor.  This only occurs when dragging a prism from the play area, the implementation in PrismToolboxNode doesn't exhibit this problem.  Discovered during #187

[2015-08-21 16:14] samreid commented on #188
I recommend using an approach like in PrismToolboxNode, it seems like it is working very well.

[2015-08-21 16:19] samreid commented on #187
Fixed, this should cut down the amount of work done by up to 50% (if all the work was in the model) or 25% (if half the work was in the view anyways).

![image](https://cloud.githubusercontent.com/assets/679486/9413237/e4198dda-47ed-11e5-906c-0141df06cbe7.png)

Much speedier on the iPad, hooray!

Closing.

[2015-08-21 16:28] #187 closed

[2015-08-21 16:31] samreid commented on #181
Together with #187 this is looking great on the iPad and well worth its 175 lines of code (aka not too complex).  The only outstanding issue is the exception.  I couldn't reproduce it on screen 1, or screen 2.  Will reopen if it crops up again.  Closing.

[2015-08-21 16:32] samreid commented on #51
To implement this, we will need to track each "bundle" of rays that go together and only add one renderable intersection object for the bundle.

[2015-08-21 16:48] samreid commented on #188
Also #166 is partially about reusing the drag code between the prisms from the toolbox and prisms from the play area, so we will only have one input listener or drag function we have to get right.

[2015-08-21 16:52] samreid commented on #51
A shortcut might be just to show intersections for selected wavelengths in the white light bundle.  Performing a nonlinear interpolation nearest to the centroid of a bundle of intersections would be very complicated and take much more time to get it right.  Just showing for selected wavelengths in the white light bundle should be very easy to try.  @ariel-phet OK with you if I try this first?

[2015-08-21 16:54] samreid commented on #51
The primary possibilities would be (a) showing a single line for the median wavelength or (b) showing 2 lines, one for the max wavelength and one for the min wavelength.  Note that if the bundle of rays gets separated, the lines would just appear for the selected rays.

[2015-08-21 16:55] samreid commented on #53
Now that we have a good WebGL implementation for solid rays, we can use this as a starting place for a WebGL implementation white light.  I will likely benefit significantly from @jonathanolson's help for blending the colors properly, but I'll start this out on my own.

[2015-08-21 17:02] samreid commented on #181
Oops, I was testing the canvas one above, not the webgl one.  Reopened for investigation.

[2015-08-21 17:06] samreid commented on #53
The white light renderer may be general enough to render all rays (solid ones too).  That would be interesting.

[2015-08-21 17:16] samreid commented on #53
The solid renderer looks pretty good here.  Great performance on iPad3.  We still have to work on the blending, it currently looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/9414485/fc3f6e4a-47f5-11e5-9f68-f543a485d8ac.png)

[2015-08-21 17:27] samreid commented on #53
[code]
looks pretty good:
![image](https://cloud.githubusercontent.com/assets/679486/9414651/65f46b5a-47f7-11e5-8e46-47818b2a7592.png)

But now I'm remembering we designed the sim to have the rays add up to gray instead of white.  This could be harder.

One possibility would be to gray the background slightly to accentuate the fact that the light is white, then we can continue to use this hardware

[2015-08-21 17:28] samreid commented on #53
Also, it looks like some of the channels are oversaturating.

[2015-08-21 17:45] samreid commented on #63
The WebGL implementation fits the visible bounds.  I can reshape the canvas to fit the bounds but since it is a large 2D histogram this would actually be very difficult to fit the bounds for the case where webGL is not allowed.  Perhaps we should discuss whether we can allow this restriction for when webGL is not available in order to keep the computations tractable.  *or* we could bail on the his

[2015-08-21 17:54] samreid commented on #65
It looks like one way to reach this goal will be to simulate multiple parallel rays when in wave mode and check each for intersections in addAndAbsorb.  Alternatively, we could try for a shape/shape intersection, but that may be more difficult to decide where to truncate the wave.

[2015-08-21 19:33] samreid commented on #122
I reduced the size (old one top, new one bottom).  Assigned to @ariel-phet to see if there's anything else to do here.

![image](https://cloud.githubusercontent.com/assets/679486/9417390/12bda39a-4809-11e5-80ad-5fd8de2938e5.png)

[2015-08-21 19:47] samreid commented on #153
Comparing the original report to latest version:

Intro screen, dragging the laser pointer back and forth (with it off): 10fps => 27fps
Intro screen, dragging the laser pointer back and forth (with it on): 5fps => 20fps
Intro screen, dragging the protractor with the laser off: 10fps => 30fps
Intro screen, dragging the material slider back and forth: 8fps => 20fps
Prisms screen, dragging the circle

[2015-08-21 19:48] #153 closed

[2015-08-21 23:24] samreid commented on #171
All of the draggable sensors are written with the assumption of a non-moving control panel.  I can change that, but it will take 6+ hours to get it working for all sensors and will increase the complexity of the code slightly, so I wanted to confirm with @ariel-phet before proceeding.

[2015-08-21 23:25] samreid commented on #180
This will be solved by the WebGLNode #53 and we will have to discuss whether it is acceptable for the canvas version to be pixellated (for devices without WebGL).  @ariel-phet thoughts?

[2015-08-21 23:26] samreid commented on #179
Thanks for reviewing, I'll close the issue.

[2015-08-21 23:26] #179 closed

[2015-08-21 23:41] samreid commented on #181
Since we have decided to keep WebGL for solid rays, this issue can be closed.  I'll create a separate issue for the error that is occurring.

[2015-08-21 23:41] #181 closed

[2015-08-21 23:42] samreid opened #189 "out of range vertices when laser is at 90 degrees in WebGL"
In #181 we developed WebGL for colored (nonwhite) rays.   It is working well with one exception:

This occurs when putting the angle at 90 degrees on screen 1.

[2015-08-22 01:10] jonathanolson commented on #53
That sounds nice to me.

It would also be possible to render the "true white" lines into a framebuffer (backed by a texture), then use another fragment shader to map values to the desired appearance.

[2015-08-22 04:10] ariel-phet commented on #180
Yes, I think it will be acceptable for the canvas version. I am going to change the title of this issue to reflect that, but keep the issue open.

[2015-08-22 04:15] ariel-phet commented on #171
@samreid Performance issues are definitely the priority, but considering the cramped play area, and the very unbalanced view you get with the normal active and the controls floated to the right, I think it is worth the effort.

[2015-08-22 06:33] ChandrashekarBemagoni commented on #147
In fragment shader default origin is at lower left corner. So, any change in navigationBarHeight will change the Y1 position which is derived from gl_FragCoord and also changes the scaling. This can be observed in following figures there is a difference in wavelength and phase
![nvbh40](https://cloud.githubusercontent.com/assets/7919831/9422867/58af70c4-48c5-11e5-9a85-edea10673d35.png)
![nvbh0](ht

[2015-08-22 06:39] ChandrashekarBemagoni commented on #117
Fixed in above commit.Assigning to @samreid for verification

[2015-08-22 06:48] ChandrashekarBemagoni commented on #125
Every property has 2 values initial value and present value. But if directly give a value like
``` this.sensorPosition = this.newSensorPosition ``` it will overwrite the initial value. We can not reset to the initial value.

As per your suggestion we set the value only once in the constructor
[code]
    // vector to store sensor position
    this.newSensorPosition = new Vector2( sensorX, sensorY )

[2015-08-22 06:52] ChandrashekarBemagoni commented on #175
Thanks @samreid . Now BendingLightView is much more modular.

[2015-08-22 07:04] ChandrashekarBemagoni commented on #118
Fixed here https://github.com/phetsims/bending-light/commit/c7e7ea084b7edf3e9c82c776a1bf2352664d1655. Assigning to @samreid for verification

[2015-08-22 11:42] #175 closed

[2015-08-24 13:19] samreid commented on #53
I'll create a separate issue about asking whether we should use true white for the white light, or find a way to support gray light (against a white background).

[2015-08-24 13:21] samreid opened #190 "Should white light be white instead of gray?"
Currently, "white" light is gray so that will show up against the white background.  When we started investigating the WebGL renderer for white light in #53 we found that rendering white light as white is simpler than remapping it to gray.  @jonathanolson suggested that it may be possible to use a frame buffer to remap colors as a postprocessing step, but I haven't investigated it yet.  The questi

[2015-08-24 13:30] samreid commented on #180
Since the pixellation of the white light is acceptable, I am going to close the issue.  But I wanted to add one note that if we move toward graying out the background and showing white light as white instead of gray, see #190 and #53 then we may be able to use canvas draw calls here instead of building our own pixellated histogram.

[2015-08-24 13:30] #180 closed

[2015-08-24 13:31] samreid commented on #190
One note from #180

[2015-08-24 15:29] samreid commented on #147
I see, there are 13 wave crests in one picture and 12 in the other (for the incoming ray).  You can see how they are out of phase if you overlay them with partial transparency:

![image](https://cloud.githubusercontent.com/assets/679486/9444101/f7257000-4a41-11e5-9801-9cdfd44f8f28.png)

My only concern is that I thought the default shader origin is at the lower left corner of the WebGL canvas.  Ch

[2015-08-24 16:07] jonathanolson commented on #147
WebGL blocks default to take up all available space, and since Scenery's display bounds include the navbar, the Canvas will extend over that region. It's expected to be that large.

[2015-08-24 16:09] samreid commented on #147
So when do we need to subtract off the navbar height for webgl layout?

[2015-08-24 19:20] samreid commented on #117
I published a fresh version for testing:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.16/bending-light_en.html

On the retina iPad3, the phase is incorrect:
![image](https://cloud.githubusercontent.com/assets/679486/9449897/d20c95de-4a62-11e5-8b37-8fefb28c2fc6.png)

[2015-08-24 19:44] samreid commented on #118
I think the wave crests matching at the interface is being handled in #117, so this issue can be closed.

[2015-08-24 19:44] #118 closed

[2015-08-24 20:06] samreid commented on #125
I see the issue.  For instance, ProtractorModel has a position property which is declared like this:

[code]

I tried revising it like so:

[code]

and got rid of the set call in translateXY:
[code]

However, the problem is that other clients of the ProtractorModel set a different Vector value to it sometimes, and hence sometimes it needs to set back its original vector instance.

So we have the f

[2015-08-24 20:08] samreid commented on #147
@jonathanolson can you discuss this with me soon, so we can determine whether any work remains for @ChandrashekarBemagoni?

[2015-08-24 20:17] jonathanolson commented on #117
On Chrome/Win7, I'm seeing that the matching offset depends on screen size (increasing the width of the available area to the sim seems to change the offset, so I can make it match or not match).

See below:
![bending-light-mismatch](https://cloud.githubusercontent.com/assets/480878/9451246/cc6d5796-4a6a-11e5-8327-c426c635b132.PNG)

[2015-08-24 20:39] jonathanolson commented on #147
I'd like to propose an alternative way of rendering WaveWebGLNode:

It's possible to pass model coordinates of each vertex to the vertex shader, and set up a varying vec2 that will interpolate this for the fragment shader. Then you have access to the model coordinate directly in the fragment shader, instead of having to do lots of computation to determine the value.

This should remove the need to

[2015-08-24 20:55] ariel-phet commented on #190
@samreid will try WebGL with gray light.

[2015-08-24 20:55] samreid commented on #147
@ChandrashekarBemagoni can you implement it as @jonathanolson described?

[2015-08-24 20:56] ariel-phet opened #191 "Add mipmaps"
@samreid please add mipmaps where appropriate (for instance the protractor)

[2015-08-24 21:08] ariel-phet opened #192 "White light should have only 1 ray"
Assigning to @samreid as a question for @kathy-phet during status meeting

Advantages:

1. Performance
2. Reduction of clutter
3. Multiple rays of white light seems not particularly useful and too busy.

[2015-08-24 21:18] samreid opened #193 "Reduce the size of the velocity sensor in the toolbox"
so that it matches the size of the intensity sensor and time graph sensor.