[2015-11-25 18:56] pixelzoom opened #316 "magic numbers related to view transform"
BendingLightView has these 2 constructor parameters. They are poorly documented, but appear to be related to a necessary view transformation.

[code]

Next are the magic numbers that appear at call sites.

In PrismView, we find `90` and `-43`:

[code]

In IntroView, we find `centerOffsetLeft` and `0`:

[code]

... and need to go to IntroScreen to find that `centerOffsetLeft` is in fact `102`.

`re

[2015-11-25 19:03] pixelzoom opened #317 "inconsistent UI for manipulating laser"
Noted while working on https://github.com/phetsims/models-of-the-hydrogen-atom/issues/2.

When the laser is can be both rotated and translated, it's image has a knob, as shown below. The laser is rotated by dragging the knob, translated by dragging the body.

![screenshot_102](https://cloud.githubusercontent.com/assets/3046552/11406803/711826e6-936c-11e5-8c94-56eeff8292eb.png)

When the laser can

[2015-11-25 20:31] ariel-phet commented on #317
Interesting point @pixelzoom

Actually, I never gave it too much thought but on the "prism" screen when the laser is able to rotate, wouldn't it feel more natural to rotate about its own center, rather than what feels like an arbitrary point on that screen. I am guessing @samreid did this since the rotation then was a similar implementation on all 3 screens, but I am not sure if it is the best use

[2015-11-30 15:13] orejolaphet opened #318 "Slow performance with "Wave" setting selected on Safari 9.0"
Test device: Personal Mac
Operating System: 10.11
Browser: Safari 9
Problem description: "Slow performance when the laser has the "Wave" setting selected on the Intro and More Tools" screens. In particular the sim lags when attempting to move the tools, i.e protractor and intensity measurement device. The objects don't move with the mouse immediately.

Steps to reproduce:

Severity: Low

Screensho

[2015-11-30 15:14] orejolaphet commented on #318
Note: on the same computer the performance does not lag on Chrome 46

[2015-11-30 15:24] orejolaphet opened #319 "Inconsistency when measuring intensity in "Wave" vs "Ray" setting."
I noticed that between the two laser settings: "Wave" and "Ray", the intensity will not be measured for the "Ray" setting but will be measured for "Wave".

Should the behavior be same for both settings?
Here is a screen shot of the "Wave" being measured
<img width="343" alt="screen shot 2015-11-30 at 8 18 25 am" src="https://cloud.githubusercontent.com/assets/5631059/11475604/836b01ce-973b-11e5-83

[2015-12-01 22:21] arouinfar commented on #317
This behavior matches the original Java version, but now that I think about it, it does seem a bit odd. I think it would make sense to add the knob to the laser in the Intro and More Tools screens to keep a consistent UI.

I agree with @ariel-phet, that this may be a more natural-feeling rotation. However, I like that rotation is consistent across all three screens. I'd also be worried that the ro

[2015-12-01 22:38] arouinfar commented on #308
Nice observation @brroberts1231.

This behavior is deliberate. The goal is to allow users to maximize the playspace. If the window size is decreased, the objects should follow the edge of the screen until they reach the edge of the dev boundary.

However, it looks like the laser does not behave properly when the window is resized. I'm having trouble consistently reproducing this issue in dev.45 wi

[2015-12-02 22:12] samreid commented on #310
@ariel-phet @arouinfar do you want to spend time investigating this before publishing bending light 1.00?

[2015-12-02 22:13] samreid commented on #311
@ariel-phet can you evaluate this issue and discuss what to do about it?

[2015-12-02 22:14] samreid commented on #312
@ariel-phet are we going to have another dev test before RC testing?  If so, I'd like to address this beforehand.

[2015-12-02 22:15] samreid commented on #315
@ariel-phet are we going to have another dev test before RC testing? If so, I'd like to address this beforehand.

[2015-12-02 22:15] samreid commented on #316
@ariel-phet are we going to have another dev test before RC testing? If so, I'd like to address this beforehand.

[2015-12-02 22:20] samreid commented on #317
I don't think it matters much one way or another in terms of usability--both modes (rotate about arbitrary point/rotate about center) seem equally acceptable, but I do see @arouinfar's point about sensitivity on touch devices.

Regarding the other point @pixelzoom raised: I don't think the laser on screens 1 and 3 need a knob since there is only one way to interact with the laser--a knob there wou

[2015-12-02 22:21] samreid commented on #318
@ariel-phet do you want to spend time on this before the next dev version or RC?

[2015-12-02 22:22] samreid commented on #319
I think the solution to this problem will be to fix the capture radius of the probe to match the graphical look--then the discrepancy will have an obvious physical reason.

[2015-12-03 02:35] samreid commented on #319
I'm recalling a reason a smaller hit area on the sensor is better--a larger hit area accentuates the discontinuity in the light ray hitting the sensor near the origin.  Still, I think I should make the entire sensor region on the probe capture light, and then if the discontinuity is too distracting, then it should be fixed with math (though I think I am the only one that has noticed the discontinu

[2015-12-03 02:43] samreid commented on #319
OK I matched the regions in the above commit.  Here's a screencast with the new behavior and the corner cases/discontinuities I am aware of:

![bendinglight](https://cloud.githubusercontent.com/assets/679486/11550376/cf977bd4-992c-11e5-81d9-922759d3996f.gif)

The other solution I considered would be to make the wave hit area match the ray hit area, so that a wave would only intersect if the ray wo

[2015-12-03 02:46] samreid commented on #314
Fixed above, closing.

[2015-12-03 02:46] #314 closed

[2015-12-03 02:58] ariel-phet commented on #319
The behavior in the comment above seems fine. Closing

[2015-12-03 02:58] #319 closed

[2015-12-03 03:00] ariel-phet commented on #312
yes there will be another dev test

[2015-12-03 03:00] ariel-phet commented on #316
yes, we will have another dev test.

[2015-12-03 03:03] ariel-phet commented on #317
@samreid - can you give me an estimate of what it would take to make the laser rotate about its center on the prisms screen? If it is an easy change I would like to try it out on a touch device and see how it feels.

[2015-12-03 03:06] ariel-phet commented on #315
Yes, we will have another dev test.

[2015-12-03 03:10] ariel-phet commented on #318
@samreid can you investigate? It seems odd to me this sim would perform so well on other desktop browsers and have an issue in safari. Do you see the slowness on your macbook air?

[2015-12-03 03:11] ariel-phet commented on #310
I will need to reproduce it and see how bad it is....is it a normal use case, or does it require really quick movements of the laser pointer

[2015-12-03 03:24] samreid commented on #318
Things are pretty snappy on my mid-2012 macbook air, with both webgl=true and webgl=false.  Here's a movie with webgl (webgl=false looks the same speed):

![speed](https://cloud.githubusercontent.com/assets/679486/11550992/31f84d3a-9932-11e5-9f47-41ace1170cc3.gif)

I'm on OS X 10.11.1 and Safari 9.0.1.  To investigate further, the next steps would be:

1. for @orejolaphet to create a screen captur

[2015-12-03 03:40] samreid commented on #310
@elisemorgan included a movie above showing the problem on a device: https://drive.google.com/file/d/0B_TAL-jnJOoKenh5TkN2TDdXUE0/view?pli=1

[2015-12-03 05:32] ariel-phet commented on #318
@orejolaphet I am a bit suspicious that this might be device specific, so mind trying the steps above?

[2015-12-03 16:39] orejolaphet commented on #318
I suspect it was my CPU. I restarted my computer and closed all other applications besides safari, and now everything runs pretty smooth on Safari 9.

[2015-12-03 17:13] arouinfar commented on #310
@ariel-phet @samreid I've never witnessed this behavior while using the sim on Mac, iPad2, or iPad3 -- even when rapidly moving the laser (though I haven't used dev.45 on iPad). I can more carefully investigate this issue to see if I can reproduce.

[2015-12-03 17:24] samreid commented on #318
Thanks for testing this @orejolaphet, seems like we can close this issue.

[2015-12-03 17:24] #318 closed

[2015-12-03 18:24] samreid opened #320 "Make it easier to grab and rotate the laser in the prism screen."
Move the button forward a bit, to match the other screens, or even further forward.  Then adjust the touch region for translation and rotation to make it easier to grab to rotate and translate.

[2015-12-03 18:30] samreid commented on #317
I showed a prototype where the laser rotates about its tip, and @ariel-phet and @arouinfar thought it looked good.

[2015-12-03 20:16] ariel-phet commented on #311
Fix sliders as dicussed

For ray and wave toolbox, set limit of size so it does not interfere with the laser position

[2015-12-03 22:24] samreid commented on #320
Increased touch areas above, looks like this now:
![image](https://cloud.githubusercontent.com/assets/679486/11576132/daa0d6a6-99d1-11e5-9c20-0be74fedee5c.png)

I think this will work nicely, but I should still test on an iPad before closing or getting @ariel-phet or @arouinfar to test.

[2015-12-03 22:41] samreid commented on #317
Fixed above, should be published for review.

[2015-12-03 22:45] samreid commented on #316
The ModelViewTransform2 is instantiated a few lines lower in the constructor.:

[code]

[2015-12-03 23:01] samreid commented on #320
Touch area is not being respected here, instead we should augment the rotation touch area.

[2015-12-03 23:04] samreid commented on #320
Fixed above, @ariel-phet tested it on iPad and says it is good.

@samreid just needs to test that the regions in Screen 1 and 3 are undisturbed.

[2015-12-03 23:04] samreid commented on #317
@ariel-phet tested this on iPad2 and reported it is good.

[2015-12-03 23:04] #317 closed

[2015-12-03 23:07] arouinfar commented on #320
@samreid, I'll defer to @ariel-phet's judgement when it comes to the touch area. If it's working well for him, then it's good enough for me.

[2015-12-04 02:03] samreid commented on #316
I documented centerOffsetLeft and verticalOffset in the above commits.  Here is the new JSDoc:

[code]

[2015-12-04 02:04] samreid commented on #316
I also documented these in the above commits, for example:

[code]

[2015-12-04 02:05] samreid commented on #316
The IntroView does not require any verticalOffset (now described as such in the BendingLightView constructor JSDoc), so this parameter is omitted here.

[2015-12-04 02:12] samreid commented on #315
I agree 10 required arguments is longer than normal and more difficult to grok.  However, converting these to options values would also mean moving toward a non-standard documentation for the options types (is there a good way to do this?).  What about leaving them as required parameters (annotated with `@param`) and adding the var name annotations in source like so (done in commit above):

[code]

[2015-12-04 02:15] samreid commented on #315
Done for the other call site above.

[2015-12-04 02:54] samreid commented on #313
Issues fixed above.

[2015-12-04 03:02] samreid commented on #312
In the above commit, I am passing the image directly rather than encoding as string/boolean and decoding.

[2015-12-04 04:08] samreid commented on #311
I think what we discussed is that we don't know why the sliders are getting so wide, and they are a large part of the problem.  We should try to find out why the sliders are getting wide and try to prevent it if possible.

[2015-12-04 04:22] samreid commented on #311
Fixed above, the sliders were basing their size on invisible tweaker buttons.  Much better now for stringTest=double.

[2015-12-04 04:31] samreid commented on #311
New longStringTest on Intro:
![image](https://cloud.githubusercontent.com/assets/679486/11581917/20c3c7fa-9a05-11e5-9105-3902d39da202.png)

Doesn't seem helpful on More Tools:
![image](https://cloud.githubusercontent.com/assets/679486/11581924/36773e4c-9a05-11e5-81c1-ca99894a09e5.png)

[2015-12-04 04:36] samreid commented on #311
Putting maxWidth on the readout seems to help this (even if it is a rare case):

![image](https://cloud.githubusercontent.com/assets/679486/11581965/d29327aa-9a05-11e5-8184-a9a005ac5c8b.png)

Commits are above.  Seemed straightforward, so I will close. @ariel-phet please reopen if you wish to test further.

[2015-12-04 04:36] #311 closed

[2015-12-04 04:40] samreid commented on #320
Looks great on iPad3, closing.

[2015-12-04 04:40] #320 closed

[2015-12-04 04:54] samreid commented on #309
This is the closest I can get by doing various presses and drags on the prisms in the toolbox:

![image](https://cloud.githubusercontent.com/assets/679486/11582155/27b8802a-9a08-11e5-94aa-b263b0afb55d.png)

Can't reliably reproduce this and am not clear on this part of these instructions:

[2015-12-04 04:58] samreid commented on #309
@elisemorgan @ariel-phet @arouinfar I am having trouble reproducing this problem.  I was able to create a similar (though not identical) situation once or twice where the prism icon goes to the wrong part of the toolbox (like in the comment above).  Seems probably related.  But I don't think I can work on this too much until I can reliably reproduce the problem.  Any help would be great!

[2015-12-04 06:03] samreid commented on #308
Fixed above, straightforward, tests show it is fixed, no need to reassign for verification, closing.

[2015-12-04 06:03] #308 closed

[2015-12-04 16:50] ariel-phet commented on #310
@samreid I think during "normal use cases" this is either extremely minor, or not noticeable at all. Only rapid movement of the laser causes the issue, which is not such a useful pedagogical scenario.

However, could you close this issue and make an unassigned issue to the effect of "consider rendering laser in webgl" or such - whatever the eventual solution would be. So that if we are republishin

[2015-12-04 16:56] samreid commented on #310
It is unclear what the eventual solution would be, so how about leaving this issue open and unassigned rather than creating a new issue that refers to this one?

[2015-12-04 17:18] ariel-phet commented on #310
Sounds good

[2015-12-04 17:43] pixelzoom commented on #312
This is going in the wrong direction. Now the responsibility is in IntroView and PrismView.   How does this facilitate being able to use a generalized node for the laser, as mentioned above and described in https://github.com/phetsims/models-of-the-hydrogen-atom/issues/2 ?

[2015-12-04 17:46] pixelzoom commented on #316
This still seems unnecessarily complex, fragmented and spread across source files - meaning difficult to understand and maintain.  Why not just pass a proper `ModelViewTransform2` instance into each `ScreenView` subtype, and document each transform at the location where it's instantiated?

[2015-12-04 17:47] pixelzoom commented on #313
Looks good, closing.

[2015-12-04 17:47] #313 closed

[2015-12-04 17:49] ariel-phet commented on #309
I think what @elisemorgan was suggesting to reproduce is hold finger near the knob (but not touching), then swipe quickly across.

[2015-12-04 17:50] ariel-phet commented on #309
Assigning to @arouinfar to see if she can reproduce...would be good to understand if we think this would happen in a normal use case, or do you really have to be trying to cause the issue.

[2015-12-04 17:50] samreid commented on #316
The ModelViewTransform2 instances only differ in 2 of the 9 matrix values.  Passing in just the different values is one way of factoring out the other 7 identical values.  Are you thinking of a static method `createBendingLightModelViewTransform2` that can be used to create these similar ModelViewTransform2 instances without duplicating the other 7 values?  Or some other strategy?

[2015-12-04 17:53] samreid commented on #312
We are now 1 refactoring step away from changing the argument from HTMLImageElement to scenery.Node, which would let you use a generalized node for the laser.

I'm unfamiliar with https://github.com/phetsims/models-of-the-hydrogen-atom/issues/2 .  Is the intention to move LaserNode to scenery-phet?  Or something else?

[2015-12-04 18:01] arouinfar commented on #309
@samreid @ariel-phet I was able to reproduce this issue using @elisemorgan's procedure rather easily on iPad2/Whitten. It's a bit hard to describe, so I'm going to grab the iPad Air to do a quick screen recording.

[2015-12-04 18:03] arouinfar commented on #309
One thing worth noting is that the sim requires a hard refresh to return to normal. Reset all does not work.

[2015-12-04 18:05] pixelzoom commented on #315
@samreid wrote:

I don't understand.  How would (for example) having options `centerLeftOffset:0` and `verticalOffset:0` be a problem? (Though I recommend replacing them with `modelViewTransform:ModelViewTransform2.IDENTITY`, see https://github.com/phetsims/bending-light/issues/316#issuecomment-162032782).

The issue is probably that changing from constructor parameters to options is a lot of work

[2015-12-04 18:16] pixelzoom commented on #312
scenery-phet.LightNode (final name TBD) will be created programmatically (no images) and will look like this:

![screenshot_87](https://cloud.githubusercontent.com/assets/3046552/11597167/2b5e1d7e-9a77-11e5-8f52-4ec0cc9e20d9.png)

There will be no "knob" feature, since that seems to be specific to bending-light.

Presuming that you think this should be reused in bending-light...  Changing bending-

[2015-12-04 18:22] samreid commented on #315
I think it would work OK, the types would be documented like this example in Hooke's Law:
[code]

     // ccwArrowNotAtMax
      ccwArrowNotAtMax,
[code]

I'll take a look through and see if I can resolve the issues from the previous comment.

[2015-12-04 18:28] pixelzoom commented on #315
Imo, this would be clearer, with "doc here" for options copied down from params.

[code]

[2015-12-04 18:31] samreid commented on #315
That looks nice, let's go for it!

[2015-12-04 18:52] pixelzoom commented on #316
The transform is instantiated at line 81 in BendingLightView:

[code]

So yeah, I see the problem with passing in a `ModelViewTransform` instance.  The viewPoint and scale are both dependent on the screen's height.

If I put this in BendingLightView constructor:

`console.log( this.constructor.name + ' centerOffsetLeft=' + centerOffsetLeft + ' verticalOffset=' + verticalOffset );`

I see this in r

[2015-12-04 20:35] arouinfar commented on #309
@samreid Here's a link to an annotated screen recording on the iPad Air:
https://drive.google.com/file/d/0B-YvjkIIcS_aajB4bmZJckx6RW8/view?usp=sharing

It's pretty easy to move the prism icons to the other side of the panel by hovering your finger over the exact location of the rotate knob and then quickly swiping to the right.
![bendinglight309-2](https://cloud.githubusercontent.com/assets/841930

[2015-12-05 01:35] arouinfar commented on #80
This has been added to the Model Simplification section of the Teacher Tips.

Absence of reflections of reflected beams must have been a glitch in an earlier version. Reflections of reflections are shown in the Java version and in the latest dev (dev.45), so need need to document this in the tips.

[2015-12-05 01:35] #80 closed

[2015-12-07 18:45] samreid opened #321 "Laser should be to the left in prism screen"

[2015-12-08 01:25] samreid commented on #316
The above commit is "Renamed centerOffsetLeft/verticalOffset to horizontalPlayAreaOffset/verticalPlayAreaOffset and moved to options, see #316", reassigning to @pixelzoom for review.

[2015-12-08 01:37] samreid commented on #321
Just moving the pivot flips the laser upside down, not sure why.  Also, it may be easier to just shift the play area transform.

[2015-12-08 01:45] samreid commented on #321
Fixed above, closing.

[2015-12-08 01:45] #321 closed

[2015-12-08 02:23] samreid commented on #315
As I proceed with this, I wanted to jot down 3 related questions (for @pixelzoom or other interested parties):

1. How many required constructor/function parameters is too many?  Is it context-sensitive?
2. Should we formalize a rule for our style guide about limiting the number of parameters?
3. Should we formalize a lint rule for limiting the number of parameters?

[2015-12-08 02:41] samreid commented on #315
It looks like eslint already has a max-params rule: http://eslint.org/docs/rules/max-params.html

[2015-12-08 02:47] samreid commented on #315
I think I'll move the above questions to chipper and just focus on bending light for this issue.

[2015-12-08 03:33] samreid commented on #315
I followed the recommendation in https://github.com/phetsims/bending-light/issues/315#issuecomment-162043406 with the following exceptions:
1. LaserImage is still a required parameter--will be discussed/addressed as part of https://github.com/phetsims/bending-light/issues/312
2. The types for many of the things were {function} instead of {number}.  Not a problem, just wanted to point it out in cas

[2015-12-08 03:38] samreid opened #322 "Protractor is broken in the Prisms screen"
The changes in https://github.com/phetsims/bending-light/issues/321 had the unintended consequences of (a) changing the start location of the protractor and (b) when dragging the protractor (possibly after reset), the offset is incorrect and it is away from the mouse.

[2015-12-08 04:08] samreid commented on #312
I moved hasKnob to LaserNode.js in the above commit.  It is still required (as are all other LaserNode parameters at the moment).  Not sure how many LaserNode params (if any) should move into options.  @pixelzoom any other suggestions/recommendations for this issue?

[2015-12-08 06:06] samreid commented on #312
For the record, there is only one occurrence of `new LaserNode`--in case that pertains to whether args should be required or optional.

[2015-12-08 06:12] samreid commented on #309
@arouinfar with your description + screen captures I was able to recreate this problem on my 1st try, thanks!

[2015-12-08 06:26] samreid commented on #309
Proposed fix is above, and works well for me on iPad3.  I'd like @arouinfar and @elisemorgan to verify the change, but I want to fix #322 and do a bit of developer testing before publishing the next version.  Leaving assigned to me until then.

[2015-12-08 06:54] samreid commented on #322
Fixed above, closing.

[2015-12-08 06:54] #322 closed

[2015-12-08 07:03] samreid commented on #309
@arouinfar and @elisemorgan could you please verify my change in this version?
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.46/bending-light_en.html

Please do not fully test the entire simulation--just enough to understand if this issue #309 is still in play.

[2015-12-08 07:05] samreid opened #323 "Changing the wavelength changes the index of refraction"
I observed this during developer testing today while working on #309:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.46/bending-light_en.html

When I drag the wavelength slider it also causes the index of refraction slider to change.
![untitled](https://cloud.githubusercontent.com/assets/679486/11649720/2fc20c52-9d3f-11e5-9238-30063e0e1c63.gif)

[2015-12-08 07:12] samreid commented on #323
Oops, sorry, temporarily forgot about dispersion and thought it was a UI bug.  I've learned something today :) Closing.

[2015-12-08 07:12] #323 closed

[2015-12-08 15:20] elisemorgan commented on #309
@samreid The issue appears to be fixed. After swiping right for 5 minutes I was unable to recreate the behavior. @arouinfar please confirm

[2015-12-08 19:22] arouinfar commented on #309
Looks great @samreid! I was also unable to reproduce the behavior, so I'll go ahead and close this issue.

And by the way, nice catch @elisemorgan.

[2015-12-08 19:22] #309 closed

[2015-12-09 17:09] pixelzoom commented on #316
:+1: Closing.

[2015-12-09 17:09] #316 closed

[2015-12-09 17:51] samreid commented on #315
Thanks @pixelzoom, your additional fixes look great.

[2015-12-09 17:51] #315 closed

[2015-12-10 17:14] pixelzoom commented on #312
:+1: Closing.

[2015-12-10 17:14] #312 closed

[2015-12-10 17:23] samreid opened #324 "Developer testing (Part III)"
Before moving to dev testing, I would like to spend some time testing Bending Light on 1-2 platforms.

[2015-12-10 17:29] samreid commented on #324
Here's the newly published version I'll be testing:

http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.47/bending-light_en.html

[2015-12-10 17:35] samreid commented on #324
Testing on Chrome, seems fine.  Testing fuzz test on Chrome on Firefox seems fine.

Wondering if QA credits are right... @ariel-phet can you comment?

[2015-12-10 17:37] samreid commented on #324
The angle is shown if the light is intercepted before the interface:

![image](https://cloud.githubusercontent.com/assets/679486/11723157/03283f58-9f2a-11e5-9fe3-f0ddaf7d003a.png)

@ariel-phet do you want to fix and move to version dev.48?

[2015-12-10 17:40] samreid commented on #324
Protractor icon still looks crummy at a few sizes on firefox:
![image](https://cloud.githubusercontent.com/assets/679486/11723219/60626374-9f2a-11e5-8a33-10352ad3b0ea.png)

[2015-12-10 17:42] samreid commented on #324
I finished broader manual testing on firefox, no other problems noted.  Reassigned to @ariel-phet to decide if we should spend time investigating the above issues, or move forward with a dev test.

[2015-12-10 17:42] samreid commented on #324
I'll leave the "high-priority" label on for @ariel-phet since he wanted to get this done today.

[2015-12-10 17:56] pixelzoom opened #325 "attach probes to right side of meters?"
The probes for the Intensity and Time meters are currently attached to the *left* side of the meters. Given that there's a lot of space immediately to the right of the toolbox, users will probably put the meters there. That results in the wires going behind the meters, as in the screenshot below. Wouldn't it be better to attach the wires to the *right* side of the meters?

![screenshot_93](https:/

[2015-12-10 18:04] ariel-phet commented on #324
@samreid - protractor looks fine to me on FF as we discussed and I think it is appropriate to show the incident angle.

[2015-12-10 18:07] samreid commented on #324
In the above commit, I Adjusted environment panel margin so that prisms panels will left align and published here:

http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.48/bending-light_en.html

@ariel-phet can you take a look?

[2015-12-10 18:22] samreid commented on #324
New credits in http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.49/bending-light_en.html

[2015-12-10 18:22] samreid commented on #324
@samreid needs to double check before giving to @ariel-phet

[2015-12-10 18:28] samreid commented on #324
Seems good to me, @ariel-phet can you double check that all of our changes are looking good before sending to dev testing.

[2015-12-10 18:34] samreid commented on #325
Here is my expectation of a typical use case, in which it seems like it is nice for the wires to attach at the left (sorry for the widescreen recording, but the same argument applies at nominal aspect ratio):
![untitled 2](https://cloud.githubusercontent.com/assets/679486/11724503/ae853a66-9f31-11e5-82d9-373bf458f38e.gif)

[2015-12-10 18:41] pixelzoom commented on #325
My use may not be typical, but that's not how I used these tools.  I pulled the tools out into the space to the right of the toolbox, then started to move the probes. Perhaps I was attracted by the large amount of blank space to the right of the toolbox.

[2015-12-10 18:43] samreid commented on #325
@ariel-phet @arouinfar what do you think about this?  Have we done interviews that might inform this decision?

[2015-12-10 18:43] pixelzoom commented on #325
Also note that in your use case, on tablets, the body (and readout) of the meter will be obscured while a right-handed user is dragging the meter.

[2015-12-10 18:47] pixelzoom commented on #325
In https://github.com/phetsims/bending-light/issues/325#issuecomment-163711476, @samreid must be using a very wide (not typical) screen.  Here's what happens in that same scenario with a typical play area size.  The Time meter ends up behind the controls panel, then snaps to the left when release, covering the probes, see screenshot below.    If this is a typical use case, then you have layout pro

[2015-12-10 18:50] samreid commented on #325
Thanks @pixelzoom, this is a good point.  Let's see what @arouinfar and @ariel-phet think.

[2015-12-10 18:51] pixelzoom commented on #325
Another problem with the scenario in https://github.com/phetsims/bending-light/issues/325#issuecomment-163711476...  The only time that the meter body & probe move together is when they are dragged out of the toolbox.  After that, the body and probe(s) move independently.
Since the laser will never enter the space to the right of the toolbox, I would think that the user will eventually figure out

[2015-12-10 18:52] pixelzoom commented on #325
Another problem with the scenario in https://github.com/phetsims/bending-light/issues/325#issuecomment-163711476...  The only time that the meter body & probe move together is when they are dragged out of the toolbox.  After that, the body and probe(s) move independently. Since the laser will never enter the space to the right of the toolbox, I would think that the user will eventually figure out

[2015-12-10 18:53] samreid commented on #325
We could have the wires connect to the center of the meter body, with no spline control points, so it will look like it comes out of any part of the body.  Then it would accommodate either use case.

[2015-12-10 18:56] ariel-phet commented on #324
all looks good. Closing

[2015-12-10 18:56] #324 closed

[2015-12-10 18:56] ariel-phet commented on #325
@arouinfar's call

[2015-12-10 19:27] arouinfar commented on #325
@pixelzoom makes some good points. This is typically how I use the probes. I always move them to the right side of the screen because the wire is on the left.
![image](https://cloud.githubusercontent.com/assets/8419308/11725517/67c48b8a-9f37-11e5-937c-30faccbcb50f.png)

I agree with @pixelzoom that this seems like a natural place to park the tools.

@samreid's solution would give users more flexib

[2015-12-10 19:42] samreid commented on #325
Things to decide:
1. Should the probe start on the left or right of the body?
2. Should wire body attachments have spline control points, or flexible?
3. If the body doesn't have a fixed attachment point, which direction should the control points on the probes lead?

Perhaps we should commandeer some <5 minutes from CCK design meeting to discuss these issues.

[2015-12-10 19:44] arouinfar commented on #325
I'd be okay with that if @ariel-phet is.

[2015-12-10 21:03] arouinfar commented on #325
As decided in the quickie design meeting with @ariel-phet, @kathy-phet, @samreid and @arouinfar, let's anchor the wires on the right side of the meter bodies and flip the icon in the toolbox to match.

[2015-12-10 21:05] samreid commented on #325
After this, I'll create a dev testing task.

[2015-12-10 21:24] samreid commented on #325
Published here: http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.50/bending-light_en.html

[2015-12-10 21:27] samreid commented on #325
I spot tested dev.50 and it seemed OK.  @ariel-phet can you test it for a minute or two before giving it to the dev testers?  I'll create a tasks issue as well.

[2015-12-10 21:33] samreid opened #326 "Move the hot spot on sensors probe node and wave sensor"
So the hot spot is on the body, not the probe.

[2015-12-10 22:05] samreid commented on #326
Fix published here for testing: http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.51/bending-light_en.html

[2015-12-10 22:11] arouinfar commented on #326
Looks good to me! Thanks @samreid.

[2015-12-10 22:14] samreid commented on #326
Excellent, thanks! Closing.

[2015-12-10 22:14] #326 closed

[2015-12-11 03:41] ariel-phet commented on #325
Looks good, closing

[2015-12-11 03:41] #325 closed

[2015-12-11 17:52] elisemorgan opened #327 "Moving Ray can break speed tool's icon"
Test device: iPad2, Tycho

Operating System: iOS 9.2 (13C75)

Browser: Safari

Problem description: If the light Ray is moving back and forth across the speed tool, it can cause parts of the tool icon to be cut out/broken. See screenshots

Steps to reproduce: Place speed tool on light Ray. Move light Ray away from speed tool, then back again, by adjusting the index of refraction. Observe gaps appe

[2015-12-11 19:19] samreid commented on #327
Tagging @jonathanolson because he might be interested in this problem.

Following the directions above, I was not able to see this problem on iPad3 running iOS 9.2 (13C75)
![move320](https://cloud.githubusercontent.com/assets/679486/11753196/1134b108-a001-11e5-9e97-dff0f6899028.gif)

@elisemorgan can you try restarting Safari (double tap the home button, then swipe it away), and restart the iPad2

[2015-12-11 21:02] elisemorgan commented on #327
@samreid After refresh, I am no longer able to reproduce this issue. Bummer!

[2015-12-16 23:14] elisemorgan opened #328 "All of wave does not terminate when measured"
Test device: Mac, personal

Operating System: OS X 10.10.5

Browser: Safari 9.0.2 (10601.3.9)

Problem description: Not all of the wave is terminated when the intensity is measured. Is this a design decision? All is terminated for the ray.

Steps to reproduce: Drag generator as close to the horizontal as possible with wave mode. Measure intensity of entire light (i.e. it will measure 100%).

Sever

[2015-12-17 00:11] samreid commented on #328
This problem was known to me, though I don't recall if I discussed it explicitly with @ariel-phet and @arouinfar.  Visualizing the alternative (arresting the incident ray if that outer triangle hits the sensor), I am not sure which option is superior.  @arouinfar and @ariel-phet what do you think?

[2015-12-17 19:00] samreid commented on #327
Not reproducible, closing.

[2015-12-17 19:00] #327 closed

[2015-12-17 19:27] ariel-phet commented on #328
I think the ray and wave behavior match acceptably in this case. A couple comments:

1. This is definitely a corner case, since you have to work hard to get in to the situation
2. Mostly people will tend to use the probe more centered on the ray wave, so this case is unlikely to come up during normal use.

Good observation from @elisemorgan, but lets leave as is.

[2015-12-17 19:27] #328 closed

[2015-12-18 05:21] samreid opened #329 "Segment end is infinite"
From the fuzz test in https://github.com/phetsims/axon/issues/82

bending-light
[code]

[2015-12-18 14:19] samreid opened #330 "Create a release candidate"
Dev testing has completed and all issues have been closed.  I saw something come up during fuzz testing in #329, we can proceed to release candidate.

[2015-12-18 17:14] samreid commented on #329
The error did not arise in the next fuzz test:

![image](https://cloud.githubusercontent.com/assets/679486/11902533/c93af636-a56f-11e5-8707-445de0c59c84.png)

or the second test:

![image](https://cloud.githubusercontent.com/assets/679486/11902556/eb0b3b90-a56f-11e5-92d5-6f7ff90ece64.png)

or the third one:

![image](https://cloud.githubusercontent.com/assets/679486/11902579/08334898-a570-11e5-908

[2015-12-18 17:16] samreid commented on #329
This error is only occurring when the laser view is wave and only on the 1st or 3rd screen.

[2015-12-18 17:19] samreid commented on #329
Commenting out the 2nd screen, and changing the sim so that only the wave view is shown, I still do not see the error in the fuzz test.  Perhaps it is rare enough to avoid fixing in this publication.

[2015-12-18 17:21] samreid commented on #329
Manually testing wave mode with the intensity probe and a variety of angles and positions I cannot reproduce the problem, so I'll close and move forward with the RC.

[2015-12-18 17:32] samreid commented on #330
Following the steps in https://github.com/phetsims/phet-info/blob/master/sim_deployment.md I created a branch, grunted and ran grunt deploy-dev.  It was not until after I completed these steps that I realized that I want to use the same SHAs as the ones in the dev tests.  So I am planning to delete this rc and post a new one that uses the tested SHAs.

[2015-12-18 17:47] samreid commented on #330
Switched to the appropriate shas above.

[2015-12-18 17:48] samreid commented on #330
ran grunt checkout-shas

[2015-12-18 17:58] samreid commented on #330
* manually removed rc.1 from spot
* grunt
* grunt deploy-rc

RC is available here: http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-rc.1/bending-light_en.html

I just want to manually diff the files before RC testing begins to make sure all of the differences between this and dev.51 are known.

[2015-12-18 18:27] samreid commented on #330
Aside from version number changes, mipmap order changes and date changes, I am seeing differences like these:

![image](https://cloud.githubusercontent.com/assets/679486/11903969/3f933a8c-a57a-11e5-9e36-d1a4606b517d.png)

* `return void 0`???
* differences in parentheses
* differences in semicolons

[2015-12-18 18:29] samreid commented on #330
I manually inspected the changes and they seemed OK, so I'll proceed with the RC testing.  I'll also create a chipper issue to try to understand what is causing these differences.

[2015-12-18 18:30] #330 closed

[2015-12-19 05:50] ariel-phet opened #331 "stringTest=long disconnects wire from intensity meter body"
stringTest=long shows some odd behavior for the intensity meter (the wire disconnects from the meter body).

May not need to fix, but it does appear to happen with anything that goes above the stringTest=double.

![capture](https://cloud.githubusercontent.com/assets/4051174/11911637/576cf72e-a5d9-11e5-905e-9dfaa6c1b660.PNG)

@samreid should investigate to see if this is an easy fix

[2015-12-21 17:52] elisemorgan opened #332 "Fuzziness in iFrame"
Test device: iPad 2, Witten

Operating System: iOS 9.2 (13C75)

Browser: Safari

Problem description: there is a noticeable amount of fuzziness when the sim is loaded in the iFrame. Most prominent in the intro screen.

Steps to reproduce: Opem sim in iFrame

Severity: minor

Screenshots:
![image](https://cloud.githubusercontent.com/assets/12610678/11937315/cd31b42e-a7d0-11e5-8172-07c5e601597b.png)

[2015-12-21 17:55] amyh-phet opened #333 "Index of refraction slider resizes box"
In stringTest=double and stringTest=rtl,  moving the index of refraction slider all the way to the right causes the box to resize slightly on the right edge.

[Index_resize_win8_Chrome.zip](https://github.com/phetsims/bending-light/files/68804/Index_resize_win8_Chrome.zip)

Issue occurs on all 3 screens.

[2015-12-21 18:26] amyh-phet commented on #333
Issue also occurs with stringTest=X in Win 8 FF.   Wben moving slider to the left, box expands slightly to the right.

[2015-12-21 18:36] amyh-phet commented on #333
Issue also occurs with stringTest=X on Win 8 with FF.   The resizing only happens in the lower part of the screen, but it occurs on all 3 screens.
[Index_resize_win8_FF_stringTest=X.zip](https://github.com/phetsims/bending-light/files/68839/Index_resize_win8_FF_stringTest.X.zip)

[2015-12-21 19:41] amyh-phet opened #334 "Panel size for index of refraction- Prism screen"
In stringTest=long, the index of refraction  panels seem to resize strangely on the Prism screen.  The panels seem much larger than needed to accommodate the strings, making the lower panel go off screen.
![win_8_ie_stringtest long_panel_size](https://cloud.githubusercontent.com/assets/13650180/11939550/100827ce-a7e0-11e5-9685-1b28d731f513.png)

Not sure that this is a huge concern as I'm not sure

[2015-12-21 20:04] amyh-phet commented on #334
Observed similar behavior on Mac OS X 10.9.5 on Intro and More Tools screens.
![mac_os10 9 5 stringtest long_intro](https://cloud.githubusercontent.com/assets/13650180/11940057/5304b8a0-a7e3-11e5-9036-10eb95603b08.png)
![mac-os10 9 5_stringtest long_tools](https://cloud.githubusercontent.com/assets/13650180/11940067/6756c474-a7e3-11e5-943b-b1940d1861ed.png)

[2015-12-21 20:19] arouinfar commented on #334
While stringTest=long is not really a realistic scenario, I find it strange that the panels expand so much. In general, panels should only expand up to 50px before text is scaled down. I wonder if there's a minimum allowed font size that competes with maximum panel width.

[2015-12-21 20:22] arouinfar commented on #333
Also observed in OSX 10.11.2 in all browsers.

[2015-12-21 20:39] elisemorgan opened #335 "Text Spacing Off on Chromebook"
Test device: Chromebook, Chadwick

Operating System: Chrome 47.0.2526.80 (64-bit)

Browser: Chrome

Problem description: The spacing of the text in a little funky. Some letters are too far apart, while others are overlapping.

Steps to reproduce: Open sim on Chromebook.

Severity:

Screenshots:
![screenshot 2015-12-21 at 1 35 42 pm](https://cloud.githubusercontent.com/assets/12610678/11940800/35fa

[2015-12-22 15:30] samreid commented on #335
Marking for discussion in https://github.com/phetsims/scenery/issues/193

[2015-12-22 15:33] samreid commented on #335
I added these notes to the kerning issue in scenery above.  Would be good for @jonathanolson to take a look at his convenience, but this may be something we need to rely on Google Chrome to solve.

[2015-12-22 16:23] samreid commented on #331
It looks like part of the intensity meter layout is using the width of the intensity meter body, and the width is being augmented by the numeric readout.  Since the strings should appear like so:

![image](https://cloud.githubusercontent.com/assets/679486/11959861/e65c8408-a88c-11e5-96db-5dc15ed34f3f.png)

or
![image](https://cloud.githubusercontent.com/assets/679486/11959869/ef2cd808-a88c-11e5-93

[2015-12-22 16:28] samreid commented on #331
Putting maxWidth to be 85% of the width of the white panel, it looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/11960138/5c078a76-a88e-11e5-80c1-48d9a29a9a10.png)

With the English case still looking good:

![image](https://cloud.githubusercontent.com/assets/679486/11960113/2decfacc-a88e-11e5-9fac-14a98c084310.png)

This is a non-invasive change and will not require sig

[2015-12-22 16:31] samreid commented on #331
I've made this commit in the 1.0 branch and merged to master.  I'll mark this for "Needs Spot Test" in the next RC.

[2015-12-22 18:03] samreid commented on #334
The (often hidden) "what is n?" text was throwing off the layout.  I've constrained the width and everything appears OK.  I'll push changes to the 1.0 branch and master and this will require a spot test on 1 platform.

[2015-12-22 18:06] samreid commented on #333
Fixed above, the change was minor and non-intrusive.  Spot testing on 1 platform will confirm the change.

[2015-12-22 18:07] samreid commented on #334
Fixed above.

[2015-12-22 18:09] samreid commented on #332
The same problem does not appear on OS X Safari:

![image](https://cloud.githubusercontent.com/assets/679486/11962362/82bf40b0-a89c-11e5-96e9-36681edcf199.png)

[2015-12-22 18:25] samreid commented on #332
The problem does not occur on retina ipad (testing iPad3) iOS 9.2:

![ipad3](https://cloud.githubusercontent.com/assets/679486/11962451/22dfd276-a89d-11e5-8f77-463728b9c249.png)

We previously investigated the fuzzy iPad2 laser in this issue https://github.com/phetsims/bending-light/issues/253 but decided the issue wasn't too problematic.  The WebGL jaggedness for the web view seems tricky to solv

[2015-12-22 18:25] #332 closed

[2015-12-22 18:34] samreid commented on #335
Also related to https://github.com/phetsims/scenery/issues/382

@jonathanolson took a look at it and wondered if we could experiment with different sizes on the chromebook, and see how the problem changes with size.

We noted there is no such problem on Chrome on OS X.

When we had this problem on Chrome, we had to wait for Google to fix it (in the https://github.com/phetsims/scenery/issues/193 )

[2015-12-22 18:44] samreid commented on #335
@elisemorgan does this issue appear in other simulations?  Also, what happens to the letters when the browser window is gradually resized?

[2015-12-22 19:32] arouinfar commented on #334
It looks like the panel is resizing appropriately in rc.2, so I'll go ahead and close this issue. Good catch @amyh-phet, and thanks @samreid!

[2015-12-22 19:32] #334 closed

[2015-12-22 19:33] arouinfar commented on #333
Looks great! Closing.

[2015-12-22 19:33] #333 closed

[2015-12-22 19:36] arouinfar commented on #331
Looks good! Closing.

[2015-12-22 19:36] #331 closed

[2015-12-22 19:48] ariel-phet commented on #335
@samreid @jonathanolson - I agree that a fix could be published as a maintenance release and should not block publication. Though aesthetically displeasing, I feel like this issue only has a minor impact on usability

[2015-12-22 20:13] samreid opened #336 "Publish 1.0.0"
RC2 testing was good, this sim is ready to publish.

[2015-12-22 20:50] elisemorgan commented on #335
@samreid Looking at other sims, there are some minor spacing issues but none of the letters overlap. I looked at Hooke's Law, Beer's Law Lab, and Ph-scale.
When the browser is gradually resized, the letters seem to shift a little bit, but primarily nothing changes.

[2015-12-23 16:58] samreid opened #337 "Create a new screenshot"
Some visual elements have changed size since the last screenshot.  I considered just "sticking with it" since it would be OK as a thumbnail, but for consistency I decided to create a new screenshot since we may use it for other purposes in the future.  For #336

[2015-12-23 17:08] samreid commented on #337
With the smaller intensity probe, the rest of the configuration looks odd (light spilling out of the probe), so I'm going to move a few other things around as well.

[2015-12-23 17:09] samreid commented on #337
Here's a sneak peek of the new screenshot.  @arouinfar please let me know if you recommend any changes:

![image](https://cloud.githubusercontent.com/assets/679486/11981153/379e7d82-a95d-11e5-8ef7-65d7ca9eae0f.png)

[2015-12-23 17:20] samreid commented on #337
Committed above, reassigning to @arouinfar for review.

[2015-12-23 17:27] samreid commented on #337
This new screenshot does not do too good of a job showing the transparency of the transmitted and reflected beams.  Perhaps we can do better?

[2015-12-23 17:37] samreid commented on #337
I've improved the screenshot in the above commit, here's a visual difference:

https://github.com/phetsims/bending-light/commit/e3ef9d43185c872f36d97b5a56b4ba534885e81f

This seems like it solves the problems in the previous version, and I just had the light extend across the probe, and it doesn't look too odd.  It would still be good for @arouinfar to double check it though.

[2015-12-23 17:42] samreid commented on #337
Moving forward with publishing in #336...

[2015-12-23 17:45] samreid commented on #336
OK I ran grunt deploy-production and the sim appeared at http://phet.colorado.edu/sims/html/bending-light/latest/

Next step is for @arouinfar to make it visible on the website and add any appropriate website metadata.

[2015-12-23 17:47] samreid opened #338 "Post publication steps"
I still need to do the following steps as part of #336

(6). If this is the initial publication, generate and check in (on the master branch) the auto-generated readme file for a published sim.  The README.md file can be created using ```grunt published-README```.

(7). The 3rd party contributions page must be updated.  Directions for how to do this are in reportThirdParty.js.
Brace yourself-- thi

[2015-12-23 19:16] pixelzoom opened #339 "replace LaserNode with scenery-phet.LaserPointerNode"
... as recommended in https://github.com/phetsims/models-of-the-hydrogen-atom/issues/2.

When `options.hasKnob`, you'll need to add the knob as a decoration, as you've done for the prisms that can be rotated (see PrismNode).

Remember to delete related images and assets.

[2015-12-23 19:25] arouinfar commented on #337
Looks good @samreid. Closing.

[2015-12-23 19:25] #337 closed

[2015-12-23 19:52] arouinfar commented on #336
@samreid @ariel-phet Bending Light is now live!!

[2015-12-23 19:52] #336 closed

[2015-12-23 20:14] ariel-phet commented on #50
@samreid I assume strings were ported over? Can you check that item if so?

[2015-12-23 20:30] samreid commented on #50
@ariel-phet @jbphet I am out of the loop on babel.  To clarify, am I supposed to bring the non-English Java strings to babel?  Should I record which strings keys have changed from Java to HTML5 and only port strings that match the new English keys?  Is this documented somewhere?

[2015-12-23 20:32] ariel-phet commented on #50
@pixelzoom can you answer this question, since I believe you have done this recently?

[2015-12-23 20:40] pixelzoom commented on #50
Yes, we are still migrating strings from Java/Flash to HTML5.  But I have not done so since strings were moved to babel.   And the migration tools have not been updated to handle the migration.  The plan was that whoever needed to do a migration next would address https://github.com/phetsims/chipper/issues/132.  Looks like @samreid is the lucky winner.

[2015-12-23 21:20] ariel-phet commented on #50
@samreid back to you

[2015-12-23 21:27] pixelzoom commented on #50
Note that  phetsims/chipper#132 was assigned to me because I started working on models-of-the-hydrogen-atom, and strings will need to be migrated for that.  But since bending-light has just been published, it seems like migrating the strings has some urgency to it - and probably should have been done before publishing.  At this point, you'll also need to be careful not to overwrite any translation

[2015-12-27 04:12] samreid opened #340 "Several strings are no longer used"
In working on #50 I discovered that several strings in Bending Light are unused.  They should be removed and perhaps we should publish a patch version so the translated strings in babel are correct as well.

[2015-12-28 18:20] samreid commented on #340
I removed the unused strings in master in the above commit.  Still need to backport this to the published branch and redeploy.

[2015-12-28 19:29] samreid opened #341 "Migrate Java strings"
From https://github.com/phetsims/bending-light/issues/50 we should migrate the Java strings to Babel.

[2015-12-28 19:30] samreid commented on #50
I've created issue #341 for me to migrate the Java strings to babel.  Reassigning this issue to @ariel-phet  since there are other items remaining in the checklist above.

[2015-12-28 20:43] samreid commented on #338
I've started the grunt-all.sh for this.

[2015-12-29 19:02] elisemorgan commented on #335
@samreid @jbphet This issue is present in Neuron

[2016-01-04 17:19] ariel-phet commented on #341
@samreid note that a number of translations have occurred already. I would highly suggest that when you do this migration, only now move over strings for locales which have NOT yet been translated (we would not want to wipe out or change any work done in the current translations)

[2016-01-05 01:35] ariel-phet opened #342 "Make Phethelp owner of testing matrix"
@samreid please make phethelp the owner of the testing matrix

[2016-01-05 03:34] samreid commented on #341
Sounds great @ariel-phet, will do.

[2016-01-05 03:58] samreid commented on #342
Done, thank you for my reminder.

[2016-01-05 03:58] #342 closed

[2016-01-06 18:57] samreid commented on #335
Marking for discussion in developer meeting.

[2016-01-06 19:00] samreid commented on #338
The new sherpa dependencies will be generated in https://github.com/phetsims/sherpa/issues/61

[2016-01-07 19:54] samreid commented on #335
This is being tracked in https://github.com/phetsims/scenery/issues/382, I'll close this one.

[2016-01-07 19:55] #335 closed

[2016-01-08 05:30] samreid commented on #338
Readme is up-to date and sherpa dependencies tracked in another issue, closing.

[2016-01-08 05:30] #338 closed

[2016-01-08 05:34] samreid commented on #340
@ariel-phet can you help prioritize this?  There were 10 strings appearing in the file that don't appear in the sim.  Also, even though this problem was my fault, it doesn't require any knowledge specific to bending light, so you could delegate to someone else if you wish.  The problem shouldn't occur in future sims since we have added a check for this in the code review checklist.

[2016-01-08 17:09] ariel-phet commented on #340
@jbphet could you take care of this? much appreciated

[2016-01-11 20:38] jbphet commented on #340
I started working through this, but after digging into it I started to believe that Rosetta isn't presenting unused English strings to the users of the translation utility, see
https://github.com/phetsims/tasks/issues/460#issuecomment-170680504.  Unless my conclusions are incorrect, I think it makes this issue about doing a maintenance release to clean up strings rather unnecessary.  I've already

[2016-01-11 21:29] samreid commented on #340
I agree the main reason for republishing was to prevent showing unused strings to the translator.  According to @jbphet's conclusions as well as the Rosetta documentation, the string keys are extracted from the used keys in the simulation.

[2016-01-12 01:15] samreid commented on #340
There is trouble in deploying a maintenance release of a translated sim, see https://github.com/phetsims/beers-law-lab/issues/147.

We should not proceed until that problem is solved. And I'm happy to leave this as-is since (a) the unused strings don't appear in the HTML file and (b) the unused strings are not presented to the translator.  @jbphet should we confer with other team members or just r

[2016-01-12 21:04] jbphet commented on #340
Based on today's discussion at dev meeting, I have reverted the version number and am closing this issue.

[2016-01-12 21:04] #340 closed

[2016-01-16 18:26] samreid commented on #341
I know some key names have changed during the port, so I compared them to see if it is worth any effort here.  Here are the shared keys:

This is 19/33 keys that will be portable.

[2016-01-16 18:28] samreid commented on #341
Also, based on previous discussions it seemed like it would be nice but not essential to filter out the unused keys.  I do not have time at the moment to write a robust reusable filter so I am planning to proceed with just moving all of the strings including the unused ones.

[2016-01-16 18:31] samreid commented on #341
Pushed to babel above.  I'll create a chipper or issue about filtering the unused strings.

[2016-01-16 18:31] #341 closed

[2016-01-21 18:01] oliver-phet opened #343 "User reported issue: wrong reflective ray angle with window resize"
Reported via phethelp 1/20/2016. @phet-steele can you attempt to reproduce?

"The reflective ray should have the same angle as the incident ray. I obtain the right angle if the window is small but with a large window it does not do the right reflection.
I use the last version of Firefox on Linux and the html5 simulation."

"It seems to work fine if screen width is 452 or less OR if screen height i

[2016-01-21 18:02] oliver-phet commented on #343
User screenshot:
![capture-1](https://cloud.githubusercontent.com/assets/5090275/12489603/5bb260ca-c02e-11e5-977e-de772ba9f18f.png)

[2016-01-21 18:23] ariel-phet commented on #343
@oliver-phet notice he said "on Linux"....

[2016-01-21 18:33] oliver-phet commented on #343
Yes, I saw that he was on Linux. Does that mean we aren't investigating?

[2016-01-21 19:31] ariel-phet commented on #343
@oliver-phet We should investigate and see if we can reproduce, but if it only happens on Linux I think we have to tell the user that we don't officially support Linux in HTML5 (not part of our test matrix so I don't think we can claim to officially support).

@phet-steele is looking into it.

[2016-01-21 21:03] phet-steele commented on #343
@ariel-phet @oliver-phet I could not duplicate this on any Windows 8.1 browsers. How much more time should be spent, should I at least try on OS X?

[2016-01-21 21:29] ariel-phet commented on #343
@phet-steele yes please try on OS X (but only FF).

[2016-01-22 16:40] phet-steele commented on #343
@ariel-phet nothing reproduced.

[2016-01-22 16:52] ariel-phet commented on #343
Thanks @phet-steele!

@oliver-phet lets go ahead and email back the user and let them know this appears to be a linux specific bug, and although many of our HTML5 resources run well on Linux, we do not "officially" support it (and cannot afford to do to the limited number of Linux users and the cost of testing/maintenance). Please close this issue after emailing.

[2016-01-22 16:54] samreid commented on #343
One last thought: if you could ask them to open the console, there may be some information there that could help us understand the underlying problem.  Even though we do not support Linux, this information (if present) may still help us make the code more robust.

[2016-01-22 17:07] oliver-phet commented on #343
Email to user sent requesting console output.

[2016-01-22 17:18] ariel-phet commented on #343
good thought, thanks @samreid

[2016-02-03 17:04] samreid commented on #339
@ariel-phet this issue could be given to another developer if desired--not too much bending-light knowledge required.  Can you help prioritize and assign?  The main point is to use the new scenery-phet LaserPointerNode @pixelzoom developed for Models of the Hydrogen atom in Bending Light instead of custom raster images.

[2016-02-03 17:21] ariel-phet commented on #339
@samreid since bending light is published, this seems fairly lowly priority, agreed?

[2016-02-03 17:23] samreid commented on #339
Yes, it would not significantly change the user experience, it is mainly an internal maintenance issue.

[2016-02-03 17:28] ariel-phet commented on #339
Ok, going to clear assignee for the moment, will revisit when appropriate. This sim is actually a very good candidate for phet-io work at some point, to see if we can deal with a complicated sim. I am guessing the work could be wrapped into that effort.

[2016-02-18 03:17] ariel-phet commented on #50
Assigning to @arouinfar to check off interview items

[2016-02-18 17:13] oliver-phet commented on #343
Still no response from user. Closing for now and will reopen if we receive a response.

[2016-02-18 17:13] #343 closed

[2016-02-23 18:44] phet-steele opened #344 "Edge 25 normal lines on prisms screen"
Probably this: https://github.com/phetsims/scenery/issues/510, but the normal lines on the Prisms screen show as solid. @samreid, note the normal lines on other screens appear correctly.

![normalprisms](https://cloud.githubusercontent.com/assets/5863899/13262548/a67ec3f6-da22-11e5-825d-5d3fd4212190.PNG)

Seen on the production version and @jonathanolson's maintenance release (2/22). Discovered du

[2016-02-23 18:48] jonathanolson commented on #344
@ariel-phet and @samreid, any objections to patching https://github.com/phetsims/scenery/issues/510 also for this maintenance release?

[2016-02-23 18:52] samreid commented on #344
I can't think of any reason not to patch https://github.com/phetsims/scenery/issues/510 while we are here.

[2016-02-23 19:16] arouinfar opened #345 "Make wave detector probes snap to ray when switching from wave mode"
During interviews, I observed a few students switch between the wave and ray modes while using the wave detector on the More Tools screen. When switching from the wave to the ray mode, it is easy to lose the signal because the probes are no longer precisely centered over the ray. Students may attribute this lack of signal to some inherent property of the ray.

For example, the probes are initially

[2016-02-23 20:25] ariel-phet commented on #344
no objections.

[2016-02-24 23:38] phet-steele commented on #344
@jonathanolson fixed here http://www.colorado.edu/physics/phet/dev/olsonjb/maintenance2/bending-light_en.html

[2016-02-24 23:38] #344 closed

[2016-02-25 01:49] samreid commented on #345
A related feature would be to have the probes stay "snapped to" the light when its angle changes.  Currently it is difficult to investigate wavelength changes when changing the index of refraction because the angle of the light changes and it leaves the probe behind.

[2016-02-25 01:58] arouinfar commented on #345
That's a great suggestion @samreid!

[2016-03-01 19:36] phet-steele commented on #329
This was seen 3/1/2016 via automated testing on the requirejs version off master. Win 10 Chrome.

[2016-04-12 16:34] phet-steele commented on #329
Seen during 4/12/2016 automated tests.

[2016-05-24 16:13] phet-steele commented on #329
Again on 5/24/2016 automated tests.

[2016-06-09 18:36] oliver-phet opened #346 "User reported issue: not all components visible"
Hi,

I am trying this simulation at work using the live link you provided in an earlier email. The Prism screen will not load at all. This is what I see when I click on the Intro icon:

![image002](https://cloud.githubusercontent.com/assets/5090275/15941698/95338526-2e3e-11e6-8bb9-6c66a936bb85.jpg)

This is what I see when I click on the More Tools screen:

![image005](https://cloud.githubusercont

[2016-06-09 18:38] ariel-phet commented on #346
@oliver-phet - we no longer support IE 10, please tell customer to upgrade browser or use chrome

[2016-06-09 18:40] oliver-phet commented on #346
User emailed.

[2016-06-09 18:42] #346 closed

[2016-06-14 16:20] phet-steele commented on #329
And yet again on 6/14/2016 automated tests. @samreid should I be ignoring this error?

[2016-06-15 03:55] samreid commented on #329
@phet-steele No need to report it further until work is done on this issue.

[2016-07-05 16:17] phet-steele opened #347 "Automated Testing Sim Error (7/5/2016 9:58 AM)"
[code]

[2016-07-05 16:20] samreid commented on #347
Tests OK in my canary:

![image](https://cloud.githubusercontent.com/assets/679486/16591660/20fe29fc-429a-11e6-8770-e95748b5a36f.png)

[2016-07-05 16:22] samreid commented on #347
Runs OK in my mac chrome and mac firefox too.  Can you provide more details as to how/where it failed?

[2016-07-05 16:55] samreid commented on #347
I tried running from phettest "Automated Tests" and saw this:

![image](https://cloud.githubusercontent.com/assets/679486/16592665/011c3f20-429f-11e6-81a0-d3694c83be75.png)

@phet-steele can you reproduce the problem reliably?

[2016-07-05 18:24] phet-steele commented on #347
@samreid I did not get it a second time.

[2016-07-05 18:52] samreid commented on #347
Perhaps a spurious requirejs loading issue, I'll close and we can reopen if it recurs.

[2016-07-12 16:50] phet-steele commented on #347
@samreid this has reoccurred on the 7/12 automated testing.

[2016-07-21 17:12] samreid opened #348 "Can we get rid of FloatingLayout and just use visibleBoundsProperty directly?"
It looks like FloatingLayout is just adding convenience methods and constants for insets.

[2016-07-21 18:19] pixelzoom opened #349 "instances are created before Substance type is fully defined"
Problem in Substance:

[code]

The static instances are created before inherit is called, so `instanceof` tests will fail.  See https://github.com/phetsims/phet-core/issues/24.

The fix is to create the instances after the inherit call:

[code]

[2016-07-21 18:40] pixelzoom commented on #349
Fix described above committed and pushed. Assigned to @samreid for review.

[2016-08-05 15:04] phet-steele opened #350 "Wave mode not captured by screenshots"
The screenshot feature in the PhET menu. Ray mode is fine.
![-bending light- screenshot 3](https://cloud.githubusercontent.com/assets/5863899/17440827/8b30d16c-5aeb-11e6-9ff2-d693c9baf1c6.png)

[2016-08-05 15:34] samreid commented on #350
Which browsers exhibit the problem?  Do any browsers do the screen shot properly?

[2016-08-05 16:03] phet-steele commented on #350
All OSX 10.11.6 browsers have the issue, then I tried Win 10 Chrome and iOS 10 Beta which also had the problem.

[2016-08-05 20:00] phet-steele commented on #350
@samreid @jbphet this issue does NOT exist on master.

[2016-08-05 20:10] phet-steele commented on #350
Assigning to @ariel-phet for the reasons described in phetsims/neuron/issues/125:

[2016-08-06 08:35] ariel-phet commented on #350
Yes @phet-steele , lets go ahead and get both of these sims in the QA testing queue. Priority will be below sims we want to have first release of (so for instance if rutherford or charges and fields or such is being tested).

[2016-08-08 02:09] samreid commented on #350
I'll create a new issue for publishing a new version of the sim.

[2016-08-08 02:11] samreid opened #351 "Publish a new version of Bending Light"
As described in https://github.com/phetsims/bending-light/issues/350 we would like to publish a fresh version of Bending Light (from master) that fixes the wave webgl screenshot rendering.

It would be best for me to be involved with this, but I am hoping to spend time now working on Circuit Construction Kit: Black Box Study.  Perhaps when I am awaiting feedback on CCK, I can start working on this

[2016-08-11 21:04] samreid commented on #349
The change set looks great, thanks @pixelzoom, closing.

[2016-08-11 21:04] #349 closed

[2016-08-12 19:01] samreid commented on #347
Perhaps I can investigate this as we work toward #351, unassigning until then.

[2016-08-16 02:18] samreid commented on #350
Will be fixed in #351

[2016-08-16 02:19] samreid commented on #348
We could fix this in #351

[2016-08-16 02:20] samreid commented on #347
Perhaps on a slower computer or throttled connection we could trigger the not yet loaded problem?

[2016-08-16 02:38] samreid commented on #329
Let's look at this again for #351

[2016-08-16 02:39] samreid commented on #351
I linked issues above that seemed suitable for investigation in the next version.

[2016-08-16 02:43] samreid commented on #347
I throttled at 3G and despite taking about 30 seconds to launch, there were no errors like above. I wonder if I eliminate FloatingLayout.js as in the stack above, if the problem would disappear.  This is happening in #348

[2016-08-16 02:51] samreid commented on #348
I reviewed FloatingLayout.js and determined that it is performing the following important functions:
* Letting objects move outside the layoutBounds but not too far (not always all the way to the visibleBounds)
* Convenience methods for laying out many objects at once
* Encapsulation of insets and other layout measures

It should remain.

[2016-08-16 02:51] #348 closed

[2016-08-16 02:53] samreid commented on #347
Found the likely culprit and amended it above.  This seems likely enough to be the issue that I'm inclined to close the issue, but @phet-steele please re-open if it recurs in a subsequent weekly test.

[2016-08-16 02:53] #347 closed

[2016-08-16 03:09] samreid commented on #329
This issue could only occur if `the argument is positive or negative Infinity or NaN`, so I'll add code to zero out infinite/nan values before calling lineTo.

[2016-08-16 03:11] samreid commented on #329
Fixed above, and I'm inclined to close the issue and have @phet-steele reopen if it recurs.

[2016-08-16 03:11] #329 closed

[2016-08-16 03:11] samreid commented on #351
OK, I've finished addressing all issues pertinent for this next release.  Next steps: developer testing, RC, publication.

[2016-08-16 18:30] samreid commented on #351
The latest published version is 1.0.6, the next version should be 1.1.0.

I sent this message to the skype chat:

[2016-08-16 18:31] samreid commented on #351
@jbphet said:

[2016-08-22 18:14] samreid commented on #351
The build tools and build-server are under suspicion in https://github.com/phetsims/perennial/issues/23

I asked in skype:

I'll put this issue on hold until I get the green light.

[2016-08-22 20:31] samreid commented on #351
@jbphet gave the green light.

[2016-08-22 20:48] samreid commented on #351
I followed the steps in https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md to publish 1.1.0-rc.1, and grunt reports `Build request sent successfully`.  When that is ready, I'll take it for a test drive on a few platforms before giving it to the QA team.

[2016-08-22 20:52] samreid commented on #351
The new version is here:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.1.0-rc.1/bending-light_en.html

Tapping briefly through all features and testing wave view screenshot, no problems observed on Mac Chrome.

[2016-08-22 21:04] samreid opened #352 "There is a region where the intensity sensor cannot intercept the wave"
Identified during #351, here is a screenshot:

![image](https://cloud.githubusercontent.com/assets/679486/17871625/98de6d38-6879-11e6-93ef-dab8d9eea098.png)

This is likely to be present in all previous HTML5 versions of bending light and hence shouldn't halt publication of minor updates.

[2016-08-22 21:05] samreid commented on #351
I tapped through everything on Win/Firefox 48.0.1 and identified the issue linked above.  Perhaps I'll take a quick look on iPad3.

[2016-08-22 21:15] samreid opened #353 "Retina Screenshot is aliased"
Identified during #351 I saw that the retina iPad screenshot was very aliased:

![bending-light-aliased](https://cloud.githubusercontent.com/assets/679486/17871951/347c47dc-687b-11e6-9a09-15ed0592cf90.png)

[2016-08-22 21:17] samreid commented on #351
I identified 2 more issues on iPad3 during testing, one is a know joist issue and the other is an aliased screenshot (in parts).  None of this would block publication, so I'll set up a tasks issue for testing for release.

[2016-08-22 21:28] samreid commented on #351
I created the tasks issue above, putting this issue on hold until testing completes.

[2016-08-25 22:54] pixelzoom opened #354 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:25] pixelzoom commented on #354
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:25] #354 closed

[2016-08-26 16:49] samreid commented on #351
Publishing is complete, I'll close this issue and we can open new issues when testing is complete.

[2016-08-26 16:49] #351 closed

[2016-08-29 19:23] pixelzoom opened #355 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-08-31 05:34] samreid commented on #355
There is a bit of pointer area overlap in the medium control panels:

![image](https://cloud.githubusercontent.com/assets/679486/18117207/59b82698-6f0a-11e6-87fe-ce1807c52c68.png)

[2016-08-31 05:37] samreid commented on #355
Reduced from 11 to 8 and it seems better:

![image](https://cloud.githubusercontent.com/assets/679486/18117250/a19aa99a-6f0a-11e6-9ee6-728646d12589.png)

[2016-08-31 05:37] samreid commented on #355
Fixed, closing.

[2016-08-31 05:37] #355 closed

[2016-09-08 23:16] pixelzoom opened #356 "PrismsModel is not instantiated on demand"
See PrismScreen constructor:

[code]

Note that `PrismsModel` is instantiated in the constructor (line 39), instead of in the `createModel` function argument (line 42)  to `Screen`.   This doesn't match the pattern used throughout PhET sims.  Is there a reason for this deviation, or is it accidental?

[2016-09-09 05:31] pixelzoom commented on #356
Unless there's a reason to do things differently, the model should be instantiated in the `createModel` argument, like this:

[code]

[2016-09-09 05:42] samreid commented on #356
Yes, this looks like a problem, I'll work on it this week.

[2016-09-09 05:59] pixelzoom commented on #356
FYI, similar problems in other sims: https://github.com/phetsims/neuron/issues/129, https://github.com/phetsims/resistance-in-a-wire/issues/76.

[2016-09-09 05:59] samreid commented on #356
Those problems will interfere with the loading bar (if nothing else), we should address them.

[2016-09-09 06:07] pixelzoom commented on #356
In https://github.com/phetsims/bending-light/issues/356#issuecomment-245826609, @samreid said:

[2016-09-09 15:49] samreid commented on #356
Fixed above.  I realized that the loading bar now goes by screen, so this would not have interfered.  But if we break up the loading bar to load models and views separately, then this could have shown up as odd.

I tested the app by launching it after making this change, and all seems well.

Closing.

[2016-09-09 15:49] #356 closed

[2016-10-05 22:52] EthanWJohnson opened #357 "Intensity Sensor intercepts refracted beam at odd positions"
Tested on: Chrome, Firefox, Edge, and PhET App

OS: Windows 10 and iOS 10.0.1

Best explained via gif;
![odd positioning](https://cloud.githubusercontent.com/assets/22551096/19134242/17aba08c-8b1a-11e6-9d28-2e3f632e6258.gif)

The lower part of the intensity sensor can intercept the lower beam, even when not touching it, from above.

Strange positioning for intercept affects all refraction indexes,

[2016-10-07 21:27] EthanWJohnson opened #358 "Rogue Laser Beam Behavior"
Tested on: Chrome, Firefox, Edge,

OS: Windows 10

Description: On the multiple lasers mode of the prism module, whether or not the central laser beam is covered changes the behavior of lasers not covered by the beam

Related gif:
![laser beams check](https://cloud.githubusercontent.com/assets/22551096/19205522/35ff9a0c-8ca0-11e6-95c2-f46336cf23ab.gif)

Drag any prism into the path of the laser be

[2016-10-19 17:20] samreid commented on #357
@ariel-phet could you help me prioritize this?

[2016-10-19 20:03] samreid commented on #358
@ariel-phet also could you help prioritize/schedule this work?

[2016-10-20 20:45] phet-steele opened #359 "Incorrect wave direction"
**This is in the published version.** Seen on iOS 10.0.2 iPad Air 2. EDIT: the problem may be the retina display.
@ariel-phet @samreid this seems kind of important. <s>I think why we have not seen any user reports is because I do NOT see this on iOS 9.3.5, only 10.</s>

Intro and More Tools screen. The reflected light, in wave form, has its lines going the wrong way:
![img_0051](https://cloud.gith

[2016-10-20 21:16] samreid commented on #359
I've seen related problems like this--first thing to try will be to make the webgl canvas smaller and see if the problem goes away.

[2016-10-20 22:04] EthanWJohnson opened #360 "1.1.0 rc.1 String Testing"
String Testing Issues

Browsers: Chrome, Edge, Firefox

OS: Windows 10

The double string test results in three separate bounding issues in the Prisms and More Tools screens
![bending light stringtest double 1](https://cloud.githubusercontent.com/assets/22551096/19578190/e8027602-96d7-11e6-9f69-cf623a83e876.PNG)
Frequency bounds outside of the box
![bending light stringtest double 3](https://cloud

[2016-10-20 22:52] phet-steele commented on #359
@samreid I've edited the issue to reflect this, but it is not iOS 10 specific. I checked 9.3.5 on an iPad 2 and did not see the problem, so I assumed it was only a problem for 10. But the issue IS prevalent on 9.3.5 on an iPad Air 2. These means the only commonality between sightings is the iPad model and a *retina* display. I'm willing to bet it is a problem with the retina display.

[2016-10-21 16:00] samreid commented on #359
Unassigning until I'm devoting time to Bending Light.

[2016-10-21 16:01] samreid commented on #360
Unassigning until I'm devoting time to bending light.

[2016-10-24 18:52] ariel-phet commented on #360
@EthanWJohnson note that for these types of strings (readouts) a longer string will actually be very unlikely to occur (unless someone types out the abbreviation for the units as a full word such as "nanometers"). However, we trust our translators not to do those types of things.

Closing

[2016-10-24 18:52] #360 closed

[2016-10-24 19:07] phet-steele commented on #350
@samreid this has been working on our supported platforms.

[2016-10-24 19:07] #350 closed

[2016-10-24 20:53] EthanWJohnson opened #361 "Reflected Wave Doesn't Render"
Test device: Yvgotsky

Operating System: Chrome.OS Snow

Browser: Chrome

The reflected wave, in wave mode on the intro and more tools screen, doesn't properly render, instead displaying a black box

![bending light screenshot 1](https://cloud.githubusercontent.com/assets/22551096/19663240/69bc1400-99f8-11e6-9eb2-84255babfbdf.png)

This issue occurs on the Snow firmware but does NOT occur on Peppy

[2016-10-24 21:59] phet-steele opened #362 "QA credits update"
@samreid, please add Amanda Davis and Ethan Johnson.

For phetsims/tasks/issues/682.

[2016-10-25 14:58] ariel-phet commented on #361
Marking priority deferred for the moment, we need to find a chunk of time for @samreid to work on this sim

[2016-10-25 15:00] ariel-phet commented on #357
Should be fixed, but marking priority deferred for the moment, until we can get a chunk of @samreid time

[2016-10-25 15:02] ariel-phet commented on #358
Note, this behavior only happens when the object is close to the output of the laser, a bit further away and everything works as expected.

Still the issue should be addressed. However, marking priority deferred until we can get a chunk of @samreid time

[2016-10-26 20:11] samreid commented on #362
I updated the credits in master and the 1.1 branch, closing.

[2016-10-26 20:11] #362 closed

[2016-10-31 21:09] pixelzoom opened #363 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-10-31 21:24] pixelzoom commented on #363
This sim doesn't have a *QueryParameters.js file, so someone else will need to do it.

[2016-11-07 17:39] oliver-phet opened #364 "User Reported issue: inaccurate time oscilloscope"

[2016-11-07 17:40] oliver-phet commented on #364
![bending light problem](https://cloud.githubusercontent.com/assets/5090275/20068629/9101bd56-a4d6-11e6-87f4-f53f1bfab1ee.png)

[2016-11-07 18:33] ariel-phet commented on #364
@oliver-phet this is not a bug. I can explain to the user if you like, but basically the frequency/period of the wave is independent of speed (this is why the color of light does not change the wave goes into a medium with a different index of refraction).

[2016-11-07 18:33] oliver-phet commented on #364
Will forward original email to you. Closing this.

[2016-11-07 18:33] #364 closed

[2016-11-11 16:51] oliver-phet commented on #343
We had a second report of this bug from another Linux user. Asking for console output.

[2016-11-14 03:24] pixelzoom commented on #363
BendingLightQueryParameters was not needed. The only query parameter used by this sim was `webgl`, so I used `phet.chipper.queryParameters.webgl`.

Closing.

[2016-11-14 03:24] #363 closed

[2016-12-05 21:14] pixelzoom opened #365 "Assertion failed: tandem should be defined in common code components"
http://localhost/~cmalley/GitHub/aqua/test-server/test-sims.html?ea&audioVolume=0&testDuration=10000&testConcurrentBuilds=4&fuzzMouse&brand=phet-io&phetioStandalone&testSims=balloons-and-static-electricity,beers-law-lab,bending-light,build-an-atom,capacitor-lab-basics,charges-and-fields,color-vision,concentration,energy-skate-park-basics,faradays-law,forces-and-motion-basics,gravity-force-lab,mole

[2016-12-05 21:16] pixelzoom commented on #365
Assigning to @samreid since looks like he made related commits to LaserNode and RoundStickToggleButton.

[2016-12-08 06:35] samreid commented on #365
We'll address this when we instrument the simulation for phet-io.

[2016-12-12 19:14] arouinfar opened #366 "Create sim primer"
Tracking sim primer publication in this issue, so that #50 can be closed.

[2017-01-23 21:33] samreid opened #367 "WebGL Wave View is too Gray"
@kathy-phet said:

In the original simulation, you could see the reflected wave propogating in color in the wave view. I forget whether it was an explicit design decision to not have this any more - or if this is a new bug that the reflected wave is just gray.

![image](https://cloud.githubusercontent.com/assets/679486/22223593/d5365548-e178-11e6-8236-d3c8096920b8.png)

I now suspect it is a new b

[2017-01-23 21:34] samreid commented on #367
I think this is a WebGL bug, because running with ?webgl=false, I do not see this issue.

[2017-01-23 22:39] kathy-phet commented on #367
Also, with webgl active, I see if I go all the way to glass --- to get a stronger reflected beam --- you can actually see that the moving wave form is there. It seems like their is a layering problem and the grey is on top, instead of perhaps on the bottom layer.

[2017-01-25 21:35] samreid commented on #367
@ariel-phet would you like to review/prioritize/schedule this issue?

[2017-01-26 16:33] samreid commented on #367
I put a reminder on my personal calendar for July 12, 2017.

[2017-01-26 16:34] samreid commented on #367
By the way, I should mention that @jonathanolson would probably be great at solving this webgl problem, and I wouldn't mind if he worked on it instead of me.

[2017-01-26 18:14] jonathanolson commented on #367
I saw that the color (in addition to the transparency) was being modified by the power level. I made a patch above that I believe improves the appearance (no gray), but is still slightly different than the CanvasNode approach (which may not be using just transparency).

@samreid and @kathy-phet, does this look correct?

[2017-01-26 18:16] jonathanolson commented on #367
New WebGL:
![bending-webgl](https://cloud.githubusercontent.com/assets/480878/22344286/d97fc890-e3b8-11e6-8f3a-0c51b3a6bdaf.PNG)

Current Canvas:
![bending-canvas](https://cloud.githubusercontent.com/assets/480878/22344290/dcad8e76-e3b8-11e6-9381-0be7ceab4e57.PNG)

[2017-01-26 18:18] samreid commented on #367
The canvas node uses step functions for improved performance, the appearance in the WebGL version seems good to me.  Would be great for @kathy-phet or possibly @ariel-phet to confirm.

[2017-01-26 19:28] kathy-phet commented on #367
The new WebGL image above looks great! It's a big improvement in my opinion. I would favor re-release -- but in need of testing so just in the queue there somewhere lowish.

[2017-02-02 18:08] samreid commented on #367
@jonathanolson will publish a maintenance release soon.

[2017-02-02 18:24] jonathanolson commented on #367
Correct, 1.1.2 deployed with the fix.

[2017-02-02 18:36] samreid opened #368 "[iPhone] Reflected wave animation at wrong angle"
![image](https://cloud.githubusercontent.com/assets/679486/22562913/befc0410-e93b-11e6-830c-b59d2e12be03.png)

[2017-02-02 18:38] samreid commented on #367
In testing on iOS, I noticed #368, @mattpen is checking to see if this is a problem on iPad too.

[2017-02-02 18:42] samreid commented on #368
This looks like it was also buggy on 1.1.1 http://phet.colorado.edu/sims/html/bending-light/1.1.1/bending-light_en.html but the wave was too gray to notice it.

Flagging for high priority since this is very buggy on our main site now.  Should we revert until this is fixed?  Try to quickly fix the animation angle?  @ariel-phet what do you recommend?

[2017-02-02 18:44] mattpen commented on #368
@samreid - I can recreate this bug on iPad 2 Mini, iOS 10.2.1 on both versions 1.1.2 and 1.1.1

(Apologies for the poor screenshot-fu)

![win_20170202_11_38_18_pro](https://cloud.githubusercontent.com/assets/11747676/22563203/dd046820-e93c-11e6-8b68-be762c2c7e11.jpg)

[2017-02-02 18:45] ariel-phet commented on #368
@samreid revert

[2017-02-02 18:48] phet-steele commented on #368
@samreid talking about #359?

[2017-02-02 18:50] samreid commented on #368
Yes, @phet-steele that seems correct.

@jonathanolson can you please publish a maintenance revert?

[2017-02-02 18:57] phet-steele commented on #368
@samreid @ariel-phet why would a revert be necessary here? It is still a problem in 1.1.1, 1.1.2 didn't introduce a new bug, and clearly from the screenshots in #359, the wave was NOT always too gray to notice.

[2017-02-02 19:04] jonathanolson commented on #368
Revert complete, bumped to 1.1.3 (same behavior as 1.1.1).

[2017-02-02 19:07] ariel-phet commented on #368
@phet-steele 1.1.2 made the bug more obvious

[2017-02-02 19:27] jonathanolson commented on #368
Unassigned, please reassign if you want me to fix or assist with a fix for the underlying problem.

[2017-02-02 21:47] kathy-phet commented on #368
Note, this bug does not appear in webgl=false version, only webgl version.

[2017-02-03 19:36] kathy-phet commented on #368
@jonathanolson - When there is a lull due to testing or other things you are waiting on, can you take a look at this error since it is only in WebGL code?

[2017-02-03 19:37] kathy-phet commented on #368
It actually seems like it might be something general in WebGL node that should be corrected, and just manifests itself here for some reason.

[2017-02-03 20:24] ariel-phet commented on #368
Marking at low priority since this is a "as time allows" bug and has not been reported to phethelp

[2017-02-03 20:38] phet-steele commented on #359
Kathy's comments from #368:

And a comment from @ariel-phet:

[2017-02-03 20:39] phet-steele commented on #368
Closing as a duplicate of #359, relevant info has been moved.

[2017-02-03 20:39] #368 closed

[2017-02-03 20:40] samreid commented on #359
One more note: it seems like the problem is related to the total size of the canvas, and that reducing the webgl drawable area may make the problem go away.  (mentioned inhttps://github.com/phetsims/bending-light/issues/359#issuecomment-255230720 )

[2017-02-04 04:10] samreid commented on #359
@kathy-phet said:

I have seen several occasions where having the geometry "too big" causes rendering artifacts like this.  I'm not sure how big is too big, but the problem sometimes (always?) goes away when reducing the geometry size.

[2017-02-10 04:37] samreid commented on #359
This problem occurs on my iPhone 5S running iOS 10.2 but not on my iPad3 running 9.3.5.

[2017-02-10 04:41] samreid commented on #359
This problem was identified for the transmitted wave in https://github.com/phetsims/bending-light/issues/147 but the solution wasn't applied to the reflected wave.  I'll apply it to the reflected wave shortly.

[2017-02-10 04:57] samreid commented on #359
I published an RC here which includes the geometry fix and the wave color fix from @jonathanolson:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.1.4-rc.2/bending-light_en.html

I'll create a test task.

[2017-02-10 05:00] samreid commented on #359
Task is mentioned above.  On hold until that's complete.

[2017-02-10 06:18] kathy-phet commented on #359
Works great here. Thx, k

Sent from my iPhone

On Feb 9, 2017, at 10:00 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

Task is mentioned above. On hold until that's complete.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/phetsims/bending-light/issues/359#issuecomment-278858217>, or mute the

[2017-02-13 17:25] oliver-phet opened #369 "User request: Add 1 more triangular prism"
Hello,

In the old (Java) version of "Bending light" one could add up to 6 prisms and create this:
![kobffgknlcgcodac](https://cloud.githubusercontent.com/assets/5090275/22894573/b4d3e018-f1d6-11e6-9ec8-8c8ec4de1681.png)

![gakadbhhionogpic](https://cloud.githubusercontent.com/assets/5090275/22894579/b98aab6e-f1d6-11e6-9ddf-5864e1ef724e.png)
which is a very good example to how increasing the surfa

[2017-02-13 17:39] ariel-phet commented on #369
@samreid I believe we limited the number of items due to performance concerns. My guess is it would be trivial to up the number of items on the prisms screen to 6 each. Is that correct?

[2017-02-13 17:40] ariel-phet commented on #369
@samreid no action necessary right now I should clarify, just asking what this change would take.

[2017-02-13 19:28] samreid commented on #369
Currently the code limits the number of prisms to 5 each for all of the types.  It would be trivial to increase it to 6 max for all types.  Slightly more complex to cap it at 5 for some types and 6 for others.  I haven't tested performance lately, so not sure how much a concern that is.

[2017-02-13 19:30] ariel-phet commented on #369
@samreid please go ahead and increase to 6 for all types and reissue the the rc testing task when you get a chance, not a huge rush.

[2017-02-13 19:31] ariel-phet commented on #369
Note - I believe 5 was a somewhat arbitrary choice so things did not get too crazy, but since a user has a specific reason for 6 it seems totally reasonable to increase the number

[2017-02-13 20:11] samreid commented on #369
Sounds good, I will probably get to this Thursday or later.

[2017-02-16 16:56] samreid commented on #369
Fixed above, I'll create an RC.

[2017-02-16 17:08] samreid commented on #369
RC.3 is published here: http://www.colorado.edu/physics/phet/dev/html/bending-light/1.1.4-rc.3/bending-light_en.html

I'll create a test task.

[2017-02-16 17:11] samreid commented on #369
Ready for testing in https://github.com/phetsims/tasks/issues/786

[2017-02-16 17:11] samreid commented on #359
Ready for RC test in https://github.com/phetsims/tasks/issues/786

[2017-02-16 17:12] samreid commented on #367
Testing will need to be done in https://github.com/phetsims/tasks/issues/786

[2017-02-17 20:03] phet-steele commented on #369
Assigning to @oliver-phet. This inclusion does not seem to have any adverse effects.

[2017-02-17 20:05] phet-steele commented on #367
@samreid @jonathanolson this looks great! Thanks.

[2017-02-17 20:05] #367 closed

[2017-02-17 20:08] phet-steele commented on #359
Wave direction was correct on (rc.3):

- iOS 10.2 retina
- iPad 2
- JB's iPhone 5c

Closing, thanks @samreid!

[2017-02-17 20:08] #359 closed

[2017-02-17 20:49] samreid opened #370 "Publish a new version"
Testing in https://github.com/phetsims/tasks/issues/786 completed, it is ready to publish.

[2017-02-22 21:21] oliver-phet opened #371 "User request: customized prisms"

[2017-02-22 23:19] ariel-phet commented on #371
@oliver-phet please reply to the user that although we appreciate the feedback and suggestion, this request is outside the scope of the sim.

[2017-02-22 23:21] oliver-phet commented on #371
Done. Closing.

[2017-02-22 23:21] #371 closed

[2017-02-24 04:58] samreid commented on #370
The new bending light is live.  @oliver-phet can you please notify our customer that requested more prisms?

[2017-02-24 05:01] samreid commented on #370
I emailed the PhET Team

PhET Team,

Bending Light 1.1.4 was published today.  Thanks to Jon for fixing the webgl wave view, and to Steele for his good QA testing!  This also includes 6 of each type of prism (instead of 5) based on a customer request.

Best Regards,
Sam

[2017-02-24 15:41] oliver-phet commented on #369
This has been published. Closing.

[2017-02-24 15:41] #369 closed

[2017-02-24 15:42] oliver-phet commented on #370
Email to user sent. Closing.

[2017-02-24 15:42] #370 closed

[2017-04-06 20:47] samreid opened #372 "Prisms get away from the mouse"
Noted in master: go to 2nd screen, drag a prism from the toolbox.  Depending on your screen size, the prism will go faster than the mouse.

[2017-05-10 16:11] oliver-phet opened #373 "User request: multiple beams"
In its section "Prisms" you provide the multiple beam light source. It would be great if you could enlarge the distance between the beams to show that beams more distant from the optical axis are refracted stronger when focused by a lens – to discuss the validity of the lens equation 1/f = 1/o + 1/i. Would also be good to provide a thin lens. But anyway, it's great.

[2017-05-23 20:16] oliver-phet opened #374 "User request: mirror"
I have a request, Can you add a simple mirror  and a screen to this simulation?

[2017-06-14 06:20] ariel-phet opened #375 "Check boxes larger than standard on prisms screen"
One the prisms screen the check boxes are much larger than standard (normally we match them to about the size of the text. The text "Normal, Reflections, Protrator" also seems to be a bit small.

Might be a good pixel polish to make next time we republish this sim.

![bl](https://user-images.githubusercontent.com/4051174/27118150-349fb802-5097-11e7-81dc-653360adc584.PNG)

[2017-06-21 23:06] samreid commented on #372
Still happening to this day.

[2017-08-23 19:58] #50 closed

[2018-01-24 23:39] arouinfar commented on #366
Marking as on-hold until the following primers are published:

https://github.com/phetsims/circuit-construction-kit-dc/issues/167
https://github.com/phetsims/circuit-construction-kit-dc-virtual-lab/issues/10
https://github.com/phetsims/projectile-motion/issues/147
https://github.com/phetsims/pendulum-lab/issues/191
https://github.com/phetsims/hookes-law/issues/44
https://github.com/phetsims/gravit

[2018-02-07 16:47] oliver-phet opened #376 "User request: 90° prism"
Is it possible to create one?

[2018-05-22 22:48] arouinfar commented on #366
- [ ] Draft script
- [ ] Record rough version for script verification
- [ ] Review script verification draft, and adjust script as necessary
- [ ] Record another draft
- [ ] Review 2nd draft
- [ ] Produce primer and upload
- [ ] Caption primer

[2018-05-25 20:03] samreid commented on #372
Observed again today.  This would block republication.

[2018-06-29 20:29] samreid opened #377 "Use SCENERY_PHET/WireNode"
WireNode was generalized for Wave Interference, Bending Light should use it too.

[2018-06-29 20:39] samreid commented on #377
Fixed, but will need testing and review before publication.

[2018-08-23 16:45] samreid commented on #377
Perhaps we should wait for https://github.com/phetsims/scenery-phet/issues/395 review to complete.

[2018-09-04 01:17] samreid opened #378 "Investigate re-entrant Properties"
In https://github.com/phetsims/axon/issues/179 we identified Property instances that are re-entrant.  In this context, re-entrant means a change in value of the Property causes (via listeners) another change in the value of the same Property instance.

Re-entry can occur for at least 3 different reasons, which are document here: https://github.com/phetsims/axon/issues/179#issuecomment-414717687

[

[2018-09-04 03:35] samreid opened #379 "Use new common code components for the scrolling wave chart"
From https://github.com/phetsims/scenery-phet/issues/385

[2018-10-25 22:41] arouinfar commented on #379
In today's meeting for Wave Interference we discussed https://github.com/phetsims/griddle/issues/31, and decided that the behavior of the wave detector in Bending Light can behave exactly the same as Wave Interference.
![image](https://user-images.githubusercontent.com/8419308/47534444-a1f82400-d874-11e8-8a53-5b4215d3e2d4.png)

If the scale bar is optional, we can probably leave it off, since the

[2018-11-02 16:20] oliver-phet opened #380 "User request: lens with controllable focal distance"

[2018-11-16 04:57] TrustyMan commented on #380
I'm developing circuit simulation using PhET.

[2019-01-09 20:03] KatieWoe commented on #372
Found again today while testing https://github.com/phetsims/QA/issues/226.  Assuming it is unrelated due to the age of the issue.

[2019-01-23 23:58] KatieWoe opened #381 "CT: running lint-all task"
[code]

[2019-01-24 03:45] #381 closed

[2019-01-30 19:37] oliver-phet opened #382 "User request: option to hide reflection"

[2019-03-28 02:04] pixelzoom commented on #372
Sounds like an incorrect coordinate transform in a drag handler, maybe confusion between `globalToParentPosition` and `globalToLocalPosition` (or something like that...)

[2019-04-11 17:42] oliver-phet opened #383 "User request: enter exact angle"
Problem description: Not so much a problem as a suggestion. When assigning the incident angle you have to drag the light source. This makes it REALLY difficult to get an angle exact to the tenth. I mean it is really hard sometimes. It would be SO much easier to be able to type in the angle.

Steps to reproduce: Try to drag the light source to exactly 10.0 . It skips between 9.9 and 10.2 mostly but

[2019-04-15 20:26] KatieWoe opened #384 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Radio buttons may be difficult (don't seem to contain the word
* Maybe enlarge step through button area

Screenshots:
![Image from iOS (1)

[2019-04-17 15:45] arouinfar commented on #384
Thanks @KatieWoe.

@samreid can you include the text label in the touch area for Ray/Wave, as was done for Normal/Slow Motion?

[2019-06-10 17:34] oliver-phet opened #385 "User request: more lenses"

[2019-07-01 03:02] samreid commented on #384
Unassigning until I'm working on bending light again.

[2019-07-18 18:59] samreid commented on #377
@pixelzoom volunteered to take a look, thanks!

[2019-07-22 19:59] pixelzoom commented on #377
Review completed. I don't see any problem with the above commit, or when running the sim.

Back to @samreid in case there's more to be done here.  Feel free to close.

[2019-07-23 00:09] samreid commented on #377
Thanks, closing.

[2019-07-23 00:09] #377 closed

[2020-02-05 15:13] pixelzoom opened #386 "use SCENERY_PHET/TimeControlNode"
Noticed while working on https://github.com/phetsims/scenery-phet/issues/575.

bending-light currently has its own implementation, see BENDING_LIGHT/TimeControlNode.  It should be using common code SCENERY_PHET/TimeControlNode.

One notable difference is that bending-light uses "Slow Motion", where common code uses "Slow". Another difference is the position of the radio buttons.

This is important

[2020-02-27 20:57] loganbraywork opened #387 "Wave remains on screen after reset and screen change"
**Test device**
Hooke
**Operating System**
MacOS 10.15.3
**Browser**
Safari 13.0.5
**Problem description**
Appears in latest Master and published version

If the beam is set to wave in the more tools screen, the sim is reset, the screen switched away and back to the more tools screen, the screen appears at it did on reset.
**Steps to reproduce**
1. Enter the More Tools screen
2. Select the wave op

[2020-03-02 19:20] KatieWoe commented on #372
Found again during ES6 Testing

[2020-03-13 17:08] oliver-phet opened #388 "User request: various"

[2020-03-17 20:14] samreid opened #389 "Instrument for PhET-iO"
We would like to instrument this sim for PhET-iO.

[2020-03-17 20:38] samreid commented on #389
Published a reference version here:
https://phet-dev.colorado.edu/html/bending-light/1.2.0-dev.1/phet/bending-light_en_phet.html

[2020-03-17 20:46] samreid commented on #310
@KatieWoe can you please test if this is still a problem on our current slowest supported platform?

[2020-03-17 21:56] KatieWoe commented on #310
Wasn't able to reproduce on ChromeOS

[2020-03-18 03:44] samreid opened #390 "Convert to ES6"
To support https://github.com/phetsims/bending-light/issues/389, it would be nice to be using ES6.

[2020-03-18 14:57] KatieWoe opened #391 "CT Error: Unable to read "../bending-light/js/phet-io/bending-light-phet-io-elements-baseline.js""
[code]

[2020-03-18 19:56] samreid commented on #391
Should be fixed by https://github.com/phetsims/bending-light/commit/f966c41ef13f617007eb09e5839f98428da16243, closing.

[2020-03-18 19:56] #391 closed

[2020-03-19 14:57] KatieWoe opened #392 "CT PhET-iO API error"
[code]

[2020-03-19 17:35] samreid commented on #310
Thanks.  Let's close for now and we can reopen if the problem recurs.

[2020-03-19 17:35] #310 closed

[2020-03-23 15:02] KatieWoe commented on #392
May be related:
[code]

[2020-04-13 15:17] KatieWoe opened #393 "CT failed phetioType validator"
[code]

[2020-06-11 16:45] samreid commented on #372
Unassigning until I return to bending light.

[2020-06-17 19:01] pixelzoom opened #394 "all screens are drawing outside of the layoutBounds"
In master and [1.2.0-dev.1](https://phet-dev.colorado.edu/html/bending-light/1.2.0-dev.1/phet/bending-light_en_phet.html?dev), all screens are drawing outside of the layoutBounds.  For example, here's the _Prisms_ screen with `?dev`:

<img width="1114" alt="screenshot_399" src="https://user-images.githubusercontent.com/3046552/84938533-a6510080-b09a-11ea-965e-c59d0ebfdc30.png">

[2020-06-17 19:19] pixelzoom commented on #394
Actually, all 3 screens are drawing outside of the layoutBounds.

[2020-06-17 20:49] pixelzoom commented on #394
Hmmm....  I see that the published version (1.1.20) is behaving the same way.  So maybe this is sim is designed to make full use of the browser window?

[2020-07-06 15:53] samreid commented on #394
Unassigning until we return focus to this sim.

[2020-10-19 14:03] masoud-shahpoori opened #395 "Interference in objects"
Hi Phet developers
I have some problems with **`Bending-light`** simulation **`version: "1.2.0-dev.1"`**
As you see in the image that it has been attached, When I've used `Prisms simulation` and brought 2 same objects it has shown me some problems.
When I want make rotation for each of them, another object rotates too.
The first shape is only superficially correct, but the point of refraction of t

[2020-12-02 16:23] KatieWoe opened #396 "CT Bounds mismatch after validateBounds"
[code]

[2020-12-02 19:49] samreid commented on #396
This looks similar to https://github.com/phetsims/joist/issues/656

[2020-12-04 16:26] KatieWoe commented on #396
Looks like it might have gone away, but then came back:
[code]

[2020-12-08 16:22] KatieWoe commented on #396
[code]

[2020-12-14 16:19] KatieWoe commented on #396
Showing up again more consistently.
[code]

[2020-12-28 17:54] samreid commented on #396
This issue is puzzling.  If I omit the titleNode and the chartNode from the bodyNode, then the problem is not triggered:

[code]

However, both the title and chartNode appear to have legal, numeric bounds.  @jonathanolson can you please advise?

[2021-01-04 18:23] jonathanolson commented on #396
@samreid I recall this happening in `?eall` when client code directly mutated the relevant bounds. I'll do a brief check.

[2021-01-04 18:24] jonathanolson commented on #396
Presumably changing this to eroded should work, I'll test.

[2021-01-04 18:26] jonathanolson commented on #396
Verified it seems to fix the above issue. @samreid can you verify? Should we update the assertion message to better hint for that, now that we're running `?eall` more?

[2021-01-04 18:31] samreid commented on #396
That fix looks great, thanks! A better assertion message would be helpful, would you like a side issue for that?

[2021-01-04 18:40] jonathanolson commented on #396
Handled above, does that look good? (Don't feel like a side issue is needed, unless additional changes should be made).

[2021-01-04 20:39] samreid commented on #396
Excellent, thanks!  Closing.

[2021-01-04 20:39] #396 closed

[2021-01-30 22:17] samreid commented on #390
The sim is now using ES5, closing.

[2021-01-30 22:17] #390 closed

[2021-01-30 22:18] samreid commented on #365
Bending light has been clear on CT for a while (including PhET-iO brand), closing.

[2021-01-30 22:18] #365 closed

[2021-01-30 22:19] samreid commented on #394
Yes this sim uses a floating layout that can go outside the dev bounds, closing.

[2021-01-30 22:19] #394 closed

[2021-01-30 22:20] samreid commented on #239
Canvas seems like it has been working well, I don't see a need to invest in WebGL at the moment, closing.

[2021-01-30 22:20] #239 closed

[2021-01-30 22:22] samreid commented on #393
This error hasn't occurred on CT for a while, closing.

[2021-01-30 22:22] #393 closed

[2021-01-30 22:22] samreid commented on #392
This error hasn't occurred on CT for a while, closing.

[2021-01-30 22:22] #392 closed

[2021-01-31 00:42] samreid commented on #372
I tested master in a wide variety of screen sizes, and tried dragging prisms from the toolbox and in the play area.  Nothing got away from the mouse.  I'm not sure how this was corrected, but I don't see obvious commits in bending-light that would explain it.  Closing... (for now?)

[2021-01-31 18:18] samreid commented on #339
Thanks to the changes in the referenced issues, this has been completed.  @pixelzoom do you have time for a quick review?  If not, we may need to leave this for a "review right before publication" sort of thing.

[2021-01-31 22:00] samreid commented on #375
Fixed in the commit, closing.

[2021-01-31 22:00] #375 closed

[2021-02-01 01:21] pixelzoom commented on #339
Changes and behavior in bending-light look good, so I'll go ahead and close this.  But note the regression in https://github.com/phetsims/scenery-phet/issues/660#issuecomment-770478770, which does not appear to affect bending-light, since its LaserPointerNode uses the default `hasGlass: false`.

[2021-02-01 01:21] #339 closed

[2021-02-01 04:29] samreid commented on #387
I'm not seeing this symptom at the moment on Mac Safari.  Leaving open for QA to double check at next RC.

[2021-02-01 19:07] samreid commented on #386
Fixed in the commit.  @arouinfar is it OK that the new button says "Slow" instead of "Slow Motion"?  I don't see an option in the common code TimeControlNode to change this, and I didn't recall the design discussions around whether that would be supported.

[2021-02-01 19:14] pixelzoom commented on #386
"Slow" (and other speed labels) were standardized in https://github.com/phetsims/scenery-phet/issues/575#issuecomment-585424270.   And the associated enumeration is:

`const TimeSpeed = Enumeration.byKeys( [ 'FAST', 'NORMAL', 'SLOW' ] );`

Unless there's a really good reason to deviate with "Slow Motion", I think we should try to stick to the standard labels, and not add yet-another option to Time

[2021-02-01 19:20] samreid commented on #395
I'm seeing the same problem, rotating the 2nd prism incorrectly changes the light path:

![image](https://user-images.githubusercontent.com/679486/106507077-cb5a7e00-6487-11eb-9a3f-ece5b0834efd.png)

Thanks for this report @masoud-shahpoori, I'll label this issue accordingly.

[2021-02-01 19:31] arouinfar commented on #386
Thanks @pixelzoom! That saved me from trying to find the old discussion.

@samreid the desired design is to use the fast/normal/slow labels in all sims.

[2021-02-01 19:32] samreid commented on #386
Sounds good, closing.

[2021-02-01 19:32] #386 closed

[2021-02-02 15:59] samreid commented on #384
After the commit, the touch areas look like this:

![image](https://user-images.githubusercontent.com/679486/106626485-fea71680-6534-11eb-9946-4c2987e66df8.png)

@arouinfar anything else for this issue?

[2021-02-02 16:15] samreid commented on #378
So far, I haven't found a way around this problem. You can trigger one case by dragging the top medium slider all the way to the right.  It seems like a roundoff error.  But I tried adding deep equals for medium and substance, and looked for a way to combine the medium property with mediumIndexProperty.  Neither seems to help, there is still numerical difference.  Here's my patch so far:

<details

[2021-02-03 17:34] samreid opened #397 "Make it possible to disable dragging the laser, while still being able to turn the button on and off"
In https://github.com/phetsims/scenery-phet/issues/660#issuecomment-772618956 @arouinfar said:

Note that a solution/workaround was proposed in https://github.com/phetsims/scenery/issues/1041#issuecomment-772685077

[2021-02-04 01:11] arouinfar commented on #384
Everything looks good with `showPointerAreas`. I also tested on my phone, and didn't notice any other issues.

[2021-02-04 18:34] samreid commented on #397
At today's design meeting, @arouinfar and @kathy-phet also commented that we should be able to disable drag/rotate independently.

[2021-02-04 18:36] zepumph commented on #397
Ideally any solution in https://github.com/phetsims/scenery/issues/1041 wouldn't involve working on deprecated listeners. Is part of the Bendling Light work to upgrade LaserNode's SimpleDragHandlers to `DragListener`?

[2021-02-04 18:37] samreid commented on #397
We discussed that maybe removing the knob is how you make it non-rotateable.

[2021-02-10 01:26] samreid commented on #397
I added `isRotationEnabledProperty` and `isTranslationEnabledProperty` in `laserNode` and they have the correct behavior in both screens.  `isTranslationEnabledProperty` has no effect on the "intro" and "more tools" screen where the laser cannot be translated.  @arouinfar and @pixelzoom does this seem reasonable to you?  Please keep in mind the context of https://github.com/phetsims/scenery/issues

[2021-02-10 02:38] pixelzoom commented on #397
Yep, this is what I had in mind.  I played with it in Studio, and (to me) it seems superior to setting pickable, or (worse) having to find and disable listeners that are relevant to some interaction that you want to turn off.

Some recommendations:

* `phetioDocumentation` (and code comments?) for these new Properties seems like a must-have. Especially since this is a different approach than instr

[2021-02-10 02:46] samreid commented on #397
On the prisms screen, disabling `isRotationEnabledProperty` hides the rotation knob on the back of the laser and makes it non-rotatable.

[2021-02-10 02:50] pixelzoom commented on #397
Ah, I missed that on the Prisms screen.  But you get the point, right? `isTranslationEnabledProperty` is being instrumented (and therefore presented in Studio) in cases where there is no "translate" interaction.

[2021-02-10 02:51] samreid commented on #397
Yes, I'm working on removing it from that case.

[2021-02-10 02:54] pixelzoom commented on #397
This would address my concerns:

[code]

[2021-02-10 02:58] pixelzoom commented on #397
Side issue, but these lines also seem unfortunate:

[code]

Why even create those listeners if there is no translatonTarget?

This is also mega confusing:

[code]

[2021-02-10 03:03] pixelzoom commented on #397
Side issues...

These lines also seem unfortunate:

[code]

Why even create those listeners if there is no translatonTarget?

This is also mega confusing, since knobImage might actually be `null`, and it's not documented very well:

[code]

Somehow we're supposed to figure out what the knob is used for.  The above code makes it look like the knob is sometimes used for translation, but I'm pretty s

[2021-02-10 03:08] samreid commented on #397
I think I addressed all of the recommendations in the commits, can you please review at your convenience?

[2021-02-10 03:20] pixelzoom commented on #397
Changes looks good, and address my concerns about isTranslationEnabledProperty.

`hasKnob` is still way too overloaded for my taste. I've figured out that it means:

[code]

If it were me, I would (1) document that LaserNode is always rotatable, (2) always show the knob, since there's no harm in doing so and imo it's confusing that it's removed, and (3) replace `hasKnob` with `isTranslatable`:

[c

[2021-02-10 03:25] kathy-phet commented on #397
FYI, amy and I identified several more applications of this issue in our projectile motion review this week, so MK you will get to try any approach there also.

Sent from my iPhone

[2021-02-11 04:14] samreid commented on #397
Tagging @zepumph to make sure he is aware of the progress in this issue and the preceding comment about Projectile Motion.  I will move the recommendations from https://github.com/phetsims/bending-light/issues/397#issuecomment-776410279 to a separate issue, closing.

[2021-02-11 04:14] #397 closed

[2021-02-11 04:18] samreid opened #398 "Simplify usage of laserNode.hasKnob"
From https://github.com/phetsims/bending-light/issues/397#issuecomment-776410279 @pixelzoom said:

I suspect showing the knob on the "Intro" and "More Tools" screens may look a little cluttered.  More importantly, I think it is important to have a visual cue on the laser that makes it look different to indicate that dragging the body will have a different behavior.  Perhaps the green arrows addres

[2021-02-11 04:19] arouinfar commented on #397
@zepumph the cannon in Projectile Motion can be adjusted in two ways:
1. dragging the barrel to change the angle
2. dragging the cannon base/pedestal to change the height

Clients should be able to independently disable these interactions (whether by pickableProperty or something else). I'll include this request in the issue for the Projectile Motion design review.

[2021-02-11 04:46] arouinfar commented on #398
The preferable design is to leave things as they are.

The interaction patterns in Intro/More Tools and Prisms are different. On the Intro/More Tools screen, there is only one way to move the laser -- translating along a fixed circular path. On the Prisms screen, the laser can be translated by grabbing its body or rotated about its center by using the knob.

Adding the knob would muddy things on t

[2021-02-11 05:49] pixelzoom commented on #398
Totally fine with leaving the design the way it is.  My main concern was the implementation, and the overloading of option `hasKnob`.   If you want to leave the implementation as is, then at least consider documenting the full (complicated!) semantics of `hasKnob`, as described in https://github.com/phetsims/bending-light/issues/398#issue-806064768.  That will at least save the next person (or me

[2021-06-07 23:57] pixelzoom opened #399 "Rename Circle"
Would it be possible to rename bending-light's Circle class?  Maybe BendingLightCircle? It obvious conflicts with scenery, and I believe the PhET convention is to try to avoid this kind of name collision.   I can't tell you how many times WebStorm has auto-added a bad import to bending-light.

[2021-06-09 20:20] samreid commented on #399
I renamed it in the commit, @pixelzoom would you like to review?

[2021-06-09 20:46] pixelzoom commented on #399
Thanks! Closing.

[2021-06-09 20:46] #399 closed

[2021-07-03 15:45] samreid commented on #372
Reopening based on the 3 TODOs marking this issue in the code, they seem like they need attention.

[2021-07-12 19:42] Nancy-Salpepi opened #400 "Zooming function enabled in bending light"
**Test device**
MacBook Air

**Operating System**
macOS 11.4

**Browser**
safari and also happens in chrome (slightly differently)

**Problem description**
Found on published version of bending light. Zooming shouldn't be enabled in published sim (before zooming available). Screen freezes once zoomed in Safari only and visible portion of screen was off-center. In Chrome, zooming occurred, no freez

[2021-07-12 20:33] arouinfar commented on #400
What a strange find! Nice work @Nancy-Salpepi.

Aside from the console error, pan/zoom using the trackpad seems functional in Mac/Chrome.

Troubleshooting info:

URL: https://phet.colorado.edu/sims/html/bending-light/latest/bending-light_en.html
Version: 1.1.21 2021-07-01 15:56:12 UTC
Features missing: applicationcache, applicationcache, touch
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (Maci

[2021-07-12 21:06] jessegreenberg commented on #400
Thanks @Nancy-Salpepi - This is not specific to bending-light, and is an issue for all sims published before we added our own pan and zoom support (seeing this in capacitor-lab-basics, bending-light, build-an-atom). Moving to a more common code repo since it is not sim specific.

[2021-07-12 21:28] jessegreenberg commented on #400
General issue made in joist, will be continuing this issue there.

[2021-07-12 21:28] #400 closed

[2021-10-10 20:28] samreid opened #401 "Port to TypeScript"
To help move TypeScript forward and to get the benefits of TypeScript in this repo, we should port it to TypeScript.

[2021-10-11 03:54] samreid commented on #401
Summarizing work so far.  It took nearly 3 hours to port all of bending light (8900 lines) to TypeScript.  This is not complete due to the following:

* 76 `@ts-ignore`, mainly due to strings, and inadequacies in common code
* implicit `any` due to numerous non-generic Property and Emitter
* 58 explicit `: any` due to inadequancy in common code
* Some type casting to unknown and to the type, due t

[2021-10-11 15:35] KatieWoe opened #402 "CT text should be a string or number"
[code]

[2021-10-11 16:30] samreid commented on #402
Fixed, thanks for the report, closing.

[2021-10-11 16:30] #402 closed, assigned to samreid

[2021-10-11 20:24] samreid opened #403 "Rotating prisms sometimes give the wrong behavior"
Rotating prisms sometimes give the wrong behavior,
![Kapture 2021-10-11 at 14 22 57](https://user-images.githubusercontent.com/679486/136851281-36728d72-a981-439a-8016-02f7ba46bf09.gif)

Discovered in #401

[2021-10-11 21:55] samreid commented on #401
In the commits, I added type declaration for strings, better enum support and addressed several TODOs.  Total time so far: about 5 hours.  What's left:

* 47 ts-ignore
* 38 `any`
* 7 TODO (many from pre-existing problems)

Many of the existing problems are due to inadequacies in common code.  I can add better types for options, and look through the any and ts-ignore again, but many things may need

[2021-10-12 15:37] #401 closed

[2021-10-12 15:39] samreid opened #404 "Code Review: TypeScript port"
After porting to TypeScript in https://github.com/phetsims/bending-light/issues/401, I realized it would be great if someone else can code review it.  I'm reluctant to ask now since at the last developer meeting, all other developers were still getting up to speed on TypeScript.  But I'll mark this as a placeholder and request a review when appropriate.

[2021-11-12 05:10] samreid commented on #404
I don't feel like this review is relatively high enough priority at the moment.  Maybe this should be reconsidered as we evaluate TypeScript in December.

[2021-12-13 15:29] samreid commented on #404
Maybe the best way to proceed is to incorporate TypeScript reviews into our standard reviews, closing.

[2021-12-13 15:29] #404 closed

[2022-02-24 19:54] KatieWoe commented on #387
I haven't reproduced on Win 11 Chrome or Mac 10.15.7 Safari 15.2. Checked on published sim. Removing ready for qa label for now. @samreid let me know if you want us to spend more time trying to track this down, or just keep an eye out.

[2022-03-29 23:29] pixelzoom opened #405 "TS2345: missing required options to WavelengthSlider."
After converting scenery-phet.WavelengthSlider to TypeScript, bending-light is failing in WavelengthControl.ts.    See screenshot below.

The hierarchy for WavelengthSlider is as follows:
* class WavelengthSlider extends SpectrumSlider
* class SpectrumSlider extends AccessibleSlider( Node, 0 )
* AccessibleSlider is a trait that extends AccessibleValueHandler

2 options required by AccessibleValueH

[2022-03-30 15:16] KatieWoe opened #406 "CT Fatal error: tsc failed with code: 1"
[code]

[2022-03-30 15:32] samreid commented on #405
@chrisklus and I collaborated on the above solution.  @pixelzoom would you like to review?

[2022-03-30 20:31] samreid commented on #406
Likely duplicate of https://github.com/phetsims/bending-light/issues/405, closing.

[2022-03-30 20:31] #406 closed

[2022-03-31 20:59] pixelzoom commented on #405
👍🏻

[2022-03-31 20:59] #405 closed

[2022-05-03 17:51] KatieWoe opened #407 "CT Object is possibly 'undefined'."
[code]

[2022-05-04 18:18] samreid commented on #407
Fixed, thanks!  Closing.

[2022-05-04 18:18] #407 closed

[2022-06-02 19:45] pixelzoom opened #408 "AngleNode `getRay` has incorrect return type"
Discoverd while working on

In AngleNode.ts:

[code]

`@returns {LightRay}` is incorrect, `MOCK_ZERO_RAY` is not a LightRay instance.  It's a duck type:

[code]

So the `@returns` cannot be properly replaced with a return type.

Not sure how you'd like to address this, so assigning to @samreid.

[2022-06-02 21:46] zepumph commented on #408
Over in https://github.com/phetsims/chipper/issues/1224 I deleted that `@returns` to enabled a bad-typescript-text rule. Wouldn't we still want to use typescript in this case?

[code]

[2022-06-02 22:02] pixelzoom commented on #408
No. `getRay` returns a LightRay in one case, a partial implementation of LightRay (duck type) in another.

This seems to work (uncommitted):

[code]

[2022-06-03 18:42] zepumph commented on #408
Sounds good. However you want to type it. I wasn't trying to recommend the typescript code. I was trying to mention that having `@returns` in this case will be a lint error, and we should use typescript to accomplish this.

[2022-06-09 19:19] pixelzoom opened #409 "Suspicions devDependencies in package.json"
Why does bending-light have these `devDependencies` in package.json?  I don't see anything like this in package.json for other sims.

[code]

[2022-06-09 19:30] samreid commented on #409
Thanks, I think @zepumph found an extra installation of node_modules/typescript in bending-light this week.

[2022-06-13 14:39] #409 closed

[2022-06-13 14:39] samreid commented on #409
I also wrote to slack:

[2022-08-02 22:42] samreid commented on #408
I added a type alias and specified it as the returned type.  Closing.

[2022-08-02 22:42] #408 closed, assigned to samreid

[2022-09-08 04:49] samreid commented on #403
Fixed, closing.

[2022-09-08 04:49] #403 closed

[2022-09-08 04:51] samreid commented on #353
The aliasing was solved, probably by https://github.com/phetsims/joist/issues/664.  But now the webgl wave view is missing.

<img width="791" alt="image" src="https://user-images.githubusercontent.com/679486/189037032-a26b1b89-dbbf-4290-b514-574bc4c2c065.png">

[2022-09-08 04:51] #353 closed

[2022-09-08 04:51] samreid opened #410 "WebGL wave view is missing from screenshots"
See https://github.com/phetsims/bending-light/issues/353, the "wave" webgl node does not render in the screenshot.  It is implemented with WebGLNode.  @jonathanolson recently applied fixes in https://github.com/phetsims/joist/issues/664#issuecomment-1234692007 for WebGL screenshots--I did not fully understand the commits.  But maybe WebGLNode has a similar problem.  @jonathanolson can you please t

[2022-09-08 04:53] samreid commented on #395
I believe this issue was fixed by https://github.com/phetsims/bending-light/issues/403, thanks for the report.  Closing.

[2022-09-08 04:53] #395 closed

[2022-09-09 03:52] samreid commented on #398
I added the recommended documentation, closing.

[2022-09-09 03:52] #398 closed

[2022-09-09 03:56] samreid commented on #387
Closing due to the difficulty in reproducing the problem.  We can reopen if we see this in upcoming dev or RC tests.

[2022-09-09 03:56] #387 closed

[2022-09-09 03:56] samreid commented on #384
Thanks, we will deploy this with the upcoming phet-io release.  Closing.

[2022-09-09 03:56] #384 closed

[2022-09-09 03:59] samreid commented on #378
Our project is OK with re-entrant properties, I've added references from the sites back to here.  Closing.

[2022-09-09 03:59] #378 closed

[2022-09-09 04:07] samreid commented on #361
The reflection is rendering ok on my mac chrome at the moment:

<img width="704" alt="image" src="https://user-images.githubusercontent.com/679486/189269830-6e6e7986-98f1-4563-926e-90a00e97601b.png">

We can reopen if we see errant platforms in the dev test, closing for now.

[2022-09-09 04:07] #361 closed

[2022-09-09 21:37] samreid opened #411 "Should the model be in nanometers?"
For https://github.com/phetsims/bending-light/issues/389 I have tried to put the model in nanometers.  It is currently a mix of meters and nanometers.  Here's my patch:

<details>

[code]

</details>

The sim is running and not crashing, but the transmitted angle is incorrect (doesn't vary correctly with the input wavelength).  I've been working on this a while and starting to wonder if I should j