[2015-08-24 21:20] samreid opened #194 "Tone down the brightness of the highlight on the velocity sensor"
It is a bit abrupt, perhaps move the gradient a bit to the left.

[2015-08-24 21:28] ariel-phet commented on #178
Discussed with @samreid reassigning for him to move laser under right control panels.

[2015-08-24 21:32] ariel-phet commented on #66
Temporal sensor behind control panels
All sensors should go in front of play/pause slow mo
"Bump out" rule if behind a control panel

[2015-08-24 21:38] ariel-phet commented on #51
Going to try showing normal just for min and max wavelength

[2015-08-25 03:25] samreid commented on #51
To clarify, this is for the max and min wavelengths for the original bundle of rays, not for each subdivision of rays.  This means when a white beam gets separated, the normal will remain with the red/violet.

[2015-08-25 14:49] ariel-phet commented on #122
Final tweaks being addressed by #194 closing.

[2015-08-25 14:49] #122 closed

[2015-08-25 19:54] samreid commented on #51
Implemented in http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.17/bending-light_en.html @ariel-phet please review the behavior and let me know your thoughts.

[2015-08-25 19:56] samreid commented on #190
We decided to try gray because the background color is a function of the index of refraction, and we didn't want to come up with a different color scheme just for white light.  I'll close this issue and we can continue in #53

[2015-08-25 19:57] samreid commented on #53
We're going to try gray light, @jonathanolson can you help point me in the right direction with the framebuffer texture idea?  Any examples you can point me to?  Also, why did you recommend this approach over say, a custom fragment shader?

[2015-08-25 20:09] jonathanolson commented on #53
Discussing with voice would be best, but ElectricPotentialGridWebGLNode has most of the patterns you would need.

It uses a "compute" shader to render to a framebuffer (alternating between two textures, one which is read from as a texture, and the other texture gets the output written to it). Then it uses a "display" shader to render to the main Canvas, using one of the textures as input.

You wou

[2015-08-25 20:19] jonathanolson commented on #53
It seems to me that two steps are required, if you want to first blend together light rays that overlap, and THEN map the color. If you can just change how they blend to achieve the required affect, no framebuffer is needed.

[2015-08-25 20:26] samreid commented on #63
We are going to continue with WebGL for white light in #53 and @ariel-phet already said its ok for the white light to be somewhat pixellated when webgl is not available in #180.  So the next question is whether it is OK for the white light to be bounded when webgl is not available.  If that's OK then we can close this issue.  If it's not OK then we will likely need to come up with a novel algorith

[2015-08-25 20:55] ariel-phet commented on #63
Bounded to the dev-bounds would be OK...is that the bounds you mean @samreid?

[2015-08-26 01:55] samreid commented on #53
Thanks, I'll take a look around and let you know when I am ready to continue with voice, etc.

[2015-08-26 02:04] samreid commented on #125
I guess I'd like to see better support for this kind of pattern in Axon--allocation free messaging for cases like Vector2 but generally applicable.  I created an axon issue about it above.

[2015-08-26 07:59] ariel-phet commented on #167
Tried iPad2, performance looked good to me! Closing

[2015-08-26 07:59] #167 closed

[2015-08-27 01:08] samreid commented on #191
Current problems I see on os x firefox:
![image](https://cloud.githubusercontent.com/assets/679486/9510149/bfb1ad42-4c25-11e5-808f-3b87bd3036ec.png)

![image](https://cloud.githubusercontent.com/assets/679486/9510153/c80c9272-4c25-11e5-9b45-d2375b1f8a96.png)

![image](https://cloud.githubusercontent.com/assets/679486/9510156/d1049bc2-4c25-11e5-958c-1c92fc4a4727.png)

Everything else is ultra-crisp

[2015-08-27 01:12] samreid commented on #191
Well, at different screen sizes, I also see:
![image](https://cloud.githubusercontent.com/assets/679486/9510217/5cbb04b2-4c26-11e5-8701-af10fff662fa.png)

[2015-08-27 01:14] samreid commented on #191
Just changing image! to mipmap! I received this message:

[2015-08-27 01:19] samreid commented on #191
Mipmap has saved the day once again, thanks @jonathanolson!

![image](https://cloud.githubusercontent.com/assets/679486/9510292/33863f20-4c27-11e5-8f28-f1ac961d8e19.png)

I can't easily or regularly make the laser image look awkward (even on the prisms screen, where it is a bit more prone), so I'm going to leave it alone unless/until I hear otherwise.

[2015-08-27 01:19] #191 closed

[2015-08-27 01:24] samreid commented on #63
White light with webgl=false is buggered up in master, but I tested against dev.15 and it is bounded to the dev-bounds:

![image](https://cloud.githubusercontent.com/assets/679486/9510362/09dbc662-4c28-11e5-9953-339c8ca03d61.png)

So I'll close this issue.

[2015-08-27 01:24] #63 closed

[2015-08-27 01:30] samreid commented on #169
Looks like @ChandrashekarBemagoni already completed this, thanks!

[2015-08-27 01:30] #169 closed

[2015-08-27 01:36] samreid opened #195 "Move IntensityMeter to IntroModel"
It is not used in prisms model, so it should be moved to intro model.

[2015-08-27 05:18] samreid opened #196 "The ProtractorModel.position and ProtractorNode.translation are used inconsistently"
Some places translate the model, some places translate the view and ignore the model values.  We should pick one and stick with it.  Since the model location is never critical, perhaps view coordinates would be best.  On the other hand, if we ever want the protractor to "snap to" the origin, then model coordinates may be best here.  Also, model coordinates may be best for consistency with other to

[2015-08-27 05:29] ChandrashekarBemagoni commented on #188
Fixed in above commit. Assigning to @samreid for verification

[2015-08-27 05:30] ChandrashekarBemagoni commented on #177
Fixed in commit . Assigning to @samreid for verification

[2015-08-27 05:31] ChandrashekarBemagoni commented on #117
Fixed in above commit. Assigning to @samreid for verification

[2015-08-27 16:55] samreid commented on #192
@kathy-phet and @phetsims/dubson agreed that we can get rid of the 5 white light rays.  @ariel-phet suggested getting rid of the 1 vs 5 ray radio buttons out of the play area and moving something simple into the control panel (white / 1 / 5) until we can have a designer take a closer look.

[2015-08-28 15:51] ariel-phet commented on #51
I think this is an improvement...we might decide to do these normals in the min and max colors to make it a bit clearer why we have two, but closing this issue.

[2015-08-28 15:59] samreid commented on #51
I'm confused.  The normals are already located at the min and max wavelengths, so I'm not sure what you mean here:

![image](https://cloud.githubusercontent.com/assets/679486/9550915/5b50af50-4d6b-11e5-9d14-289dde508773.png)

Perhaps the issue is that the each ray has a stroke of more than a few pixels and the normal is centered on the middle of the ray?

[2015-08-28 16:03] ariel-phet commented on #51
@samreid notice I said "in the min and max colors" -- to clarify, I meant perhaps having the normal for red by colored red, and the normal for violet be colored violet (instead of black). I do not thing that will be necessary, and we will just explain in the teacher tips/sim primer. It was just a thought for the future.

[2015-08-28 16:03] #51 closed

[2015-08-28 16:24] ariel-phet commented on #151
We noticed that Beer's law lab uses the laser noded

[2015-08-29 22:00] samreid commented on #53
@jonathanolson will I be able to write my own color combination functions in WebGL?  The implementation we decided on for Java had the following form:

r, g, b values for each ray are summed independently and divided by 0.017
ray alpha values are interpreted as intensities are summed directly (no scale factor)

where rays combine (or even for single rays):
1. let max = max(r,g,b) at that point
2.

[2015-08-29 22:04] samreid commented on #53
I'm also seeing that the blending is configured like so in WebGLBlock.js

[code]

So it looks like I will need to configure the alpha channels to add, right?  I haven't used blendFuncSeparate before.  Should I override this somehow to handle my intensity channel?

[2015-08-29 22:30] samreid commented on #53
Here's my current go at a fragment shader.  Still not sure if I'm barking up the right tree.  I've commented out the gl.blendFuncSeparate for testing this:

[code]

[2015-08-29 22:32] samreid commented on #53
oops typo in the last line, hold steady.

[code]

[2015-08-29 22:36] samreid commented on #53
The fragment shader gets called after the colors have been combined, right?

[2015-08-30 02:55] samreid commented on #53
Looks like colors are being blended *after* the fragment shader?

[2015-08-30 03:15] samreid commented on #53
Indeed, according to https://www.opengl.org/wiki/Rendering_Pipeline_Overview the blending is applied to the outputs of the fragment shader.  Not sure if/how my strategy above could work then.

[2015-08-30 03:47] samreid commented on #53
I think the next thing to try is rendering to a texture via a framebuffer.  This process looks like it will take several hours for me to understand and implement and make sure the geometry is right.  After that is set up, I can try applying my own color mapping functions in the texture render call.

[2015-08-30 14:01] samreid commented on #65
I thought it would work to change like so:

[code]

and
[code]

But it is not working properly.

[2015-08-30 14:55] samreid commented on #65
My mistake.  To use the above, I would have to do a shape/shape intersection, not shape/ray.  I'm not sure if kite shapes support shape/shape intersections at the moment.

[2015-08-30 15:33] samreid commented on #65
Basic support is above.  Next steps necessary:

1. find the intersection closest to the ray tail (not closest to center of ray)--this should address discontinuities when dragging the sensor across a wide wave
2. test performance on iPad and fine tune the number of parallel rays to keep performance acceptable.

[2015-08-31 02:03] samreid commented on #65
I found an analytic solution, and implemented it above (I should note that the iterative approach was fast enough on the iPad3, so the analytic solution probably is as well.).  Now there is just a problem where the incoming ray is being intercepted past the origin.

[2015-08-31 02:41] samreid commented on #65
I think I have it working well now with the exception of one discontinuity when the sensor regions goes from one to two intersections, here's a movie about it:

![discontinuity](https://cloud.githubusercontent.com/assets/679486/9571167/8472fda6-4f56-11e5-91ae-2359f282982f.gif)

Notice that the light ray jumps from the edge of the sensor to the middle of the sensor.  I think it may be technically f

[2015-08-31 04:20] ariel-phet commented on #65
It feels a touch buggy, but I think the use case you are showing is pretty rare. Lets close the issue and see if one of the testers reports it (or an issue related that requires tweaking).

[2015-08-31 04:20] #65 closed

[2015-08-31 17:46] samreid commented on #53
@jonathanolson suggested using standard illuminants such as described here:
http://onlinelibrary.wiley.com/store/10.1002/9781119975595.app5/asset/app5.pdf;jsessionid=2042475B31D37579880053ED67651927.f02t04?v=1&t=ie07hzfa&s=355b8e451d7aa17fd6006bdb74d77f994e19ce6e

Sampling from this table in the D65 column (for standard daylight).  We can record the wavelength (nm) values for dispersion but use th

[2015-08-31 17:58] samreid commented on #53
So in the texture fragment shader, we transform back from XYZ => RGB, then we must transform to be within the gamut (clamp or transform), see https://en.wikipedia.org/wiki/Gamut, then we must scale values so white goes to gray.  We can choose the alpha value to be proportional to the magnitude of the RGB vector.

[2015-08-31 18:08] samreid commented on #53
@jonathanolson suggests using the RGB values themselves to represent the intensity.  The magnitude of the RGB vector would be used as the alpha value of the ray.  RGB(0,0,0) would be invisible since it has magnitude zero.

[2015-08-31 18:12] samreid commented on #53
We will have to downscale each of the rays before they go to the WebGL add function so they don't saturate during the ADD.  However, there are only 255 discrete values for each channel, so some rays will get mapped to the same value.

[2015-08-31 18:17] jonathanolson commented on #53
D65 power spectrum curve: http://www.cie.co.at/publ/abst/datatables15_2004/sid65.txt

[2015-08-31 18:42] jonathanolson commented on #53
Prototype-like color code:
[code]

[2015-08-31 18:54] samreid opened #197 "Use Ray2 instead of tail+direction"
In many of the rays and logic, there is a tail + direction,  @jonathanolson suggested things would be simpler if we just use dot.Ray2 in those places.

[2015-09-01 00:20] samreid commented on #53
The new white light canvas algorithm is working well, very simple and has a nice symmetry with the colors in the wavelength slider.  It is also very speedy, probably fast enough on iPad.  There are some corner cases to address--in this case I am seeing some dark green light where I expected light gray:

![image](https://cloud.githubusercontent.com/assets/679486/9593537/f114f336-500c-11e5-8ed4-43c8

[2015-09-01 00:38] samreid commented on #53
@jonathanolson suggested another optimization:

[8/31/15, 6:07:17 PM] Jonathan Olson: Transform canvas node with model view transform
[8/31/15, 6:07:34 PM] Jonathan Olson: And change linewidth to compensate
[8/31/15, 6:07:51 PM] Jonathan Olson: Then no need for JS computed transforms on line coordinates
[8/31/15, 6:08:39 PM] Sam Reid: I’ll try it, but concerned about floating point issues putting

[2015-09-01 00:40] samreid commented on #53
This new approach also has an aliasing issue that looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/9593749/cfefb346-500f-11e5-8291-964163d5e179.png)

[2015-09-01 15:56] samreid commented on #53
Also, when using all of the D65 rays, I'm seeing some transparency in the blue/green region:

![image](https://cloud.githubusercontent.com/assets/679486/9609206/b72c8016-508f-11e5-8c06-017ce78c2535.png)

Perhaps this is caused by using the magnitude of the xyz vector as the alpha channel?

[2015-09-01 16:40] jonathanolson commented on #53
Most likely, during discussion I thought using the RGB magnitude would be best for the alpha.

[2015-09-01 16:51] samreid commented on #53
The code was actually using XYZ.magnitude() for the alpha.  Using RGB.magnitude() instead seems to alleviate this issue somewhat:
![image](https://cloud.githubusercontent.com/assets/679486/9610539/71e30144-5097-11e5-9bd5-df5620c1aab7.png)

[2015-09-01 16:52] jonathanolson commented on #53
Also, we could consider just using the Y channel's magnitude, as that's meant to be luminance.

[2015-09-01 16:57] samreid commented on #53
What about using the D65 entry here?  Shouldn't it contribute to the displayed intensity?

[2015-09-01 16:59] samreid commented on #53
Using D65 alone here looks pretty great (I am using _.range( 400, 700, 5 ); here):

![image](https://cloud.githubusercontent.com/assets/679486/9610704/701b6bac-5098-11e5-817d-82e5c2c7dbd1.png)

[2015-09-01 17:00] samreid commented on #53
I'll try the Y channel too.

[2015-09-01 17:00] jonathanolson commented on #53
I think the XYZ_INTENSITIES (used previously) included the D65 multiplication.

[2015-09-01 17:01] samreid commented on #53
Ah you are right.  I'll try the XYZ_INTENSITY y value.

[2015-09-01 17:01] jonathanolson commented on #53
Using D65 directly does make a lot of sense. Only seems worse if the VisibleColor darkens deep reds & violets (since we would want the "original" color to be at full intensity).

[2015-09-01 17:04] samreid commented on #53
Using
[code]
I get a very different spectrum:

![image](https://cloud.githubusercontent.com/assets/679486/9610828/28745876-5099-11e5-9dc2-b48c5204f16a.png)

[2015-09-01 17:17] samreid opened #198 "Pass additional properties to the super call"
In PrismsModel.js, for example, there are many calls to `addProperty` in the subclass.  @jonathanolson suggested that it would be better to pass this group of options to the parent class BendingLightModel and create them when the PropertySet.call is made.  There are probably other places we can apply this pattern as well.

[2015-09-01 20:24] samreid commented on #190
@jonathanolson and I spent a few days looking into ways to improve the performance and resolution of the light rays.  The original Java version uses a line rendering algorithm + 2d histogram approach for manually blending the colors, which is very demanding for JavaScript, even on desktop.  We looked into a way to combine the rays using canvas and got a solution working well (speedy and high resol

[2015-09-01 20:25] samreid commented on #53
@jonathanolson & I wrote up notes in #190 about rendering against a black background.  We should pause work on this issue until that is decided.

[2015-09-01 20:50] samreid commented on #190
I sent this email to @arouinfar @ariel-phet and @kathy-phet:

Sam

[2015-09-01 21:05] ariel-phet commented on #190
@samreid - you may want to see if that email actually sent...I have not received it.

Black background is a possibility but we then want to use "vacuum" instead of "air" as the label. We will also want to think about the color mapping of the background as it goes to water and glass. We could go from a very light gray to blue.

[2015-09-01 21:10] samreid commented on #190
According to my email client, it was sent at 2:49pm to your colorado dot edu address.  I'd be interested to hear if others received it or not, or if you receive it later on.

Should we also change the index of refraction accordingly, or do you think it would be so close that it wouldn't make a difference?

[2015-09-01 21:12] ariel-phet commented on #190
@samreid air is n=1.000293 (pretty darn close) and we almost always assume n=1 for air. Not sure if we should make that label change, it was just a thought.

[2015-09-01 21:17] samreid opened #199 "The play/pause slow motion should be a single node"
It is currently several nodes and hence each must be added to the correct parent.

[2015-09-01 21:17] samreid commented on #199
This is in IntroView.js

[2015-09-01 21:22] samreid commented on #66
It looks like the protractor on screen 2 should also go behind the control panels (to match the rest of the sim).  Somebody correct me if I'm wrong!

[2015-09-01 21:25] samreid commented on #66
I'm going to create sub-issues for the remaining work.  In this issue, I moved the material control panels to the front and the play/pause slow mo to the back.  We still need the "bump out" rule if a sensor is dropped behind a control panel and putting the prisms protractor behind the control panels.

[2015-09-01 21:26] samreid opened #200 ""bump out" a sensor which is dropped behind a control panel"
Some sensors can get lost behind the control panels.  We should bump them out using the same algorithm as we did for bumping out lost prisms.  See #66

The protractor is large enough that it doesn't need this rule.

[2015-09-01 21:27] samreid opened #201 "The prisms screen control panel should go in front of the protractor."
Right now on the prisms screen, the protractor goes in front of the control panels.  It should go behind the control panels to match the behavior of the rest of the sim, see #66

[2015-09-01 21:28] samreid commented on #66
I created sub-issues for the remaining work and will close this one.

[2015-09-01 21:28] #66 closed

[2015-09-01 21:35] samreid commented on #53
The performance of the canvas version (with black background) appears qualitatively to be as fast as the webgl version--this likely means the bottleneck is somewhere other than the render phase.  Hence I think we should look into other optimizations before investigating whether WebGL is truly necessary here now that we have a nice canvas solution.

[2015-09-01 21:35] samreid commented on #53
I'll close this for now and we can reopen if we judge that the new canvas solution isn't fast enough.

[2015-09-01 21:35] #53 closed

[2015-09-01 21:44] ariel-phet commented on #190
@samreid btw - I sent myself a test email and it did not work...maybe something about colorado.edu is messed up at the moment

[2015-09-01 21:45] samreid commented on #117
It looks like the window size and retina aspects are no longer an issue, thanks @ChandrashekarBemagoni!  On retina iPad, however, I still see a small wrinkle at the interface.  @ariel-phet can you please review it on a retina iPad and let me know if it is acceptable or not?  Here's a fresh version for testing:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.21/bending-light_e

[2015-09-01 21:47] jonathanolson commented on #190
I did get the email sent, and the descriptions are accurate.

I thought about this a bit more, and it depends exactly on the desired look. If the "outside" is filled with glass, and the "prism" is filled with air/vacuum, we'd presumably want inside the "prism" to be darker (black) than the "outside"? It might require some experiments with blending modes. But you also want the prism draggable in FR

[2015-09-01 21:48] samreid commented on #190
The prisms are only supposed to go in front of the south control panel, so that you can drag a prism in front of its own toolbox to put it away.

[2015-09-01 21:56] jonathanolson commented on #190
Understood. It's important, because otherwise we could get away with drawing (in order into a single Canvas):
1. Background medium color
2. Prism medium colors
3. Light rays

This would allow us an easy way to handle setting the medium colors exactly, but the control panel needs to be between 1 and 2 AND after 3! Although, I guess we could render that panel in Canvas, and have other layers each be

[2015-09-01 22:15] samreid commented on #125
I converted to new Vector2, tested on iPad3 in requirejs mode and did not see any significant performance changes.  I'll commit shortly.

[2015-09-01 22:21] samreid commented on #125
Fixed above, closing.

[2015-09-01 22:21] #125 closed

[2015-09-01 22:24] samreid opened #202 "Generalize the intensity meter"
See #151

[2015-09-01 22:24] samreid opened #203 "Generalize the laser"
See #151

[2015-09-01 22:24] samreid commented on #151
I moved the outstanding issues to #202 and #203, closing this parent issue.

[2015-09-01 22:24] #151 closed

[2015-09-01 22:26] samreid commented on #190
We may need to swap the navbar colors if white light is set to on?  Or at least give it an outline.

[2015-09-01 22:31] samreid commented on #154
Dividing the number of waveparticles to draw by 20 only gives us a frame rate of 12fps.

[2015-09-01 22:31] samreid commented on #154
Doing everything except the fill call leave us at 20fps.

[2015-09-01 22:38] samreid commented on #154
Leaving the paint commented out and getting rid of the clipping region brings us to 32fps.

[2015-09-01 22:44] samreid commented on #154
Drawing with solids and clipping gives us about 6fps:

![image](https://cloud.githubusercontent.com/assets/679486/9619022/b15425de-50c8-11e5-87ee-a5d1c1fc4745.png)

[2015-09-01 22:58] samreid commented on #154
Putting the max particles from 150 to 50 in this expression:

[code]

and using solid rectangles gives the following results on iPad3:
with clipping: 7fps
without clipping: 25fps (good enough)

using full gradients and the 50 max particles gives:
without clipping: 5fps

[2015-09-02 02:48] samreid commented on #154
If we can't draw gradients fast enough, we could draw the gradient 3 times, one for incoming, transmitted, reflected into a scratch canvas and then drawImage from the scratch canvas.

[2015-09-02 03:44] samreid commented on #154
I can only draw a scratch canvas per particle at about 7-8fps.  Drawing rectangles on ipad is fast though, getting 25fps or so for solid rectangles.

[2015-09-02 03:48] samreid commented on #154
I think it will have to be rectangles--when I change to moveTo/lineTo/lineTo/lineTo the performance drops from 25fps to 9fps

[2015-09-02 03:52] samreid commented on #154
So I should try rotating the canvas context to align with the ray, drawing the background for the ray, then drawing rectangles for the wave peaks.  That is our best chance for rendering something on the iPad3 with canvas and keeping it at a decent frame rate.

[2015-09-02 06:28] samreid commented on #154
I'm getting 24 fps on the iPad3 using canvas and it looks like this:
![image](https://cloud.githubusercontent.com/assets/679486/9624357/2dbe178e-5109-11e5-9f6f-88285a7fdd89.png)

Gradients bring the performance back to 5fps, but in my opinion this looks good enough.  I still need to patch up a little bit of blank space I see, but I am hopeful about this approach.

[2015-09-02 06:29] samreid commented on #154
Here's a comparison to the WebGL gradient rendering.  Somewhat similar!

![image](https://cloud.githubusercontent.com/assets/679486/9624398/98ea14c2-5109-11e5-9d38-55dd3d552066.png)

[2015-09-02 07:11] samreid commented on #154
This is now looking great and running at 24fps on the iPad3, that's 8x faster than before!  @ariel-phet can you review this and let me know if you see any issues with this new canvas fallback implementation?  To test it, you need webgl=false, which I've included in this URL:

http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.22/bending-light_en.html?webgl=false

[2015-09-02 07:25] samreid commented on #202
Duplicate of #165

[2015-09-02 07:25] #202 closed

[2015-09-02 15:31] samreid commented on #165
I have done the generalization and migration of the LightSensorNode in this issue, with outstanding issues noted above.  I'll create an issue in Beers Law Lab to use this sensor.

[2015-09-02 16:10] ariel-phet commented on #154
I will take a look when I am campus later today.

[2015-09-02 16:15] samreid commented on #165
I've completed my preliminary draft of LightSensorNode and it is ready for a reviewer.  After generalization and review is complete, we should use this node in Beers Law Lab in https://github.com/phetsims/beers-law-lab/issues/111 .  @pixelzoom may wish to be involved since he is the primary developer for Beers Law Lab, so I'll assign to him for now.  @pixelzoom if you are too busy or would prefer

[2015-09-02 16:18] samreid commented on #165
Another question for the reviewer.  This is currently "LightSensorNode", but I'm wondering if we want to put the word "Probe" in there somewhere.

[2015-09-02 16:46] samreid commented on #188
It behaves properly now, thanks @ChandrashekarBemagoni!

[2015-09-02 16:46] #188 closed

[2015-09-02 16:48] pixelzoom commented on #165
I'll have a look, but probably not until next week.

[2015-09-02 17:35] samreid commented on #166
I was able to unify the implementations in the above commit.  There is now an issue that when dragging a certain prism from the toolbox, another of the same type cannot be dragged from the toolbox.  You have to release the first prism before another prism of the same type can be dragged from the toolbox.  This behavior is undesirable, but it could take 2-4 hours to address it.  @ariel-phet will yo

[2015-09-02 17:39] samreid commented on #166
@ariel-phet here's a link you can review:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.23/bending-light_en.html

[2015-09-02 17:44] samreid opened #204 "Expand the play area when the screen aspect ratio changes"
Currently you can only drag the prisms and laser within the dev bounds.  Wouldn't it be nice to be able to drag them anywhere?  Discovered during https://github.com/phetsims/bending-light/issues/171

[2015-09-02 18:11] arouinfar commented on #154
@samreid, when I open dev.22 using ?webgl=false and turn on white light, the bottom panel and prisms disappear. While on my Mac, I can still add prisms to the playspace and move the ones already there, but I have trouble doing the same on the iPad 3.
![image](https://cloud.githubusercontent.com/assets/8419308/9639703/8b191eb8-516a-11e5-97bc-e3ef2b586a47.png)

While in monochromatic mode, I am gett

[2015-09-02 18:19] arouinfar commented on #117
@samreid, I took a look at this on the iPad 3 and iPad Air, and it looks good to me. Closing.

[2015-09-02 18:19] #117 closed

[2015-09-02 18:21] samreid commented on #154
This issue is about the performance of the wave mode, I'll create a new issue for the problem @arouinfar discovered on the prisms screen.

[2015-09-02 18:21] samreid commented on #154
Also, @arouinfar are you back?  Not sure if I should still assign issues like this to @ariel-phet or you.

[2015-09-02 18:22] arouinfar commented on #154
@samreid, sorry I'm still a bit jetlagged... I'll take a look at the actual issue reported here and get back to you.

[2015-09-02 18:23] samreid opened #205 "Opaque black canvas gets in front of the toolbox"
In #154 @arouinfar said:

@samreid, when I open dev.22 using ?webgl=false and turn on white light, the bottom panel and prisms disappear. While on my Mac, I can still add prisms to the playspace and move the ones already there, but I have trouble doing the same on the iPad 3.
![image](https://cloud.githubusercontent.com/assets/8419308/9639703/8b191eb8-516a-11e5-97bc-e3ef2b586a47.png)

While in mon

[2015-09-02 18:24] samreid commented on #154
@arouinfar welcome back!

[2015-09-02 18:30] samreid commented on #171
Looks like the prisms screen is done here.  I'll start on the Protractor drag bounds next.

[2015-09-02 18:44] arouinfar commented on #154
Thanks @samreid!

While in wave mode I'm getting 24fps in the iPad 3 while the laser is static. While changing the angle of the laser, the frame rate sometimes dips to 18fps. While changing the index of refraction of the bottom material by moving the slider back and forth, the frame rate was about 12fps. The performance doesn't feel all that laggy, but instead the speed of the wave seems a bit slo

[2015-09-02 18:48] samreid commented on #154
I do not believe we will be able to address the aliasing issue when using canvas, and it doesn't seem too distracting to me.  Can this issue be closed?

[2015-09-02 18:52] arouinfar commented on #154
@samreid, I don't find it that distracting, but I thought I'd bring it up just in case it was relevant. Closing.

[2015-09-02 18:52] #154 closed

[2015-09-02 19:39] samreid commented on #171
Protractor is good now and the intensity meter got coalesced drag handlers.  The intensity meter needs a lot more work.

[2015-09-02 19:40] samreid commented on #177
The behavior looks good, thanks.  Closing.

[2015-09-02 19:40] #177 closed

[2015-09-02 19:41] samreid opened #206 "Constrain the laser and prisms to the visible area instead of the dev bounds."
Discovered during https://github.com/phetsims/bending-light/issues/177 and will be similar to what we've done for the protractor node.  Also, when the screen reshapes, make sure each object is in bounds.

[2015-09-02 20:46] samreid opened #207 "Intensity Sensor Wire gets disconnected"
Discovered during #171, the intensity sensor wire gets disconnected sometimes:

![image](https://cloud.githubusercontent.com/assets/679486/9643846/626beb32-5181-11e5-8970-ba62a2ad22c9.png)

[2015-09-02 20:52] samreid opened #208 "Cannot put away intensity sensor when dragging it right out of the toolbox"
With other tools you can click, drag, return to toolbox, release and they will go back in the toolbox.  We should try to make the intensity sensor have this behavior too.

[2015-09-02 20:53] samreid commented on #208
Discovered in #171

[2015-09-02 20:54] samreid opened #209 "The protractor plus button is escaping"
![image](https://cloud.githubusercontent.com/assets/679486/9644071/831a1966-5182-11e5-897d-a97ef8958c95.png)

[2015-09-02 20:55] samreid commented on #209
This is also changing its center position, so more difficult to put away in the toolbox.

[2015-09-02 20:59] samreid commented on #209
Fixed above, closing.

[2015-09-02 20:59] #209 closed

[2015-09-02 21:04] samreid commented on #171
All that remains to be done here is fixing the time sensor and velocity sensor on the more tools screen.  We can use the same strategy as in the other sensors.

[2015-09-02 21:09] samreid commented on #171
Also, I'm not sure how the protractor is detecting the right toolbox bounds, unless it is using a mutable value???

[2015-09-02 22:08] samreid commented on #171
I think it's using a mutable node bounds2, which is a relatively new feature in scenery.  @jonathanolson is that okay to rely on?

[2015-09-02 22:44] samreid opened #210 "When dragging the wave sensor node out of the toolbox, it gets disassociated from the cursor"
When dragging the wave sensor node out of the toolbox, it gets disassociated from the cursor.  Discovered in #171.  In the more tools screen.

[2015-09-03 01:16] samreid opened #211 "Choose one approach for dragged items"
Currently there are several approaches for dealing with items in the toolboxes, that grow and shrink and are bounded to the play area.  These should be unified as much as possible, it is very confusing with there being so many different strategies.

[2015-09-03 02:28] samreid opened #212 "When pressing reset all, the sensors jump to the wrong position"
Discovered in #171

[2015-09-03 02:29] samreid opened #213 "Wave sensor does not drag out of the toolbox properly"
See #171 and #211

[2015-09-03 02:30] samreid commented on #171
Everything is complete here except for what is noted in other issues above.  Closing.

[2015-09-03 02:30] #171 closed

[2015-09-03 02:35] samreid commented on #213
It should travel body + probes together and with the cursor.

[2015-09-03 02:48] samreid opened #214 "Light doesn't turn off when laser button is turned off and webgl=true on intro screen"

[2015-09-03 02:55] samreid commented on #174
Here's Google Images idea of angle icons:

![image](https://cloud.githubusercontent.com/assets/679486/9649636/ebecd0b4-51b4-11e5-885e-38b0bf731eee.png)

I'm going to do one oriented like the incoming light ray angle, for consistency within the sim.

[2015-09-03 03:12] samreid commented on #174
After the above commit, the angle icon looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/9649808/49133f92-51b7-11e5-9c05-7f26a2628ecc.png)

@ariel-phet or @arouinfar let me know your thoughts on the icon itself.

[2015-09-03 03:21] ariel-phet commented on #174
@samreid - I think the icon itself is good. However, I think the icon will be more recognizable if rotated 90 deg to the right. That is sort of the more traditional angle icon (even though in the sim the angles are measure from the normal) - so I see the logic of this rotation, but I think for clarity/convention it will look better rotated IMO

[2015-09-03 03:22] samreid commented on #174
I'll give it a try and see how it looks, thanks for the suggestion.

[2015-09-03 13:54] samreid commented on #205
Fixed above, closing.

[2015-09-03 13:54] #205 closed

[2015-09-03 19:57] samreid opened #215 "Is the white light canvas performance good enough?"
@ariel-phet said he will test on iPad2 and report back.

[2015-09-03 20:21] samreid opened #216 "New mapping for colors for white light"
Air = black, glass = dark gray

[2015-09-03 20:25] samreid opened #217 "Normals should be black on white background and vice versa"
Check on the phet-io logo for the perfect shade of gray that works against white/black.  Do this for all screens.

[2015-09-03 20:31] samreid opened #218 "Performance optimizations for canvas white light"
@jonathanolson suggests getting rid of all transform math in the canvas

I also see Vector3 allocations.

[2015-09-03 20:32] samreid commented on #218
Get rid of the sum vector

[2015-09-03 20:34] samreid opened #219 "White light rendering broken on Win/Chrome"
![image](https://cloud.githubusercontent.com/assets/679486/9670254/e0a8dd12-5248-11e5-86f4-74390b806e33.png)

From @kathy-phet machine.

[2015-09-03 21:06] samreid opened #220 "Performance optimizations for single ray webgl"
Sqrt is repeated many times.  Don't create new arrays each time.

[2015-09-03 22:31] arouinfar commented on #174
I like the icon @samreid, but I also agree with @ariel-phet about rotating it for clarity.

[2015-09-04 02:44] samreid commented on #174
@jonathanolson what is the best way to draw an arc that will change its angles?

[2015-09-04 04:59] samreid commented on #174
Basic support implemented above, but please do not test until I resolve #189

[2015-09-04 05:02] #189 closed

[2015-09-04 05:06] samreid commented on #174
#189 fixed and this is ready for testing.  I tested on Chrome and Firefox, both on OS X.  I'm ready for feedback from @arouinfar, please take it for a test drive and report back, thanks!

http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.25/bending-light_en.html

[2015-09-04 05:10] samreid commented on #174
Oops, I realized this is on both the intro screen and the more tools screen, but it was only requested for the more tools screen.  Please take dev.25 for a test drive (even thought the angle checkbox appears in the intro screen as well) and please confirm whether you only want this for the more tools screen.

[2015-09-04 14:06] samreid commented on #178
Note: https://github.com/phetsims/bending-light/issues/178#issuecomment-134385670 will be difficult to test while #206 is broken.

[2015-09-04 15:13] samreid commented on #206
Fixed above, closing.

[2015-09-04 15:13] #206 closed

[2015-09-04 15:15] samreid opened #221 "The laser wiggles when being dragged"
Possibly related to #206 ??

[2015-09-04 15:19] #178 closed

[2015-09-04 15:25] samreid commented on #185
I removed several of the extra nodes when I was cleaning up the input listener for items in the toolbox.  I still see 15 calls to addInputListener.  I see another occurrence of this problematic pattern in ProtractorNode, fix forthcoming.

[2015-09-04 15:26] samreid commented on #185
Fixed above, all other inputListeners seem great, closing.

[2015-09-04 15:26] #185 closed

[2015-09-04 15:30] samreid commented on #186
There is also an array called laserLayerArray that puts all of these things together.  Do we still need it?

[2015-09-04 15:49] samreid commented on #186
They cannot transform with the laser because they must remain aligned to the x-y axes even when the laser body rotates.  Performance generally seems to be good enough for dragging the laser.  I'll close this and we can investigate other performance avenues later on if necessary.

[2015-09-04 15:49] #186 closed

[2015-09-04 16:18] ariel-phet commented on #174
@samreid @arouinfar - I think this is looking really good in terms of functionality. Very smooth and clear.

A few polishes/suggestions

1. We only want this feature on the more tools screen
2. Reduce the size of the "normal" and "angles check boxes...they are very large and a bit overwhelming at the moment
3. Considering going to one decimal place for the angle (since snell's law involves sin fun

[2015-09-04 18:00] arouinfar commented on #174
In general I think this is looking really good @samreid! Thanks for your suggestions @ariel-phet, I agree with your comments and have a few to add.

It could be because @samreid is playing around elsewhere in the code, but on start-up the wave detector was not properly sitting in the toolbox. It was fine after dragging it out and then putting it back in, however.
![image](https://cloud.githubuserc

[2015-09-04 18:38] pixelzoom commented on #165
This bit of code in LightSensorNode is buggy:

[code]

`_.extend( object, options )` modifies `object`.  So the first call to LightSensorNode that specifies `options.width` or `options.height` will modify the defaults used for all subsequent instantiations.

[2015-09-04 18:42] pixelzoom commented on #165
Fixed above by cloning DEFAULTS, i.e.:

`options = _.extend( DEFAULTS.clone(), options );`

[2015-09-04 18:50] arouinfar commented on #174
One more thing... I think we decided to remove the large protractor when we added the Angles option.

[2015-09-04 18:58] ariel-phet commented on #174
@arouinfar we definitely decided to remove the "enormo" protractor (the button on the protractor that made it grow super large), but I think we were intending on leaving the normal sized one.

[2015-09-04 18:59] ariel-phet commented on #174
@arouinfar - we could also try the numbers in the angle mode in the new gray we use for the normal (that should work well on either a black, red, or white background). And changing the color would be a simple and easy change.

[2015-09-04 19:01] arouinfar commented on #174
@ariel-phet, I was referring to the "enormo" protractor, but my comment was a bit unclear. We are definitely are keeping the regular protractor around. As for the number color, I think we should try the new gray first and see if that improves the contrast against the wave.

[2015-09-04 19:56] pixelzoom commented on #165
Review comments:

(1) Why is this called LightSensorNode? It could be used as other types of probes. Perhaps SensorNode or ProbeNode?

(2) #178 needs to be addressed: there's something wrong with the Path

(3) #179 needs to be addressed. This is not "generalized" until the colors can be tailored to the simulation. bending-light and beers-law-lab happen to be the same, that's unlikely to be true in

[2015-09-04 20:02] pixelzoom commented on #165
Additional comments:

(7) This probe should work in various orientations (see Concentration and pH Scale probes).  Simply rotating the node will result in incorrect lighting cues.  So probably need an option for specifying orientation?

[2015-09-04 20:41] ariel-phet commented on #166
@samreid, I am not sure I understand the issue. Do you mean if you are dragging one prism out and then with *multitouch* you want to drag the same one out you cannot? It seems totally acceptable to have the constraint of only be able to drag out one thing at a time. Why is that behavior undesirable?

[2015-09-04 23:24] jonathanolson commented on #174
The easiest is to recreate a Shape. The current best-performing method would probably be to create a Shape with an arc, get the Arc instance from the first Subpath, and mutate that arc's startAngle/endAngle (it should support invalidation after those changes, which will update the Path).

In the future, I'd like to have a better API for creating segments (like Arc) directly, and creating a Shape f

[2015-09-05 01:47] samreid commented on #166
Yes, that is the behavior I described.  I have seen too many occurrences where 2 people want to use the iPad at the same time and it is possible to envision a classroom with 2 student/iPad ratio.

It sounds like you are saying this not worth the effort to fix?  I'd be fine with that decision.

[2015-09-07 12:45] ChandrashekarBemagoni commented on #195
Fixed in above commit. Assigning to @samreid for review

[2015-09-07 12:49] ChandrashekarBemagoni commented on #184
No problem with above changes.

[2015-09-07 12:51] ChandrashekarBemagoni commented on #141
Added documentation. Assigning to @samreid for review

[2015-09-07 12:52] ChandrashekarBemagoni commented on #111
Added implementation notes in above commits. Assigning to @samreid for review

[2015-09-08 21:24] samreid commented on #111
Looks good, thanks!

[2015-09-08 21:24] #111 closed

[2015-09-08 21:28] samreid commented on #141
The places above are now properly documented, thanks @ChandrashekarBemagoni!

[2015-09-08 21:28] #141 closed

[2015-09-08 21:35] samreid commented on #165
(1) ProbeNode sounds great to me, I'll convert to that.

[2015-09-08 21:40] samreid commented on #165
Renamed to ProbeNode above.

[2015-09-08 21:43] samreid commented on #165
Also renamed instance vars above.

[2015-09-09 02:49] samreid commented on #165
Rather than trying to vectorify all of the geometry, a simpler approach may be to just rotate the gradients.  @pixelzoom how does that sound to you?

[2015-09-09 04:01] samreid commented on #165
(1)-(4) are addressed above, and some reassigned to @pixelzoom for review/discussion in separate issues.  (7) is under discussion in the above comment. For (5) I have done the following:

1. Made the shape circular instead of ellptical
2. Parameterized these options (and defaults):

[code]

I have also temporarily linearized the probe handle segments for simplicity so we can discuss what the behav

[2015-09-09 04:32] samreid opened #222 "the tool box generally needs a bit of negative space padding"
In #174, @ariel-phet suggested:

[2015-09-09 04:35] samreid commented on #174
Outstanding requests from the above comments:

I'll track this in #222

This is tracked in https://github.com/phetsims/bending-light/issues/213

It was suggested to try the gray.  But I think there are several places the gray won't work:
![image](https://cloud.githubusercontent.com/assets/679486/9753367/efc7cf7c-5678-11e5-8099-1904394f1f88.png)

I also considered changing the position of the reado

[2015-09-09 04:44] samreid commented on #174
The superlarge protractor was removed above.  I think the only thing left for this issue is the discussion of showing the text labels against the wave mode.  I'll reassign to @arouinfar and/or @ariel-phet for discussion.

[2015-09-09 04:45] #184 closed

[2015-09-09 05:46] ariel-phet commented on #174
@samreid please try the gray, it seems like a simple thing to try.

[2015-09-09 06:01] samreid commented on #174
Reassigned to @samreid to try gray.

[2015-09-09 06:10] samreid commented on #174
It is indeed easy to try a different color for this text, I'll give it a go.

According to photoshop, the gray of the phet-io logo is #999999

Testing this in the sim, I see the default scenario looks like this (in-glass text difficult to read):

![image](https://cloud.githubusercontent.com/assets/679486/9754454/afba462c-5686-11e5-8513-d36bcc1613b4.png)

In wave mode, I'm seeing problematic cases

[2015-09-09 06:11] samreid commented on #174
I'll also publish a testable version shortly.

[2015-09-09 06:27] samreid commented on #174
I published a version here but for unknown reasons it will not launch on my Chrome or Firefox:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.26/bending-light_en.html

But the localhost built version will launch. I'm not sure what's wrong here.

[2015-09-09 06:28] samreid opened #223 "Sim won't launch from spot."
In #174 I published a test version to this site:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.26/bending-light_en.html

But it will not launch on either my chrome or firefox.  The localhost built version launches fine though.  Not sure what the problem is.  Could be problems with spot, with my connection with spot, with low disk space, etc.

[2015-09-09 06:30] samreid commented on #223
Version 25 launches OK (after a while)

[2015-09-09 06:32] samreid commented on #223
26 still won't launch for me.  JS profiler and timeline look empty.

[2015-09-09 06:36] samreid commented on #223
27 seems OK.  Perhaps a truncated upload?
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.27/bending-light_en.html

I'll leave this open in case we want to investigate further.  One thing we could do is diff 26 against 27 and see if the upload was truncated or something like that.

[2015-09-09 06:36] samreid commented on #174
Here's a testable version with gray text that launches:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.27/bending-light_en.html

[2015-09-09 06:38] samreid commented on #192
Here's a testable version for review:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.27/bending-light_en.html

It's at a good point now to get feedback from a designer about how the controls should work.  Some options:
Radio buttons to choose between white/single color rays.  Then for singe color rays, an on/off toggle  for 1 vs 5 rays.
Radio buttons to choose between white/

[2015-09-09 14:15] ariel-phet commented on #174
@samreid thanks for implementing...looks good in many cases buy a bit tough to read against the water default background of the refracted ray.

It does seem like color is the correct solution to me however, and just finding a color that works well on most backgrounds (I am guessing something like hot pink would do decently..)

Assigning to @arouinfar to find a color that offers good contrast in mo

[2015-09-09 15:31] samreid commented on #174
Thanks for your suggestion @ariel-phet, I will happily try any new colors out.  I also want to take a few minutes and see what it looks like with a text background.

[2015-09-09 15:37] samreid commented on #174
This version uses a pale transparent background for the text:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.28/bending-light_en.html

Looks pretty good against a medium:
![image](https://cloud.githubusercontent.com/assets/679486/9766431/11aa5ddc-56d6-11e5-86aa-b7a6193d50df.png)

Looks pretty good against a gray wave with webgl=false:
![image](https://cloud.githubusercontent

[2015-09-09 15:49] ariel-phet commented on #174
@samreid I could live with that solution, pale transparent seems like a good compromise and not too heavy handed.

[2015-09-09 16:15] pixelzoom commented on #165
Sounds great if it provides the desired lighting effect.

[2015-09-09 16:42] pixelzoom commented on #165
Bugs, see demo screenshot below:
• Handle corner radius is not working, the corners are square at all positions of the slider.
• The bottom portion of the glass surround is straight lines, shouldn't it be rounded?

![screenshot_606](https://cloud.githubusercontent.com/assets/3046552/9768216/830424a0-56df-11e5-8d92-61d76f5286c5.png)

[2015-09-09 16:44] pixelzoom commented on #165
It would be nice to show values and range (ticks) for the sliders. Consider using NumberControl, see examples in SpringControls.

[2015-09-09 17:19] pixelzoom commented on #165
I switched the controls in the demo from HSlider to NumberControl.

[2015-09-09 17:32] samreid commented on #165
From https://github.com/phetsims/bending-light/issues/165#issuecomment-138772452 above, @samreid said:

[2015-09-09 17:45] samreid commented on #190
Summarizing outstanding work from above:

(1) Black background is a possibility but we then want to use "vacuum" instead of "air" as the label.
  -  air is n=1.000293 (pretty darn close) and we almost always assume n=1 for air. Not sure if we should make that label change, it was just a thought.

I think we discussed that it could be confusing to change the medium when changing the light type, so

[2015-09-09 17:46] pixelzoom commented on #165
Replaced the WavelengthSlider with RGB controls.

[2015-09-09 17:58] pixelzoom commented on #165
Sorry, I missed that.

Based on the linearized demo, I think that options.handleWidth should be constrained to be <= (2 * options.radius).  When options.handleWidth === ( 2 * options.radius ), the probe will have no "waist", since the handle will be as wide as the glass surround.

[2015-09-09 18:00] pixelzoom commented on #165
Also sorry if I didn't associate a few commits with this issue. I forgot that this issue is in bending-light and the other associated issues are in scenery-phet, so may not have mentioned the issues correctly in the commits.

[2015-09-09 18:07] samreid commented on #165
How to capture this relationship in the sliders in the demo, if at all?  Some options: (a) when the radius gets smaller, the handleWidth slider will shrink to compensate.  (b) just clamp the values before sending them to the ProbeNode constructor.  @pixelzoom do you have a preference here?

In retrospect, I should have moved this to scenery-phet long ago.  Will do for future ones.

[2015-09-09 18:13] pixelzoom commented on #165
(b) just clamp the values before sending them to the ProbeNode constructor.

[2015-09-09 18:14] pixelzoom commented on #165
.. or perhaps (c) clamp options.handleWidth internally in ProbeNode.  If it's not clamped internally, then there should be an assertion at line 44:

`assert && assert( options.handleWidth <= ( 2 * options.radius ) );`

[2015-09-09 18:16] pixelzoom commented on #165
Doc (line 4) in ProbeNode still refers to this as being specific to light:

[2015-09-09 18:17] pixelzoom commented on #165
Recommended to rename DEFAULTS to DEFAULT_OPTIONS.

[2015-09-09 18:32] samreid commented on #165
This seems the most friendly to me, let's go for it.

[2015-09-09 18:39] samreid commented on #165
Summarizing outstanding work from above:

- [ ] Add an option to show crosshairs in the center of the probe.

- [ ] Option to just rotate the gradients so the probe can be used at different angles.

- [ ] options.handleWidth should be constrained to be <= (2 * options.radius)

- [ ] Doc (line 4) in ProbeNode still refers to this as being specific to light:

- [ ] Recommended to rename ProbeNode.DE

[2015-09-09 18:51] samreid commented on #165
For crosshairs, we will need to cut a hole out of the sensor shape.  This will make the Shape creation significantly more complicated.

[2015-09-09 19:20] samreid commented on #165
Here is a waist-less ProbeNode:
![image](https://cloud.githubusercontent.com/assets/679486/9771778/7a284dd2-56f5-11e5-87d5-47432b4fde0b.png)

I'm not sure why we must prevent this situation?  Perhaps some sim will want a probe shaped like that?

[2015-09-09 19:25] samreid commented on #165
@jonathanolson what is the best way to create a shape with a hole in it?  Trace the outside then jump to the inside and trace it in the opposite direction?  Is there danger of a seam appearing?

[2015-09-09 19:35] samreid commented on #193
Here is a list of all of the features we need from these toolbox items:

1. The layout in the toolbox is correct, and easy to resize/reposition
2. When dragging out of the toolbox, a tool should animate to full size and drag as a unit (all items drag together) and should drag by the "hot spot"
3. When dragging in the play area, it can be dragged by any component
4. When any component is dropped in

[2015-09-09 19:43] samreid commented on #193
(7) The exact model coordinates and shapes are critically important.

[2015-09-09 19:49] samreid commented on #193
For the initial layout within the toolbox, a VBox would be perfect, but I don't think we can use a VBox if the children are going to be added/removed.

Some implementations have used different nodes for the toolbox icon and for the movable object, but then you have to forward events from one to the other and they can get out of sync.

[2015-09-09 20:28] arouinfar commented on #174
I think the transparent background is going to be the best option. I think it looks really clear @samreid, so let's go with this solution.

[2015-09-09 20:40] jonathanolson commented on #165
Yes, tracing it in the opposite direction is the perfect way to do it (Scenery uses SVG/Canvas default 'nonzero' fill rule, see https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/fill-rule).

There should be no seam if there is a moveTo equivalent between inside/outside. I'd recommend both the inside and outside should be closed.

If you are drawing a circular hole, this may require a move

[2015-09-09 21:43] samreid commented on #174
Thanks for your feedback.  Everything else is tracked elsewhere, this issue is ready to close.

[2015-09-09 21:43] #174 closed

[2015-09-10 03:00] samreid commented on #165
Thanks @jonathanolson, I cut a hole out of the probe node in this commit:
https://github.com/phetsims/scenery-phet/commit/c1e3b95238bf7c62c846b00264cbfc4188ccba69

[2015-09-10 11:58] samreid commented on #165
I added an option for sensorType in the above commit, documented like so:

[code]

However, each of the sensor types have their own parameters.  For instance, the line width of the crosshairs, or the color of the glass.  I'm looking for the best pattern to use here.  I think we have faced this issue before (nested options), in scenery nodes or the like.

[2015-09-10 15:09] samreid commented on #165
I updated the interface for the sensor type (such as empty/glass/crosshairs) so they are parameterized, with defaults.  To get the default crosshairs, you use:

[code]

To customize, you pass options like so:
[code]

@pixelzoom I have tested a few configurations manually and it seems good.  I was hesitant to put all of these features into the scenery-phet example because it would mean creating rad

[2015-09-10 15:25] samreid commented on #165
I just pushed options for glass above.

[2015-09-10 15:25] samreid commented on #165
Should the crosshairs and glass default options be public?

[2015-09-10 15:34] samreid commented on #165
@pixelzoom I'm trying to make a number control for the highlight angle, but its coming out like this:

![image](https://cloud.githubusercontent.com/assets/679486/9792765/11a592ba-579f-11e5-977a-0bd23a79827b.png)

and snapping to integer.  Is NumberControl primarily for integers?  I didn't see options for `snap` in that file.

[2015-09-10 15:37] pixelzoom commented on #165
See options.decimalPlaces

[2015-09-10 15:38] pixelzoom commented on #165
If you want the max tick to be labeled 2π, you'll need to set that yourself via options.majorTicks.

[2015-09-10 22:28] pixelzoom commented on #165
I don't think it's necessary to have controls in the demo for all options.  If you wanted to demonstrate the 3 sensor types, a combo box would use the least amount of space, and you could use some specific sensor-options for the 3 choices.

[2015-09-11 02:35] samreid commented on #165
@pixelzoom can you respond to this comment?
https://github.com/phetsims/bending-light/issues/165#issuecomment-139019886

[2015-09-11 02:50] pixelzoom commented on #165
I was thinking that this (see screenshot below) would be a more useful shape, when options.handleWidth === 2 * options.radius.  But your hypothetical need is as valid as mine, so proceed with what you think is best.

![screenshot_75](https://cloud.githubusercontent.com/assets/3046552/9806058/4a11b22e-57fd-11e5-8a4a-da0a4c0cad31.png)

[2015-09-11 04:36] samreid commented on #165
Based on the above discussions, here's a fresh "todo for this issue" checklist:

- [ ] Option to just rotate the gradients so the probe can be used at different angles.

- [ ] Add a control to test the gradient angle, use options.decimalPlaces for snapping and options.majorTicks for 2pi label.

- [ ] round the shapes again

- [ ] Make the crosshairs and glass default options public

- [ ] Let's ad

[2015-09-11 04:37] samreid commented on #165
In retrospect, I feel this is a good time to split the outstanding work into separate issues in the appropriate repos and close this parent issue.

[2015-09-11 04:44] samreid commented on #165
I bundled the outstanding issues into the 3 above related issues.  @pixelzoom did I capture everything and may I please close this parent issue?

[2015-09-11 04:51] samreid opened #224 "Navigation bar disappears into black background"
We need to either (a) change the navbar color when changing the light color or (b) add an outline.  We should try (a) first.

See https://github.com/phetsims/bending-light/issues/190

[2015-09-11 04:53] samreid commented on #216
From https://github.com/phetsims/bending-light/issues/190 @samreid said

But I think:

was the consensus at a design meeting.

[2015-09-11 04:55] samreid opened #225 "Make sure the layering is good on the prisms screen"
After introducing the black background, the light had to be put in an opaque layer, and hence in the back.  We need to check all of the layering and make sure it is still correct.  See https://github.com/phetsims/bending-light/issues/190

[2015-09-11 04:55] samreid commented on #190
We have consensus that we are going to continue with black background for white light, I moved the outstanding work to the issues mentioned above, closing.

[2015-09-11 04:55] #190 closed

[2015-09-11 04:58] samreid commented on #193
By the way, this is a recurring problem that comes up in a wide variety of simulations.  We normally just code custom solutions each time, but having a pattern that works in multiple simulations would be great.  A general solution should also work with items dragged out of a carousel.  I can see this strategy being used in CCK Basics, Function Builder, Balancing Act, Build a Molecule, etc.

@pixel

[2015-09-11 05:09] samreid commented on #194
I fixed the gradients in the above commit, made the light highlight from the top to be consistent with the rest of the lighting in the sim, and toned it down.  Now it looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/9807467/ee3615a8-5810-11e5-997d-c2d78d4d5179.png)

@arouinfar @ariel-phet does that look OK to you?  Let me know if I should publish a dev version for you t

[2015-09-11 05:15] samreid commented on #195
Looks great, thanks!  Closing.

[2015-09-11 05:15] #195 closed

[2015-09-11 05:18] samreid commented on #196
I'd like to hear @pixelzoom thoughts on #193, particularly regarding whether dragging should be done in view coordinates (and update the model accordingly) or dragging should be done in model coordinates (and view updated accordingly).

[2015-09-11 06:13] samreid commented on #197
LightRay.js uses tail & tip (it is important where the ray terminates).  In Laser.js it makes sense (to me) to track the emission point separately from the laser angle, since often one will change without the other changing.

PrismsModel.propagate and Ray() have tail+directionUnitVector.  I don't see any other places with this issue.

[2015-09-11 06:14] samreid commented on #197
To avoid name collision, I think I should rename Ray to ColoredRay.

[2015-09-11 06:40] samreid commented on #197
Even the simplest step of putting position & direction into a Ray2 in ColoredRay is yielding a negative radicand `cosTheta2Radicand` and hence NaNs.

[2015-09-11 15:31] samreid commented on #197
Putting a console.log in ColoredRay like so

[code]
reveals a NaN when there is an internal reflection.

[2015-09-11 15:44] samreid commented on #197
Fixed above, it was failed handling for the case of total internal reflection.

[2015-09-11 16:09] samreid opened #226 "vRefract is not normalized."
Discovered in #197, sometimes the vRefract is not normalized for a total internal reflection (drag trapezoid or triangle through the light).  Here is the code:

[code]

Here is the vector form of snell's law, from https://en.wikipedia.org/wiki/Snell%27s_law#Vector_form

![image](https://cloud.githubusercontent.com/assets/679486/9819736/070966aa-586d-11e5-91bb-140894a2d1ab.png)

[2015-09-11 16:37] pixelzoom commented on #196
If this were a common-code component, here's the pattern that I would typically use:

[code]

This leaves it up to the client to decide whether locationProperty is in model or view coordinates, and whether a transform is needed.   If you're concerned about performance of using an identify transform, then options.modelViewTransform could default to null, and you could handle that accordingly elsewh

[2015-09-11 16:40] pixelzoom commented on #165
I don't see an issue for how to address the relationship (if any) between options.handleWidth and options.radius.

[2015-09-11 16:42] pixelzoom commented on #193
I have not yet had to implement a toolbox or carousel, so no recommendations at the moment. I'm sure I'll have some opinions after https://github.com/phetsims/sun/issues/166.

[2015-09-11 16:44] pixelzoom commented on #193
@samreid you said:

Would be useful to identify the various implementations, and compare/contrast? Or maybe that's too big a job, and we just need to identify one good pattern and commonize it?

[2015-09-11 16:59] samreid commented on #165
Based on https://github.com/phetsims/bending-light/issues/165#issuecomment-139435362 and https://github.com/phetsims/bending-light/issues/165#issuecomment-139019886 let us not constrain the relationship between handleWidth and radius.  OK?

[2015-09-11 17:06] samreid commented on #197
Fixed above, @jonathanolson can you take a look and let me know if you have any other recommendations here?

[2015-09-11 17:16] samreid opened #227 "Wave sensor not collecting data"
The wave sensor is not collecting data, perhaps this broke when working on floating control panels:

![image](https://cloud.githubusercontent.com/assets/679486/9821269/7edac4b8-5876-11e5-9891-e6bb3483ef21.png)

[2015-09-11 17:21] pixelzoom commented on #165
OK, we'll address constrain the relationship between handleWidth and radius if/when it comes up.

All sub-issues moved elsewhere. Closing this issue.

[2015-09-11 17:21] #165 closed

[2015-09-11 17:23] samreid opened #228 "Put the triangle before the square in the toolbox"
The square is the first (leftmost) item in the toolbox. However, with the default laser angle, it doesn't deflect any light:

![image](https://cloud.githubusercontent.com/assets/679486/9821409/5be4bd1e-5877-11e5-982d-c5edf75e482b.png)

@arouinfar and @ariel-phet what would you think about putting the triangle "first", since it gives a much better first impression?  What would you recommend for the

[2015-09-11 17:28] ariel-phet commented on #166
Not worth the effort to fix, and in fact I think the current behavior is a desirable constraint for the sim. Closing.

[2015-09-11 17:28] #166 closed

[2015-09-11 17:37] samreid commented on #198
Fixed above, the 2 remaining .addProperty calls look warranted.  @jonathanolson thanks for the suggestion--can you review the work above and let me know if you have further recommendations?

[2015-09-11 18:10] samreid commented on #223
When I click view source, I see the last line as `o.prototype.removeDrawable.call(this,` so this looks like a truncated upload.  Not sure what caused a truncated upload and hopefully it won't happen again, but I should probably test things after publishing them in case this happens again.

[2015-09-11 18:10] #223 closed

[2015-09-11 18:16] samreid commented on #224
@pixelzoom I'd like to change the color of the navbar based on the settings within the sim (when the background of the sim turns black, the navbar should turn white).  Can you recommend a way for the sim to communicate with the navbar color?

[2015-09-11 19:51] arouinfar commented on #228
@samreid, that's a great point. I left the ordering of the objects the same as the Java version, but perhaps it is best to swap the triangle and square. I don't have any other suggestions for reordering, but perhaps @ariel-phet does.

[2015-09-11 20:00] arouinfar commented on #194
No need to publish a new dev version. I think it looks good @samreid! Thanks.

[2015-09-11 20:25] samreid commented on #193
I looked through the active-runnables to see what kind of drag/drop UI components we have:

acid-base-solutions: none
area-builder: **buckets** **toolboxes** **carousel**
arithmetic: none
atomic-interactions: none
balancing-act: **carousel** **objects get smaller when dragged**
balancing-chemical-equations: none
balloons-and-static-electricity: none
beaker: none
beers-law-lab: none
bending-light:

[2015-09-11 20:27] samreid commented on #193
I'm going to move some of these thoughts over to scenery-phet.  I wonder how these sort of drag & drop capabilities will overlap with accessibility.

[2015-09-11 20:57] samreid commented on #194
Thanks for checking it out, I'll close the issue.

[2015-09-11 20:57] #194 closed

[2015-09-12 02:22] samreid commented on #193
This work should be done after https://github.com/phetsims/scenery-phet/issues/186

[2015-09-12 02:23] samreid commented on #196
Thanks for your thoughts @pixelzoom.

Perhaps it would be best for me to make good progress on https://github.com/phetsims/scenery-phet/issues/186 before working on this.

[2015-09-12 02:55] samreid opened #229 "The same string is used for showing the normal line and normal playback speed"
There is a control for showing the perpendicular "normal" line to the light ray and a control for setting the playback speed to regular "normal" speed, and they use the same i18n string.  These should be separated.

[2015-09-12 03:05] samreid commented on #199
Main problem fixed above.  I discovered supplemental problems I will create issues for shortly.

[2015-09-12 03:05] samreid opened #230 "Step button is broken"
While working on #199, I noticed the step button is not working.  Not sure if it broke during #199 or before.

[2015-09-12 03:06] samreid opened #231 "TimeControlPanel should use an HBox for layout"
TimeControlPanel layout is currently hard coded, it should use something like HBox to simplify things.

[2015-09-12 03:07] samreid commented on #231
Discovered during #199

[2015-09-12 03:07] samreid commented on #199
Fixed above, supplemental issues are elsewhere, closing.

[2015-09-12 03:07] #199 closed

[2015-09-12 03:11] samreid commented on #200
May be done as part of https://github.com/phetsims/scenery-phet/issues/186

[2015-09-12 03:15] samreid commented on #203
From #151:

Here is the image from Beers Law Lab:
![light](https://cloud.githubusercontent.com/assets/679486/9829637/0db8cfb0-58ca-11e5-95e1-11223a53373d.png)

Here is the image from Bending Light
![laser](https://cloud.githubusercontent.com/assets/679486/9829640/275e6df8-58ca-11e5-9507-b966dc3b054a.png)

Reassigning to @pixelzoom to discuss whether we should consolidate these images, and, if so,

[2015-09-12 03:25] samreid commented on #200
The protractor actually does need this rule on the prisms screen.

[2015-09-12 03:26] samreid commented on #201
Fixed above, the outstanding issue of the protractor getting lost behind a control panel is tracked in #200, closing.

[2015-09-12 03:26] #201 closed

[2015-09-12 03:28] samreid commented on #204
This was fixed in another issue, closing.

[2015-09-12 03:28] #204 closed

[2015-09-12 03:29] samreid commented on #207
One hypothesis: the cord is rendered in a canvas which does not span the screen.

[2015-09-12 03:31] samreid commented on #207
Sure enough, scenery popupDebug tells me:

CanvasNodeDrawable#185 (IntroView/IntensityMeterNode/WireNode)   289 WireNode 230 [Trail 0.2.2.0] undefined 1e2101 (1)

[2015-09-12 03:33] samreid commented on #207
Sure enough, WireNode extends CanvasNode instead of Node.  There is no explanation why in the documentation.

[2015-09-12 03:34] samreid commented on #207
Perhaps it was to use context.bezierCurveTo?

[2015-09-12 03:36] samreid commented on #207
@ChandrashekarBemagoni can you recall why WireNode extends CanvasNode and uses context.bezierCurveTo instead of using Kite shapes with bezier curves?

[2015-09-12 03:36] samreid commented on #207
By the way, a workaround for this problem (if we keep CanvasNode) would be to resize its canvas.

[2015-09-12 03:39] samreid commented on #207
Looks like ATDetectorNode from BLL just uses kite.

[2015-09-12 03:42] samreid commented on #207
Rewriting this to use scenery/path instead of canvasnode is probably the best bet.  It will solve the "disappearing wire" problem and get more of the graphics into the same layer.  If performance drops too much on iPad, then we can (a) look into other optimizations or (b) revert to canvasnode but with updated bounds.

[2015-09-12 04:07] ariel-phet commented on #228
@samreid and @arouinfar - not shure why that was the original design decision...maybe it was to "discover" that an angle of incidence was necessary? But I agree, the prism first seems more natural. I think a nice order might be

prism, trapezoid, square, circle, hemisphere, diverging lens

[2015-09-12 06:05] arouinfar commented on #228
Sounds good to me @ariel-phet!

[2015-09-12 09:34] ChandrashekarBemagoni commented on #147
Implemented. Assigning to @samreid for review

[2015-09-12 09:38] ChandrashekarBemagoni commented on #157
Done with code review issues. Assigning to @samreid to proceed further

[2015-09-12 09:44] ChandrashekarBemagoni commented on #44
Addressed all issues related to #44. Assigning to @samreid for review

[2015-09-12 12:15] samreid commented on #147
It appears as if the phase no longer matches properly at the interface after this change. It looks good at some window sizes but not others.  I found the issue below by gradually resizing the window.  @ChandrashekarBemagoni can you take a look?

![image](https://cloud.githubusercontent.com/assets/679486/9831445/4f454b0c-5915-11e5-9741-b423d3bd0ccf.png)

[2015-09-12 12:18] samreid commented on #119
I can look into this issue, I'll reassign it.

[2015-09-12 12:28] samreid commented on #44
@ChandrashekarBemagoni your work here has been amazing, thank you for taking the time to address all of the code review issues--the code is in much better shape thanks to you.  I will also request a final QA test as part of #157 to see if anything was disturbed over the course of the changes above.  The only remaining issue assigned to you now is #147--an issue with the webgl wave view getting out

[2015-09-12 12:28] #44 closed

[2015-09-12 12:39] samreid commented on #157
@ariel-phet the code review is complete and I'd like to request a QA test to see if any additional work is required from Actual Concepts for follow-up from the code review.  This will be a bit trickier than a normal QA test because there are several in-progress issues by @samreid where things are broken--so QA testers will need to be careful to search through open issues before creating new issues

[2015-09-12 14:02] samreid commented on #119
In the new version, the wave webgl view *precedes* the laser.  This is only a problem for webgl--the canvas version (?webgl=false) is perfectly synchronized.  @jonathanolson can you think of how the webgl version is moving *ahead* of the laser?

[2015-09-12 14:03] samreid commented on #119
This issue can be seen slightly for the webgl ray mode as well.

[2015-09-12 14:26] samreid commented on #200
May be addressed as part of https://github.com/phetsims/bending-light/issues/201

[2015-09-12 14:27] samreid commented on #208
Should be fixed or helped by https://github.com/phetsims/bending-light/issues/201

[2015-09-12 14:37] samreid commented on #226
@jonathanolson do you think the last formula in the wikipedia snapshot above is normalized?  If so, can you help me look for a bug in the implementation that is causing my vectors to come out with magnitude >1.5?

[2015-09-14 15:40] samreid commented on #157
Testing on the following platforms:

OSX El Capitain Firefox
OSX El Capitain Safari
OSX El Capitain Chrome
iPad3 Safari
Windows 8 IE
Windows 8 Firefox

OSX El Capitain Firefox wave view looks jagged:
![image](https://cloud.githubusercontent.com/assets/679486/9853812/d22675ce-5ac2-11e5-90b6-7c1016afac13.png)

Speedometer sometimes obscured:
![image](https://cloud.githubusercontent.com/assets/679486

[2015-09-14 15:44] pixelzoom commented on #224
Is there an example where I can see where this would be used?  My first inclination is to ask if this is really necessary.  It seems like it could be potentially distracting, and might be addressed in other ways (e.g. a divider between play area and navbar).  Also highly related to https://github.com/phetsims/joist/issues/222.

[2015-09-14 16:03] pixelzoom commented on #203
@samreid Any reason why you aren't suggesting that we include the button on the laser?  Like so:

![screenshot_618](https://cloud.githubusercontent.com/assets/3046552/9854783/cd4cc85a-5ac7-11e5-90cd-8f2a8f9b701a.png)

[2015-09-14 16:06] pixelzoom commented on #203
bending-light has this additional variant.  What is its purpose? Should this be an options? Why or why not?

![laser_knob](https://cloud.githubusercontent.com/assets/3046552/9854863/4095ceec-5ac8-11e5-9870-cc850af97a86.png)

[2015-09-14 16:09] pixelzoom commented on #203
My recommendation...

If the design team says that this is a common component that we're going to use moving forward, then spend the time to generalize it, preferably with the button (with an option to make the button momentary or toggle).  Don't know about the "knob" variant above.

If there's no consensus that we'll be reusing this heavily, then don't bother generalizing. There are 2 cases where

[2015-09-14 16:11] jonathanolson commented on #226
I don't see anything necessarily requiring that to be normalized from the above description ("direction vector"). You could see OpenGL's implementation at https://www.opengl.org/sdk/docs/man/html/refract.xhtml to see if it's the same.

[2015-09-14 16:32] jonathanolson commented on #119
Not sure yet. Does this happen on all browsers?

[2015-09-14 16:37] jonathanolson commented on #198
Looks good, thanks!

[2015-09-14 16:37] #198 closed

[2015-09-14 16:38] jonathanolson commented on #197
Looks good, thanks!

[2015-09-14 16:38] #197 closed

[2015-09-14 16:43] samreid commented on #203
Maybe button should be optional?  I can think of cases where the laser is always on, or controlled through some other UI control.

The knob on the back is used to rotate the laser.

I'll reassign to @ariel-phet to discuss your points about whether this will be a common component used going forward.

[2015-09-14 17:56] samreid opened #232 "Wave view is blocky for some platforms when webgl=true"
OSX El Capitain Firefox wave view looks jagged:
![image](https://cloud.githubusercontent.com/assets/679486/9853812/d22675ce-5ac2-11e5-90b6-7c1016afac13.png)

Discovered in #157

[2015-09-14 17:56] samreid opened #233 "Speedometer sometimes obscured"
Speedometer sometimes obscured:
![image](https://cloud.githubusercontent.com/assets/679486/9853864/1c35fbda-5ac3-11e5-8751-1bd3b4bc7616.png)

Discovered in #157

[2015-09-14 17:57] samreid commented on #147
This phase issue was noticed again in https://github.com/phetsims/bending-light/issues/157#issuecomment-140119019

[2015-09-14 17:58] samreid opened #234 "Discrete color jumps for WebGL"
Discrete color jumps--there are only 4 or 5 shades of colors when dragging the wavelength slides.

Discovered in #157

[2015-09-14 17:59] samreid opened #235 "Float panels North & South"
Now that the panels float to the left and right, it seems a bit unbalanced that they don't float north/south as well.

![image](https://cloud.githubusercontent.com/assets/679486/9853999/bf196184-5ac3-11e5-9881-ded57137ae7d.png)

@ariel-phet or @arouinfar what do you think?

Discovered in #157

[2015-09-14 17:59] samreid opened #236 "More Tools Protractor doesn't reset on reset all"
Discovered in #157, pertains somewhat to #196

[2015-09-14 18:01] samreid commented on #157
@ariel-phet let's discuss whether we should really QA test the sim at this point.  There are many open issues and I'm not sure how many issues would be assigned to @ChandrashekarBemagoni or our team after the review is done.  Please review all comments above and let's discuss.

[2015-09-14 18:04] ariel-phet commented on #157
@samreid - I think that can be your call. If you feel the sim is in a place where enough changes have been made, and we are basically driving it, we could close our contract with Actual Concepts, accept delivery, finish fixes ourselves, and go through our normal internal cycle.

[2015-09-14 20:13] samreid commented on #224
Launch Bending Light, go to the 2nd screen and select the "white light" radio button.  The background will turn black and the navbar will remain black, so it will look like so:

![image](https://cloud.githubusercontent.com/assets/679486/9860634/a965af92-5aea-11e5-9dbc-070b3425baa1.png)

After seeing this in practice, however, I am not too concerned about the problem.  The toolbox and screen icons

[2015-09-14 20:18] samreid commented on #119
@jonathanolson only visible on iPad, but that may be because it is also our slowest platform. (I'm testing on iPad3 here).

[2015-09-14 23:12] arouinfar commented on #215
Testing with dev.29 on an iPad2, the performance seems ok. With one or two prisms in the playspace, the performance was pretty snappy. With 3-5 prisms in the playspace, the performance was a bit sluggish. The prisms would lag a little when dragged and rotated, and the frame rate dipped down to about 12 fps. It was still usable, but noticeably slower. If there is some low hanging fruit in terms of

[2015-09-14 23:14] arouinfar commented on #235
I agree, it does feel a little unbalanced. I think adding North/South float would be a great feature. Thanks for the suggestion @samreid!

[2015-09-14 23:17] arouinfar commented on #224
I'm not bothered by the black navbar in this situation. For clarity, we could add a thin gray line (white would be too bright) to separate the navbar from the playspace, but I'm not sure that it's necessary. Any thoughts, @ariel-phet?

[2015-09-14 23:18] ariel-phet commented on #224
I think I would go for the thin gray line for separation if possible.

[2015-09-14 23:24] pixelzoom commented on #224
There is currently no support too "the thin gray line".  Adding it likely more trouble than adding the ability to change the color of the navbar, since it involves adding something new to the framework (as opposed to changing something that already exists.)

[2015-09-14 23:26] pixelzoom commented on #224
Rather than adding a line, how about adding a stroke around the existing navbar? The stoke would appear around all edges of the navbar.  Hmmm... Not sure if I like that either.  Let's think about this carefully and discuss in dev meeting before proceeding.

[2015-09-14 23:29] ariel-phet commented on #224
@pixelzoom why can't a thin gray line be drawn at the bottom of the dev bounds in this case? It does not have to be in Joist, it can be in the play area?

[2015-09-14 23:30] ariel-phet commented on #224
Correct me if I am wrong, but we have support for drawing arbitrary lines of any color/stroke width within the sim? And could even float this line to the bottom?

[2015-09-14 23:42] pixelzoom commented on #224
Indeed.  But we have no such line currently in the framework, no API to specify when it's visible, what it's properties are (stoke, lineWidth), when/if it "floats to the bottom", how we deal with it in "projector mode", (or the as-yet-unfinished "color scheme" feature), etc.  Adding a line may seem like a quick fix, but it should be added as thoughtfully as any other UI component.

[2015-09-15 01:40] samreid commented on #224
To summarize thoughts so far:

@samreid and @arouinfar said black on black is OK
@ariel-phet suggested to try a thin gray line "if possible"
@pixelzoom offered suggestions about how this can be implemented.

I think I'll move this to `developer-meeting` so the developers can discuss the best way to implement this and how much complexity it would add to the simulation/framework.

[2015-09-15 01:44] samreid commented on #215
The next step that would make a significant performance improvement would be to move to a WebGL renderer for white light, which would take somewhere between 10-30 hours to get started, and probably longer to fine-tune and optimize, with assistance from @jonathanolson.  @ariel-phet and @arouinfar are probably best poised to decide if we are going to invest in this before publication.

[2015-09-15 01:56] ariel-phet commented on #224
just to add - although black on black *might* be OK...we have some well established conventions now, and they have been proven out in interviews and such, so I would prefer not to mess with them if possible and keep the nav bar as a distinct element.

[2015-09-15 02:05] ariel-phet commented on #203
There is a good chance we will have a laser in CCK Basics, although it may also have a different appearance (since it will need to look a bit more powerful than a laser pointer).

I am fine if we want to hold off on generalizing this component until another case comes up. Considering we will be making math sims for quite sometime, it is unlikely to be needed any time soon.

I will close for the mo

[2015-09-15 02:05] #203 closed

[2015-09-15 02:09] ariel-phet commented on #215
I think we are going to call that good. Performance in general already seems significantly better than the java version. Considering how popular this sim is in java, and applying the "80-20" rule, I think by far the majority of learning goals can be reached with a few optical elements. 3-5 elements is getting to some fairly exotic territory in terms of learning goals and the types of uses I have h

[2015-09-15 02:38] arouinfar commented on #215
The only performance issues I noticed were with white light and multiple prisms. Even then, it's not unusable, just a little slow. The rest of this sim is running really smoothly on iPad2.

[2015-09-15 03:31] jonathanolson commented on #119
Using phet.joist.makeEverythingSlow() doesn't seem to be able to cause the gap on Chrome/Win. I'll be able to test on Safari tomorrow on campus.

[2015-09-15 15:07] samreid commented on #224
@pixelzoom what about accessing the navbar statically, something like:
[code]

[2015-09-15 15:43] pixelzoom commented on #224
Hard to say... We're eventually supposed to be working on a "color scheme" feature, and cleaning up the "color inversion" stuff.   My initial reaction is that if we need to resort to attaching it to sim (or worse yet, a global), then we shouldn't do it.

[2015-09-15 16:04] jonathanolson commented on #119
Also can't seem to cause it on Safari, even with the slow-downs.

[2015-09-15 16:16] jonathanolson commented on #119
I can occasionally just barely see this on the iPad 2. I'm more concerned about graphics quality though:

With WebGL:
![image](https://cloud.githubusercontent.com/assets/480878/9882596/b5f8875e-5b92-11e5-9b34-ee6362bd14c4.jpg)
Without:
![image](https://cloud.githubusercontent.com/assets/480878/9882603/bf776890-5b92-11e5-9326-59da0509ddf2.jpg)

[2015-09-15 16:16] jonathanolson commented on #119
With WebGL on, the edges of the beam AND laser body are very aliased, and without WebGL, the edges of the refracted beam are very rough and edgy.

[2015-09-15 16:18] jonathanolson commented on #119
Cursory searches online haven't led me to figure this out yet, but likely sometimes (not always) the WebGL rendering is either delayed or ahead (depending on the version). It would require more investigation into iOS's pipeline to figure out if there's a way we can prevent this.

As it was fairly rare on the iPad 2, I'm curious whether it's more serious on the iPad 3, and what priority this should

[2015-09-15 17:52] orejolaphet opened #237 "Reset button initializes protractor at incident point."
From initial state of sim the refresh button brings the protractor to the incident point for both Intro and More Tools Screen. Possibly related to issue https://github.com/phetsims/bending-light/issues/236

Initial state:
![unnamed-1](https://cloud.githubusercontent.com/assets/5631059/9884983/04868e54-5ba0-11e5-88e2-cf72261e71f5.jpg)
After reset:
![unnamed-2](https://cloud.githubusercontent.com/as

[2015-09-15 18:01] orejolaphet opened #238 "Reset button leaves laser ray and wave artifacts."
Reset button leaves laser ray or wave artifacts. Artifacts disappear when laser is turned on or when laser representation changes (Ray and Wave). Occurs on all screens Intro, Prisms, More Tools.

Edit:
Reset button and turning laser off leaves artifacts.

To reproduce:
Open sim
Move laser
Hit reset

Screen shots of artifacts.
![unnamed](https://cloud.githubusercontent.com/assets/5631059/9885152/f9

[2015-09-15 18:04] orejolaphet commented on #238
Also occurs on OSX 10.10.4

[2015-09-15 18:07] samreid opened #239 "Consider WebGL for White Light Node"
In #215 we determined that the canvas rendering of white light is good enough for publishing version 1.0.  However, for future versions if we want to improve the rendering performance of the white light for WebGL-enabled platforms, we could invest in the webGL version.  @samreid provided the following time estimate for the WebGL white light node work:

@ariel-phet suggested to create an "enhanceme

[2015-09-15 18:13] orejolaphet commented on #237
After testing this issue on OSX 10.10.4 on firefox different screen sizes reveal that all tools are reset to an incorrect position.

Intro Screen
Initial state:
![unnamed](https://cloud.githubusercontent.com/assets/5631059/9885530/dbf7d74c-5ba2-11e5-99ff-a7d3b813588f.png)
After reset:
![unnamed-1](https://cloud.githubusercontent.com/assets/5631059/9885572/0fb41aa0-5ba3-11e5-9f1e-f7a35b3b696c.png)

[2015-09-15 18:17] orejolaphet commented on #238
Reflections also remain as artifact.

[2015-09-15 18:33] orejolaphet commented on #238
Artifacts remain if laser is turned off. Not exclusively related to reset button.

[2015-09-15 18:37] samreid commented on #119
I'll move the graphics quality issue to a separate issue.

[2015-09-15 18:38] samreid opened #240 "Poor graphics quality for the wave view"
During #119 @jonathanolson pointed out:

With WebGL:
![image](https://cloud.githubusercontent.com/assets/480878/9882596/b5f8875e-5b92-11e5-9b34-ee6362bd14c4.jpg)
Without:
![image](https://cloud.githubusercontent.com/assets/480878/9882603/bf776890-5b92-11e5-9326-59da0509ddf2.jpg)

[2015-09-15 18:40] orejolaphet commented on #238
Behavior does not occur with selection of White Light.

[2015-09-15 19:01] orejolaphet opened #241 "Reset button does not change laser type on Prisms Screen"
Seen on all platforms
Testing 1.0.0-dev.29

On the Prisms Screen, with either White Light or One Color (5x) selected the reset button does not change what is displayed as selected, but the behavior is that of One Color.

For an example the background of the Screen is black when White Light is selected.
<img width="295" alt="screen shot 2015-09-15 at 12 59 45 pm" src="https://cloud.githubuserconten

[2015-09-16 15:37] orejolaphet opened #242 "Time tool does not display anything"
Tested on OSX FF 37.01 and Chrome 42
Testing 1.0.0-dev.29

On the More Tools Screen the Time tool does not display anything when placed on light wave.

Troubleshooting information (do not edit):
Name: ‪Bending Light‬
URL: http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.29/bending-light_en.html
Version: 1.0.0-dev.29 2015-09-12 12:34:16 UTC
Features missing: touch
User Agent: M

[2015-09-16 21:45] pixelzoom opened #243 "bending-light fails lint"
As of f93d56cd8822b36f5c76a750ad93bdbce3b00020 (latest at this writing), this repository fails lint.  Assigning to @samreid since he's made the most recent commits.

[code]

[2015-09-17 02:46] samreid commented on #243
This sim is going to go through some surgery to get better input listeners as part of https://github.com/phetsims/scenery/issues/465 and https://github.com/phetsims/scenery-phet/issues/186 .  How critical is it to keep it 100% linted during this process?

[2015-09-17 04:05] pixelzoom commented on #243
Not critical, just hit it when running test-server and it seemed odd that so many lint errors were introduced.

[2015-09-17 18:43] pixelzoom commented on #224
@ariel-phet is suggesting adding this "line line" is sim-specific code, just for this sim.  The ScreenView would need to take care of it.

[2015-09-17 20:36] samreid commented on #119
@ariel-phet should we punt on this?

[2015-09-17 20:37] #243 closed

[2015-09-17 20:39] #215 closed

[2015-09-17 20:40] samreid commented on #233
@arouinfar and @ariel-phet can you suggest a solution here?

[2015-09-17 21:40] samreid commented on #224
Fixed above, @ariel-phet took a look and said it looks good.  Closing.

[2015-09-18 02:01] samreid commented on #226
It seems like this is indeed a direction vector and not normalized.  In the words of:
http://www.cs.rpi.edu/~cutler/classes/advancedgraphics/F05/lectures/13_ray_tracing.pdf

![image](https://cloud.githubusercontent.com/assets/679486/9950334/bc286032-5d76-11e5-8c65-bea470d71901.png)

[2015-09-18 02:01] #226 closed

[2015-09-18 02:02] samreid commented on #157
I haven't seen any issues yet that Actual Concepts should solve.  If I see one in the future, I will create an issue for it (I believe there is still one platform left to test).  But for now, this seems good to close.

[2015-09-18 02:02] #157 closed

[2015-09-18 03:54] samreid commented on #228
Fixed as described by @ariel-phet, this seems much more natural, closing.

[2015-09-18 03:54] #228 closed

[2015-09-18 03:58] #229 closed

[2015-09-18 04:02] samreid commented on #207
Looking at the history of WireNode, I can see that it was originally a scenery path, and changed to canvas in this commit: 0e8a6f4b69e139e6acae8feb7da43f87a92c53d0

We are led to infer that @ChandrashekarBemagoni made this change to improve the performance of the wire node on iPad.  Perhaps we should just work on getting the bounds right.

[2015-09-18 04:03] samreid commented on #207
IntensityMeterNode is incapacitated at the moment due to the `toolbox` labeled issues.  Perhaps we should fix that up before continuing here.

[2015-09-21 17:30] bryo5363 opened #244 "Prism is layered on top of Prism selection nav bar"
I noticed this on IE 11 Windows 10

<img width="590" alt="bendinglightbottombug" src="https://cloud.githubusercontent.com/assets/7717368/9999523/b2b6af18-604b-11e5-9ef0-aea24f37723d.png">

The prism is layered below the nav bar on the right.

[2015-09-22 04:07] samreid commented on #207
Fixed above, closing.

[2015-09-22 04:07] #207 closed

[2015-09-22 04:10] samreid commented on #196
The new implementation just drags the protractor node, closing.

[2015-09-22 04:10] #196 closed

[2015-09-22 21:36] samreid commented on #193
The work about generalizing listeners and toolbox layout is now elsewhere, this particular issue is resolved in the commits above, closing.

[2015-09-22 21:36] #193 closed

[2015-09-23 18:36] samreid commented on #200
This is complete, closing.

[2015-09-23 18:36] #200 closed

[2015-09-23 18:55] samreid commented on #208
Fixed, closing.

[2015-09-23 18:55] #208 closed

[2015-09-23 18:55] samreid commented on #210
Fixed, closing.

[2015-09-23 18:55] #210 closed

[2015-09-23 18:56] samreid commented on #211
Things are looking much better here.  We still need (a) to unify prisms with the other drag strategy (b) relative drag locations and (c) keep things bounded in the play area.

[2015-09-23 19:12] samreid commented on #212
Fixed above, closing.

[2015-09-23 19:12] #212 closed

[2015-09-23 19:13] samreid commented on #213
Fixed in prior work, closing.

[2015-09-23 19:13] #213 closed

[2015-09-23 19:14] samreid commented on #227
Fixed in prior work, closing.

[2015-09-23 19:14] #227 closed

[2015-09-23 19:14] samreid commented on #230
It is working again, closing.

[2015-09-23 19:14] #230 closed

[2015-09-23 19:15] samreid commented on #236
Fixed, closing.

[2015-09-23 19:15] #236 closed

[2015-09-23 19:15] samreid commented on #242
Fixed in prior work, closing.

[2015-09-23 19:15] #242 closed

[2015-09-23 19:17] samreid commented on #244
This is consistent with the rest of the layering in the sim.  Items go above the south toolbox because items get dropped into it.  Items go behind the rightmost control panel so the control panel is not occluded.

[2015-09-23 19:17] #244 closed

[2015-09-23 19:18] samreid commented on #237
Fixed, closing.

[2015-09-23 19:18] #237 closed

[2015-09-23 19:31] samreid commented on #211
(d) animate some of the objects.

[2015-09-23 19:36] samreid commented on #217
The phet-io gray is #999999, in my opinion very faint and difficult to see:

This scene shows the defaults for More Tools:
![image](https://cloud.githubusercontent.com/assets/679486/10056321/d8a8ce9c-61f7-11e5-8cdb-a40cf561f15b.png)

How about black normals when background is white and vice versa?

[2015-09-23 19:37] arouinfar commented on #217
I agree, it's a bit hard to see. Let's try the solution you've proposed, @samreid.

[2015-09-23 19:44] samreid commented on #217
This looks good to me, I'll commit shortly:
![image](https://cloud.githubusercontent.com/assets/679486/10056647/4487e53e-61f9-11e5-8cc7-7ab23ae208ef.png)

[2015-09-23 19:45] samreid commented on #217
Committed above.  But now I think we need a cleanup function to dispose of the listeners attached in IntersectionNode.

[2015-09-23 23:08] samreid commented on #217
Leak fixed, closing.

[2015-09-23 23:08] #217 closed

[2015-09-24 00:04] samreid opened #245 "Decide on the order of the tools in More Tools"
Intro screen has these tools, in this order:
* Protractor
* intensity meter
* checkboxes

More Tools screen has these tools, in this order:
* Protractor
* **Velocity sensor**
* **wave sensor**
* intensity meter
* checkboxes

So the velocity sensor and wave sensors "sneak between" the protractor and intensity meter.  It was somewhat easier to implement More Tools as:
* Protractor
* intensity meter

[2015-09-24 18:03] arouinfar commented on #245
That's a great suggestion @samreid! The ordering you've proposed does seem more sensible to me, and given that it's easier to implement, we should do it.

[2015-09-25 06:22] #214 closed

[2015-09-25 06:26] samreid commented on #218
The recommended changes were completed above, no other obvious easy ways to improve performance here and performance was already deemed 'good enough', closing.

[2015-09-25 06:26] #218 closed

[2015-09-25 06:28] samreid commented on #238
Fixed in master, closing.

[2015-09-25 06:28] #238 closed

[2015-09-25 06:29] samreid commented on #240
@arouinfar is what you see above "good enough" or should I ask @jonathanolson to brainstorm ideas?

[2015-09-25 06:35] samreid commented on #245
Thanks, it is already implemented as such. Closing.

[2015-09-25 06:35] #245 closed

[2015-09-25 11:53] samreid commented on #220
I presume this is referring to the `new Float32Array` in:
[code]

@jonathanolson can you describe how to implement this without reallocating those arrays each frame?  What if the number of points or colors have increased?

[2015-09-25 12:05] samreid commented on #221
Fixed, closing.

[2015-09-25 12:05] #221 closed

[2015-09-25 12:18] samreid commented on #222
With working copy changes, here's how it currently looks for the intro screen:
![image](https://cloud.githubusercontent.com/assets/679486/10100044/334da976-634c-11e5-997b-78983412d0d9.png)

and by default on the More Tools screen:
![image](https://cloud.githubusercontent.com/assets/679486/10100089/864a03f4-634c-11e5-85af-4809d932ea5e.png)

And here it Intro with ?stringTest=double:
![image](https:

[2015-09-25 12:46] samreid commented on #241
Fixed above, closing.

[2015-09-25 12:46] #241 closed

[2015-09-25 12:57] #231 closed

[2015-09-25 12:57] samreid commented on #232
@jonathanolson any ideas what is happening here?

[2015-09-25 13:03] samreid commented on #234
This is only happening for the WebGL implementation--canvas is fine.

[2015-09-25 13:08] samreid opened #246 "Total output of laser looks like it is not conserved"
In this screenshot, observe the amount of light coming out of the laser (immediately in front of the laser), then consider the total amount of light reflected and refracted across the screen.  It seems like more light was created--that reflecting and refracting is somehow increasing the total amount of light coming out of the laser.

For instance, the 5 rays exiting the right side of the screen ar

[2015-09-25 13:14] samreid commented on #234
Since we decided the performance of white light in canvas was good enough, the performance of single colors is probably also fine in canvas--even 5x rays for single color is still many less rays than shown for white light (30).  @arouinfar can you test single color rays on iPad with ?webgl=false and reflections turned on and report if the performance is acceptable?  If so, it would be great to get

[2015-09-25 13:14] samreid commented on #220
This is on hold until @arouinfar reports back on https://github.com/phetsims/bending-light/issues/234 .  @arouinfar can you reassign this issue back to me after looking into https://github.com/phetsims/bending-light/issues/234 ?

[2015-09-25 13:23] samreid commented on #234
Oops, forgot to give you a testable version:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.30/bending-light_en.html?webgl=false

[2015-09-25 13:26] samreid commented on #234
I tested this myself in iPad3 and it seems very speedy indeed, even with WebGL disabled.  Would be great for @arouinfar to confirm on another device.  If it seems slow, please try changing to webgl=true and see if that changes the speed at all (there are other bottlenecks in the sim).

[2015-09-25 13:27] samreid opened #247 "prism protractor is too large"
In #234 I noticed the prism protractor became very large:

![image](https://cloud.githubusercontent.com/assets/679486/10101606/e62948fc-6356-11e5-9657-086e6cc2146a.png)

[2015-09-25 14:40] ariel-phet commented on #222
@samreid, in the usual cases things look good. With stringTest=double, it would be nice if the check boxes did not got mashed to the side. I would grow the tool box a bit to the right (maybe 10-15 percent) to maintain a decent layout for checkboxes and icons, and then after that scale fonts down if strings grow longer.

[2015-09-25 14:44] ariel-phet commented on #246
@samreid can you give me any insight as to the model? Usually standard reflection off glass is around 4 percent. Do we have some attenuation built into the model when going through material?

Perception of brightness is also a fairly complicated phenomenon....you perceive different colors of the same intensity to be different brightness, and usually a laser starts out above the saturation intensit

[2015-09-25 15:11] ariel-phet commented on #119
If it is only noticeably occurring on iPad3, it is acceptable to punt.

[2015-09-25 15:16] samreid commented on #119
Thanks for your feedback, we'll close for now.

[2015-09-25 15:16] #119 closed

[2015-09-25 15:25] samreid commented on #246
There is no attenuation at the surfaces or in the vacuum, power_in = power_reflected + power_refracted.   I think you addressed the point when you said:

Even though this is true, will it still be confusing for teachers or students, where it *looks* like power_reflected+power_refracted > power_in ?

[2015-09-25 16:23] ariel-phet commented on #246
@samreid I don't think so...this behavior matches the java version which is quite popular, and I know of no complaints/issues.

The only way to address this issue is to make the model more accurate and add some attenuation. I think for most of the use cases that is not really necessary. One thing we can make sure to do is make a note in the teacher tips, but I would not worry about altering the mo

[2015-09-25 16:45] #247 closed

[2015-09-25 16:47] #246 closed

[2015-09-25 16:48] samreid commented on #246
Documented in model.md and closed.

[2015-09-25 17:34] samreid commented on #222
Trying the simplest thing first, if I just change the default width from 100 to 120, then everything looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/10107550/1e38b364-6379-11e5-9cc6-6de1fbe02739.png)

![image](https://cloud.githubusercontent.com/assets/679486/10107555/2b75bb94-6379-11e5-8e10-d4649d54484d.png)

![image](https://cloud.githubusercontent.com/assets/679486/

[2015-09-25 17:48] ariel-phet commented on #222
I might need to see it in full context. If I pull will this be latest version?

[2015-09-25 17:49] samreid commented on #222
I have some breaking changes in my working copy, but I think (90% sure?) that what is checked in is runnable.  Try your luck :four_leaf_clover:

[2015-09-25 18:56] samreid commented on #225
Layering looks good, items go behind the control panels on the right, and in front of the toolbox at the bottom.  Closing.

[2015-09-25 18:56] #225 closed

[2015-09-25 18:57] ariel-phet commented on #222
So after looking at this some more, I think a better solution would be to have the check boxes not in the panel, that way the toolbox can be well sized to the tools, and the words can just grow as necessary to the right without influencing the panel. I think it will be a cleaner design overall. So reduce the panel width so there is still some padding, and shrink the panel vertically so that it doe

[2015-09-25 20:22] samreid commented on #222
This looks excellent, nice thinking outside the box @ariel-phet

![image](https://cloud.githubusercontent.com/assets/679486/10111326/7efb580c-6390-11e5-9bfa-d0deefd70e59.png)

[2015-09-25 20:23] samreid commented on #222
A bit of crowding with the time controls, I think I'll just move them to the side a bit and make sure they have an equivalent bottom padding:

![image](https://cloud.githubusercontent.com/assets/679486/10111390/ec02e97e-6390-11e5-8663-8af74297c12c.png)

[2015-09-25 21:07] samreid commented on #222
Bottom padding will be addressed in #235. @ariel-phet can you pull and look at the current version with respect to the toolbox/checkboxes?  Or let me know if you'd like a dev version.

[2015-09-25 21:49] arouinfar commented on #233
@samreid, I don't really see a way around this situation. At times, the vector will have to cross the display. Perhaps you could give a slight opacity to the vector to allow the text to be seen.

At 85% opacity, the text is fairly readable behind the vector.
![image](https://cloud.githubusercontent.com/assets/8419308/10112951/caf2448a-639c-11e5-8b23-dfea8f82b22a.png)

I'm not sure how a reduced-op

[2015-09-25 22:26] arouinfar commented on #234
Canvas performance looks good on the iPad2! I don't think there's any need for a WebGL implementation for monochromatic light. Closing.

[2015-09-25 22:26] #234 closed

[2015-09-25 22:27] arouinfar commented on #220
Performance looked great in #234. I don't think we need to move forward with a WebGL implementation for monochromatic light.

[2015-09-25 23:03] arouinfar commented on #240
Testing on an iPad2 in canvas, the wave looks too jagged. I think it would be worthwhile to talk to @jonathanolson about this issue.

The laser also looks a bit aliased. Is it being drawn in code or is it an image @samreid?

[2015-09-25 23:10] arouinfar opened #248 "Increase size of laser touch area"
When playing withe the sim, @ariel-phet and I both felt that the laser was a bit tricky to rotate. The touch area looks pretty tight.
![image](https://cloud.githubusercontent.com/assets/8419308/10113979/b26e2b30-63a7-11e5-857d-8c4fb0b96c2a.png)

Could the touch area be expanded to be a bit more like this?
![image](https://cloud.githubusercontent.com/assets/8419308/10114021/3ae23088-63a8-11e5-88f3-

[2015-09-25 23:13] arouinfar commented on #224
While looking at the Prisms screen with @ariel-phet, we thought the horizontal gray line was a bit on the heavy side. Can you give it the thinnest possible stroke width that's still visible @samreid?

[2015-09-25 23:21] arouinfar commented on #192
After the last design meeting, it was decided to use three pictorial radio button to depict monochromatic/single ray, monochromatic/multi ray, and white light. It was suggested to use a rainbow icon for white light, but that poses some challenges -- most notably, we cannot show a rainbow coming out of a laser. I've mocked up this option instead, which @ariel-phet has given general approval of.
![i

[2015-09-25 23:22] arouinfar commented on #222
Moving the checkboxes out of the toolbox looks good to me!

[2015-09-26 13:53] kathy-phet commented on #192
Just to chime ... I like this much better than a rainbow, because you get to discover that is what happens.
K

Sent from my iPhone

On Sep 25, 2015, at 5:21 PM, Amy Rouinfar <notifications@github.com<mailto:notifications@github.com>> wrote:

After the last design meeting, it was decided to use three pictorial radio button to depict monochromatic/single ray, monochromatic/multi ray, and white light

[2015-09-26 13:59] ariel-phet commented on #233
That seems like a nice solution to me @arouinfar, especially since the vector is sort of an ethereal object.

[2015-09-26 14:40] ariel-phet commented on #222
Hey @samreid - looking good, we may want to tweak placement of toolboxes slightly, but I think that will best be done in person. I think this issue for the padding can be closed, nice work!

[2015-09-26 14:40] #222 closed

[2015-09-27 04:24] samreid commented on #192
@arouinfar these icons look great, and I have a few questions about them.  Why did you choose to have the inner rectangle in the white light icon and what do you think of removing it like so?

![out](https://cloud.githubusercontent.com/assets/679486/10121191/09a032fe-649d-11e5-811f-ebb749276b6b.png)

(Perhaps to make it easy to show it is highlighted by making the border bold?)

Also, I noticed yo

[2015-09-28 02:49] arouinfar commented on #192
@samreid thanks for mocking up this alternative. I originally preferred an all-black icon, but I had a few concerns. Namely,
* The stroke may not be visible
* When at a reduced opacity, the black will look gray (still a problem in the icons I proposed)
* It may not be possible to have scene selection buttons with different fills

If the third point is not really an issue, I'd like to go with what

[2015-09-28 17:59] samreid opened #249 "Clean up Medium/MediumState"
From https://github.com/phetsims/bending-light/issues/216 it is unclear what the relationship is between Medium and MediumState.  Let's find out and see if it needs to be cleaned up.

[2015-09-28 18:00] samreid opened #250 "Handle the medium colors in the color itself"
In a few spots in https://github.com/phetsims/bending-light/issues/216 the view code changes the color based on whether the light types is monochromatic or white.  This should probably be handled through the medium color itself (instead of listening for two things).

[2015-09-28 18:10] samreid opened #251 "Code review 2.0"
After all of the changes in the last few months, the code should be repolished and re-reviewed.

PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim pass lint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim

[2015-09-29 15:44] samreid opened #252 "LaserControlPanel is trying to do too many things"
LaserControlPanel is trying to do too many things, we should have one for Intro/More Tools and a different one (possibly subclass) for Prisms.

[2015-09-29 15:44] samreid commented on #192
We should solve #252 before continuing on this issue.

[2015-09-30 03:39] #252 closed

[2015-09-30 12:59] samreid commented on #192
Some commits in https://github.com/phetsims/bending-light/commit/40128db3222afd844ad5c81fef1e62038f9a7b16

[2015-09-30 13:34] samreid commented on #192
Indeed, it is much easier to have a rectangle inside the radio button rather than changing its entire fill.

I've implemented the radio buttons as described (though please note there are some minor pixel differences in padding, etc.) and I've expanded the width of the radio button group to align with the control panels above and below (at least for English--will be different for different language

[2015-09-30 13:35] samreid commented on #211
If the prism toolbox is going to float south, it is going to need upgraded toolbox listeners.

[2015-09-30 15:28] ariel-phet commented on #192
I think this looks OK by the way

[2015-09-30 15:31] samreid commented on #216
I changed the color scheme above and published a dev version for testing.  @kathy-phet @arouinfar @ariel-phet please take it for a test drive at your convenience:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.31/bending-light_en.html

One issue I noticed is that the transparency of the prisms makes it look like changing the environment medium also changes the prism medium.

[2015-09-30 15:32] samreid commented on #192
I published a dev version here:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.31/bending-light_en.html

and remembered that @arouinfar said:

so I'll try that next.

[2015-09-30 15:35] samreid commented on #192
Red stroke looks good against the black background:
![image](https://cloud.githubusercontent.com/assets/679486/10197765/62124ef2-6756-11e5-913a-c222f707748b.png)

Not sure about against the white background--is there interference or synergy with the laser color?
![image](https://cloud.githubusercontent.com/assets/679486/10197799/825807e2-6756-11e5-9e4b-ad5b386b229a.png)

[2015-09-30 15:45] samreid commented on #219
No such issue on my Lenovo Windows 8 Running Chrome 45.0.2454.99 (m) 64-bit when testing the dev version http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.31/bending-light_en.html

I'll update my Chrome to latest and try once again.

[2015-09-30 15:49] samreid commented on #219
Updated to 45.0.2454.101 m 64-bit and still no issues.

The next steps we should take here:

1. Figure out @kathy-phet's Chrome version
2. See if @kathy-phet has any Chrome updates available, and see if that fixes the problem
3. See if the problem is still exhibited on @kathy-phet's machine with the latest dev version (dev.31 linked above)

[2015-09-30 15:50] samreid commented on #219
I emailed @kathy-phet:

Kathy,

I need your help to investigate the broken white light rendering we saw on your machine.  Can you paste me your Chrome version (from the chrome about dialog), see if you have updates (and if the updates fix the problem), and see if the issue is still a problem in this dev version?
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.31/bending-light

[2015-09-30 15:54] #220 closed

[2015-09-30 15:57] samreid commented on #219
@kathy-phet reported it is still a problem:

![image](https://cloud.githubusercontent.com/assets/679486/10198506/97bdabac-6759-11e5-9737-5791fc07904f.png)

[2015-09-30 15:58] samreid commented on #219
Grasping at straws, I noticed that @kathy-phet version was `Version 45.0.2454.101 m` and @samreid version was `45.0.2454.101 m 64-bit`.  I wonder if I can get a 32-bit version and see if I have that problem?

[2015-09-30 16:04] samreid commented on #219
I downloaded the 32-bit version of Chrome Version 45.0.2454.101 m on my Lenovo and it renders without problems.

@ariel-phet I recommend to have testers launch http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.31/bending-light_en.html on Win/Chrome and see if they see the problem that @kathy-phet saw.  Shall I create a tasks issue?

[2015-09-30 16:10] ariel-phet commented on #219
@phet-steele do you have a moment to check this?

[2015-09-30 16:14] phet-steele commented on #219
Yep

[2015-09-30 16:16] samreid commented on #224
Generally, that is a tricky question to answer, since it depends on the ppi of the monitor and the size of the window.  But I can thin it out a bit and we can test on a few devices to make sure it didn't go <1px.

[2015-09-30 16:19] samreid commented on #224
When I try setting 1px in the code (was previously 2px), the sim exhibits a rapid cyclic pattern of "looking great" --> "looking acceptable" --> "can hardly see it" as I scale the chrome browser window size.

[2015-09-30 16:20] samreid commented on #224
You can see this cycling problem even for the latest dev version (dev.31) when the window size gets small enough.  Changing from 2px->1px makes this problem occur at larger window sizes.  @arouinfar or @ariel-phet can you review and advise?

[2015-09-30 16:25] phet-steele commented on #219
All looks good on my end, is @kathy-phet machine also 32-bit? Or 64-bit?

[2015-09-30 16:35] samreid commented on #219
@phet-steele how many machines did you test?  Were they all Windows 8?  What kind of systems were they (HP/Lenovo/etc?)

[2015-09-30 16:36] kathy-phet commented on #219
64 bit.

Should I look to see if there are display updates for my computer?

[2015-09-30 16:36] samreid commented on #219
I tested on my HP HDX 16t laptop running Window 8,  No problems in Chrome 45.0.2454.93 m and also no problems on Chrome 45.0.2454.101 m.

That's a good suggestion, can you give it a try @kathy-phet ?

[2015-09-30 16:38] phet-steele commented on #219
I just did a real quick test on Win 8.1 Lenovo, in maybe 20 minutes I might be able to try a Win 7 machine.

[2015-09-30 16:38] samreid commented on #219
Brainstorming (in case display updates for @kathy-phet don't help): we could try having @kathy-phet run the 64-bit version of chrome and see if that changes anything (though 64/32 bit may be a red herring, it would be good to rule it out).

[2015-09-30 16:38] kathy-phet commented on #219
I tried it on firefox, and do not see this issue. Although I do see that it is much slower response.

[2015-09-30 16:39] samreid commented on #239
@kathy-phet said in https://github.com/phetsims/bending-light/issues/219#issuecomment-144470373

[2015-09-30 16:46] kathy-phet commented on #219
Tried 64-bit chrome version, and no change:
![image](https://cloud.githubusercontent.com/assets/5096804/10199895/79c42480-6760-11e5-960e-f06d2907e408.png)

[2015-09-30 16:47] samreid commented on #233
This is the result with 0.85 transparency in scenery:

![image](https://cloud.githubusercontent.com/assets/679486/10199910/900fb66e-6760-11e5-9621-1b748e408703.png)

Still a bit difficult to read in my opinion, I'll try decreasing it a bit further.

[2015-09-30 16:48] samreid commented on #219
Thanks for ruling that out @kathy-phet, let me know if you see any graphics driver updates.

[2015-09-30 16:48] phet-steele commented on #219
Still no problems on a Win 7 64-bit machine. It's custom built (Nvidia GTX 770 4GB, i5 3570k, Z77A-G45 MSI, 8GB RAM)

[2015-09-30 16:49] samreid commented on #233
0.6 seems much easier to read and still bold enough in the rest of the sim:

![image](https://cloud.githubusercontent.com/assets/679486/10199972/ec591eba-6760-11e5-9c6c-06b0ef1a9941.png)

I'll go with that and @arouinfar and @ariel-phet can review in the next dev version.

[2015-09-30 16:53] samreid commented on #233
A wild dev version appeared!
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.32/bending-light_en.html

[2015-09-30 17:07] samreid opened #253 "The laser looks a bit aliased"
From #240 @arouinfar said:

[2015-09-30 17:08] samreid commented on #240
I moved the laser question to a new issue.  @arouinfar were you testing with webgl or webgl=false?  Which of the above images looks like it needs effort?

[2015-09-30 17:14] samreid commented on #253
It is a (small-ish) image:
https://github.com/phetsims/bending-light/blob/29249c814a7eeb04b48d1f5cdbee7216e698fed3/images/laser.png

But I also noticed it is not mipmapped.

What platforms/window sizes did you see an issue with?  If I can see the same problem I can try mipmapping.  If that doesn't help, we could try mipmap+ higher resolution source image.

[2015-09-30 18:38] arouinfar commented on #253
The laser looks fine on my Mac. It was pretty aliased looking on the iPad2 (beyond typical fuzziness of the non-retina display).

[2015-09-30 18:41] arouinfar commented on #233
I think it looks great @samreid! Closing.

[2015-09-30 18:41] #233 closed

[2015-09-30 19:57] samreid commented on #253
Can you share a screenshot?  I have no iPad2 and not sure what combination of larger image/mipmapping will help.

[2015-09-30 20:06] phet-steele commented on #233
:+1: for the reference @samreid!

[2015-09-30 20:07] samreid commented on #233
Thanks @phet-steele I'm glad we are on the same page :book:

[2015-09-30 21:07] samreid commented on #219
Thanks @phet-steele, it looks like the next step will be to see if @kathy-phet has any graphics driver updates.

[2015-10-01 02:23] samreid commented on #211
Summarizing the outstanding problems:
1. Screen 1: Intensity meter doesn't animate out of the toolbox
2. Screen 1: Intensity meter isn't bounded within the visible bounds
3. Screen 1: Intensity meter doesn't have relative drag
4. Screen 2: Prisms don't animate out of the toolbox
5. Screen 2: Prism toolbox doesn't float south
6. Screen 2: Prisms use a completely different implementation of drag lis

[2015-10-03 22:30] samreid commented on #211
I don't believe we can use an ordinary tween here because as the scale changes, the relative location for the model property coordinate changes.  So we need some sort of dynamic tween.

[2015-10-04 03:35] samreid commented on #211
This tween does the trick and has the right in-out smoothing behavior, but it is quite complex!

[code]

[2015-10-04 03:42] samreid commented on #211
Even this tweening is unsatisfactory, it scales up faster than it moves to the side and hence looks like it swerves to the left if you click to the right of the icon.

[2015-10-04 03:43] samreid commented on #211
When I tried an alternate tweening rule of "each time step, move half the distance to the target" it seemed ok--it just didn't match the cubic in-out easing.

[2015-10-05 14:58] samreid commented on #211
@arouinfar and @ariel-phet how important is it for items to animate in/out of the toolbox?  Should this be solved before publication or could it be punted to a future release for if/when we have better common code support?  It will easily take >8 hours to get all of the objects uniformly animating in/out of the toolbox (more if they have to have exactly the same "easing").

[2015-10-08 16:45] samreid opened #254 "MVC Pattern"
Currently in some of the bending light probes, we have:

1. drag event in view coordinates
2. mvt -> model coordinates
3. set new model location
4. view listener gets model change event
5. mvt -> view coordinates
6. set new view location

This has been a productive pattern in many cases, but what about this pattern?

1. drag event in view coordinates
2. set new view location
3. mvt -> model coordi

[2015-10-08 16:46] samreid commented on #254
Another issue: when nodes change parent (from toolbox to play area), tricky when using "model first" MVC pattern.

[2015-10-08 16:55] pixelzoom opened #255 "typo in QA credits"
"Brian Yoelin" should be "Bryan Yoelin".

[2015-10-08 16:56] samreid commented on #255
Same issue in Hooke's Law?

[code]

[2015-10-08 16:59] samreid commented on #255
Fixed typo in bending light, I'll create a separate issue for Hooke's Law.

[2015-10-08 16:59] #255 closed

[2015-10-08 17:36] pixelzoom commented on #255
FYI... It was already fixed in hookes-law. That's how I noticed the problem in bending-light.

[2015-10-08 18:29] samreid commented on #254
Consensus: let's keep using MVC, but sometimes nodes don't need to be attached to a model.  For instance, when positioning an icon in the toolbox it has no model.  Then when dragging, a model element gets created and added to the model.  Or could enable/disable whether they are wired together.

[2015-10-08 21:34] samreid commented on #211
@kathy-phet & @arouinfar & @phetsims/dubson recommended to table animation for now.

[2015-10-08 21:46] arouinfar commented on #192
As discussed with @kathy-phet and @samreid the active stroke will be blue.

[2015-10-08 21:47] samreid commented on #192
Fixed above, closing.

[2015-10-08 21:47] #192 closed

[2015-10-09 18:04] samreid commented on #211
I got everything working for protractor, intensity meter, velocity sensor and wave sensor.  Still need to do prisms.

With what we have now, animation would be a straightforward add-on, but I don't have plans to work on it.

[2015-10-09 23:28] jonathanolson opened #256 "Automated testing error"
[code]

[2015-10-09 23:48] jonathanolson commented on #256
Also assorted linting issues.

[2015-10-10 05:01] samreid commented on #211
Finished everything above, aside from the floating prism toolbox, which will be handled in #235.

[2015-10-10 05:01] #211 closed

[2015-10-10 05:02] samreid commented on #254
Very glad we discussed this at developer meeting, the suggestions led to a nice solution in #211.  Closing.

[2015-10-10 05:02] #254 closed

[2015-10-10 05:08] samreid commented on #235
My plan for this issue:

Intro:
1. Laser control panel will float north
2. Toolbox, checkboxes and reset-all button will float south.

Prisms:
1. Prism toolbox and reset all button will float south
2. Environment panel, laser radio buttons and laser wavelength slider will float north

More tools: Same as Intro

[2015-10-10 05:33] samreid commented on #235
Panels are now floating as described above, @arouinfar can you take a look and discuss it with me?
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.33/bending-light_en.html

[2015-10-10 05:34] samreid commented on #248
Sure, I'll take a look.  But I'm curious why you chose to have it be asymmetric about the x-axis?

[2015-10-10 05:36] samreid commented on #248
Also be aware the prism screen laser has a knob there:

![image](https://cloud.githubusercontent.com/assets/679486/10409462/8173f1f8-6ede-11e5-9153-c2025d1ecde6.png)

[2015-10-10 05:44] samreid commented on #248
Fixed above, but I'll leave this assigned to me since I still need to test the behavior on iPad.

[2015-10-10 05:46] samreid commented on #232
It looks like intercepting the ray with the intensity sensor stops the fuzziness.  This may lead to a solution.

[2015-10-10 05:48] samreid opened #257 "Prisms screen: Navbar color changes when changing the environment."
Now that we have the thin gray line, this change of color of the navbar is distracting.

[2015-10-10 05:48] #161 closed

[2015-10-12 20:16] arouinfar commented on #235
I think it looks great @samreid! I don't see the need for any changes, so I'll go ahead and close this issue. Thanks!

[2015-10-12 20:16] #235 closed

[2015-10-12 21:07] arouinfar commented on #248
@samreid, I originally left some extra padding on the left because I usually grab the laser behind the button to rotate it. The touch area could be made to be more symmetric, but it might not be necessary.

As for the laser with the knob, it would be good to expand the touch area a little bit more to the left to give users a bit more leeway.

[2015-10-13 15:25] #256 closed

[2015-10-14 15:54] samreid opened #258 "Line is dashed on Mobile Safari, solid on OS X Chrome"
While testing Bending Light this morning, I noticed that the ray view now looks like a dotted line on iPad3 (still solid line on OS X Chrome):

![image](https://cloud.githubusercontent.com/assets/679486/10489230/5ed1ce08-7259-11e5-92e6-ba81bf0fc486.png)

I am not aware of any bending light changes that would have caused this (will try to confirm shortly), so it may be a scenery issue.  Tagging @pi

[2015-10-14 15:56] samreid opened #259 "Rendering artifacts on the Light radio buttons"
While testing Bending Light today, I noticed some extra rendering artifacts on the radio buttons on the prisms screen:

![image](https://cloud.githubusercontent.com/assets/679486/10489280/aa5eba20-7259-11e5-9fbe-1ec876c46026.png)

This appears on the iPad3 but not on OS X Chrome (for a built version out of master).  I can't think of any recent bending light code changes that would have caused this

[2015-10-14 16:03] samreid commented on #248
Tested on iPad and it seemed good.  I posted a dev version for @arouinfar to review:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.34/bending-light_en.html

Please be aware of the new issues I identified this morning #259 and #258, please test the pointer areas and close if they look good.

[2015-10-14 16:07] samreid opened #260 "Protractor doesn't drag out of toolbox on iPad3"
Protractor doesn't drag out of toolbox on iPad3.  Perhaps it has mouse area but no pointer area?

[2015-10-14 16:10] samreid opened #261 "Velocity sensor doesn't return to the toolbox on reset all"

[2015-10-14 16:15] samreid commented on #249
Everything makes sense if we rename MediumState to Substance, I have done so above.  Closing.

[2015-10-14 16:15] #249 closed

[2015-10-14 16:18] samreid commented on #250
MediumNode color looks great:

[code]

I'll close for now and reopen if I discover any other issues during #251 code review 2.0.

[2015-10-14 16:18] #250 closed

[2015-10-14 16:26] samreid commented on #257
Fixed above, closing.

[2015-10-14 16:26] #257 closed

[2015-10-14 17:35] samreid commented on #261
The protractor and wave sensor don't reset either.

[2015-10-14 18:01] samreid commented on #261
Everything fixed in the above 2 commits, closing.

[2015-10-14 18:01] #261 closed

[2015-10-14 18:04] samreid commented on #258
No substantive changes have been made, but I can no longer reproduce this problem.  Closing until we see it again.

[2015-10-14 18:05] samreid commented on #259
No substantive changes have been made, but I can no longer reproduce this problem. Closing until we see it again.

[2015-10-14 18:10] samreid commented on #260
Fixed, closing.

[2015-10-14 18:10] #260 closed

[2015-10-14 20:44] samreid commented on #251
I turned on stricter eslint rules (commented out in the .eslintrc) and iterated until everything is passing.

[2015-10-14 21:00] samreid commented on #251
I looked through common for unused code or obvious issues.  Still need to do other directories.

[2015-10-15 03:03] arouinfar commented on #248
Looks great @samreid. Thanks!

[2015-10-15 03:03] #248 closed

[2015-10-15 03:10] arouinfar commented on #224
Thanks for looking into this issue @samreid. Let's keep the line at 2px, given the problems with reducing the stroke weight. Closing.

[2015-10-15 03:10] #224 closed

[2015-10-15 03:55] samreid commented on #251
PhET code-review checklist
=============

**Build and Run Checks**

- [ ] Does the sim pass lint?
- [ ] Does the sim build without errors?
- [ ] Does the sim start up? (requirejs and built versions)
- [ ] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [ ] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')
- [ ] Are there any strings t

[2015-10-16 08:59] ChandrashekarBemagoni commented on #147
​This phase issue is happening only in mac ,not on windows 7, iPad and did't check in windows 8.
this problem is due to varying vPosition (interpolated vertex) is not correctly interpolated.
This can be observed in following videos
Here directly using the value obtained vPosition

for x<388
        'if(vPosition.x<388.0){',
        'gl_FragColor = vec4(0.0,1.0,0.0,1.0);',
        '}',
        'els

[2015-10-16 13:37] samreid commented on #147
@ChandrashekarBemagoni thanks for demonstrating this problem.  In the above commit, I reduced the length of the transmitted ray.  It is still long enough to fit on the screen at extreme aspect ratios, but the webgl rendering artifact is no longer observed.  This issue is complete, thanks for your discovery!

[2015-10-16 13:37] #147 closed

[2015-10-16 13:48] samreid opened #262 "stringTest=double fails in wavelength text box"
![image](https://cloud.githubusercontent.com/assets/679486/10543176/26501b48-73da-11e5-8f36-0fb2120617c8.png)

[2015-10-16 13:48] samreid commented on #262
It could have performance impacts to resize things based on the text of this box while dragging.  @arouinfar @ariel-phet how do you want to proceed here?

[2015-10-16 13:49] samreid commented on #262
Identified in #251

[2015-10-16 13:51] samreid opened #263 "stringTest=long has some issues"
Here's a pic of screenTest=long:

![image](https://cloud.githubusercontent.com/assets/679486/10543252/977e051e-73da-11e5-8b1c-be21dcdb0f18.png)

@arouinfar and @ariel-phet I'm not sure how much time to spend on this.  stringTest=double is a much better indication of practical cases.  Do you want to address any of the issues in the screenshot above?

[2015-10-16 13:51] samreid commented on #263
Discovered during #251

[2015-10-16 13:53] samreid opened #264 "Some text boxes are a bit short with short string test"
Discovered in #251:

![image](https://cloud.githubusercontent.com/assets/679486/10543346/0627385a-73db-11e5-9038-94c9b9dbdf25.png)

@arouinfar and @ariel-phet do you want to spend time on this?

[2015-10-16 15:19] samreid commented on #142
@arouinfar any other visual changes before we can generate the screenshot?

[2015-10-16 16:12] samreid opened #265 "Migrate FloatingLayout to common code?"
I've used FloatingLayout to move the controls to the edge of the screen when it resizes.  In #171 and #235 @arouinfar and @samreid concluded that it works nicely.  It would be good to have other designers such as @ariel-phet take a look.  If we decide this is generally desirable, the functionality should be (a) reviewed/discussed with developers such as @pixelzoom @jonathanolson @jbphet @jessegree

[2015-10-16 16:40] ariel-phet commented on #262
@samreid - not convinced this text should be translatable? It is a number and a unit...do we normally allow translation of units?

[2015-10-16 16:54] samreid commented on #262
I do not recall if we generally translate units.  In Java, it looks like nm is almost always nm (not sure if that is as desired or an oversight).  An exception I saw was for Arabic, where nm was translated as نانومتر

[2015-10-16 16:56] ariel-phet commented on #262
@samreid can you look at the wavelength slider in Beer's law lab...is the nm translatable there?

[2015-10-16 16:57] samreid commented on #262
Yes, those units all seem translateable:

[code]

I think the main question is whether we expect the translated string to get longer than a couple of characters.

[2015-10-16 16:59] ariel-phet commented on #262
We do not...it should be an abbreviation. Let's not worry about rescaling text, and leave it to the translator to make the call. They will see if it is too long of a string, and I think most will leave it in english.

[2015-10-16 17:03] arouinfar commented on #262
I agree with @ariel-phet that this is something we could leave to the translators. The Arabic translation of nm (نانومتر) literally spells out nanometer in the Arabic alphabet. There is most likely a suitable abbreviation that the translator could use in its place.

[2015-10-16 17:04] samreid commented on #262
OK thanks for your consultation.  I'll close this one.

[2015-10-16 17:04] #262 closed

[2015-10-19 16:52] samreid commented on #258
The problem is back on my iPad3.  iOS 9.0.2

[2015-10-19 16:53] samreid commented on #258
@jonathanolson can you help me figure out this one?

[2015-10-19 16:54] samreid commented on #259
This problem is back on my iPad3/iOS 9.0.2

[2015-10-19 16:55] samreid commented on #259
@jonathanolson can you help me look into this at your convenience?

[2015-10-19 16:57] samreid commented on #259
Voila, problem is gone again.  So flaky. :snowflake:

[2015-10-19 16:57] samreid commented on #259
But this problem and #258 seem to co-occur.

[2015-10-19 17:00] samreid commented on #258
Problem is gone again, seems to co-occur with #259.

[2015-10-19 17:02] samreid opened #266 "Toolbox icons should have larger, rectangular touch areas"
There are gaps and holes in the current icons that lead to problems on touch.  Discovered in #251

[2015-10-19 17:04] samreid commented on #258
Noticed again during #251

[2015-10-19 17:04] samreid commented on #259
Noticed again during #251

[2015-10-19 17:07] samreid opened #267 "Monochromatic light combines incorrectly on iPad3"
Discovered during #251:

![image](https://cloud.githubusercontent.com/assets/679486/10584808/4db02402-7651-11e5-8817-f220b1730662.png)

This problem occurs on iPad3/iOS9.0.2 but not OS X Chrome or OS X Firefox.

[2015-10-19 17:21] #267 closed

[2015-10-19 17:45] samreid commented on #258
@jonathanolson & I were able to reproduce this problem on OS X safari using
http://localhost:8080/bending-light/build/bending-light_en.html?ea&webgl=false&rootRenderer=canvas

It seems like some dashes are leaking from another canvas over to this one.  Setting setLineDash([]) seems to make the problem go away.  But we are concerned that some other canvas should be doing save/restore.  @samreid wil

[2015-10-19 17:55] ariel-phet commented on #265
@samreid yes, I think we should definitely migrate to common code. This feature request has come up in multiple sims, and I am sure it will come up again to maximize play area (CCK:B is an obvious next example where I foresee this request).

[2015-10-19 17:55] ariel-phet commented on #265
@samreid perhaps make a dev meeting topic when @pixelzoom and @jessegreenberg returns?

[2015-10-19 21:28] samreid commented on #259
@jonathanolson & I identified that running uglify with 'none' solves the problem, with 'uglify2' we have the problem.

[2015-10-19 21:34] samreid commented on #259
Here's a gist of the popup debug html:

https://gist.github.com/samreid/950c9ec1a33255f7af0d

[2015-10-19 21:43] jonathanolson commented on #259
It's very weird, I'm curious about seeing the same debug output if uglify isn't run. I'm curious if it's switching to Canvas as a default (somehow?!?) as a result of the uglification, even without mangling.

Let me know if you're able to get popupDebug() output running without uglification on iOS.

[2015-10-19 22:49] jonathanolson commented on #259
To reiterate, I'm not sure why it's displaying with Canvas as the seeming default. The only code I see that would switch things to Canvas is the Edge-browser detection, and that isn't happening (popupDebug output shows that there is no renderer override that would be set).

I'll look into tethering when on campus tomorrow to further investigate what's happening.

[2015-10-19 23:14] ariel-phet commented on #263
@samreid remember stringTest=long does not need to be passed for publication, it just is there to reveal if anything whacky is going on. There are two issues that I see that would at least be worth understanding. Notice the the labels on tools like "Speed" and "Intensity" completely go away. That seems a little odd, but stringTest=double seems to work everywhere.

[2015-10-19 23:15] ariel-phet commented on #263
To be clear, I do not think the labels going away necessarily needs to be addressed, but I am curious why the fonts don't seem to continue to scale down over a certain character length and just start to layout in odd ways on the tool labels.

[2015-10-20 20:19] samreid commented on #264
Looking back at this, I'm not sure what the problem is.  I'll close it.

[2015-10-20 20:19] #264 closed

[2015-10-20 20:50] samreid commented on #258
Fixed this issue with a workaround to set the stroke dash to [].

[2015-10-20 20:50] #258 closed

[2015-10-20 21:05] samreid commented on #259
Running with ?screens=2 the problem disappears.

[2015-10-20 21:12] samreid commented on #259
Running with ?screens=1.2 the problem reoccurs.

[2015-10-20 21:22] samreid commented on #259
Leaving ?screens=1.2 and commenting out all of the other addChild calls in PrismsView, the problem goes away.

[2015-10-20 21:26] samreid commented on #259
Adding in addChild calls one at a time, the problem reappears after adding in the WhiteLightCanvasNode.js

[2015-10-20 21:33] samreid commented on #259
Commenting out the WhiteLightCanvasNode constructor body except for super call, and commenting out the paint method, the problem still occurs.

[2015-10-20 21:46] samreid commented on #253
Switching to mipmap! works ok on desktop, but on iPad3 I'm getting a blank screen display.  Homescreen is OK, screen screen is not.

[2015-10-20 21:49] samreid commented on #232
I think the other webgl geometry fix has fixed this too.  Here is latest firefox snapshot:

![image](https://cloud.githubusercontent.com/assets/679486/10622084/314801c6-7742-11e5-821a-49201d4618b6.png)

[2015-10-20 21:50] samreid commented on #232
Oops, that pic was webgl.  Here is webgl=false on firefox:

![image](https://cloud.githubusercontent.com/assets/679486/10622091/4aa7654e-7742-11e5-8dd8-c81d965acb68.png)

Still good, closing.

[2015-10-20 21:50] #232 closed

[2015-10-20 22:07] samreid commented on #240
This wave is now looking great on iPad3 with or without webgl.  Here is the webgl=false case:

![image](https://cloud.githubusercontent.com/assets/679486/10622401/8edfd2ee-7744-11e5-8b8f-741079512c48.png)

I suspect but am not sure that the geometry changes used to fix the phase problem at the interface also fixed this problem.  In any case, I'm inclined to close the issue, but @arouinfar or other

[2015-10-20 22:07] #240 closed

[2015-10-20 22:10] samreid commented on #6
This sim has come a long way since this issue was created.  The prisms screen is computationally and graphically demanding and we will have to decide what is acceptable.  It has recently been approved for iPad2, still a bit sluggish on Firefox.  I'm going to close this issue and if it seems too slow during dev testing or RC testing we can reopen.

[2015-10-20 22:10] #6 closed

[2015-10-20 22:10] samreid commented on #59
Since I can no longer reproduce the problem, it is probably solved.  Closing.

[2015-10-20 22:10] #59 closed

[2015-10-21 18:14] samreid commented on #259
I no longer see this problem.  It may have been fixed by https://github.com/phetsims/scenery/issues/478 . Closing (until it happens again (!))

[2015-10-22 02:11] samreid commented on #251
Everything is crossed off or moved to another issue, closing.

[2015-10-22 02:11] #251 closed

[2015-10-22 03:53] samreid opened #268 "Bending Light Code Review 3.0"
A brief history on the code review of this sim:

1. The initial port was completed by Actual Concepts and reviewed by @samreid in #44.  This code review resulted in many significant changes
2. After that review, numerous large changes were made to the simulation, including but not limited to layout, monochromatic light rendering and white light rendering, as well as how modules are structured and

[2015-10-22 15:48] arouinfar commented on #142
The only outstanding issue before the screenshot can be generated is #104 (navbar/homescreen icons). I will send @samreid the updated icons this morning.

[2015-10-22 16:08] arouinfar commented on #216
@samreid I think the new color mapping for white light looks great. I was interviewing on Capacitor Lab: Basics last week and I had a little time to have students take a look at Bending Light as well. They didn't have much time to play with the sim, but from my observations the new color mapping did not cause any problems with interpretation. Neither student noticed the transparency of the prisms,

[2015-10-22 18:22] samreid commented on #265
We decided to move this to common code, @jonathanolson and @samreid will look into it.

[2015-10-22 19:14] arouinfar commented on #253
@samreid The laser looks great on the iPad3. I don't know what you mean by

I'm not noticing any issues in the latest pull.

[2015-10-22 19:29] arouinfar commented on #253
The laser still looks a bit aliased on the iPad2, but does look somewhat better. From the latest pull:
![image](https://cloud.githubusercontent.com/assets/8419308/10676018/8688e4d2-78c0-11e5-9a1f-5ffdb230ae18.png)
![image 2](https://cloud.githubusercontent.com/assets/8419308/10676017/868889ba-78c0-11e5-8713-33c40106071b.png)
I think this might be as good as it will get for the iPad2. I'm fine with

[2015-10-22 20:09] samreid commented on #265
@jonathanolson suggests something like:

[code]

BoxLayout can keep track of state, like the height of other things that were added.

We could also try to use this to do the layout of the entire sim.  Could also make this deal with relayout of the sim when string lengths change (if we want to support this in rosetta in the future).

@jonathanolson says it would be good to develop this without requ

[2015-10-22 23:47] arouinfar commented on #104
I've emailed the updated icon assets to @samreid

![image](https://cloud.githubusercontent.com/assets/8419308/10681264/9b719ea6-78e4-11e5-9db1-d8fcfc63ab08.png)
![image](https://cloud.githubusercontent.com/assets/8419308/10681283/cf8c9452-78e4-11e5-8020-21f5470881b8.png)
![image](https://cloud.githubusercontent.com/assets/8419308/10681275/b3c0f696-78e4-11e5-90cf-a6be1cbe2b59.png)
![image](https://

[2015-10-22 23:49] arouinfar commented on #104
@samreid I've tested these icons at navbar resolution, and they still look reasonable.

[2015-10-23 01:01] ariel-phet commented on #268
@samreid - my temptation would be to give this code review to @jessegreenberg especially since he has been interested in WebGl...this might give him more exposure to the types of patterns we have been using with that as a renderer. Any thoughts?

[2015-10-23 06:16] samreid commented on #216
Getting rid of the transparency will be difficult.  For the white light mode, the light rays and black background must be drawn on a single canvas.  The prisms are currently rendered in SVG, in front of this canvas.  If they were made opaque, then no light would shine through them and it would look like this:

![image](https://cloud.githubusercontent.com/assets/679486/10685714/5b2ce266-791a-11e5-8

[2015-10-23 06:20] samreid commented on #253
I didn't push my investigative changes with mipmapping the laser since it was preventing the sim from rendering in some cases, for unknown reasons.

I don't know if mipmapping will help that image at all on iPad2, perhaps we can close the issue for now and re-evaluate if we get complaints.

[2015-10-23 06:20] #253 closed

[2015-10-23 06:25] samreid commented on #104
@arouinfar these are looking good, but I recalled one issue.  I thought @kathy-phet mentioned that she wanted to keep the rainbow off of the icons/buttons/controls so that it can be something the students discover on their own, and I thought there was general agreement around that idea.  (I may be mistaken or we may have changed our minds though).

[2015-10-23 06:32] samreid commented on #268
@jessegreenberg would be a great reviewer for what is needed here, but WebGL is only a tiny part of the  complete implementation (only 1 of the 64 files deals with WebGL).

To learn more about how we have been using WebGL it would be more instructive to look through a broader range of simulations, searching for WebGLNode.call for subclasses.  And I highly recommend the red Professional WebGL Progr

[2015-10-23 15:40] arouinfar commented on #104
Thanks @samreid. You are correct in remembering @kathy-phet's concerns. However, @ariel-phet and I agreed that the prism image is ubiquitous. It is unlikely that students will first discover that prisms disperse white light in this sim (though it may certainly be their first experience exploring the phenomena). The fact that dispersion occurs is also a secondary learning goal -- the primary goal b

[2015-10-23 15:44] arouinfar commented on #216
Thanks for the explanation @samreid. I hadn't realized the potential complications. Increasing the opacity to 0.5 seems like a good compromise, and I think it will help make the perceived color change of the prism less dramatic. It looks much better in your screenshots.

Reassigning to @samreid to increase the alpha value to 0.5.

[2015-10-23 16:24] kathy-phet commented on #104
Just to confirm, we discussed my concern and did conclude with using the rainbow.

Sent from my iPhone

On Oct 23, 2015, at 8:40 AM, Amy Rouinfar <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks @samreid<https://github.com/samreid>. You are correct in remembering @kathy-phet<https://github.com/kathy-phet>'s concerns. However, @ariel-phet<https://github.com/ariel-phet> and

[2015-10-23 16:25] samreid commented on #104
Sounds great, thanks.  I'll incorporate the icons this morning.

[2015-10-23 16:39] samreid commented on #104
I started integrating the first icon, and it looks good on the home screen, but in context on the sim screen, it seems like the laser and light are too small.  @arouinfar what do you think about making the laser bigger and the stroke thicker so this will show up better in the navbar?

![image](https://cloud.githubusercontent.com/assets/679486/10699156/0f5dbc90-7972-11e5-8133-ca4e3806abd8.png)

[2015-10-23 16:59] arouinfar commented on #104
@samreid, I agree it's a bit small in the navbar, so I'd be fine with those changes. Do you want me to update the .ai files, or were you planning on handling it?

[2015-10-23 17:08] samreid commented on #104
Can you take care of this?  Also, I went with the white prisms icon because the black one looked too out-of-place on the homescreen even with the white border, and the prism icon light also looks a little thin (on MacBook Air with full-sized (not full-screen) window, with bookmarks, address bar, etc.):

![image](https://cloud.githubusercontent.com/assets/679486/10699712/1a646c0c-7976-11e5-948a-c3f

[2015-10-23 17:38] samreid commented on #216
I increased the prism alpha to 0.5 in the above commit.  Closing since I don't see any other items in this issue (but @arouinfar please reopen if I've forgotten something.)

[2015-10-23 17:38] #216 closed

[2015-10-23 17:54] samreid commented on #263
Are you referring to the intensity meter?  If so, it looks like the percentage readout is internationalized like so:

[code]
So that translators can choose where the % sign is (RTL/LTR) or whether it is a different symbol.  But this text is not scaled down since we didn't foresee the % sign or its replacement getting longer.  @ariel-phet close if this answers your question or reassign to me if you

[2015-10-23 18:03] samreid commented on #265
I recommend sticking with what we have here in Bending Light for now and once https://github.com/phetsims/dot/issues/44 is solved, we can port this or other sims to use its new paradigm.  Closing.

[2015-10-23 18:04] samreid commented on #268
@jessegreenberg the code is ready for review, please see my specific questions in the issue description above (this is just a subset of the entire code review checklist).

[2015-10-23 18:05] samreid commented on #219
I was seeing similar issues for monochromatic light on @jbphet machine yesterday.  @jbphet are you available to help look into this?  It is one of the only known blocking issues to Bending Light publication.

[2015-10-23 18:07] samreid commented on #266
Probably should expand these regions for mouse too (just for the icons).

[2015-10-23 19:57] samreid commented on #219
Thanks to @jbphet we were able to identify the problem and a potential solution, and luckily the problem is easily reproducible on @jbphet's Lenovo machine.  The problem is that Chrome introduces rendering artifacts when the geometry is too large, and we saw that some pixels were attempted to be drawn outside of (10000000,10000000) or so.  We also saw a rendering artifact issue like this for the w

[2015-10-23 19:58] samreid commented on #219
@kathy-phet please keep your current graphics drivers so that you will be able to test this solution as well.

[2015-10-23 20:02] samreid commented on #219
@jbphet tested this on his machine and it looks perfect.  It seems likely to fix it for @kathy-phet machine too, I'll close the issue and if anyone sees this symptom again, please reopen the issue.

[2015-10-23 20:02] #219 closed

[2015-10-23 20:33] samreid opened #269 "Sim won't load in requirejs mode on iPad3"
For a week or more, the sim has just timed out when trying to load on iPad3 from requirejs mode.  Not critical to fix before publication, but would be good to understand why at some point.

[2015-10-23 20:36] samreid commented on #266
Looks great on iPad3, closing.

[2015-10-23 20:36] #266 closed

[2015-10-23 20:37] samreid commented on #259
I'm still seeing this on a fresh build on the iPad3, @jonathanolson can you help at your convenience?

[2015-10-23 21:02] jessegreenberg commented on #268
@ariel-phet and @samreid, I am on it!  Happy to do this code review and address the checklist in the issue description.

@samreid, I am aware of the red Professional WebGL Programming book, but I have yet to get my hands on it.  Thanks for the recommendation.

Agreed, this would be a great place for me to start learning WebGL in the context of PhET sims.

[2015-10-23 21:05] arouinfar commented on #104
I've made the following changes to the icons and have emailed the updated assets to @samreid.
* Increased stroke weight of rays (Intro & Prisms)
* Increased laser size (all screens)

[2015-10-23 21:06] samreid commented on #259
I manually cropped the laser image.  This issue is no longer blocking for publication, but still would be good to understand what is happening here.

[2015-10-24 03:46] jonathanolson opened #270 "Build failure"
[code]

[2015-10-24 06:15] jonathanolson commented on #259
Presumably should be fixed with the mentioned commit (tested on my device). @samreid, can you try reproducing on your iPad?

[2015-10-24 13:11] pixelzoom commented on #265
Might AnchoredLayout be a better name for this? Since it's anchored to the edge of screen...

[2015-10-24 21:44] samreid commented on #104
I noted the submitted PNGs were not cropped properly and requested @arouinfar to re-send.

![image](https://cloud.githubusercontent.com/assets/679486/10712918/13654340-7a66-11e5-863c-bb0e37f440ac.png)

[2015-10-24 21:56] samreid commented on #259
I reverted the cropping above and removed the workaround. Rebuilding on iPad and testing with a fresh Safari, I no longer see any problems here.  Nice work @jonathanolson, thanks!

[2015-10-24 21:56] #259 closed

[2015-10-26 03:26] arouinfar commented on #104
Oops! I re-exported the PNGs and emailed them to @samreid.

[2015-10-26 15:42] samreid commented on #270
Fixed, closing.

[2015-10-26 15:42] #270 closed

[2015-10-26 15:45] samreid commented on #265
While the recommendation for dot seems much more general, the version in bending light could be renamed to "Anchored".  I'll reopen to work on that renaming.

[2015-10-26 16:15] samreid commented on #104
I updated the icons in the above commit, they are looking nicer.

I would recommend to take this even further--the prisms navbar icon still looks too thin and the color spread is too close together even when I am at full screen.

![image](https://cloud.githubusercontent.com/assets/679486/10734447/eba3f040-7bc8-11e5-88d9-a3fa74081fc6.png)

Here's a blown-up version so you can see more closely what

[2015-10-26 16:32] arouinfar commented on #104
I've emailed updated assets for the Prisms Screen to @samreid. I like the way the Prisms icon currently looks on the home screen, so let's just use these latest assets for the navbar.

[2015-10-26 17:40] arouinfar commented on #104
@samreid requested that stroke weight on the Prisms icon be taken up a bit more, so I emailed him the updated assets.

[2015-10-26 17:54] samreid commented on #104
Looks better, thanks!  Closing.

[2015-10-26 17:54] #104 closed

[2015-10-26 18:47] samreid commented on #50
@arouinfar can you work on this checklist?

[2015-10-26 18:49] samreid commented on #265
Before changing the name from Floating to Anchored, I wanted to verify that @pixelzoom was aware of the floating nature of the rule.  If the controls get too far from the play area, they float a certain distance away.  Perhaps you might say they are "anchored" a certain flexible distance away?  Not sure what is best here.

[2015-10-26 21:04] arouinfar commented on #142
@samreid now that the home screen icons have been taken care of, I can generate the screenshot. Can you publish a new dev version so I can take care of this? It looks like sims on phettest have "adapted by PhET" in the navbar.

[2015-10-26 21:13] samreid commented on #142
I'm not too familiar with phettest, but if it is running a non-build version, then you can probably add `?brand=phet` to get the PhET brand.  Do you have an iPad3 or equivalent resolution for generating the screenshot?  Also, if the brand doesn't get fixed above let me know and I'll publish.

[2015-10-26 21:15] arouinfar commented on #142
Thanks, Sam! It looks like ?brand=PhET works on phettest, so I'll be sending you a screenshot soon.

[2015-10-26 21:31] arouinfar commented on #142
Screenshot has been sent to @samreid.

[2015-10-26 22:23] #142 closed

[2015-10-26 22:24] samreid opened #271 "Developer testing on several devices"
After the code review #268 is complete, @samreid wants to test on several devices before broader dev or RC testing.

[2015-10-26 22:25] samreid commented on #271
This could actually be done before #268 is complete, assigning now.

[2015-10-27 04:26] ariel-phet commented on #263
@samreid I am referring to the label "intensity" on the intensity meter

notice how the label starts to get uncentered with a longer string and such.

![intensity meter](https://cloud.githubusercontent.com/assets/4051174/10749494/81c2ebd2-7c30-11e5-8afd-445c2add12ff.PNG)

[2015-10-27 15:07] samreid commented on #263
Nice catch, there was some odd layout code there.  I've got it fixed to be centered and now it looks like so:
![image](https://cloud.githubusercontent.com/assets/679486/10762090/1d91e762-7c8a-11e5-82c2-f41632a2bd75.png)

Will commit shortly.

[2015-10-27 15:07] #263 closed

[2015-10-27 15:10] samreid commented on #80
@arouinfar can this be closed?

[2015-10-27 15:43] arouinfar commented on #80
@samreid, this issue needs to remain open until I've written the teacher tips. I will close it once I've documented this behavior in the Model Simplifications.

[2015-10-27 16:53] pixelzoom commented on #265
@samreid wrote above:

I don't understand this statement. Can you provide a screenshot to help me understand? Running with 'dev' query parameter, and looking at the "Intro" screen, I see the 2 control panels anchored to the right edge (minus a margin) of the browser window. As I resize the browser window, the panels remain so anchored.

[2015-10-27 16:58] samreid commented on #265
Did you resize it to be this extreme of an aspect ratio?

![image](https://cloud.githubusercontent.com/assets/679486/10765713/b4484034-7c99-11e5-8426-1b4e06a36e47.png)

[2015-10-27 17:05] pixelzoom commented on #265
No I didn't.  And I doubt than anyone will :)

[2015-10-27 17:10] samreid commented on #265
Perhaps only on the iPhone 5:

![image](https://cloud.githubusercontent.com/assets/679486/10766056/440dcd28-7c9b-11e5-8132-6dd99a5b2fcb.png)

Should we rename or close?

[2015-10-27 17:59] pixelzoom commented on #265
FloatingLayout still seems vague to me. Perhaps you should get other opinions.

[2015-10-27 18:09] samreid commented on #265
@aaronsamuel137 @jonathanolson @jbphet @jessegreenberg any preferences here?

[2015-10-27 18:27] jonathanolson commented on #265
No strong preferences. "anchored" makes me think it wouldn't be constrained by extreme aspect ratios, and "floating" seems overloaded with CSS float layouts.

[2015-10-27 18:29] samreid commented on #265
SomewhatConstrainedEdgeLayout.js

[2015-10-28 20:29] samreid commented on #265
Perhaps @jessegreenberg can help decide a good name here while he is participating in the code review for issue #268

[2015-10-28 20:57] samreid commented on #269
@jessegreenberg as you are working on the review in #268 can you test requirejs loading on an iPad (if you have one) and report if it works or not?

[2015-10-28 21:07] samreid opened #272 "Something wrong with color mapping in more tools"
From #271
Something seems wrong with the color mapping in more tools:

![image](https://cloud.githubusercontent.com/assets/679486/10802992/884d7d4a-7d85-11e5-9019-df04f22a04a8.png)

[2015-10-28 21:12] jessegreenberg commented on #269
Sure thing.  I have an iPad2, but I test with PhET's iPad3 for testing (I think its called diSessa).

[2015-10-28 21:21] samreid commented on #271
Tested Chrome OS X, no problems noted other than #272

[2015-10-28 23:06] jessegreenberg opened #273 "RotationDragHandle flickers in chrome"
Noticed during #268, the RotationDragHandle arrows can sometimes flicker while the laser is being dragged.  I noticed this behavior in the 'More Tools' and 'Intro ' screens.  I observed this while running the sim with requirejs in Windows 7 Chrome 46.0.

![untitled screencast](https://cloud.githubusercontent.com/assets/6396244/10805763/e8d77da4-7d95-11e5-9097-5bc5fc90001b.gif)

Please excuse my ja

[2015-10-29 00:43] jessegreenberg opened #274 "Clarify dissalowed WebGL comment"
Part of #268.   In BendingLightModel, the following line and comment exists:

[code]
The code is clear, but the additional comment above this line is hard to understand.  @samreid could you please clarify this documentation?

[2015-10-29 00:49] jessegreenberg opened #275 "Strange static object in IntensityMeter"
In IntensityMeter, there is the following static object:

[code]
Reading points to the Reading object loaded in modules.  This seems like a strange pattern to me.  The Reading object could be loaded into others with require instead of through the IntensityMeter static.  If this is a necessary static, could some documentation added to describe why?

[2015-10-29 00:50] jessegreenberg commented on #275
Search through code reveals zero cases of IntensityMeter.Reading.  Can this public static be deleted?

[2015-10-29 00:59] jessegreenberg opened #276 "Clamp function in MediumColorFactory already defined in Util"
Found as part of #268 consideration.  The ```clamp``` function at the top of MediumColorFactory is already defined in Dot.Util.  Is there a reason why the function in Dot.Util cannot or should not be used in this file?

[2015-10-29 01:02] jessegreenberg opened #277 "'miss' should be 'missString' in Reading.js"
This was the only string in sim files that did not follow PhET string naming conventions. ```miss``` should be named ```missString``` in Reading.js.

[2015-10-29 01:06] jessegreenberg opened #278 "Should public variables in Substance.js be @public (read-only)?"
In Substance, the documentation at the top of the file states claims that the state for the medium is immutable.  This suggests that the properties of Substance should not be changed with the API.

Should the properties of Substance be identified with ```@public (read-only)``` instead of ```@public```?

[2015-10-29 01:12] jessegreenberg opened #279 "Open TODO's documented in sim code"
There are three remaining TODO's that are documented in Sim code. @samreid sorry if you are already aware of these TODO's, but I thought I would point them out as part of code review #268.

They exist in:
 - WavelengthControl (line 118 // TODO: Extend Node)
 - IntroView (line 84 // TODO: This should be different for wave mode)
 - VelocitySensorNode(line 103 // TODO: use scenery maxWidth?)

[2015-10-29 01:19] jessegreenberg commented on #277
```c_units``` in VelocitySensorNode should also be ```cUnitsString``` to match PhET conventions.  I find the underscore a little bit unconventional.

[2015-10-29 16:22] samreid commented on #274
That comment was very confusing and unnecessary, I removed it in the above commit.

[2015-10-29 16:24] samreid commented on #275
Thanks @jessegreenberg, that does indeed appear unused.  I removed it above.

[2015-10-29 16:28] samreid commented on #276
In the above commit, I used the dot.Util.clamp implementation, but kept the 0..255 range factored out in a private closure function `clamp` in MediumColorFactory.

[2015-10-29 16:51] jessegreenberg opened #280 "Incorrect type union in JSDoc"
In a couple of places in the sim, I notice that params documented in the JSDoc with multiple types look like this:
[code]
I think the correct style for type union in JSDoc should be
[code]
using the | character.
I could not find an example of this in the PhET developer overview, but that style is suggested here:
http://usejsdoc.org/tags-type.html

[2015-10-29 16:52] jessegreenberg commented on #274
Sounds good, and looks good too. Thanks! Closing.

[2015-10-29 16:52] #274 closed

[2015-10-29 16:59] jessegreenberg commented on #276
Ah, that makes sense.  I now see that it was being used to refactor the values in clamp to isolate numbers.  Looks good @samreid, closing.

[2015-10-29 16:59] #276 closed

[2015-10-29 23:47] jessegreenberg commented on #275
Thanks @samreid, looks good.  Closing.

[2015-10-29 23:47] #275 closed

[2015-10-30 00:07] jessegreenberg commented on #265
To be honest, my vote is for FloatingLayout.  My perspective of the feature is that it 'floats' the panels and reset button away from the center of the screen view when the layout bounds change.  I would not have considered the panels 'anchored' to the bounds unless I thought about the code.  Indeed, the position of the view objects 'float' relative to other view elements in the screen view.

If '

[2015-10-30 00:12] jessegreenberg commented on #268
I am going to take a look at #269 tomorrow, but I consider this code review complete.  Reassigning to @samreid to close this issue unless he thinks there is anything left to discuss or review for this issue.

[2015-10-30 15:38] jonathanolson commented on #269
On my setup (iPad3, loading from Apache over wifi to ethernet), it loads in 11 seconds, and after the first 6 seconds it shows the sim title with version.

What web servers / connectivity do you have?

[2015-10-30 15:39] samreid commented on #265
Based on the above remarks let's stick with FloatingLayout for the BendingLight implementation.  Note that the generalized version in https://github.com/phetsims/dot/issues/44 will probably have a much better name!

[2015-10-30 15:39] #265 closed

[2015-10-30 15:47] samreid commented on #269
I'm using node http-server on wifi.  The logs show that it initially loads quickly and consistently then after 5-10 seconds gets stuck (stuck after a different file each time, no discernable pattern about whether they are png or js).

[2015-10-30 16:15] samreid commented on #269
Apache seems like it solves this problem.  Therefore we can tentatively conclude this was a problem with http-server.  I'll continue with Apache and close this issue.

[2015-10-30 16:15] #269 closed

[2015-10-30 16:23] samreid commented on #268
@jessegreenberg thanks for your time and suggestions, I'll close this issue and continue in the new issues mentioned above.

[2015-10-30 16:23] #268 closed

[2015-10-30 17:24] samreid commented on #277
Fixed above, @jessegreenberg can you please double check the changes?

[2015-10-30 17:37] samreid commented on #278
Fixed above, @jessegreenberg feel free to review if you wish.

[2015-10-30 17:46] samreid commented on #279
Fixed, thanks for finding this issue @jessegreenberg.  Can you take a look and make sure everything is OK?

[2015-10-30 17:51] samreid commented on #280
Fixed above, @jessegreenberg please double check if you wish.

[2015-10-30 18:27] samreid commented on #273
Proposed fix above, @jessegreenberg can you test it out?

[2015-10-30 18:47] samreid commented on #272
The problem is that the lightTypeProperty is static across screens--it needs to be different for different screens (or passed as an argument).

[2015-10-30 20:46] jessegreenberg commented on #273
Verified that the fix above resolves the issue.  Thanks @samreid, closing.

[2015-10-30 20:46] #273 closed

[2015-10-30 20:54] jessegreenberg commented on #277
In the commit above, I notice that wavelengthPattern and velocityPattern restricts translation of the units 'nm' and 'c'.

@samReid was this an intentional restriction? These units are no longer translatable, and do not allow for RTL order in i18n.

[2015-10-30 21:00] jessegreenberg commented on #278
Looks great @samreid.  Closing.

[2015-10-30 21:00] #278 closed

[2015-10-30 21:01] jessegreenberg commented on #280
JSDoc is looking nice and tidy.  Closing.

[2015-10-30 21:01] #280 closed

[2015-10-30 21:04] jessegreenberg commented on #279
Everything looks good and no more TODO's.  Closing.

[2015-10-30 21:04] #279 closed

[2015-10-30 22:12] samreid commented on #277
The new strings are:

[code]

The translator can still specify the units and ordering in the translation (though in a different/simpler way than before).  For instance, in another language I could put 'nms {0}' for the wavelength pattern.

[2015-10-30 22:12] samreid commented on #277
I also renamed waveLength to wavelength above.  Reassigning to @jessegreenberg for discussion.

[2015-11-02 16:27] #272 closed

[2015-11-02 16:43] jessegreenberg commented on #277
@samreid, thank you for discussing this, I misunderstood the way that translatable string patterns worked for i18n.  My understanding of translatable ordering was like the following:
[code]
So that the order could be specified by the bracketed numbers like ```"value": "{1} {0}"``` .  It makes total sense now that
[code]
works just as well (if not better) since the units provide the translator with

[2015-11-02 16:45] samreid commented on #277
Thanks @jessegreenberg.  I think the only good time to use a pattern like {0} {1} is when it is essential that the string appearing in {0} or {1} must also identically match another string appearing elsewhere in the sim.  This sort of "factors it out".  I'll close this one.

[2015-11-02 16:45] #277 closed

[2015-11-02 16:50] samreid opened #281 "Protractor icon looks bad on firefox"
![image](https://cloud.githubusercontent.com/assets/679486/10888015/1baf004e-8147-11e5-9ad7-dbd77274a36c.png)

Discovered in #271

[2015-11-02 16:53] samreid opened #282 "Light truncated when putting away intensity sensor by body"
From #271

Putting away the intensity sensor by dragging the body (not the probe), leaves this artifact:

![image](https://cloud.githubusercontent.com/assets/679486/10888098/7c811c72-8147-11e5-911f-1550f1c0538c.png)

[2015-11-02 16:57] samreid commented on #271
OS X Firefox looks good other than the 2 issues identified above.

[2015-11-02 16:58] samreid commented on #281
It is already mipmapped.

[2015-11-02 17:04] samreid commented on #281
Reducing the initial image size by 50% didn't seem to help too much:

![image](https://cloud.githubusercontent.com/assets/679486/10888367/0427f280-8149-11e5-97b7-1a3e0ab76e06.png)

[2015-11-02 17:06] samreid commented on #281
Also note the jaggedness is sensitive to the window dimension.  Not sure what else we could do here other than generating a specific icon for the toolbox at a more appropriate size.  It still may be mangled a little bit and the code would be slightly more complex, but perhaps worth trying.

[2015-11-02 17:25] samreid commented on #281
Using photoshop to bicubic downscale the image to 24% so scale can be set at 1 in the app, it looks good (smooth) in firefox:

![image](https://cloud.githubusercontent.com/assets/679486/10888721/12c21670-814b-11e5-957b-2b3f25b1d412.png)

But now it is horrible on retina iPad (compare to vector probe):

![image](https://cloud.githubusercontent.com/assets/679486/10888754/3db11a02-814b-11e5-9926-8801

[2015-11-02 17:32] samreid commented on #271
No other problems noted on os x safari.

[2015-11-02 18:49] samreid commented on #271
No other problems noted on iPad3

[2015-11-02 18:51] samreid opened #283 "Protractor no longer rotates on the prisms screen"
After changing protractor image size, it no longer rotates on the prisms screen.  Discovered during #271

[2015-11-02 18:58] #282 closed

[2015-11-02 19:02] samreid commented on #283
This works perfectly with mouse, but not on iPad.  So the problem may be isolated to the touch region.

[2015-11-02 21:15] samreid opened #284 "Protractor can get lost behind control panels on the 2nd screen."
It should pop out to the side.

[2015-11-02 21:20] samreid commented on #283
Fixed above, closing.

[2015-11-02 21:20] #283 closed

[2015-11-02 21:34] samreid commented on #284
Fixed above, closing.

[2015-11-02 21:35] #284 closed

[2015-11-02 21:42] samreid opened #285 "Wavelength doesn't reset on screens 2-3"
Discovered during #271

[2015-11-02 21:57] samreid commented on #285
Fixed, closing.

[2015-11-02 21:57] #285 closed

[2015-11-02 21:57] samreid commented on #271
No new problems noted on IE11.

[2015-11-02 22:01] samreid commented on #271
No new problems noted on Win8/FF.

[2015-11-02 22:03] samreid commented on #271
No new problems noted on Win8/Chrome.

[2015-11-02 22:04] samreid commented on #271
No new problems noted on iframe test on OSX/Chrome.

[2015-11-02 22:06] samreid commented on #271
Finished developer testing, and fixed the issues I discovered.  #281 is awaiting feedback.  I'll close this one and publish something for dev testing.

[2015-11-02 22:06] #271 closed

[2015-11-02 22:09] samreid opened #286 "Design team testing"
@ariel-phet and @arouinfar, after finishing #271 I'm ready for the design team to take a close look at the simulation before we turn it over to the QA team for dev testing or RC testing.  @ariel-phet and @arouinfar can you test drive this version and report your findings?

http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.39/bending-light_en.html

If all is clear, then @ariel-p

[2015-11-02 23:36] arouinfar commented on #281
I notice a slight difference between Chrome (left) and Firefox (right) on my Mac, but it looks acceptable to me.
![image](https://cloud.githubusercontent.com/assets/8419308/10895213/3f021efe-8170-11e5-990d-f922a318f5ff.png) ![image](https://cloud.githubusercontent.com/assets/8419308/10895357/fd416410-8170-11e5-8d1d-f0efa917ded2.png)

The screenshot from the retina iPad looks awful, though. @samrei

[2015-11-03 00:38] arouinfar opened #287 "Environment color mapping not updating properly"
Discovered a bug on the Prisms screen when testing dev.29 on OSX 10.9.5/Chrome. If the index of refraction of the Environment is changed while in white light mode, the background will stay black/gray when switched back to either monochromatic mode until the environment's index of refraction is changed again.

Steps to reproduce
1) Open the Prisms screen & select white light
2) Change the Environme

[2015-11-03 00:40] arouinfar commented on #286
@samreid, the first two screens are looking good, with the exception of #287. I'll finish testing the More Tools screen tomorrow.

[2015-11-03 01:35] samreid commented on #287
Thanks for finding this issue @arouinfar, I reproduced this problem in dev.39.

[2015-11-03 02:05] #287 closed

[2015-11-03 03:10] ariel-phet commented on #286
@samreid - no matter what it should be dev tested before full RC since so many changes have occurred. I will instruct the testers however not to bother putting out ridiculous numbers of components on the prisms screen, except to get a feel for limitations.

[2015-11-03 03:12] samreid commented on #286
Sounds like a good plan.

[2015-11-03 03:20] ariel-phet opened #288 "Glass Glass interface shows reflected angle"
On the more tools screen if you turn the angle display on, and set both materials to glass using the combo box, you get a displayed reflected angle, but no reflected beam (there should not be a reflected beam so that is correct). We might need some logic to remove the reflected angle.

![glass-glass](https://cloud.githubusercontent.com/assets/4051174/10900586/2e2deb9c-819f-11e5-8bd9-026efebc122d.P

[2015-11-03 05:51] arouinfar commented on #80
Note to self -- Document this in the model simplifications too.
![image](https://cloud.githubusercontent.com/assets/8419308/10901936/32eeb7f0-81b4-11e5-9b4f-b84750426689.png)

[2015-11-03 06:03] arouinfar commented on #288
This bug happens at any boundary where n1=n2, not just glass/glass.

[2015-11-03 06:06] arouinfar commented on #286
@samreid, everything looks good on my end.

[2015-11-03 06:14] samreid opened #289 "Larger "play" button."
In discussion with @ariel-phet, we decided to make the "play" button a bit larger like in energy skate park, when the sim is paused.

[2015-11-03 06:15] samreid opened #290 "Fire-on-hold for the step button"
Tracked in https://github.com/phetsims/sun/issues/203 we should try to get fire-on-hold for the step button before dev testing.

[2015-11-03 19:32] ariel-phet commented on #286
@samreid I think after our discussion yesterday, I am solid. Closing

[2015-11-03 19:32] #286 closed

[2015-11-04 16:54] samreid commented on #281
The code/image that generated the iPad screenshot screenshot was never checked in, se we should be good to go here, closing.

[2015-11-04 16:54] #281 closed

[2015-11-06 02:39] samreid commented on #288
Fixed above, but revealed a corner case where the angle jumps.  The issue is when n1=n2 and the angle goes from 89.9 degrees to 90.0 degrees, the amount transmitted goes from 100% to 0%, so the angle readout has a discontinuity here.  Note that for total internal reflection, there is no discontinuity, since the reflected remains at 100% in either case.

I'll try to capture it in a screencast:

![o

[2015-11-06 03:14] samreid commented on #289
Here is the relevant code from Energy Skate Park: Basics.  This pattern has not been "commonized" yet and I'm not sure if it should be.

[code]

[2015-11-06 03:19] samreid commented on #289
The above pattern works nicely in this sim.  I increased the padding between the other components (radio buttons + step button) so things look nicer when the play button is larger.  I also settled on scale=1.28 rather than 1.35 since 1.35 seemed too large in this context and the 1.28 aligned better with the size of the radio buttons.

@ariel-phet do you want to pull and verify?  Or should I publis

[2015-11-06 03:19] samreid commented on #290
This seems like it is working well, closing.

[2015-11-06 03:19] #290 closed

[2015-11-06 16:06] ariel-phet commented on #288
I think it would be fine to leave as is...but if it is easy to change, I mean technically there is not really a "reflected" ray there is only an "incident" ray. So I would think in all cases where the angle is 90 degrees you could just show the incident angle (regardless of n1 or n2) since then you are just going along the boundary and measuring a "refelected" ray doesn't really make sense.

[2015-11-06 16:37] arouinfar commented on #288
@samreid I also think it would be fine to leave as is, but @ariel-phet's suggestion is a good solution if easy to implement.

[2015-11-06 17:28] ariel-phet commented on #289
Pulled...looks good, closing.

[2015-11-06 17:28] #289 closed

[2015-11-06 18:26] samreid commented on #288
Fixed as described in the comment above and published here for testing:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.40/bending-light_en.html

@ariel-phet and @arouinfar can you review?  If this seems good, we are ready for dev testing.

[2015-11-06 18:32] arouinfar commented on #288
Looks great @samreid!

[2015-11-06 18:33] samreid commented on #288
Thanks, I'll close this one and create a new issue for dev testing.

[2015-11-06 18:33] #288 closed

[2015-11-06 18:37] samreid opened #291 "Dev testing"
I created a tasks issue for dev testing here:
https://github.com/phetsims/tasks/issues/414

This mirror issue in bending-light is for reference, and can be closed when the tasks issue is closed.

[2015-11-09 18:22] phet-steele opened #292 "Rounding error in wavelength control"
Using the arrows to change the wavelength in the range ~477-510 nm, there is a rounding error that displays the floating points. Once the decimal places appear, they won't go away until the slider is used. This occurs on both the 2nd and 3rd screens, regardless of Ray or Wave. Tested on my personal device, Win 8.1 Chrome.

![long wavelength](https://cloud.githubusercontent.com/assets/5863899/11042

[2015-11-09 18:59] phet-steele opened #293 "Reflection during equal indicies of refraction"
1. Go to the "More Tools" screen, it's best noticeable there.
2. Check "Angles". This is the best way to see if there is a reflection (the intensity meter works, too).
3. Turn on and drag the laser to an angle between 89.9 and 85 degrees.
4. Keeping the upper material at its default "Air" setting, use the slider to change to bottom material to air by sliding all the way left. Do not use the combo

[2015-11-09 19:03] phet-steele commented on #293
Changing to Air via the combo box and not the slider will not display an angle, but the intensity and speed meters still indicate the presence of a reflection.

[2015-11-09 19:04] phet-steele commented on #293
....and the time meter.

[2015-11-14 04:58] samreid commented on #292
I have reproduced the problem:

![image](https://cloud.githubusercontent.com/assets/679486/11162154/b74dd472-8a51-11e5-9c1e-3f5c4b1f7291.png)

[2015-11-14 05:03] #292 closed

[2015-11-14 05:03] samreid commented on #292
Fixed above, was straightforward, no need for re-testing.

[2015-11-14 14:51] samreid commented on #293
Lots of related problems here:
(1) The minimum for the index of refraction slider is currently 1, but it should be the same as glass.

[code]
(2) In the IntroModel, if the reflected power ratio is <= 0.05 or so, then there should be no reflected ray instance.

(3) In AngleNode, we need a better way of handling the existence/non-existence of different rays.  To do this, we should add a lightType ar

[2015-11-14 14:52] samreid commented on #293
Related to (2), if there is no reflected ray instance (say its power is <0.05), then the refracted power should be set to 1.0 (rather than 0.95 or so).

OH WAIT, perhaps the threshold should be 0.005 since the intensity meter shows two decimal places.

[2015-11-15 04:28] samreid commented on #293
Another possibility: when there is no reflected ray (reflected power < 0.005), just extend the incident ray rather than having an incident and refracted ray.  At some (rare) angles you can see a tiny glitch between the rays:

![image](https://cloud.githubusercontent.com/assets/679486/11167222/99d5bf84-8b16-11e5-8a24-134697f2df24.png)

[2015-11-15 04:30] samreid commented on #293
Not sure if the rule proposed above would result in a noticeable discontinuity in angle as a function of index of refraction.

[2015-11-15 04:50] samreid opened #294 "Light gap"
Noted in #293 there is sometimes a missing triangular piece of light at the interface:

![image](https://cloud.githubusercontent.com/assets/679486/11167301/9cfcc240-8b19-11e5-95b4-50b8be6ecc20.png)

I do not feel like this is high priority, but perhaps a different line cap could solve this without introducing worse problems.

[2015-11-15 04:55] samreid commented on #294
Round seems to solve this without causing any worse problems.

[2015-11-15 04:56] samreid commented on #294
Fixed, closing.

[2015-11-15 04:56] #294 closed

[2015-11-15 05:23] samreid commented on #293
Fixed above, tests seem like it is working properly, video demonstrates the new behavior:

![angles](https://cloud.githubusercontent.com/assets/679486/11167393/b2848536-8b1d-11e5-8ccd-41020fbb08c5.gif)

This change entailed numerous changes to the model and will require another dev test (single platform OK).

[2015-11-15 05:35] samreid commented on #293
I published a dev version here:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.41/bending-light_en.html

@ariel-phet can you do a spot test on it and help decide if/when we should cease testing of dev.40 and continue with this one?  This version addresses #292 #293 and #294 and https://github.com/phetsims/tasks/issues/414 is only showing 1/4 platforms completed at the moment

[2015-11-15 05:36] samreid commented on #293
Also, it would be good for the reporter of this problem @phet-steele to verify that dev.41 is working properly.

[2015-11-15 18:53] ariel-phet commented on #293
@samreid new (or unnoticed previously) problem with this version. Speed meter is still reading the refracted ray, even with no refracted ray.

![capture](https://cloud.githubusercontent.com/assets/4051174/11170371/82e8fb32-8b8f-11e5-9122-55af24ccc36d.PNG)

[2015-11-15 18:56] ariel-phet opened #295 "Tools (speed meter, intensity probe, time) WAY too big"
Tools such as the speed meter are far too large. This creates some usability issues since the tools "bounce" out from under control panels. For instance the size of the speed meter could be significangly reduced. The readout has lots of extra padding, the word speed is extremely large, the entire tool body should probably be 50 percent its current size.

![capture](https://cloud.githubusercontent.

[2015-11-16 00:50] ariel-phet commented on #293
@samreid we will want to address the bug I show above before next dev testing

[2015-11-16 15:39] samreid opened #296 "Speed meter is still reading the refracted ray, even with no refracted ray."
In https://github.com/phetsims/bending-light/issues/293#issuecomment-156843089, @ariel-phet said:

@samreid new (or unnoticed previously) problem with this version. Speed meter is still reading the refracted ray, even with no refracted ray.

![capture](https://cloud.githubusercontent.com/assets/4051174/11170371/82e8fb32-8b8f-11e5-9122-55af24ccc36d.PNG)

[2015-11-16 15:40] samreid commented on #293
I moved the speedometer problem to #296.   @ariel-phet or @phet-steele anything else to do for this issue?

[2015-11-16 15:48] ariel-phet commented on #293
No, I think we are good, closing

[2015-11-16 15:48] #293 closed

[2015-11-16 16:19] samreid opened #297 "Speedometer should update when the wavelength changes"
A change of wavelength can deflect the light ray enough to move it off of the speedometer.  We should make the speedometer listen to the wavelength so it can update when the wavelength changes.  Discovered during #296

[2015-11-16 16:24] samreid commented on #297
Fixed above, tested, closing.

[2015-11-16 16:24] #297 closed

[2015-11-16 16:28] samreid commented on #296
@ariel-phet I am having difficulty replicating the problem you described.  Can you provide details?

[2015-11-16 16:37] samreid opened #298 "Check that the wave intensity and ray intensity are the same"
You shouldn't switch view type and have the light disappear.

[2015-11-16 16:44] samreid commented on #298
SingleColorLightCanvasNode.js has alpha = Math.sqrt( ray.powerFraction ).

The WebGL wave node has alpha = 'gl_FragColor.a = uPowerFraction;',

The canvas webglnode has waveCrest.alpha = Math.sqrt( lightRay.powerFraction ) and waveBackground.alpha = Math.sqrt( lightRay.powerFraction ).

So it looks like we just need to fix the WebGL wave node alpha to use a sqrt.  Perhaps do this in the GPU for a

[2015-11-16 16:48] samreid commented on #298
Fixed above.  Seems like this fixes the problem nicely.  I'll leave this assigned to @samreid to create a dev version for @ariel-phet to review.

[2015-11-16 16:50] samreid opened #299 "Impossible to see wave crests at low power"
When a reflected or refracted ray has low power, it is impossible to see the wave crests.  Discovered during #298, looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/11188324/7548e2ae-8c47-11e5-99f9-96bf853e820a.png)

@ariel-phet is there anything we can/should do about this?

[2015-11-16 16:53] samreid commented on #296
@ariel-phet showed that this problem can be reproduced by putting the laser at 89 degrees (almost horizontal), the positioning the sensor, then putting the laser horizontal.

[2015-11-16 16:54] samreid commented on #296
I'm seeing the same problem with the intensity sensor.

[2015-11-16 17:05] samreid commented on #296
Fixed, here is a movie:

![laserangle](https://cloud.githubusercontent.com/assets/679486/11188690/5c087b4a-8c49-11e5-8673-a29f1efeec40.gif)

I'll leave this open and assigned to @samreid to create a dev version for @ariel-phet.

[2015-11-16 17:38] samreid commented on #295
After iteration, here's the size I settled on for the velocity sensor (about 54%), will commit shortly.

![image](https://cloud.githubusercontent.com/assets/679486/11189560/044baf08-8c4e-11e5-9aac-f00266db4cbb.png)

Next I need to update the size of the tool in the toolbox, then work on the intensity meter.

[2015-11-16 17:50] samreid opened #300 "Move the title of the intensity meter to the bottom"
Discovered during #295, the labels on the velocity sensor and wave sensor are at the bottom.  This is good since the readout is not occluded on a touch device.  I recommend to move the label to the bottom of the intensity meter as well, for consistency with the other sensors.  Tagging @ariel-phet and @arouinfar in case there are problems with this.

[2015-11-16 18:06] samreid commented on #300
Looks good, closing:
![image](https://cloud.githubusercontent.com/assets/679486/11190319/0eadfeac-8c52-11e5-97e3-516db7922392.png)

[2015-11-16 18:06] #300 closed

[2015-11-16 18:07] samreid commented on #295
Fixed intensity sensor probe size above, looks like this now:

![image](https://cloud.githubusercontent.com/assets/679486/11190342/2f84fbd0-8c52-11e5-8679-6abe95354ad0.png)

Leaving assigned to @samreid to create a dev version for @ariel-phet.

[2015-11-16 18:07] arouinfar commented on #300
Looks good to me @samreid. Thanks!

[2015-11-16 18:08] samreid commented on #291
We'll have a new dev test after fixes completed.

[2015-11-16 18:08] #291 closed

[2015-11-16 18:16] ariel-phet commented on #299
@samreid I don't think this is a problem, since it is low power

[2015-11-16 18:16] #299 closed

[2015-11-16 18:40] samreid opened #301 "Developer testing on several devices (Part II)"
After making 10 or so fixes (some somewhat invasive), I'd like to take the sim for a test drive on a few platforms before delivering to @ariel-phet and @arouinfar for design team testing.  If that goes well, we can move to QA dev testing and RC testing.

I'd like to test:
- [x] Win/IE
- [x] Long string test
- [x] Short string test
- [x] Win/Firefox
- [x] iPad

[2015-11-18 18:57] samreid commented on #301
@ariel-phet and I discussed making this high priority after my current phase of PhET-iO work is complete.

[2015-11-19 00:23] samreid commented on #298
Published a dev version here, http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.42/bending-light_en.html @ariel-phet can you confirm this fix?

[2015-11-19 00:25] samreid commented on #296
Published a new dev version here: http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.42/bending-light_en.html @ariel-phet can you confirm this fix?

[2015-11-19 00:26] samreid commented on #295
Fixed in this version, http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.42/bending-light_en.html  @ariel-phet can you check it out and report back?

[2015-11-19 00:35] samreid opened #302 ""Step" when slow motion is selected is smaller than "step" when normal is selected"
I noticed that "Step" when slow motion is selected is smaller than "step" when normal is selected during #301.  It seemed a bit counterintuitive and unexpected, but @ariel-phet and @arouinfar what is the desired behavior?  Should Normal/Slow Motion have any bearing on the amount of time that passes when pressing the "step" button?  Pressing step when "slow motion" is selected yields a very small s

[2015-11-19 00:43] samreid opened #303 "The text on the time graph is not exactly centered"
Discovered during #301 with stringTest=double

[2015-11-19 00:45] samreid opened #304 "Layouts have some extra space when strings are doubled"
In the index of refraction control panels, with ?stringTest=double there is some extra whitespace on the right for some of the controls.  Everything is still legible.

![image](https://cloud.githubusercontent.com/assets/679486/11259106/1542a738-8e1c-11e5-9b2d-94e6503b21e7.png)

Should we spend time to understand what is happening here and try to solve it?

[2015-11-19 00:45] samreid commented on #304
Discovered during #301

[2015-11-19 00:50] samreid commented on #304
I don't think we should try to dynamically adjust the size of the combo box to fit the width, but we could right align them if desired.  @ariel-phet can you decide?

[2015-11-19 00:56] samreid commented on #301
I tested the above scenarios and only noticed a few minor issues, assigned to @ariel-phet to decide if any warrants work at this time.

[2015-11-19 00:56] #301 closed

[2015-11-19 00:57] samreid commented on #303
I'll take a quick look at this, hopefully not too difficult.

[2015-11-19 01:00] samreid commented on #303
Fixed above, closing.

[2015-11-19 01:00] #303 closed

[2015-11-19 01:05] samreid opened #305 "Design team testing (Part II)"
I've finished developer testing part II in #301, and published a new dev version http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.43/bending-light_en.html

We are at a good point to have @ariel-phet and @arouinfar test the new version a bit more thoroughly before we create another dev or RC version.

[2015-11-19 06:19] ariel-phet commented on #302
Agreed, "step" should be a constant time step regardless of whether in slow motion or normal.

[2015-11-19 06:24] ariel-phet commented on #298
Looking really good to me. Closing.

[2015-11-19 06:24] #298 closed

[2015-11-19 06:26] ariel-phet commented on #296
Looking good. Closing

[2015-11-19 06:26] #296 closed

[2015-11-19 06:33] ariel-phet commented on #295
@samreid - the physical size of these tools is looking much better. I suggest a few more polishes:

1. Make the word "intensity" the same size font as Speed (looks a bit bigger currently)
2. Same with the word "Time"
3. On the time meter make the wires the same stroke weight as the on the intensity meter (they are currently very heavy)

@arouinfar do you like the current size in dev.42?

[2015-11-19 06:49] ariel-phet commented on #304
I think fine to leave as is.

Left alignment makes most sense in this case because it puts the name of the material next to "material" the label.

However, the combo box seems to have way more white space than necessary, not a huge deal, but the combo box is actually really large horizontally *without* stringTest=double and actually shrinks to a more reasonable size *with* stringTest=double

![nos

[2015-11-19 06:52] ariel-phet commented on #304
@samreid Mind giving some insight as to what is causing the two different sizes of the combo box? The size with no string test is large, but its alignment is aesthetically pleasing. The smaller size leaves some odd trapped space in the upper right hand corner.

[2015-11-19 17:15] arouinfar commented on #295
@samreid @ariel-phet The tool size looks great! I agree with @ariel-phet's design suggestions, but otherwise have no other tweaks to suggest.

[2015-11-19 17:20] arouinfar commented on #302
:+1:

[2015-11-19 18:25] samreid opened #306 "Shrink the velocity sensor toolbox icon by about 15%"
@ariel-phet suggested to Shrink the velocity sensor toolbox icon by about 15%

[2015-11-19 18:50] samreid opened #307 "Update the wave sensor probe nodes"
@ariel-phet suggested improving the wave sensor probe nodes, they look a bit out of date.  Perhaps try ProbeNode with crosshairs?

[2015-11-19 18:56] samreid commented on #295
Also addressed in a4afab0c1440b3133149f4e48f3c4361d14e93d2

[2015-11-19 19:14] ariel-phet commented on #305
review complete from me, final polishes communicated to @samreid I think we can move on to dev testing soon.

[2015-11-19 19:14] #305 closed

[2015-11-19 19:56] samreid commented on #307
New version is here:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.44/bending-light_en.html

@ariel-phet can you take a look?

[2015-11-19 19:56] samreid commented on #306
New version is here:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.44/bending-light_en.html

@ariel-phet can you take a look?

[2015-11-19 19:57] samreid commented on #304
New version is here:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.44/bending-light_en.html

@ariel-phet can you take a look?

[2015-11-19 19:57] samreid commented on #302
New version is here:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.44/bending-light_en.html

@ariel-phet or @arouinfar can you verify?

[2015-11-19 19:58] samreid commented on #295
New version is here:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.44/bending-light_en.html

@ariel-phet can you take a look?

[2015-11-19 20:24] arouinfar commented on #295
Looks great @samreid!

[2015-11-19 20:26] arouinfar commented on #305
Everything looked good on my end!

[2015-11-20 05:01] ariel-phet commented on #302
Looks good, closing

[2015-11-20 05:01] #302 closed

[2015-11-20 05:03] ariel-phet commented on #306
Looking good, closing

[2015-11-20 05:03] #306 closed

[2015-11-20 05:37] ariel-phet commented on #307
Worked on with @samreid, looking good, closing

[2015-11-20 05:37] #307 closed

[2015-11-20 05:39] ariel-phet commented on #295
Worked with @samreid on some final polishes, looking good, closing

[2015-11-20 05:39] #295 closed

[2015-11-20 05:47] ariel-phet commented on #304
looking good, closing.

[2015-11-20 05:47] #304 closed

[2015-11-20 21:46] brroberts1231 opened #308 "Laser does not gracefully return to dev when browser resized"
Test device: Schrodinger

Operating System: Win 8

Browser: Chrome

Problem description: In the prisms section of the sim, the laser pointer and the prisms can be moved outside the red box that appears with ?dev at the end of the url. (They can't actually be dragged off screen, just to the edge of the window.

Steps to reproduce: Make the window size such that there is a gap on the sides between t

[2015-11-21 04:14] elisemorgan opened #309 "Everything in Objects panel can be dragged out of bounds"
Test device: iPad2, Witten

Operating System: iOS 9.1 (13B143)

Browser: safari

Problem description: It is possible to drag all the stuff in the Objects panel out of the bounds.

Steps to reproduce: Go to prisms screen. It is possible to move the right most shape (crescent) to by the protractor. Put finger on the knob of shape, but don't press down to trigger selection. Swipe finger quickly acros

[2015-11-21 12:51] elisemorgan opened #310 "Wave view disconnects from laser with rapid movement (currently won't fix)"
Test device: iPad2, Witten

Operating System: iOS 9.1 (13B143)

Browser: Safari

Problem description: Wave noticeably separates from the generator if you are dragging it back and forth across the screen.

Steps to reproduce: Select wave mode. Drag generator back and forth.

Severity: Minor.

Screenshots:
https://drive.google.com/file/d/0B_TAL-jnJOoKenh5TkN2TDdXUE0/view?usp=sharing

Troubleshooting

[2015-11-21 12:59] elisemorgan opened #311 "String Tests on iPad 2"
Test device: iPad 2, Witten

Operating System: iOS 9.1 (13B143)

Browser: Safari

Problem description: The protractor in the prisms screen is lost during both long and double string tests. The layout gets crazy with the long string test on More Tools page.

Steps to reproduce:

Severity:

Screenshots:
![image 2](https://cloud.githubusercontent.com/assets/12610678/11318556/eefb33f6-9014-11e5-834e-d

[2015-11-24 00:30] samreid commented on #310
There was a similar issue in https://github.com/phetsims/bending-light/issues/119 .  In that thread, the issue was reported to be rare on iPad 2.

[2015-11-25 18:31] pixelzoom opened #312 "misplaced responsibility for laser image"
Noted while working on https://github.com/phetsims/models-of-the-hydrogen-atom/issues/2 (generalize LightNode).

Currently in BendingLightView:

[code]

A couple of suggestion ....

(1) Instead of passing in `{string} laserImageName` to BendingLightView, pass in `{boolean} laserHasKnob`.

(2) Instead of making BendingLightView responsible for the image used by LaserNode, pass `{boolean} laserHasKn

[2015-11-25 18:40] pixelzoom opened #313 "laserTranslationRegion or getProtractorRotationRegion?"
IntroView is a subset of BendingLightView,  and the 5th parameter to BendingLightView should be `{function} laserTranslationRegion`. But IntroView is passing in something called `this.getProtractorRotationRegion`, here's the call in IntroView:

[code]

Is this a subtle error, or just a poor choice var name?

[2015-11-25 18:41] pixelzoom opened #314 "incorrect documentation in PrismView?"
Is this a copy-paste error in PrismView? This function is not returning "an empty shape".

[code]

[2015-11-25 18:42] pixelzoom commented on #313
Similar problem in PrismView.  In that case, something called `translationRegion` is passed as the `laserTranslationRegion` arg, but it's documented as "Region for translating the protractor":

[code]

[2015-11-25 18:44] pixelzoom opened #315 "BendingLightView has too many required constructor parameters"
Noted while investigating #313 and #314.

BendingLightView has too many required constructor parameters, making it very difficult to read at call sites.  Any parameters that have reasonable default values should be converted to options.

Example call site in PrismView, to demonstrate how difficult this is to grok:

[code]